page-dashboard {

    .dashSlider{
    overflow-x: scroll;
    white-space: nowrap;
    .dashItem{
    width: 200px;
    display: inline-block;
    margin-right: 5px;
    }
    }
  
    .background-image { 
        background: url('../assets/imgs/fgli_bg.jpg') no-repeat 0 0 ; 
        background-size: cover;
    }
    .totalWrap{
        margin: 0 -5px 0 -5px;
    }
    .dashboardMenu{
        background:#fff;
       margin:-15px -15px 15px -15px;
       .sumInsuredSlide {
           padding:9px 0 0 0;
           .segment-button{
               border:0;
               border-radius: none;
               color: #6f7072;
               font-size: 12px;
               margin-left: 9px;
               min-width: 75px;
               width:20%;
              
               &.activated{
                border:0;
                border-radius:0;
                background:#fff!important;
                color:#e9573d!important;
                border-bottom:2px solid #c11b17!important;
			}
           }
       }
    }
    .customDate{
        overflow: hidden;
        margin-bottom: 10px;
        span{
            color:#fff;
            font-size: 12px;

        }

    }
    .sliderWrap{
        overflow-x: auto;
        white-space: nowrap;
        display: inherit;
        width: inherit;
        margin-top: 8px;
        margin-bottom: 8px;
        
            ion-thumbnail {
            display: inline-block;
            line-height: 1;
            width: 194px;
           img.bannerCss{
            max-width: 100%;
            border: 0;
            padding: .5rem;
            margin-left: 5px;
           }
        }
    }
    .policyWrap{
        .grid{
            padding: 0;
        }
        .policyBlock{
           
            background:#fff;
            border-radius:5px;
            padding:10px;
          &.icPolicy{
          }
            &.tqBlock{
                width:100%;
            }
            &.revGenerated{
                padding: 10px;
                span{
                    color: #333;
                font-size: 14px;
                &.revT{
                    color: #6f7072;
                    float:right;
                    
                }
                &.revR{
                    color:#8e1230;

                }
                
                }
            }
            &.paymentStatus{
                height:190px;
            }
            p{
               
                color: #6f7072;
                font-size: 14px;
                margin: 0;

                span{
                    display: block;
                    color:#333333;
                    font-size: 24px;
                    padding-top:11px;
                }
            }
        }
    }
    .dashbDatewrap{
        width:100%;
        height:100%;
        background: rgba(0,0,0,0.6);
        position: fixed;
        z-index: 20;
        .dashbDatepopup{
            background: #fff;
            width: 90%; 
            color:#000;
            font-size: 12px;
            position: absolute;
            top: 20%;
            left: 5%;
            padding: 0 16px 16px 16px;
            border-radius: 8px;
            .col1{
                width: 45%;
                float: left;

            }
            .col2{
                width: 45%;
                float: right;

            }
            .col6{
                width:45%;display: inline-block;
                float: left;
                &.colfr{
                    float: right;
                    button{
                        background: #fff;
                        color: #e9573d ;
                        border:1px solid #e9573d;
                    }
                }
                .sbmtBtn{
                    margin-right: 10px;
                }
            }

        }
    }
}
