<ion-header>
	<a href="#" class="backBt"> </a> 
	<button ion-button class="backBt" navPop></button>
	<h1><span>i.Insure</span>Dashboard</h1>
	<!-- <ion-icon name="close" class="headerClose ion-ios-close-outline"></ion-icon> -->
	<button ion-button menuToggle end class="humburgerMenu">
	        <i></i>
	        <i></i>
	        <i></i>
      </button>
</ion-header>

<ion-content padding class="body-bg">
<div class="dashboardMenu">
	<ion-row class="sumInsuredSlide">
		<ion-segment  [(ngModel)]="statDuration" (ionChange)="onTabChange($event)"> 
			<ion-segment-button value="all">All time </ion-segment-button>     
			<ion-segment-button value="today">Today </ion-segment-button>   
			<ion-segment-button value="week">Week </ion-segment-button>               
			<ion-segment-button value="month">Month </ion-segment-button> 
			
	</ion-segment>
  </ion-row>
</div>
<div class="customDate">
		<span float-left [class.hide]= "dateRangeDisplay">From {{fromDate}} To {{toDate}}</span>
		<span  float-right (click) = "showDatePicker();">Custom</span>
</div>

<div class="policyWrap">
	<div class="totalWrap">
		<ion-grid>
				<ion-row>
					<ion-col col-12>
						<div class="policyBlock tqBlock" (click)="onBlockClick(1)">
							<p>Total Policies Issued<span>{{totalPoliciesIssuedCount}}</span></p>
							<div>
								<canvas #totalPolicies></canvas>
							</div>
						</div>
					</ion-col>					
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<div class="policyBlock icPolicy" (click)="onBlockClick(2)">
							<p>Incomplete Policies<span>{{incompletePoliciesCount}}</span></p>
							<div>
								<canvas #incompletePolicies></canvas>
							</div>
						</div>
					</ion-col>
					<!-- <ion-col col-6>
						<div class="policyBlock icPolicy" (click)="onBlockClick(3)">
						<p>Rejected Policies<span>{{rejectedPoliciesCount}}</span></p>
						<div>
							<canvas #rejectedPolicies></canvas>
						</div>
						</div>
					</ion-col> -->
				</ion-row>
				<ion-row>
					<ion-col col-12>
						<div class="policyBlock tqBlock" (click)="onBlockClick(4)">
							<p>Total Quotes Generated<span>{{totalQuoteGeneratedCount}}</span></p>
							<div>
								<canvas #quoteGenerated></canvas>
							</div>
						</div>
					</ion-col>							
				</ion-row>
			</ion-grid>
	</div>
	<!-- <ion-slides>
			<ion-slide *ngFor = "let banner of bannnerImagesArray;">
					<ion-thumbnail >
							<img class="bannerCss" src={{banner.image}}/>			
						</ion-thumbnail>
			</ion-slide>
			
		  </ion-slides> -->
	<!-- <div class="dashSlider">
		<div class="dashItem" *ngFor = "let banner of bannnerImagesArray;">
				<ion-thumbnail item-start>
						<img class="bannerCss" src={{banner.image}}/>			
					</ion-thumbnail>	
		</div>
	</div> -->
    <!-- <div class="sliderWrap" *ngFor = "let banner of bannnerImagesArray;">
		<ion-thumbnail item-start>
			<img class="bannerCss" src={{banner.image}}/>			
		</ion-thumbnail>	
	</div> -->
	<div class="totalWrap">
		<ion-grid>
				<ion-row>
						<ion-col col-12>
							<div class="policyBlock tqBlock revGenerated">
								<span>Revenue Generated</span>
								<span class="revT">Today - <span class="revR">150L</span></span>

								<div>
									<canvas #totalRevenueGenerated></canvas>
							    </div>
								
							</div>
						</ion-col>						
				</ion-row>

				<ion-row>
					<ion-col col-12>
						<div class="policyBlock tqBlock paymentStatus">
								<p>Payment Status</p>
								<div>
									<canvas #paymentStatus></canvas>
								</div>
						</div>
					</ion-col>					
				</ion-row>

		</ion-grid>
	</div>		
	</div>
</ion-content>
<div class="dashbDatewrap" [class.hide]="dateRange">
		<div class="dashbDatepopup">
			<div class="col12">
				<ion-list class="formList">
					<ion-item>
							<ion-label floating>From(dd-mm-yyyy)</ion-label>
							<ion-icon (tap)="fromDatePick($event);" item-end class="datetimeIcon"></ion-icon>
							<ion-input maxlength="10" type="tel" disabled max={{maxDate}} min={{minDate}} [(ngModel)]="fromDate" name="age"></ion-input>
							</ion-item>
						</ion-list>
			</div>
			<div class="col12">
					<ion-list class="formList">
							<ion-item>
									<ion-label floating>To(dd-mm-yyyy)</ion-label>
									<ion-icon (tap)="toDatePick($event);" item-end class="datetimeIcon"></ion-icon>
									<ion-input maxlength="10" type="tel" disabled max={{maxDate}} min={{minDate}} [(ngModel)]="toDate" name="age"></ion-input>
							</ion-item>
					</ion-list>
			</div>
			<div class="col6"><button ion-button class="commonBt sbmtBtn" (click)= "submitBtn();">Submit</button></div>
			
			<div class="col6 colfr"><button ion-button class="commonBt" (click)="cancel();">Cancel</button></div>
		</div>
</div>
