<!-- Generated template for the NumericStepperComponent component -->
<div>
 
  </div>
  <div class="noofVolunteer">
  <!-- <a><ion-icon class="minusIcon" name="remove" (click)="minusClicked()"></ion-icon></a> -->
  <ion-input class= "coverInput" type="tel" value="" [maxlength]="10" (keyup)="currValue($event)" (ionBlur)="checkVal()" [(ngModel)]="userValue"></ion-input>
  <!-- <a><ion-icon name="add" (click)="plusClicked()"></ion-icon></a> -->
  </div>