<!--
  Generated template for the TplandingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>Future Advantage Top-up</span>Buy Top-up Policy</h1>
  <!-- <ion-icon name="close" (click)="goToLoginPage();" class="headerClose ion-ios-close-outline"></ion-icon> -->
  <!-- <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button> -->
</ion-header>
<ion-content padding class="tplanding">
<div class="familyfloaterSlider">
        <h6>Select deductible
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        </h6>
        <ion-row class="sumInsuredSlide">
            <ion-segment [(ngModel)]="selectDeduction">
                <ion-segment-button (click)="selectDeductionClick(deductableDiscount.Amount);" *ngFor="let deductableDiscount of deductableDiscountList" value={{deductableDiscount.Amount}}> ₹{{deductableDiscount.Amount}} </ion-segment-button>
                <!-- <ion-segment-button> ₹20K </ion-segment-button>
                <ion-segment-button> ₹30K </ion-segment-button>
                <ion-segment-button> ₹40K </ion-segment-button>
                <ion-segment-button> ₹20K </ion-segment-button>
                <ion-segment-button> ₹30K </ion-segment-button>
                <ion-segment-button> ₹40K </ion-segment-button> -->
            </ion-segment>
        </ion-row>
    </div>
    <div class="familyfloaterSlider" [class.hide]="hideSumInsured">
        <h6>Sum insured
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        </h6>
        <ion-row class="sumInsuredSlide">
            <ion-segment [(ngModel)]="selectSumInsured">
                <ion-segment-button (click)="selectSumInsuredClick(sum.Amt);" *ngFor="let sum of sumInsuredList" value={{sum.Amt}}> ₹{{sum.Amt}} </ion-segment-button>
                <!-- <ion-segment-button> ₹20K </ion-segment-button>
                <ion-segment-button> ₹30K </ion-segment-button>
                <ion-segment-button> ₹40K </ion-segment-button>
                <ion-segment-button> ₹20K </ion-segment-button>
                <ion-segment-button> ₹30K </ion-segment-button>
                <ion-segment-button> ₹40K </ion-segment-button> -->
            </ion-segment>
        </ion-row>
    </div>
</ion-content>
<ion-footer>
    <div class="qcardTrans" [class.hide]="!disableProceedBt"></div>
    <ion-segment class="getQuoteBt" (click)="proceedButtonClick()" [class.hide]="hideProceedButton" [disabled]="disableProceedBt" [ngClass]="{'btgreyBg':disableProceedBt}"> PROCEED</ion-segment>
  </ion-footer>
