page-pa-buy-proposer-details {
  .refNo{

    color: #fff
  }
    .whiteRow{
        padding: 0;
        margin: 1.7rem 0;
    }
    .nomineeTitle {
        font-size: 1.4rem;
        color: #6f7072;
        font-weight: bold;
        padding: 0;
        margin: 0;
      }
      
      .datetimeIcon {
        background: url(../assets/imgs/personal/dateIcon.png) no-repeat right 8px;
        margin: 0 !important;
      }

      .tabsWrapper {
        padding: 1rem;
        position: relative;
      }

      .selfBox {
        padding-top: 20px;    
        h2 {
          margin-top: 0 !important;
          padding-bottom: 0 !important;
        }
      }

      .segment {
        .segment-button {
          border-bottom-width: 1px;
          color: #6f7072;
          text-transform: capitalize;
          font-size: 1.4rem;
          border-left-width: 0;
          border-top-width: 0;
          border-right-width: 0;
          border-color: #eaeaea;
          white-space: inherit;
          padding: 0 5px;
    
    
          &.segment-activated {
            color: #4d2a69;
            border-color: #4d2a69;
            background-color: #fff;
            border-bottom-width: 3px;
          }
        }
      }

      .segment-ios .segment-button:last-of-type,
      .segment-ios .segment-button:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
      }

    .saveBt{
        button{
         background: #fff;
         border-radius: 0 0 4px 4px;
        }
    } 
    // code for save and email btn
    .takeImg{
        float:left;
        width: 100%;
        margin:20px 0;
        ion-thumbnail{
            float:left;
        }
        ion-icon{
            font-size: 4rem;
            margin-top: 6%;
        }
    }
    .proposerDetails{
        padding:0;
        font-size:1.4rem;
        color:#333333;
        h5{
            font-size:1.5rem;
            color:#6f7072;
            padding:10px 0 0 0;
            margin:0;
            font-weight:bold;

        }
        .pros1{
            padding:15px;
        }
        .pros2{
            padding:15px;
        }
        .age-range{
            border:0;
            font-size:1.4rem;
           			 color:#333333;
            margin:13px 0 0 0;
        }

        .saveBt{
            width: 100%;
            border-top:1px solid #ccc;
            button{
                width: 100%;
                background: transparent;
                color:#6f7072;
                margin:0;
                padding:20px 0;
            }
        }

        .spouseSegment{
            width:100%;
        }
        .proposerSegment{
            width:100%;
        }
        .sumInsuredSlide{
            margin-bottom:5px;
            .segment{
                .segment-button{
                    border-radius:0;
                    background:transparent;
                    border-radius:0;
                    margin:0 8px;
                    border:0;
                    border-bottom: 1px solid #ccc;
                    color:#6f7072;
                    &.segment-activated{
                        color:#320c50;
                        border-bottom: 2px solid #320c50;
                    }

                }
            } 
        }
          .formList {
    .memberBlock {
      float: none;
    }

    .input-wrapper {
      display: block;
    }

    .item-block {
      .item-inner {
        box-shadow: inset 0 -1px 0 0 #d8dbe0 !important;
      }
    }

    ion-item {
      .label {
        font-size: 1.4rem;
        color: #6f7072;
      }

      .select {
        background: url(../assets/imgs/personal/blueArrow.png) no-repeat right center;
      }
    }
  }

        
    }
    .image-modal {
        width: 100% !important;
        height: 100%;
        top: 0 !important;
        left: 0 !important;
    }
     
    .transparent {
        background: transparent !important;
    }
     
    .fullscreen-image {
        max-width: 100%;
        max-height: 100%;
        bottom: 0;
        left: 0;
        margin: auto;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
    }

    .brdBtm{
        border-bottom:1px solid #ccc;
        }
    .inputList{
        width: 100%;
        .item-md.item-block .item-inner{padding:0;}
        input{
            color:#6f7072;
            margin:15px 0 0 0;
            font-weight:normal;
            font-size:1.4rem;
            }
            .item-md{
                padding:0;
            }
            
        }
    
    .male-female{ 
        display: inline-block;        
    }
    .coresToggle{padding:0;margin:0; color:#6f7072}
    .coresToggle .col{padding:0;margin:0;}
    .coresToggle .corespondToggle{padding:5px 2px; float:right}

    .email{
        font-size:2.9rem;
        color:#ed7661;
        margin:0 10px;
    }
    .vecGenderSec {
        display: block;
        padding-top: 1.5rem;
        
        label {
          display: block;
          font-size: 1.4rem;
          color: #6f7072;
          padding-bottom: 1rem;
        }
        
        .gSec {
          display: inline-block;
          padding-right: 1.5rem;
        
          .genderIcon {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            display: block;
            background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;
        
            &.maleSec {
              background-position: 6px -1083px;
            }
        
            &.femaleSec {
              background-position: 6px -1201px;
            }
        
          }
        
          .gender {
            color: #c6c6c6;
            font-size: 1.4rem;
            text-align: center;
            display: block;
            padding-top: 1rem;
          }
        
        
          &.active {
            .genderIcon {
              background-color: #320c50;
        
              &.maleSec {
                background-position: 6px -1026px;
              }
        
              &.femaleSec {
                background-position: 7px -1137px;
              }
            }
        
            .gender {
              color: #320c50;
            }
          }
        }
        
        }
    .toggleText{
        font-size: 1rem;
        position: absolute;
        top: 10px;
        width: 100%;
        }
        .inactiveTab{
            color:#6f7072 !important;	
            border-bottom:1px solid #ccc !important;
            opacity: 0.7 !important;
        }
        
        .activeTab{
            color:#e9573d !important;	
            border-bottom:2px solid #e9573d !important;            
        }   
}
