<!--
  Generated template for the BuyProposerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
<!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button>
</ion-header> 
<ion-content padding class="body-bg proposerDetails">
    <ion-row class="refnumber" text-right>Quote Number : {{ReferenceNo}}</ion-row>

    <div class="whiteRow">
      
      <div class="tabsWrapper">
        <div class="tabsRow">
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="Proposer" *ngFor="let member of memberArray" value={{member.title}} disabled>
              {{member.title}}
            </ion-segment-button>
            <!-- <ion-segment-button value="Spouse">
              Spouse
            </ion-segment-button>
            <ion-segment-button value="Son">
              Son
            </ion-segment-button>
            <ion-segment-button value="Daughter">
              Daughter
            </ion-segment-button> -->
          </ion-segment>
        </div>
        <div class="tabcontentsWrap" [ngSwitch]="pet">
          <div *ngSwitchCase="'Self'" class="selfBox" [class.hide]="!hideShowDiv">
            <div class="detailBoxNew">
              <ion-list class="formList">
                <div class="memberBlock">
                    <h2 class="nomineeTitle">Proposer details</h2>
                  <ion-item>
                    <ion-label floating>Name of the proposer</ion-label>
                    <ion-input type="text" char-only maxlength="50" name="proposerName" maxlength="50" [(ngModel)]="proposerName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
              </ion-list>
              <div class="vecGenderSec">
                <label for="gender">Gender</label>
                <div class="gSec" rel="male"  [ngClass]="{'active': isActive}">
                  <span class="genderIcon maleSec"></span>
                  <span class="gender">Male</span>
                </div>
                <div class="gSec" rel="female" [ngClass]="{'active': !isActive}">
                  <span class="genderIcon femaleSec"></span>
                  <span class="gender">Female</span>
                </div>
              </div>
              <ion-list class="formList">
                  <ion-item>
                      <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                      <!-- <ion-icon (click)="DatePick($event,member);" item-end class="datetimeIcon" disabled></ion-icon> -->
                      <ion-input maxlength="10" type="tel" id="" name="SelfDob" [(ngModel)]="SelfDob" (keyup)="onDateChange($event, member);" disabled></ion-input>
              
                  </ion-item>
                
                
                <ion-item>                  
                    <ion-label>Martial Status</ion-label>
                    <ion-input [(ngModel)]="marriedStatus" disabled></ion-input>                
                    </ion-item>
                
                <ion-item>
                  <ion-label floating>Current Address</ion-label>
                  <ion-input type="text" name="address" maxlength="100" autocapitalize="words" [(ngModel)]="address"></ion-input>
                  </ion-item>
                  <ion-item>
                  <ion-label floating>Pincode</ion-label>
                  <ion-input type="tel" number-only pattern="\d*" maxlength="6" name="pinCode" (focusout)="changePinCode();" [(ngModel)]="pinCode"></ion-input>
                  </ion-item>
                  <ion-item>
                  <ion-label floating>State</ion-label>
                  <ion-input type="text" [disabled]="isPinValid" char-only [(ngModel)]="state" autocapitalize="words" name="state" ></ion-input>
                  </ion-item>
                  <ion-item>
                  <ion-label floating>City</ion-label>
                  <ion-input type="text" [disabled]="isPinValid" char-only name="city" autocapitalize="words" [(ngModel)]="city"></ion-input>
                  </ion-item>
                  <ion-item>
                  <ion-label floating>Email ID</ion-label>
                  <ion-input type="email" [pattern]="emailPattern" [(ngModel)]="email" name="email" ></ion-input>
                  </ion-item>
                  <ion-item>
                  <ion-label floating>Mobile Number</ion-label>
                  <ion-input type="tel" number-only [(ngModel)]="mobile" maxlength="10" name="mobile"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label floating>Annual income</ion-label>
                      <ion-input type="tel" number-only [(ngModel)]="selfAnnualIncome" disabled></ion-input>
                    </ion-item>
                <ion-item>
                  <ion-label floating>Select Occupation</ion-label>
                  <ion-input [(ngModel)]="proposerOccupation" disabled></ion-input> 
                  <!-- <ion-select class="age-range" [(ngModel)]="proposerOccupation" name="proposerOccupation" (click)="onSelectChangeSelf($event)" interface="action-sheet"> 
                   
                     <ion-option *ngFor="let occupation of occupationList" value={{occupation.OccCode}}>{{occupation.OccTitle}}</ion-option>
                     </ion-select> -->
                </ion-item>
                <ion-item>
                  <ion-label floating>PAN Details</ion-label>
                  <ion-input type="text" [(ngModel)]="pan" name="pan" maxlength="10" (keyup)="checkValidPan();" (focusout)="checkFocus();" (ngModelChange)="pan = $event.toLocaleUpperCase();"></ion-input>
                  </ion-item>
              </ion-list>
              <!-- <div class="takeImg">
                <span class="personalImg">                
                    <img *ngIf="thumbnail" src="{{thumbnail}}" (click) = "captureImage();" width="90" height="90" imageViewer>                
                    </span>
                    <ion-icon name="ios-camera" float-right (click)="captureImage()"></ion-icon>
                <p>Add Photo (Optional)</p>
              </div> -->
              <div class="takeImg">
                <ion-thumbnail>
                  <img *ngIf="thumbnail" src="{{thumbnail}}" (click) = "captureImage();" width="90" height="90" imageViewer>
                </ion-thumbnail>
                
                <ion-icon name="ios-camera" float-right (click)="captureImage()"></ion-icon>    
               
              </div>
              <ion-item class="addPhototitle"><p>Add Photo (Optional)</p></ion-item>
            </div>
          </div>
          <div class="spouseSegment" [class.hide]="hideShowDiv">
            <h5>{{memberTitle}} Details</h5>
            <ion-list class="formList"> 
            <ion-item>
            <ion-label floating>Name of {{memberTitle}}</ion-label>
            <ion-input type="text" char-only maxlength="50" [(ngModel)]="nameOfProposer" autocapitalize="words" name="nameOfProposer"></ion-input>
            </ion-item>
            <!-- <div class="male-female">
            <ion-label>Gender</ion-label>
            <ion-toggle toggle-text dText="Male" eText="Female" class="maleFemale" name="gender" [(ngModel)]="otherGender" name="customText">
            </ion-toggle>
            </div> -->
            <ion-item class="datePc">
                <!-- <ion-label floating>Date of Birth</ion-label> -->
                <!-- <ion-icon (click)="DatePickOtherMember($event,member,i);" item-end class="datetimeIcon"></ion-icon> -->
                <!-- <ion-input maxlength="10" type="tel" (keyup)="onDateOtherChange($event,member);" [(ngModel)]="memberDOB" name="dob" disabled></ion-input> -->
                <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <!-- <ion-icon item-end (click)="DatePick($event);" class="datetimeIcon"></ion-icon> -->
                  <ion-input maxlength="10" type="tel" id="" name="memberDOB" [(ngModel)]="memberDOB" (keyup)="onDateOtherChange($event,member);"></ion-input>
              </ion-item>
  
              
            <ion-item class="brdBtm" [class.hide]="hideShowSpouseOccupation">
                <ion-label floating>Select Occupation</ion-label>
            <ion-select class="age-range" [(ngModel)]="memberOccupation" name="memberOccupation" (focusout)="otherFocusOut()" (click)="onSelectChangeOther($event)" interface="action-sheet"> 
           <!--  <ion-option value="0">Occupation</ion-option> -->
            <ion-option *ngFor="let occupation of occupationListChild" value={{occupation.OccTitle}}>{{occupation.OccTitle}}</ion-option>
            </ion-select>
            </ion-item>

            <ion-item class="brdBtm" [class.hide]="!hideShowSpouseOccupation">
              <ion-label floating>Select Occupation</ion-label>
              <ion-input [(ngModel)]="spouseOccupation" disabled></ion-input> 
          </ion-item>

            <ion-item [class.hide]="hideDivChild">
                <ion-label floating>Annual income</ion-label>
                <ion-input type="tel" number-only [(ngModel)]="otherAnnualIncome" disabled></ion-input>
              </ion-item> 



            </ion-list>
            </div>
          <!-- <div *ngSwitchCase="'Son'" class="selfBox">
            <h2>Son details</h2>
            <div class="detailBoxNew">
              <ion-list class="formList">
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Name of Son</ion-label>
                    <ion-input type="text" maxlength="50" name="proposerName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
                <div class="vecGenderSec">
                <label for="gender">Gender</label>
                <div class="gSec" rel="male" (click)="genderClick();" [ngClass]="{'active': isActive}">
                  <span class="genderIcon maleSec"></span>
                  <span class="gender">Male</span>
                </div>
                <div class="gSec" rel="female" (click)="genderClick();" [ngClass]="{'active': !isActive}">
                  <span class="genderIcon femaleSec"></span>
                  <span class="gender">Female</span>
                </div>
              </div>
                <ion-item>
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="memberDOB"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Select Occupation</ion-label>
                  <ion-select [(ngModel)]="occupation" interface="action-sheet" float-left>
                    <ion-option value="0">Businessman/Businesswoman</ion-option>
                    <ion-option value="1">Married</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </div>
          </div> -->
          <!-- <div *ngSwitchCase="'Daughter'" class="selfBox">
            <h2>Daughter details</h2>
            <div class="detailBoxNew">
              <ion-list class="formList">
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Name of Daughter</ion-label>
                    <ion-input type="text" maxlength="50" name="proposerName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
                <ion-item>
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="memberDOB"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Select Occupation</ion-label>
                  <ion-select [(ngModel)]="occupation" interface="action-sheet" float-left>
                    <ion-option value="0">Businessman/Businesswoman</ion-option>
                    <ion-option value="1">Married</ion-option>
                  </ion-select>
                </ion-item>
              </ion-list>
              <div [class.hide]="forQuickQuote" class="saveBt"><button ion-button>
                  <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
                </button></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </ion-content>

<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> Thank You for selecting. We have sent the proposal to your email address. </p>          
         
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt" block style="align-items:center;" (click)="OkButton();" block style="align-items:center;">OK</button>
            </div>
    </div>        
</div>
</div>
<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>
<ion-footer >
    <button ion-button class="commonBt" [ngClass]="{'btgreyBg':disableProceedBt}" [disabled]="disableProceedBt"  (click) = "continueButtonClick();" [class.hide]="!forQuickQuote">continue</button>
    <button ion-button class="commonBt" [ngClass]="{'btgreyBg':disableProceedBt}" [disabled]="disableProceedBt"  (click) = "proceedNomineeDetailsPage();" [class.hide]="forQuickQuote">proceed</button>
</ion-footer>
