page-tpquickquote {
  // .qCardPopup .smokingWrap {
  //   margin: 15px 0;
  // }
  // .cardView .addOtherS{
  //   bottom: 5px;
  //   left: 5px;
  //   padding: 15px;
  // }
 
.smokingWrap {
  margin: 10px 0;
}

.smokingBt {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    float: left;
    width: 50%;
    padding: 7px 0;
    .label {
      margin: 2px 10px 0 0;
    }
    ion-label {
      float: left;
      color: #6f7072;
    }
  }

  .flRight {
    float: right
  }

  .toggle-md .toggle-icon {
    background: #d4d4d4;
  }
  .toggle-md.toggle-checked .toggle-icon {
    background: #d4d4d4;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background: #8cc152;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background: #8cc152;
  }
  .toggle-md .toggle-inner {
    background: #bbbbbb;
  }
}

}

.personalAccBg {
  background: #ab1a36;


}

.personalAccBg {

  h1 {
    span {
      color: #d5697f;
    }
  }

}
