<!--
  Generated template for the BuyHealthDeclarationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
<h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
<!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
<button ion-button menuToggle end class="humburgerMenu">
        <i></i>
        <i></i>
        <i></i> 
</button>
</ion-header> 
<ion-content padding class="body-bg ">
<ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
<div class="whiteBox healthDeclration">
<ion-row class="mCol">
<h5>Medical declaration</h5>
<ion-grid>
<ion-row class="namText">
    <ion-col col-8>Does any of the family members being insured have any medical condition or been hospitalised in the past?</ion-col>
<ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionFirst"  float-right></ion-toggle></ion-col>
  </ion-row>

<!-- <ion-row>
  <ion-col col-12>Do any of your family members, who are being insured, have any medical condition or have been hospitalized in the past?</ion-col>
    <ion-col col-4><ion-toggle class="toggleBt"  float-right disabled></ion-toggle></ion-col>
    <div class="agreeCheckbox" hidden>       
      <ion-col class="col1">
          <ion-checkbox [(ngModel)]="checkedValue" (ionChange)="clickCheckBox()"></ion-checkbox>
      </ion-col>
      <ion-col class="col2">
        <p  class="buyhAgree">I Agree to the <a href="#">Terms & Conditions</a> of the plan</p>
      </ion-col>
    </div>
</ion-row> -->
</ion-grid>


<!-- <ion-toggle class="toggleBt" (ionChange)="medicalStatusChange();" [(ngModel)] = "medicalStatus"></ion-toggle> -->
<!-- <ion-list radio-group (ionChange)="medicalIssue($event)">
<ion-item>    
  <ion-radio  value="yes"></ion-radio>
  <ion-label>Yes</ion-label>
</ion-item>
<ion-item>    
  <ion-radio  value="no" ></ion-radio>
  <ion-label>No</ion-label>
</ion-item>
</ion-list> -->

<!-- <ion-list class="healthAccordList" *ngFor="let member of memberDetails">
  <ion-item >
    <ion-label>{{member.proposerName}}</ion-label>
    <ion-checkbox [(ngModel)] = "member.medicalDeclaration" [disabled]="!medicalStatus" (click)="selectedCheckboxMember(member);"></ion-checkbox>           
  </ion-item>
  <div [class.hide]="member.showMedicalQuestions">
    <ion-grid>
      <ion-row>
        <ion-col col-8>Is the person in good health and free from physical and mental disease/infirmity/medical complaints/deformity?</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt"  [(ngModel)] = "question1" float-right></ion-toggle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>Has the person had, at present or in the past, any health complaints/signs/symptoms/taking treament/hospitalized for any illnesses.</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "question2" float-right></ion-toggle></ion-col>
      </ion-row>
      <div class="fillDetail"><ion-input type="text" [(ngModel)] = "question2Input" placeholder="Provide Details"></ion-input></div>
      <ion-row>
        <ion-col col-8>Has the person, at present or in the past, met with any accident/injury/hospitalized/taking treatment for any accident or injury?</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "question3" float-right></ion-toggle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>Has the person undergone any surgery in the past or going for any planned surgery at present/recent future?</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "question4" float-right></ion-toggle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-8>Is the person pregnant?</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "question5" float-right></ion-toggle></ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-list> -->
</ion-row>

<!-- <ion-row>
<div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>SAVE & EMAIL</button></div>
</ion-row>  -->
</div>
<!-- <div class="saveBt" (click)="onSaveAndEmail();"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
</ion-content>

<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
  <div class="popupInner otpPopupContent " text-center>       
      
          <p> Thank You for selecting. We have sent the proposal to your email address. </p>          
       
        <div class="btwrap">                
          <div class="col1">
            <button ion-button class="sendmailBt" block style="align-items:center;" (click)="OkButton();" block style="align-items:center;">OK</button>
          </div>
  </div>        
</div>
</div>

<ion-footer >
  <ion-segment class="commonBt" (click)="proceedReviewPage();" [class.hide]="forQuickQuote" > proceed </ion-segment>
</ion-footer>
