page-vector-verify-details {
    .header {
        .humburgerMenu {
          background-color: #094c6d;
        }
      }
    .healthDeclration{
       padding:0;
       font-size:1.4rem;
       color:#6f7072;
       h5{
           font-size:1.5rem;
           color:#6f7072;
           padding:10px 0 0 0;
           margin:-7px 0 15px 0!important;
           font-weight:bold;

       }
       
       .grid{
           padding:0;
       }
       .col{
           padding:0;
           line-height:18px;
           a{
               color:#e9573d;
           }
       }

           .pros1{
               padding:15px;
            }
   }

   .verifyPage{
       .grid{
           .row{
               margin:0 0 30px 0;
               &:last-child{margin-bottom: 15px;}
           }
       }

       .verifyMob{
           width: 100%;
           margin-bottom:15px;
           .label{
               margin:0;
               color:#6f7072;
               opacity:0.8;
           }
           .text-input{
               padding:5px 0;
               margin:0;
               border-bottom:1px solid #ccc;
               color:#000;
               font-size: 1.6rem;
           }
       }

       .vrfRow{
        padding:15px;
        .commonBt{
           max-width:180px;
        }
       }
       
   }

   .otpPopupContent{
       h5{ font-size:1.3rem; color:#6f7072; padding:0 30px;}
       .otpInput{border-bottom:1px solid #e2e2e3; max-width:215px; margin:0 auto}
       .text-input{margin:5px;}
       .codeHere{ color:#6f7072; font-size:1.2rem; margin:8px 0 15px 0; display: inline-block}
       .resentOtp{margin:5px  0 30px 0; display: inline-block; color:#e9573d;}
   }

   .not-active {
       pointer-events: none;
       cursor: default;
       text-decoration: none;
       color: #ddd;
     }

}
