<!--
  Generated template for the FaqPage page. 

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>Faq</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>


<ion-content padding class="body-bg">  
  <div class="benefitsBlock">
    <ion-list class="formList">
        <ion-item>
            <ion-label floating>Choose Product</ion-label>
            <ion-select class="age-range" [(ngModel)]="product" (ionChange)="changeProduct();" > 
                <ion-option *ngFor="let product of productList" aria-placeholder="Select" value={{product.id}}>{{product.productname}}</ion-option>          
            </ion-select>
        </ion-item>
    </ion-list>
        <div  [class.hide]="vectorDiv">
            <div class="accordionWrapper">
                <h4 class="acordHead">
                    <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                    <span class="text">What is the meaning of the term 'Vector' and 'Vector-borne diseases'?</span> 
                    <span class="plusMinut"></span>
                  </h4>
                  <div class="accordContents">
                      <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                      <p>Vectors are the organisms that transmit pathogens (microorganisms that can cause disease) and parasites from one infected organism to another without falling ill themselves.Vector-borne diseases are a group of globally distributed and rapidly spreading serious diseases that are caused by Vectors.</p>
                      <!-- <span class="faqConTitle">Optional Covers</span>
                      <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                      in premium if you choose to opt for Voluntary Deduction.</p>      -->
                  </div>

                  <h4 class="acordHead">
                      <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                      <span class="text">What are common Vector-borne diseases in India?</span> 
                      <span class="plusMinut"></span>
                    </h4>
                    <div class="accordContents">
                        <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                        <p>Some of the common Vector-borne diseases in India include Malaria, Dengue, Lymphatic Filariasis, Kala-azar, Japanese Encephalitis, Chikungunya, Zika Virus.</p>
                        <!-- <span class="faqConTitle">Optional Covers</span>
                        <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                        in premium if you choose to opt for Voluntary Deduction.</p>      -->
                    </div>

                    <h4 class="acordHead">
                        <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                        <span class="text">What are the conditions covered under this policy?</span> 
                        <span class="plusMinut"></span>
                      </h4>
                      <div class="accordContents">
                          <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                          <p>This health insurance product provide a lump sum benefit in case the insured is diagnosed with serious diseases caused by vectors.Lump-sum payment of 100% will be made if the policyholder gets hospitalized for minimum 24 In-patient care consecutive hours due to any of the following conditions:<br>
                            i. Malaria<br>
                            ii. Dengue<br> 
                            iii. Lymphatic Filariasis<br> 
                            iv. Kala-azar<br> 
                            v. Japanese Encephalitis<br>
                            vi. Chikungunya<br>
                            vii. Zika Virus                             
                          </p>
                          <!-- <span class="faqConTitle">Optional Covers</span>
                          <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                          in premium if you choose to opt for Voluntary Deduction.</p>      -->
                      </div>

                      <h4 class="acordHead">
                          <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                          <span class="text">What should be my age if I want to buy this policy?</span> 
                          <span class="plusMinut"></span>
                        </h4>
                        <div class="accordContents">
                            <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                            <p>An individual of age 18 years to 65 years can buy this policy without any medical tests on annual basis. </p>
                            <!-- <span class="faqConTitle">Optional Covers</span>
                            <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                            in premium if you choose to opt for Voluntary Deduction.</p>      -->
                        </div>

                        <h4 class="acordHead">
                            <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                            <span class="text">What are the Sum Insureds available in this policy?</span> 
                            <span class="plusMinut"></span>
                          </h4>
                          <div class="accordContents">
                              <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                              <p>The Sum Insured options available under this product are ₹ 10000, ₹ 25000, ₹ 50000 and ₹ 75000.</p>
                              <!-- <span class="faqConTitle">Optional Covers</span>
                              <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                              in premium if you choose to opt for Voluntary Deduction.</p>      -->
                          </div>

                          <h4 class="acordHead">
                              <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                              <span class="text">Can I also cover my family under this policy? </span> 
                              <span class="plusMinut"></span>
                            </h4>
                            <div class="accordContents">
                                <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                                <p>Yes, you can. Each member will be entitled for separate Sum Insured and premium will be charged for each member separately. For this purpose, Family shall include Self, Spouse, maximum up to 3 Dependent Children and 2 Dependent Parents.</p>
                                <!-- <span class="faqConTitle">Optional Covers</span>
                                <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                                in premium if you choose to opt for Voluntary Deduction.</p>      -->
                            </div>

                            <h4 class="acordHead">
                                <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                                <span class="text">Is there any waiting period in this policy?</span> 
                                <span class="plusMinut"></span>
                              </h4>
                              <div class="accordContents">
                                  <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                                  <p>Yes, there will be an initial waiting period of 15 days from commencement of policy. However this will be increased to 60 days in case the insured is suffering from any one of the listed conditions, except Lymphatic Filariasis at the time of taking the policy. Further, in case the insured is suffering from Lymphatic Filariasis, at the time of taking the policy, it will be excluded from the Policy.</p>
                                  <!-- <span class="faqConTitle">Optional Covers</span>
                                  <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                                  in premium if you choose to opt for Voluntary Deduction.</p>      -->
                              </div>

                              <h4 class="acordHead">
                                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                                  <span class="text">Are there any exclusions in this plan?</span> 
                                  <span class="plusMinut"></span>
                                </h4>
                                <div class="accordContents">
                                    <span class="faqConTitle">No benefit will be paid under this plan in case of following: </span>
                                    <!-- <p>Yes, there will be an initial waiting period of 15 days from commencement of policy. However this will be increased to 60 days in case the insured is suffering from any one of the listed conditions, except Lymphatic Filariasis at the time of taking the policy. Further, in case the insured is suffering from Lymphatic Filariasis, at the time of taking the policy, it will be excluded from the Policy.</p> -->
                                    <ul>
                                      <li><p>Any condition other than Malaria, Lymphatic Filariasis, Dengue Fever, Japanese Encephalitis, Kala Azar, Chikungunya or Zika virus as defined under this policy.</p></li>
                                      <li><p>Any condition with respect to the covered benefits, for which the insured was diagnosed, and/or received medical advice/treatment within the waiting period.</p></li>
                                      <li> <p>Outpatient treatment.</p></li>
                                      <li><p>Hospitalisation primarily for any purpose which routinely could have been treated on an out-patient basis and which is not followed by an active treatment or intervention during the period of hospitalization.</p></li>
                                      <li><p>Experimental or unproven procedures or treatments.</p></li>
                                      <li><p>Convalescence, rest cure, sanatorium treatment, rehabilitation measures, respite care, long term nursing care or custodial care and general debility or exhaustion.</p></li>
                                    </ul>
                                    <!-- <span class="faqConTitle">Optional Covers</span>
                                    <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                                    in premium if you choose to opt for Voluntary Deduction.</p>      -->
                                </div>

                                <h4 class="acordHead">
                                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                                  <span class="text">Is the cashless facility available in the product?</span> 
                                  <span class="plusMinut"></span>
                                </h4>
                                <div class="accordContents">
                                    <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                                    <p>No, cashless facility is not available in this product. Claims payment is only on reimbursement basis.</p>
                                    <!-- <span class="faqConTitle">Optional Covers</span>
                                    <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                                    in premium if you choose to opt for Voluntary Deduction.</p>      -->
                                </div>

                                <h4 class="acordHead">
                                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                                  <span class="text">How is the premium charged in this policy?</span> 
                                  <span class="plusMinut"></span>
                                </h4>
                                <div class="accordContents">
                                    <!-- <span class="faqConTitle">Benefit from a comprehensive cover </span> -->
                                    <p>Premium is charged on the basis of Sum Insured opted.</p>
                                    <!-- <span class="faqConTitle">Optional Covers</span>
                                    <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                                    in premium if you choose to opt for Voluntary Deduction.</p>      -->
                                </div>
            </div>
        </div>
    <div  [class.hide]="healthDiv">
        <div class="accordionWrapper">
            <!-- panel start-->
            <h4 class="acordHead">
              <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
              <span class="text">Why choose Health Total?</span> 
              <span class="plusMinut"></span>
            </h4>
            <div class="accordContents">
                <span class="faqConTitle">Benefit from a comprehensive cover </span>
                <p>With Health Total Plan, you can get covered for Hospitalization Medical Expenses, Day Care Treatment Expenses, Pre and post Hospitalization Medical Expenses, Restoration of Sum Insured, Maternity Expenses, Organ Donor Expenses, Road Ambulance Charges, Domiciliary Hospitalization Expenses, New Born Baby Medical Expenses (applicable for Superior Plan and Premiere Plan), Alternative Treatment, Wellness Care, Cumulative Bonus, 100% Reimbursement of pre insurance medical examination cost upon acceptance of proposal, up to 15 family members under Superior and Premiere plan, Patient Care, Accidental Hospitalization (Increase in sum insured), Accompanying Person, Emergency Medical Evacuation (applicable for Superior Plan and Premiere Plan), Out Patient Medical Expenses (applicable for Superior Plan and Premiere Plan), Child Vaccination Benefits (applicable for Premiere Plan), E-Opinion in respect of an Illness or Injury, Medical Treatment Abroad (applicable for Premiere Plan)</p>
                <span class="faqConTitle">Optional Covers</span>
                <p>You can avail of a Long term discount if you pay premiums for more than one year. You can also get discounts
                in premium if you choose to opt for Voluntary Deduction.</p>     
            </div>
            <!-- panel end-->
            <!-- panel start-->
            <h4 class="acordHead">
                <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                <span class="text">How do I decide on an appropriate cover amount?</span> 
                <span class="plusMinut"></span>
            </h4>
            <div class="accordContents">
                  <p>You can choose from 3 plans: Vital, Superior and Premiere.</p>
                   <table class="limitTable">
                     <tr><td class="faqtblTitle">Plans</td> <td class="faqtblTitle centerAlign"  colspan="3">Sum Insured(in Rs.)</td></tr>
                     <tr> <td> Vital</td><td>3 lakhs</td><td>5 lakhs</td><td>10 lakhs</td></tr>
                     <tr> <td> Superior</td><td>15 lakhs</td><td>20 lakhs</td><td>25 lakhs</td></tr>
                     <tr> <td> Premiere</td><td>50 lakhs</td><td  colspan="2" class="centerAlign">1 Crore</td></tr>
                   </table>
            </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What do you mean by entry age?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <p>Entry Age is the age at which a person is eligible to be insured under this Policy.Age, here means age completed as on last birthday.</p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What are the entry age limits under Health Total?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <p>The minimum age required for entry to the policy is 1 day. There is no maximum age limit for entry. Children will be covered as dependents up to 25 years of age.</p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Is there an exit age under Health Total?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <p>No, there is no exit age in this policy.</p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Whom can I enter as my nominee?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <p>A nominee could be your spouse, children or parents.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is the definition of family under this Policy?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <span class="faqConTitle">Vital Plan: </span>
                <p>Familiy is defined as self, spouse, dependent children and dependent parents. Children will be covered as dependents up to 25 years of age.</p>  
                <span class="faqConTitle">Superior and Premiere Plan:</span>
                <p>Family is defined as self, spouse, dependant or non-dependent children, dependent or non-dependent parents, dependent siblings, daughter-in-law, son-in-law, parents-in-law, grandparents and grandchildren.</p>   
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Does Health Total cover senior citizens?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Yes, senior citizens can apply for the plan as there is no limit to entry age.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Is there any tax benefit?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Yes. Premium paid by any mode other than Cash / DD under the Policy shall be eligible for income tax benefit under Sec 80 D of the Income Tax Act and any amendments thereon.</p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What do you mean by inpatient and outpatient treatment?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>When an insured person is hospitalized and stays in hospital for more than 24 hours solely for receiving treatment, it is termed as inpatient treatment.<br>Outpatient treatment is when an insured person visits a clinic/hospital or a consultation room for diagnosis and treatment based on the advice of a medical practitioner. In outpatient hospitalization, the patient is not admitted under Day Care or as an inpatient.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is Day Care Procedure?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Day Care Procedure means the course of medical treatment or a surgical procedure listed in the Policy which requires less than 24 hours admission. This excludes all procedures or treatment taken in outpatient departments.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Are all systems of medicine covered under this insurance plan?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Hospitalization under Ayurveda, Unani, Siddha, or Homeopathy (AYUSH) is covered, provided that the treatment has been undergone in a government hospital or in any institute recognized by government and/or accredited  by Quality Council of India or National Accreditation Board on Health for that alternative treatment.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is included in Donor expenses?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Under this policy, Future Generali will pay 
                  the Reasonable and Customary Charges incurred for an organ donor’s 
                  treatment for the harvesting of the organ donated provided that<br>
                  the organ donor is any person whose organ has been made available in accordance and in
                   compliance with the Transplantation of Human Organs Act, 1994 and the organ donated is 
                   for the use of the Insured Person.
                </p>
                <p>We will not pay:</p>
                  <ol class="subolList">
                    <li>The donor’s screening expenses or pre and post hospitalisation expenses or for any other medical treatment for the donor consequent on the harvesting</li>
                    <li>We have accepted claim under <strong>Hospitalization medical expenses</strong> for the Insured Person and the Insured Person has been Medically Advised to undergo an organ transplant.</li>
                    <li>Costs directly or indirectly associated with the acquisition of the donor’s organ.</li>
                  </ol>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is e-opinion in respect of an illness or Injury?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>If an Insured Person suffers an Illness or Injury during the Policy Period in respect of which a claim has been admitted under Hospitalisation Medical Expenses, then at the Insured Person’s request We will arrange a maximum of two e-opinions (in a Policy Year) from a Medical Practitioner selected by the Insured Person from Our panel. The e-opinion will be based only on the information and documentation provided to the Medical Practitioner by or on behalf of the Insured Person.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is meant by Restoration benefit?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>If the Sum Insured and Cumulative Bonus (if any) is exhausted due to claims incurred and 
                  paid during the Policy Year or incurred during the Policy Year and accepted as payable, 
                  then it is agreed that a Restore Sum Insured (equal to 100% of the Sum Insured) 
                  will be automatically available for the particular Policy Year, provided that:</p> 
                  <p>Applicability of Restore Sum Insured</p>
                  <ol class= "subolList">
                    <li>The Restore Sum Insured will be enforceable only after the Sum Insured and the Cumulative Bonus have been completely exhausted in that Policy Year.</li>
                    <li>Only the Sum Insured (excluding Cumulative Bonus) will be considered as Restore Sum Insured.</li> 
                    <li>The Restore Sum Insured will only be applied once for the Insured Person during a Policy Year.</li> 
                    <li>If the Restore Sum Insured is not utilised in a Policy Year, it shall not be carried forward to any subsequent Policy Year. If the Policy is opted by You on a ‘Family Floater’ basis as specified in the Schedule, then the Restore Sum Insured will only be available in respect of claims made by those Insured Persons who were Insured Persons under the Policy before the Sum Insured and Cumulative Bonus was exhausted.</li>
                  </ol>
            
              
                  <p>Usage of Restore Sum Insured</p>
                  <ol class="subolList">
                    <li>The Restore Sum Insured can only be used for claims made by the Insured Person in respect of Benefits 1-4.</li>
                    <li>The Restore Sum Insured cannot be used for claims based on Maternity Expenses/Treatment.</li>
                    <li>The Restore Sum Insured can be used for only future claims made by the Insured Person and not against any claim for an Illness (including its complications) for which a claim has been paid in the current Policy Year under Benefits 1-4.</li>
                  </ol>
                
              </div> 
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is Family Floater Health Total policy?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>This is a health insurance policy which covers inpatient hospitalization expenses. In this cover, a single Sum Insured Floater is shared by all family members.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Who will be paying for the pre policy tests?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>The customer has to first pay the test charges for his/her pre policy tests directly to the diagnostic centre. Upon acceptance of the proposal by Future Generali and issuance of policy for that member, customer can claim 100% reimbursement by submitting the original payment receipt.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Will I get any discount if I insure more than one family member in the same policy?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Yes, a 10 % family discount will be given under Individual Health Total in case insured members are more than one under a policy. No family discount is applicable for floater policy.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Is there any provision for enhancing the Sum Insured after taking Health Total?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Change in Sum Insured /Plan can be done at renewals only. No increase/decrease in Sum Insured/Plan is allowed during the currency of the policy. Increase in Sum Insured can be allowed up to two slabs higher, whereas increase in Plan can be allowed up to one plan higher.
<br>For age group above 60 years, increase in Plan would not be allowed.For age group up to 50 years increase in Sum Insured up to Rs.10 Lacs (within Vital Plan) can be allowed without medical examination (in case of no claim/no health declaration). <br>For Superior/Premiere Plan (Sum Insured above 10 lakhs), medical examination is required irrespective of age.
For age group above 50 years increase in Sum Insured can be allowed with medical examination. Decrease in Sum Insured allowed up to one slab lower only, in case of no claim in any preceding Health Total policies.
The Dependent Sum Insured criteria will apply for enhancement of Sum Insured for dependent. Sum Insured enhancement would be allowed for age group lower than 50 years in case of portable policies.

               </p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is Dependent Sum Insured criteria?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>In case of Individual Sum Insured option, Dependents Sum Insured can be up to two Sums Insured lower than Self/Proposer’s sum insured

               </p>
              </div>
              <!-- panel end-->

               

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Is there any grace period available to renew the policy when a customer forgets to renew before the expiry date of the expiring policy?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>In case of our renewal, a grace period of 30 days is permissible and the Policy will be considered as continuous for the purpose of all waiting periods and health check-up benefits. However, We shall not provide coverage under the Policy to the Insured Persons for any Illness or Injury that occurs during the break period or for any claim which arises during the break period.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is meant by cumulative bonus? How much bonus is offered under Health Total?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Cumulative Bonus means any increase in the Sum Insured granted by the Insurer without an associated increase in premium. If no claim has been made in respect of any Benefits with the exception of any claim under Benefit 13 (OPD Treatment) and the Policy is Renewed with Us without any break, We will apply a bonus to the next Policy Year by automatically increasing the Sum Insured for the next Policy Year by 50% of the Sum Insured for this Policy Year. The maximum bonus for any Policy Year will not exceed 100% of the Sum Insured of the first Policy Year.If a Cumulative Bonus has been applied and a claim is made, then in the subsequent Policy Year We will automatically decrease the Cumulative Bonus by 50% of the Sum Insured in the following Policy Year. However, this reduction will not reduce the Sum Insured below the base Sum Insured of the Policy.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is the sublimit for surgery on cataract?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                <p>Our obligation to make payment in respect of Surgery for cataracts (after the expiry of the two years waiting period) shall be restricted to 10% of the Sum Insured for each eye, and a maximum of Rs. 1,00,000/- per eye.
               </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What are the waiting periods in the policy? </span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <span class="faqConTitle">24 months waiting period for:</span>
              
                  <ol class="subolList">
                  <li>Pre-existing Conditions, Internal Congenital Anomalies, Cataracts, Benign Prostatic 
                  Hypertrophy, Hernia of all types, Deviated Nasal Septum, Hypertrophied Turbinate, Hydrocele, 
                  All types of sinuses Fistulae, Haemorrhoids, Fissure, Dysfunctional Uterine Bleeding, Fibromyoma,
                   Endometriosis, Hysterectomy.</li>
                   <li>All internal or external tumors/cysts/nodules/polyps of any kind including breast lumps 
                      with exception of malignant tumor or growth.</li>
                      <li>
                          Surgery for prolapsed inter vertebral disc unless 
                          arising from Accident, Surgery of varicose veins and varicose ulcers, any types of gastric 
                          or duodenal ulcers, stones in the urinary and biliary systems,and Surgery on ears and tonsils.
                      </li>
                  </ol> 
                   
                <span class="faqConTitle">48 months waiting period for </span>
                <ol class="subolList">
                  <li>Organ Transplant, Rheumatoid Arthritis, Gout.</li>
                  <li>Joint replacement due to degenerative condition age related osteoarthritis and Osteoporosis, unless such joint replacement surgery is medically necessary due to injury.</li>
                </ol>
            
                <span class="faqConTitle">First 30 days waiting period for</span>
                <p>Medical expenses incurred for any illness diagnosed or diagnosable except those incurred as a result of Injury. </p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What are the General Exclusions under the policy?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <ol class="subolList">
                    <li>The treatment of obesity (including morbid obesity) and other weight control programs, services and supplies. External Congenital Anomaly and related Illness/ defects.</li>
                    <li>Vitamins, tonics, nutritional supplements unless forming part of the treatment for Injury or Illness as certified by the attending Medical Practitioner. Genetic disorders and stem cell implantation/Surgery/storage. Treatment for any mental illness or psychiatric illness.</li>
                    <li>Expenses incurred towards treatment of Illness or Injury arising out of alcohol use/misuse or abuse of alcohol, narcotic substance or drugs (whether prescribed or not).</li>
                    <li>Any treatment received in convalescent home, rehabilitation centre, convalescent hospital, health hydro, nature care clinic or similar establishments.</li>
                    <li>Non-prescribed drugs and medical supplies, hormone replacement therapy, sex change or treatment which results from or is in any way related to sex change.</li>
                    <li>Any treatment required arising from Insured Person’s participation in any hazardous activity including but not limited to scuba diving, motor racing, parachuting, hang gliding, rock or mountain climbing unless specifically agreed by Us.</li>
                  </ol>                
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What are the exclusions applicable for OPD treatments</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <ol class="subolList">
                    <li>Any expenses in excess of the maximum amount payable under the outpatient 
                      medical expenses limit specified in the Schedule of Benefits.</li>
                    <li>Any expenses for OPD Treatment including dental expenses in case of Vital Plan.</li>
                    <li>Any expenses for prescribed medications in case of Superior Plan.</li>
                    <li> Any expenses for consultation, diagnostics, medications which are not duly 
                    supported with medical documents from the Medical Practitioner mentioning:
                   diagnosis, referral for diagnostic test, prescription for medications, and
                   costs incurred on all methods of treatment except Allopathic.</li>
                  </ol>                      
              </div>
              <!-- panel end-->
               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What are Network/Non-network providers?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p> <strong>Network Provider</strong> means hospitals or health care providers enlisted by Future Generali to provide medical services to an insured person on payment by a Cashless Facility.
                (Please note: The Hospitals which have been empanelled by Us as Network Providers are as per the latest version of the schedule of Hospitals maintained by Us, which is available to You on request.)
                </p>
                <p> 
                <strong>Non-Network Provider</strong> means any hospital, day care centre or other provider that is not part of the network.
                </p>
              </div>
              <!-- panel end-->

                <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Where do I contact in case of a claim?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p> 
                  You may call on our 24-hour call center on 1800 103 8889 or Fax on 1800 103 9998.
                </p>
                <p>Or mail us at fgh@futuregenerali.in</p>
              </div>
              <!-- panel end-->

               
              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What other assistance is available through call center?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p>Call Centre will assist you with emergencies, your eligibility and status, documentation support and general information on the health policy. The call center will not impart any medical advice on the telephone.</p>
              </div>
              <!-- panel end-->

              <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What do the terms Cashless Facility and Claim Reimbursement mean?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <span class="faqConTitle">Cashless Facility</span>
                 <p>The cashless facility can be availed in case of admission in network hospitals. If the policy holder presents the health card or cashless card at the network hospital, the hospital authorities contact us and provide the details of the hospitalization. If the illness is covered as per the policy terms and conditions, an Authorization letter is then issued to the hospital. The hospital sends all the bills and documents to us for settlement. The insured person has to pay the non-admissible expenses to the hospital.</p>
                 <span class="faqConTitle"> Claim-Reimbursement</span>
                 <p>  
                If the admission is in a Non-network hospital then you need to settle the hospitals bills and submit the hospitalization documents along with the claim form for reimbursement of hospitalization expenses.
                </p>
              </div>
              <!-- panel end-->


               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">What is the time limit to notify the claim?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p>
                  In case of Emergency Hospitalization you need to notify us at the earliest and not later than 48 hours from the time of hospitalization or prior to discharge whichever is earlier. In case of planned admission you need to notify at least 48 hours in advance prior to admission in the hospital.
                </p>
              </div>
              <!-- panel end-->

                <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Where do I need to submit claim documents?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p>
                  You can submit your claim documents at our nearest branch office or you may even send documents at the following address.
                </p>
                <p> Claims Department<br>
                Future Generali Health (FGH)<br>
                Future Generali India Insurance Co. Ltd.<br>
               Office No. 3, 3rd Floor, “A” Building , G - O – Square
              S. No. 249 &amp; 250, Aundh Hinjewadi Link Road, Wakad, Pune - 411 057.<br>
              Toll Free Number: 1800 103 8889<br>
              Toll Free Fax: 1800 103 9998<br>
               Email: fgh@futuregenerali.in
              </p>
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">How is premium calculated?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                 <p>
                  In case of Individual policy it is as per the age band and the Sum Insured selected by the customer.
                    In case of family floater the premium for the primary insured remains at actuals from the individual table. For remaining dependent members discounts applicable on their respective premium is as table below.
                </p>
                <table class="limitTable">
                   <tr>
                     <td class="faqtblTitle">
                       Age Band
                     </td>
                     <td class="faqtblTitle">
                        Discount Rates
                      </td>
                   </tr>
                   <tr>
                      <td>
                       0-17
                      </td>
                      <td>
                         60%
                       </td>
                    </tr>
                    <tr>
                        <td>
                         18-25
                        </td>
                        <td>
                          55%
                         </td>
                    </tr>
                    <tr>
                          <td>
                           26-30
                          </td>
                          <td>
                             50%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           31-35
                          </td>
                          <td>
                             45%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           36-40
                          </td>
                          <td>
                             45%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           41-45
                          </td>
                          <td>
                              40%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           46-50
                          </td>
                          <td>
                              40%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           51-55
                          </td>
                          <td>
                             40%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           56-60
                          </td>
                          <td>
                              35%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           61-65
                          </td>
                          <td>
                              35%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           66-70
                          </td>
                          <td>
                              35%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           71-75
                          </td>
                          <td>
                             35%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           76-80
                          </td>
                          <td>
                             25%
                           </td>
                      </tr>
                      <tr>
                          <td>
                           81-85
                          </td>
                          <td>
                             20%
                           </td>
                      </tr>
                      <tr>
                          <td>
                            >85
                          </td>
                          <td>
                             20%
                           </td>
                      </tr>
                  </table>
                
              </div>
              <!-- panel end-->

               <!-- panel start-->
              <h4 class="acordHead">
                  <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
                  <span class="text">Who will require undergoing pre policy medical examinations?</span> 
                  <span class="plusMinut"></span>
                </h4>
              <div class="accordContents">
                  <table class="limitTable tblLast">
                    <tr> 
                     <td class="faqtblTitle">
                      Plans 
                     </td>
                     <td class="faqtblTitle">
                        Age Band
                     </td>
                     <td class="faqtblTitle">
                        Medical tests
                     </td>
                    
                    </tr>
                  <tr>
                    <td>Vital</td>
                    <td class="innertblParnt">
                      <table cellspacing="0" cellpadding="0">
                        <tr>
                          <td>Upto 50</td>
                          
                        </tr>
                        <tr><td>Above 80</td></tr>
                      </table>
                    </td>
                    <td class="innertblParnt"><table cellspacing="0" cellpadding="0">
                        <tr>
                          <td>Not Required</td>
                          
                        </tr>
                        <tr><td>Required</td></tr>
                      </table></td>
                  </tr>

                  <tr>
                      <td>Superior</td>
                      <td class="innertblParnt">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>Upto 50</td>
                            
                          </tr>
                          <tr><td>Above 80</td></tr>
                        </table>
                      </td>
                      <td class="innertblParnt"><table cellspacing="0" cellpadding="0">
                          <tr>
                            <td>Not Required</td>
                            
                          </tr>
                          <tr><td>Required</td></tr>
                        </table></td>
                    </tr>
                    <tr>
                        <td>Premiere</td>
                        <td class="innertblParnt">
                          <table cellspacing="0" cellpadding="0">
                            <tr>
                              <td colspan="2" class="borderNone">Upto 50</td>
                              
                            </tr>
                            
                          </table>
                        </td>
                        <td class="innertblParnt"><table cellspacing="0" cellpadding="0">
                            <tr>
                              <td> Required</td>
                              
                            </tr>
                            <tr><td>Required</td></tr>
                          </table></td>
                      </tr>
                      
                     </table>
                
                <p>Proposals with health declarations may also be advised Pre policy medical examinations irrespective of age.
                Pre policy tests need to be done in the empanelled diagnostic centers only.
                The test would be valid for a period of one month from the date the tests have been conducted.</p>
                
              </div>
              <!-- panel end-->
            </div>
    </div>
  </div>
</ion-content>

