<!--
  Generated template for the HospitalSearchResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <button ion-button class="backBt" navPop></button>
    <h1 [class.hide]="divShow"><span>Health Insurance</span>HOSPITAL LOCATOR</h1>
    <h1 [class.hide]="!divShow"><span>Health Insurance</span>Branch LOCATOR</h1>
  <!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
            <i></i>
            <i></i>
            <i></i>
    </button>

</ion-header>


<ion-content padding class="body-bg">
<div class="hosptlsearchRslt">
<!-- <div class="yourSearch">
<p class="yourSearcht">You have searched -</p>
<p>Fortis Hospitals, Mumbai</p>
</div> -->
<div class="rsltFound" [class.hide]="!hideshowDiv">
  <!-- <p class="rsltinNo"><span>10</span>results found</p> -->
  <div class="rsltFwrap" *ngFor="let hospitalItem of hospitalDataList">
    <div class="rsltFblock">
      <h2>{{hospitalItem.sHospitalName}}</h2>
      <p>{{hospitalItem.sAddress}}</p>    
      <!-- <p class="groName">GRO Name: <span>John Doe</span></p> -->
      <!-- <p class="groName">Contact No: <span>0251-2358075/3252074</span></p> -->
      <img class="hosptlLoc" (click)="showLocationInMap(hospitalItem);" src="assets/imgs/hosptl-loc.png" alt="">     
    </div>   
  
  </div>
  

</div>
<div [class.hide]="hideshowDiv"><span style="color:#fff; position:absolute; padding:15px; left:50%; top:50%; transform: translate(-50%, -50%);font-size: 17px;width:100%; text-align:center;">No results found.</span></div>
</div>
</ion-content>
