page-hospital-search-result {
    .hosptlsearchRslt{
        .yourSearch{
             background: #4c4e5b;
             padding: 10px;
             border-radius: 5px;
             p{
                 color:#fff;
                 font-size: 1.4rem;
                 line-height: 1.6rem;
                 margin: 0;
                 padding: 0;
             }
             .yourSearcht{
                 color: #a3a3a9;
                 font-size: 1.3rem;
                 line-height: 1.6rem;
                 margin-bottom: 2px;
             }
        }
        .rsltFound{
            margin-top: 25px;
            .rsltinNo{
                color:#afafb3;
                font-size: 1.3rem;
                margin: 0;
                padding: 0 0 9px 0;
                span{
                    font-size: 1.6rem;
                   
                    color:#fff;
                    padding-right: 5px;
                }
            }
            .rsltFwrap{
                padding: 0 16px 16px 16px;
                border-radius: 5px;
                background: #fff;
                margin-bottom: 10px;
                .rsltFblock{
                    padding-bottom: 20px;
                    border-bottom: 1px solid #e2e2e3;
                    position: relative;
                    &:last-child{
                        border:0;
                    }
                    .hosptlLoc{
                        position: absolute;
                        right: 0;
                        bottom: 25px;
                    }
                    h2{
                        color:#333333;
                        font-size: 1.4rem;
                        padding: 16px 0 16px 0;
                        margin: 0;
                        font-weight: bold;
                       
                    }
                    p{
                        color:#6f7072;
                        font-size: 1.3rem;
                        line-height: 1.8rem;
                        margin: 0;
                        padding: 0 40px 0 0;
                        &.groName{
                            color:#4e4e4e;
                           
                            font-size: 1.3rem;
                            margin-top:10px;
                            span{
                                color:#333333;
                                font-weight: bold;
                                padding-left: 5px;
                            }
                        }
                    }
                }
            }
         
        }
    }
}
