<!--
  Generated template for the VectordeclarationquestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="vectorBg">
    <button ion-button class="backBt" (click)="onBackClick();"></button>
    <h1><span>Health Insurance</span>Buy Future Vector Care Policy</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button>
</ion-header> 


<ion-content padding class="body-bg ">
    <ion-row class="refnumber" text-right>Ref no. 1236509</ion-row>
    <div class="whiteRow healthDeclration verifyPage">
    <ion-row class="pros1">
    <h5>Verify details</h5>
    <ion-grid>
      <!-- <ion-row>
        <ion-col col-8>I agree to the <a href="#">health declaration</a><br>and <a href="#">other declarations.</a></ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionFirst" (ionChange)="termsToggleFirst();" float-right></ion-toggle></ion-col>
      </ion-row> -->
      <ion-row>
          <ion-col col-8>Are you an Indian Resident?</ion-col>
          <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionFirst" (ionChange)="termsToggleFirst();" float-right></ion-toggle></ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-8>Are you or any member already covered under Future Generali Future Vector Care Policy?</ion-col>
            <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionSecond" (ionChange)="termsToggleSecond();" float-right></ion-toggle></ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-8> Have you read through the Future Vector care Prospectus?</ion-col>
              <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionThird" (ionChange)="termsToggleThird();" float-right></ion-toggle></ion-col>
            </ion-row>        
       <ion-row>
        <ion-col col-8>I confirm that I have verified that the online proposal form and the medical declaration including all the details provided is with my consent and true.</ion-col>
        <ion-col col-4><ion-toggle class="toggleBt" [(ngModel)] = "termsConditionFour" (ionChange)="termsToggleFourth();" float-right></ion-toggle></ion-col>
      </ion-row>
    </ion-grid>
    </ion-row>
    
    <ion-grid>
      <ion-row class="vrfRow">
          <ion-col col-12>
              <div class="verifyMob formList" [class.hide]="mobileField" >
             <!--  <ion-item>
                  <ion-label class="aadharNo" floating>Aadhaar Number</ion-label>
                  <ion-input #mobilefocus type="tel" name="adhaar" pattern="^[a-zA-Z0-9]+$" maxlength="12" [(ngModel)]="adhaar"></ion-input>
                </ion-item> -->
                <ion-item hidden>
                    <ion-label floating>Mobile Number</ion-label>
                    <ion-input type="tel" [(ngModel)] = "mobile" maxlength="10" (ngModelChange) = "mobileChange($event);"></ion-input>
                  </ion-item>  
                </div> 
          </ion-col>
            <ion-col col-12 text-center>
                <button ion-button class="commonBt" (click)="mobileVerify();" [disabled]="verifyDisable">verify</button>
              </ion-col>
       
       
      </ion-row>
      <!-- <div [class.hide]="mobileField" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
    </ion-grid>
    
    <!-- <ion-row>
      <div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>SAVE & EMAIL</button></div>
    </ion-row>  -->
    <div [class.hide]="forQuickQuote" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div>
    </div>
    
    </ion-content>
<ion-footer >
    <button ion-button class="commonBt" [class.hide]="!hidebutton" (click)="proceedNextTab();">Next</button>
    <button ion-button class="commonBt" [class.hide]="hidebutton" (click)="proceedVerifyPage();">Proceed</button>
</ion-footer>


<div class="trans" [class.hide]="trans"> </div>
<div class="commonPopup otpPopup vector" [class.hide]="otpPopup">
  <ion-icon name="close" (click)="closeOtpModal();" class="popupClose ion-ios-close-outline"></ion-icon>
  <div class="popupInner otpPopupContent " text-center>
  <h5>OTP has been sent to your <br>mobile number XXXX XX XX{{lastDigits}} and to your <br>email ID XXXXXX@{{emailString}}</h5>
  <ion-input type="tel" maxlength="4" class="otpInput" placeholder="---" text-center></ion-input>
  <label class="codeHere">Please type the verification code here</label>
  <p>Didn’t received OTP?</p>
  <p><a href="#" class="resentOtp not-active" (click)="resendOTP();">Resend OTP</a><span [class.hide]="timer"> in {{time}} seconds </span></p>
  <ion-row>
  <button ion-button class="commonBt vector" [disabled] = "disableSubmitButton" (click)="proceedToReviewPage();">Submit</button>
</ion-row> 
</div>
</div>


<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> Thank You for selecting. We have sent the proposal to your email address. </p>          
         
          <div class="btwrap">             
            
              <button ion-button class="sendmailBt" block style="align-items:center;" (click)="OkButton();" block style="align-items:center;">OK</button>
           
    </div>        
</div>
</div>
