page-productlisting {

	.bg{
		background:#383a48;
	}
  .landingPg {

    .itRow{
    	display:flex;
    	align-items: center;
    	padding:10px;
    	margin-bottom:10px;
    	border-radius:5px;
    	background: #fff url(../assets/imgs/rightArrow.png) 96% 48% no-repeat;
    	label{
    		display:inline-block;
    		padding:0 20px 0 15px;
    		color:#383a48;
    		font-size:14px;
    		font-weight:bold;
    	}

    }
  }


}
