<!--
  Generated template for the ProductlistingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <button ion-button class="backBt" navPop></button>
  <h1 ><span>Health Insurance</span>CHOOSE PRODUCT</h1>
  <!-- <h1 [class.hide]="!divHideShow"><span>Buy Policy</span></h1> -->
  <!-- <ion-icon name="close" (click)="goToLoginPage();" class="headerClose ion-ios-close-outline"></ion-icon> -->
  <button ion-button menuToggle end class="humburgerMenu" [class.hide]="showButton">
      <i></i>
      <i></i>
      <i></i>
  </button>
</ion-header>
<ion-content padding class="bg">
<div class="landingPg">
	<div class="itRow" (click)="clickHealthTotal();"><span><img alt="" src="assets/imgs/totalhealth-thumb.jpg"></span><label>Health Total</label></div>
  <div class="itRow" (click)="clickHealthVector();"><span><img alt="" src="assets/imgs/futureVector-Thumb.jpg"></span><label>Future Vector Care</label></div>
  <div class="itRow" (click)="clickSuperTop();"><span><img alt="" src="assets/imgs/futureVector-Thumb.jpg"></span><label>Super Top Up</label></div>
	<!-- <div class="itRow"><span><img alt="" src="assets/imgs/futureVector-Thumb.jpg"></span><label>Future Vector Care</label></div>
	<div class="itRow"><span><img alt="" src="assets/imgs/futureVector-Thumb.jpg"></span><label>Future Vector Care</label></div>	 -->
</div>
</ion-content>
