<!--
  Generated template for the QuickqoutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
</button>
</ion-header>
<ion-content padding class="body-bg" >
  <div class="cardmWrap">
    <p>Members selected should not have an existing accident cover.</p>
    <ion-row class="quickCard">
      <ion-card *ngFor="let member of membersShow; let i = index;" [class.hide]="!member.showFamilyMemberOnScreen" (click)="fillData(member,i)">                
        <ion-thumbnail class="qcardIcon" > <img src={{member.imgUrl}} [class.hide]="member.detailsSaved"  alt=""></ion-thumbnail>
        <div class="self" *ngIf="!member.detailsSaved">{{member.title}}</div>
        <div class="cardView" *ngIf="member.detailsSaved"> 
        <h5>{{member.title}}</h5><p>{{member.ageText}}</p>
        <div class="cardView1" *ngIf="member.dependent"><p>{{member.maritalStatus}}</p><p>{{member.occupationName}}</p></div>  
        <div class="cardView2" *ngIf="member.showAnnualIncome"><p>₹{{member.annualIncome}}</p></div>        
        <ion-icon [class.hide] = "hideForSelf"(click)="clearMemberDetails($event, member)" class="ion-ios-trash-outline deleteIcon" *ngIf="i!=0"></ion-icon>
        <div class="cardTransdiv" (click)="editMemberDetails($event, member ,i)"></div>

      </div>                
      </ion-card>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  
  <ion-segment class="getQuoteBt" (click)="proceedtoNext()">PROCEED TO BUY POLICY <span class="getFor">FOR: <span>{{membersInsured.length}}</span></span></ion-segment>
</ion-footer>
<div class="trans" [class.hide]="showTransBaground"></div>
<form>
<div class="qCardPopup policycardPopup animated fadeInUp" [class.hide]="showTransBaground">
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <div class="selfPopup">{{selectedMemberTitle}}</div>
  <div class="genderSec" [class.hide]="selfGenderPopUp">
    <div class="gSec" rel="male"  (click)="genderClick(selectedMemberTitle,'Male');" [ngClass]="{'active': isSelfGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Male</span>
    </div>
    <div class="gSec" rel="female"   (click)="genderClick(selectedMemberTitle,'Female');" [ngClass]="{'active': !isSelfGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Female</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="spouseGenderPopUp">
    <div class="gSec" rel="male" [ngClass]="{'active': isSpouseGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Male</span>
    </div>
    <div class="gSec" rel="female" [ngClass]="{'active': !isSpouseGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Female</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="child1GenderPopUp">
    <div class="gSec" rel="male" (click)="genderClick(selectedMemberTitle,'Son');" [ngClass]="{'active': isSonGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Son</span>
    </div>
    <div class="gSec" rel="female" (click)="genderClick(selectedMemberTitle,'DAUG');" [ngClass]="{'active': !isSonGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Daughter</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="child2GenderPopUp">
    <div class="gSec" rel="male" (click)="genderClick(selectedMemberTitle,'Son');" [ngClass]="{'active': isSon1GenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Son</span>
    </div>
    <div class="gSec" rel="female" (click)="genderClick(selectedMemberTitle,'DAUG');" [ngClass]="{'active': !isSon1GenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Daughter</span>
    </div>
  </div>
  <ion-list class="formList">
  

    <ion-item>
      <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
      <ion-icon (click)="DatePick($event);"  item-end class="datetimeIcon"></ion-icon>
      <ion-input maxlength="10" type="tel" id=""  name="memberDOB" [(ngModel)]="memberAge" (keyup)="onOtherDateChange($event);"></ion-input>      
    </ion-item> 
    
    
    <ion-item [class.hide]="hideOccupation"> 
        <ion-label floating>Occupation</ion-label>
      <ion-input [(ngModel)]="occupationName" name="occupationName" (keyup)="onOccupationTextChange($event)" (ionFocus)="OccupationFocus = true"  (focusout)="otherFocusOut()" type="text" value=""></ion-input>               
    </ion-item>
  <div class="filterList" *ngIf="OccupationFocus">
      <ion-label *ngFor="let occupation of Occupationlistcopy" (click)="onOccupationSelection(occupation)">{{occupation.occupationName}}</ion-label>
  </div>


    <ion-item  [class.hide]="childMartial">
      <ion-label floating>Marital Status</ion-label>
    <!-- <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle> -->
    <ion-select [(ngModel)]="marriedStatus" name="marriedStatus"  interface="action-sheet" float-left>                            
       <ion-option value={{status.value}} (ionChange)="filledStatus(memberMarried)"  *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
    </ion-select>
    </ion-item>
    


    <ion-item [class.hide]="hideannualIncome">      
        <ion-label floating>Annual Income</ion-label>
        <ion-input #annaulIncomeFocus number-only maxlength="7"  type="tel"  [(ngModel)]="annualincome" name="annualincome"></ion-input>
        <br><br>
    </ion-item>  
    
  </ion-list>
  
 
  
  <ion-row class="saveBtns" >
    <div class="saveBt" (click)="saveMemberDetails();"><button ion-button>Save</button></div>
  </ion-row>

</div>
</form>
