<!--
  Generated template for the QuickqoutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Health Insurance</span>BUY ACCIDENT SURAKSHA POLICY</h1>
</ion-header>
<ion-content padding class="body-bg" >
  <div class="cardmWrap">
    <p>Members selected should not have an existing accident cover.</p>
    <ion-row class="quickCard">
      <ion-card class="card" (click)="openPopup(1)">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/personal/selfIcon.png"></ion-thumbnail>
          <div class="self">Self</div> 
          <div class="selfdetails cardView" [class.hide]="selfCard">
            <h5>Self </h5>
            <p>{{selfMaritalstatus}}</p>
            <p>{{selfDob}}</p>
            <p>{{selfCategory}}</p>
            <p>₹ {{selfAnnualincome}}</p>
            <!-- <ion-icon class="ion-ios-trash-outline deleteIcon" (click)="clearMemberDetails($event, 'Self')"></ion-icon> -->
          </div>
      </ion-card>
      <ion-card class="card" (click)="openPopup(2)">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/personal/spouseIcon.png"></ion-thumbnail>
          <div class="self">Spouse</div>
          <div class="selfdetails cardView" [class.hide]="spouseCard">
            <h5>Spouse </h5>
            <p>{{spouseDob}}</p>
            <p>{{spouseCategory}}</p>
            <p>₹ {{spouseAnnualincome}}</p>
            <ion-icon class="ion-ios-trash-outline deleteIcon" (click)="clearMemberDetails($event, 'Spouse')"></ion-icon>
          </div>
      </ion-card>
      <ion-card class="card" (click)="openPopup(3)">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/personal/childIcon.png"></ion-thumbnail>
          <div class="self">Child 1</div>
          <div class="selfdetails cardView" [class.hide]="child1Card">
            <h5>Child 1 </h5>
            <p>{{child1Dob}}</p>
            <p>{{child1Category}}</p>
            <p>{{child1Annualincome}}</p>
            <ion-icon class="ion-ios-trash-outline deleteIcon" (click)="clearMemberDetails($event, 'Child1')"></ion-icon>
          </div>
      </ion-card>
      <ion-card class="card" (click)="openPopup(4)">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/personal/childIcon.png"></ion-thumbnail>
          <div class="self">Child 2</div>
          <div class="selfdetails cardView" [class.hide]="child2Card">
            <h5>Child 2 </h5>
            <p>{{child2Dob}}</p>
            <p>{{child2Category}}</p>
            <p>{{child2Annualincome}}</p>
            <ion-icon class="ion-ios-trash-outline deleteIcon" (click)="clearMemberDetails($event, 'Child2')"></ion-icon>
          </div>
      </ion-card>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-segment class="getQuoteBt" (click)="proceedtoNext()"> PROCEED</ion-segment>
</ion-footer>
<div class="trans" [class.hide]="showTransBaground"></div>
<form>
<div class="qCardPopup policycardPopup animated fadeInUp" [class.hide]="showTransBaground">
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <div class="selfPopup">{{selectedMemberTitle}}</div>
  <div class="genderSec" [class.hide]="selfGenderPopUp">
    <div class="gSec" rel="male"  (click)="genderClick(selectedMemberTitle,'Male');" [ngClass]="{'active': isSelfGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Male</span>
    </div>
    <div class="gSec" rel="female"   (click)="genderClick(selectedMemberTitle,'Female');" [ngClass]="{'active': !isSelfGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Female</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="spouseGenderPopUp">
    <div class="gSec" rel="male" [ngClass]="{'active': isSpouseGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Male</span>
    </div>
    <div class="gSec" rel="female" [ngClass]="{'active': !isSpouseGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Female</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="child1GenderPopUp">
    <div class="gSec" rel="male" (click)="genderClick(selectedMemberTitle,'Son');" [ngClass]="{'active': isSonGenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Son</span>
    </div>
    <div class="gSec" rel="female" (click)="genderClick(selectedMemberTitle,'Daughter');" [ngClass]="{'active': !isSonGenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Daughter</span>
    </div>
  </div>
  <div class="genderSec" [class.hide]="child2GenderPopUp">
    <div class="gSec" rel="male" (click)="genderClick(selectedMemberTitle,'Son');" [ngClass]="{'active': isSon1GenderActive}">
      <span class="genderIcon maleSec"></span>
      <span class="gender">Son</span>
    </div>
    <div class="gSec" rel="female" (click)="genderClick(selectedMemberTitle,'Daughter');" [ngClass]="{'active': !isSon1GenderActive}">
      <span class="genderIcon femaleSec"></span>
      <span class="gender">Daughter</span>
    </div>
  </div>
  <ion-list class="formList">
    <!-- <ion-item>
      <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
      <ion-icon item-end class="datetimeIcon"></ion-icon>
      <ion-input maxlength="10" type="tel" id="" name="memberDOB" [(ngModel)]="dob"></ion-input>
    </ion-item> -->

    <!-- <h5>Age range</h5>
    <ion-row>
        <ion-select class="age-range" [(ngModel)]="memberAge" interface="action-sheet">
            <ion-option value="0">Select Age</ion-option>
            <ion-option *ngFor="let age of apiAgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
        </ion-select>
    </ion-row> -->
    <!-- <ion-item>
      <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
      <ion-icon (click)="DatePick($event);"  item-end class="datetimeIcon"></ion-icon>
      <ion-input maxlength="10" type="tel" id=""  name="memberDOB" [(ngModel)]="dob"  (keyup)="onOtherDateChange($event);"></ion-input>      
    </ion-item> -->

    
      <!-- <ion-select class="age-range" [(ngModel)]="memberAge" interface="action-sheet" [class.hide]="hideAge">
          <ion-option value="0">Select Age</ion-option>
          <ion-option *ngFor="let age of AgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
      </ion-select>

      <ion-select class="age-range" [(ngModel)]="memberAge" interface="action-sheet" [class.hide]="hideChildAge">
        <ion-option value="0">Select Age</ion-option>
        <ion-option *ngFor="let age of childAgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
    </ion-select> -->

    

    <ion-item> 
        <ion-label floating>Select Age</ion-label>
      <ion-select class="age-range" [(ngModel)]="memberAge" name="memberAge" interface="action-sheet" [class.hide]="hideAge">
        <!-- <ion-option value="0">Select Age</ion-option> -->
        <ion-option *ngFor="let age of AgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
      </ion-select>
   
     <ion-select class="age-range" [(ngModel)]="memberAgeChild" name="memberAgeChild" interface="action-sheet" [class.hide]="hideChildAge">
     <!-- <ion-option value="0">Select Age</ion-option> -->
      <ion-option *ngFor="let age of childAgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
       </ion-select>               
    </ion-item>
    <!-- <ion-item>
      <ion-label floating>Occupation</ion-label>
      <ion-select [(ngModel)]="occuation" interface="action-sheet" float-left>
        <ion-option value="0">Teacher</ion-option>
        <ion-option value="1">Doctor</ion-option>
        <ion-option value="2">Lawyer</ion-option>
      </ion-select>
    </ion-item> -->
    <!-- <ion-item [class.hide]="hideOccupation">
      <ion-label floating>Occupation</ion-label>
      <ion-select [(ngModel)]="category" interface="action-sheet" float-left>
        <ion-option *ngFor="let occupation of occupationLists" value="{{occupation.category}}">{{occupation.occupationName}}</ion-option>
      </ion-select>
    </ion-item> -->
    
    <ion-item [class.hide]="hideOccupation"> 
        <ion-label floating>Occupation</ion-label>
      <ion-input [(ngModel)]="occupationName" name="occupationName" (keyup)="onOccupationTextChange($event)" (focus)="onFocus($event)" type="text" value=""></ion-input>               
    </ion-item>
  <div class="filterList" *ngIf="OccupationFocus">
      <ion-label *ngFor="let occupation of Occupationlistcopy" (click)="onOccupationSelection(occupation)">{{occupation.occupationName}}</ion-label>
  </div>


    <ion-item  [class.hide]="childMartial">
      <ion-label floating>Marital Status</ion-label>
    <!-- <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle> -->
    <ion-select [(ngModel)]="marriedStatus" name="marriedStatus"  interface="action-sheet" float-left>                            
       <ion-option value={{status.value}} (ionChange)="filledStatus(memberMarried)"  *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
    </ion-select>
    </ion-item>
    


    <ion-item [class.hide]="hideannualIncome">      
        <ion-label floating>Annual Income</ion-label>
        <ion-input number-only maxlength="7" type="tel"  [(ngModel)]="annualincome" name="annualincome"></ion-input>
        <br><br>
    </ion-item>  
    
  </ion-list>
  
 
  <!-- <ion-row class="sumInsuredSlide">
    
     
    <ion-label floating>Annual Income</ion-label>
    <ion-segment [(ngModel)]="familySlide">
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹1-3Lac <div class="button-effect"></div>
      </ion-segment-button>
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹3-5Lac <div class="button-effect"></div>
      </ion-segment-button>
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹5-8Lac <div class="button-effect"></div>
      </ion-segment-button>
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹8-11Lac <div class="button-effect"></div>
      </ion-segment-button>
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹8-11Lac <div class="button-effect"></div>
      </ion-segment-button>
      <ion-segment-button class="segment-button" role="button" tappable="" aria-pressed="false">₹8-11Lac <div class="button-effect"></div>
      </ion-segment-button>
    </ion-segment>
  </ion-row> -->
  <ion-row class="saveBtns" >
    <div class="saveBt" (click)="saveMemberDetails();"><button ion-button>Save</button></div>
  </ion-row>
  <!-- <ion-row class="saveBtns" *ngIf="addMember">
    <div class="w50" (click)="saveMemberDetails(2,0);"><button ion-button>Save</button></div>
    <div class="w50" (click)="saveMemberDetails(2,1);"><button ion-button>Save and Add</button></div>
  </ion-row> -->
</div>
</form>
