page-quickqoute {
  
  .filterList{
    max-height:200px;
    overflow: auto;
    ion-label{
      margin:0;
      padding:10px;
      &:nth-child(odd){
        background:#f9f9f9;
      }
      &:nth-child(even){
        background:#f1f1f1;
      }
      
    }
  }
  // .backBt {
  //   display: none;
  // }
  .saveBt{
    border-top: 0!important;
    }
   .formList ion-item {
      
      color: #6f7072!important;
  }
    .saveBtns{
    position: relative!important;
    margin-left: 0!important;
    margin-right: 0!important; 
    }
    .saveBtns button{
    border: 1px solid #eee!important;
    }
  .datetimeIcon {
    background: url(../assets/imgs/personal/dateIcon.png) no-repeat right 8px;
    margin: 0 !important;
  }

  .cardmWrap {
    p {
      font-size: 14px;
      color: #fff;
      font-weight: normal;
      padding: 10px 0 15px;
      margin: 0;
    }
  }

  .quickCard {
    ion-card {
      .self {
        color: #656d78;

        &:after {
          background: #ede9f4;
        }
      }
    }
  }

  .qCardPopup {
    .formList {
      margin-bottom: 0;
    }
  }

  .sumInsuredSlide {
    margin-bottom: 4rem;

    .label {
      transition: unset;
      transform: unset;
      margin: 5px 8px 11px 0;
      color: #6f7072;
      font-size: 1.5rem;
    }

    .segment {
      .segment-button {
        color: #320c50;

        &:hover {
          &:not(.segment-activated) {
            background-color: #4d2a69;
            transition: 100ms all linear;
            color: #fff;
          }
        }
      }
    }
  }

  .formList {
    ion-item {
      .label {
        font-size: 1.4rem;
        color: #6f7072;
      }

      .select {
        background: url(../assets/imgs/personal/blueArrow.png) no-repeat right center;
      }
    }
  }

  .popClose {
    color: #6f7072;
    position: relative;
    top: -5px;
    font-size: 22px;
    opacity: 0.8;
    float: right;
    padding: 0;
  }

  .selfPopup {
    display: block;
    font-size: 1.4rem;
    color: #656d78;

    &:after {
      content: "";
      display: block;
      width: 23px;
      height: 2px;
      background: #ede9f4;
      position: relative;
      top: 5px;
    }
  }

  .genderSec {
    display: block;
    padding-top: 1.5rem;

    .gSec {
      display: inline-block;
      padding-right: 1.5rem;

      .genderIcon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: block;
        background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;

        &.maleSec {
          background-position: 6px -1083px;
        }

        &.femaleSec {
          background-position: 6px -1201px;
        }

      }

      .gender {
        color: #c6c6c6;
        font-size: 1.4rem;
        text-align: center;
        display: block;
        padding-top: 1rem;
      }


      &.active {
        .genderIcon {
          background-color: #4d2a69;

          &.maleSec {
            background-position: 6px -1026px;
          }

          &.femaleSec {
            background-position: 7px -1137px;
          }
        }

        .gender {
          color: #4d2a69;
        }
      }
    }
  }
  .cardView{
  	background: #f0dffd;
  	padding: 1.5rem;
  	h5{
  		color: #656d78;
  		font-size: 1.4rem;
  		&:after{
  			background:#d9c9f1;
  		}
  	}
  	p{
  		padding: 0 0 0.5rem 0; 
  		font-size: 1.2rem;
  		color: #656d78;
  	}
  	.deleteIcon{
  		color: #656d78;
  	}
  }

  .personalAccBg {
		background: #320c50;
		padding: 1rem 1.5rem;
	  
		h1 {
		  span {       
			color: #320c50;
			font-size: 1.4rem;
		  }
		}
	  
		.headerClose {
		  top: 17px;
		}
	  
	  }
}

.action-sheet-group-cancel,
.action-sheet-cancel {
  background: #f9f9f9 !important;
}


.aiRow{margin-bottom: 5rem!important;}

.my-class{
  background:transparent;
  color:#333;
  }

