// helvetica Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$helvetica-font-path: $font-path !default;

@font-face {
  font-family: "helvetica";
  font-style: normal;
  font-weight: 400;
  src: local("helvetica"), local("helvetica-Regular"), url("#{$helvetica-font-path}/HELVETIC.woff") format("woff"), url("#{$helvetica-font-path}/HELVETIC.") format("truetype"), url("#{$helvetica-font-path}/HELVETIC.svg") format("svg"), url("#{$helvetica-font-path}/HELVETIC.otf") format("otf"), url("#{$helvetica-font-path}/HELVETIC.eot") format("eot");
}
