<!--
  Generated template for the BuyPolicyReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
<h1><span>Health Insurance</span>Buy Health Policy</h1>
<!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
<button ion-button menuToggle end class="humburgerMenu">
        <i></i>
        <i></i>
        <i></i>
</button>
</ion-header>
<ion-content padding class="body-bg ">
<ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
<div class="whiteRow healthDeclration policyReview">
<div class="pros1">
<ion-row>
<h5>Review</h5>
<a href="#" class="reviewEdit" hidden>Edit</a>
</ion-row>

<div class="tabslinkRow">
<ion-segment [(ngModel)]="pet">
  <ion-segment-button value="Policy" (click) = "PolicyDetails();" [disabled]="disabledClick">
    Policy<br>Details
  </ion-segment-button>
  <ion-segment-button value="Contact" (click) = "ContactDetails();">
    Contact<br>Details
  </ion-segment-button>
  <ion-segment-button value="Insured" (click) = "InsuredDetails();" [disabled]="disabledClick">
    Insured<br>Details
  </ion-segment-button>
</ion-segment>
</div>
<div class="tabcontentsWrap">

<div class="policyDetails" [class.hide]="policyDetails">
  <ion-grid class="reviewgrids">
    <ion-row>
      <ion-col col-5 class="lft">Policy Type</ion-col>
      <ion-col col-7 class="rgt">{{policyType}}
      <!-- <a href="#" class="revEdit" (click)="onPolicyEditClick()">Edit</a> -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="lft">Policy Term</ion-col>
      <ion-col col-7 class="rgt">{{policyTerm}} years</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="lft">Premium</ion-col>
      <ion-col col-7 class="rgt"><strong>₹ {{ premium}} </strong><span class="sminfo">({{installment}} EMI payable for {{policyTerm}} years)</span></ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col col-6 class="lft">Voluntary deductible</ion-col>
      <ion-col col-6 class="rgt">5,00,000</ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col col-5 class="lft"><strong>Total Sum Insured</strong></ion-col>
      <ion-col col-7 class="rgt"><strong>₹ {{ totalSI}}</strong></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-5 class="lft">Members Covered</ion-col>
      <ion-col col-7 class="rgt"><span class="oneline" *ngFor="let mem of memberlist">{{mem.name}} </span></ion-col>
    </ion-row>
  </ion-grid>
  <!-- <div text-right><a href="#" class="revEdit">Edit</a></div> -->
</div>

 <div class="contactDetails" [class.hide]="!contactDetails">
    <a href="#" class="revEdit revEditTop1" (click)="onEditContactDetails()">Edit</a>
  <ion-grid class="reviewgrids">      
    <ion-row>
      <ion-col col-12 class="lft">Email Id</ion-col>
      <!-- <ion-col col-6 class="rgt">{{email}} <a href="#" class="revEdit">Edit</a></ion-col> -->
      <ion-col col-12 class="rgt"> <ion-input type="email" maxlength="50" placeholder="Email" [(ngModel)] = "memberDetails[0].proposerEmail" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}"></ion-input>
         <!-- <a href="#" class="revEdit" (click)="disableInput = disableInput ? false : true">Edit</a> -->
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="lft">Mobile Number</ion-col>
      <!-- <ion-col col-6 class="rgt">{{mobile}} <a href="#" class="revEdit">Edit</a></ion-col> -->
      <ion-col col-12 class="rgt">
         <ion-input type="tel" placeholder="Mobile" number-only maxlength="10" [(ngModel)] = "memberDetails[0].mobile" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}"></ion-input>
         <!-- <a href="#" class="revEdit" (click)="disableMobile = disableMobile ? false : true">Edit</a> -->
        </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12 class="lft">Current Address</ion-col>
      <!-- <ion-col col-6 class="rgt">{{address}} <a href="#" class="revEdit">Edit</a></ion-col> -->
      <ion-col col-12 class="rgt"> 
          <ion-textarea  maxlength="200"  [(ngModel)] = "memberDetails[0].address" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}" placeholder="Address"></ion-textarea> 
        <!-- <ion-input type="text" maxlength="150" placeholder="Address" [(ngModel)] = "memberDetails[0].address" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}"></ion-input> -->
         <!-- <a href="#" class="revEdit" (click)="disableAddress = disableAddress ? false : true">Edit</a> -->
        </ion-col>
    </ion-row>
  </ion-grid>
  <div> <button ion-button (click)= "saveContactData();" [class.hide] = "saveBtnHideShowContact">Save</button></div>
</div>

<div class="insuredDetails" [class.hide]="!insuredDetails">

 <div class="tabrp" *ngFor = "let member of memberDetails; let j = index">

    <div class="membersDiv">
    <h4 class="title"><span >{{member.titleProposer}}</span>{{member.proposerName}}</h4>
    <!-- <a href="#" class="revEdit revEditTop" (click)="onEditClick($event, j, member)">Edit</a> -->
      <ion-grid class="reviewgrids">
        <ion-row>
          <ion-col col-5 class="lft">Gender</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.genderText}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="gender" id="genderText" [(ngModel)]="member.genderText" disabled></ion-input>

            <!-- <a href="#" class="revEdit revEditTop" (click)="disableGender= disableGender? false : true">Edit</a> -->
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Date of Birth</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.age}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Date of Birth" [(ngModel)] = "member.age" disabled></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Smoking</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.smokingText}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Smoking" [(ngModel)] = "member.smokingText" disabled></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Height (in ft)</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.HeightText}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Height(ft)" [(ngModel)] = "member.HeightText" disabled></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
          </ion-col>

        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Weight (in kgs)</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.Weight}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Weight(kgs)" [(ngModel)] = "member.Weight" disabled></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Occupation</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.occupation}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Occupation" [(ngModel)] = "member.occupation" disabled="{{member.isDisabled}}"></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
          </ion-col>
        </ion-row>
        <ion-row [class.hide]= "!member.ProposerDetailsDivShow">
          <ion-col col-5 class="lft" >PAN</ion-col>
          <!--<ion-col col-7 class="rgt" >{{member.pan}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="PAN" maxLength = "10" [(ngModel)] = "member.pan" (ngModelChange)="member.pan = $event.toLocaleUpperCase();" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
          </ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-6 class="lft">Aadhaar details</ion-col>
          <ion-col col-6 class="rgt">1234 1234 1234</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-5 class="lft">Nominee</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.nominee}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Nominee" [(ngModel)] = "member.nominee" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Nominee Relation</ion-col>
          <!--<ion-col col-7 class="rgt">{{member.NomineeRelation}}</ion-col>-->
          <ion-col col-7 class="rgt"> <ion-input placeholder="Nominee Relation"  [(ngModel)] = "member.NomineeRelation" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
            <!-- <a href="#" class="revEdit">Edit</a> -->
            </ion-col>
        </ion-row>
      </ion-grid>
      <div> <button ion-button (click)="saveInsuredDetails(member);" [class.hide] = "!member.saveBtnHideShowInsured">Save</button></div>
      <ion-row class="border-dashed"></ion-row>
    </div>    
  </div>
  <!-- <div [class.hide]="saveandEmailHidShow" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
</div>



</div>
</div>
<!-- <div [class.hide]="hidebutton" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
<!-- <ion-row>
<div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>SAVE & EMAIL</button></div>
</ion-row>  -->
</div>
</ion-content>
<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> We have successfully sent the e-proposal! You can find it in your inbox immediately. </p>          
         
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt" (click)="OkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<ion-footer >
  <button ion-button class="commonBt" [class.hide]="!hidebutton" (click)="proceedNextTab();">Next</button>
  <button ion-button class="commonBt" [class.hide]="hidebutton" (click)="proceedVerifyPage();">Proceed</button>
</ion-footer>
