page-buy-policy-review {

    .tabslinkRow ion-segment .segment-button.segment-activated{
        color: #e9573d;
        border-bottom: 3px solid #e9573d;
    }
    .contactDetails{
        position: relative;
        margin-top:25px;
    }

    .revEdit{
                color:#e9573d;
                text-decoration: none;
                text-transform:inherit;
                    font-size: 0;
                    background: url(../assets/imgs/edit.png) 0 0 no-repeat;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-size: 100%;
            }
            .revEditTop{
                position:absolute;
                top:15px;
                right:0;
            }
            .revEditTop1{
                position:absolute;
                top:-20px;
                right:0;
            }
            .tabrp{
                position: relative;
            }
    
     .healthDeclration{
            padding:0;
            font-size:1.4rem;
            color:#6f7072;
            h5{
                font-size:1.5rem;
                color:#6f7072;
                padding:10px 0 0 0;
                margin:-7px 0 15px 0!important;
                font-weight:bold;
    
            }
    
            h4{
                font-size:1.8rem; 
                color:#333;
                padding:15px 0 0 0;
                span{
                    display: block;
                    font-size:1.2rem;
                    color:#6f7072;
                }
            }
            
            .grid{
                padding:0;
            }
            .col{
                padding:0;
            }
    
                .pros1{
                    padding:15px;
                 }
        }
    
        .policyReview{
            position: relative;
            .reviewEdit{
                position:absolute;
                right:15px;
                top:15px;
                color:#e9573d;
                font-size: 1.2rem;
                text-decoration: none;
                text-transform:uppercase;
            }
        }
    
    
    
    
    }
     
    .tabslinkRow{    
        margin:5px 0 15px 0;
        ion-segment{
            border-radius:0;
            .segment-button{
                line-height:15px;
                text-transform:none;
                font-size:1.4rem;
                color:#6f7072;
                border-radius:0;
                border:0;
                border-bottom:1px solid #eaeaea;
                height:40px;
                &:first-child{
                    text-align:left;
                }
                &:last-child{
                    text-align:right;
                }
                &.segment-activated{
                    border-radius:0;
                    background:none;
                    color:#e9573d;
                     border-bottom:3px solid #c01b17;
                }
            }
        } 
    
    }
    
    .reviewgrids{ 
        .row{
            margin:0 0 15px 0;
            color:#6f7072;
            .lft{
                font-size:1.2rem;
                color:#6f7072;
                opacity:0.8;
            }
            .rgt{
                font-size:1.4rem;
                color:#333;
                textarea{
                    height: 80px;
                }
                .revEdit{
                    float: right;
                    text-transform: inherit;
                    font-size: 0;
                    background: url(../assets/imgs/edit.png) 0 0 no-repeat;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background-size: 100%;
                }
                .input{
                    float:left;
                    width: 100%;
                }
                .editBrd{
                    border-bottom:1px solid #ccc;
                }
                .text-input{
                    width:100%;
                    margin:0;
                    &[disabled]{
                        opacity:0.8;
                    }
                    
                }
            }
            .sminfo{
                font-size:1.2rem;
                 color:#6f7072;
                 display: block;
            }
            strong{
                font-size:1.4rem;
            }
        }
        .oneline{
            display: block;
            padding:5px;
        }
    }
    
    .border-dashed{
        border-bottom:1px dashed #ccc;
        margin:10px -15px;
    
    }
    