<!--
  Generated template for the QuickqoutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="vectorBg">
  <button ion-button class="backBt" navPop></button>
  <h1>
    <span>Health Insurance</span>Buy Future Vector Care Policy</h1>
  <button ion-button menuToggle end class="humburgerMenu">
      <i></i>
      <i></i>
      <i></i>
</button>
</ion-header>
<ion-content padding class="body-bg">
  <div class="cardmWrap">
    <div class="maxYear">
      <span><sup>*</sup> Max adult age - 65yrs.</span>
      <span style="float:right; margin-right:0"><sup>**</sup> Max child age - 25yrs.</span>
    </div>
    <ion-row class="quickCard">

      <ion-card class="card" [ngClass]="getSumInsuredFor('SELF') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/self.png"></ion-thumbnail>
          <div class="self">Self<sup>*</sup></div>
          <span class="rupeeOff rFirst">₹ </span>
          <ion-list class="formList">
            <ion-item>                
              <ion-select [(ngModel)]="sInsured" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of selfsuminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('SELF', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('SELF') != '0'" (click)="deleteSection('SELF')"></ion-icon>
          <div class="cardView">
            <h5>Self </h5>
            <p>Male</p>
            <p>19-03-1988</p>
            <p>Accountant</p>
            <p>₹ 1 - 3 Lakh p.a</p>
            <ion-icon class="ion-ios-trash-outline deleteIcon"></ion-icon>
          </div>
      </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('SPOUSE') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/spouse.png"></ion-thumbnail>
          <div class="self">Spouse<sup>*</sup></div>
          <span class="rupeeOff rFirst">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured1" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('SPOUSE', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('SPOUSE') != '0' ? 'cardActive' : '' " (click)="deleteSection('SPOUSE')"></ion-icon>
      </ion-card>


      
      <ion-card class="card" [ngClass]="getSumInsuredFor('SON') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured2" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('SON', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('SON') != '0'" (click)="deleteSection('SON')"></ion-icon>
          <a href="#" class="addChild" (click)="showSonSection()" *ngIf="getSumInsuredFor('SON') != '0' && hideSonSection == true"> Add another son <span>+</span></a>
      </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('SON2') != '0' ? 'cardActive' : '' " *ngIf="hideSonSection == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured6" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('SON2', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('SON2') != '0'" (click)="deleteSection('SON2')"></ion-icon>
          <a href="#" class="addChild" (click)="showSon2Section()" *ngIf="getSumInsuredFor('SON2') != '0' && hideSon2Section == true"> Add another son <span>+</span></a>
        </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('SON3') != '0' ? 'cardActive' : '' " *ngIf="hideSon2Section == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured8" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('SON3', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('SON3') != '0'" (click)="deleteSection('SON3')"></ion-icon>
      </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('DAUGHTER') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured3" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('DAUGHTER', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('DAUGHTER') != '0'" (click)="deleteSection('DAUGHTER')"></ion-icon>
          <a href="#" class="addChild" (click)="showDaughterSection()" *ngIf="getSumInsuredFor('DAUGHTER') != '0' && hideDaughterSection == true"> Add another daughter <span>+</span></a>
      </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('DAUGHTER2') != '0' ? 'cardActive' : '' " *ngIf="hideDaughterSection == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured7" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('DAUGHTER2', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('DAUGHTER2') != '0' " (click)="deleteSection('DAUGHTER2')"></ion-icon>
          <a href="#" class="addChild" (click)="showDaughter2Section()" *ngIf="getSumInsuredFor('DAUGHTER2') != '0' && hideDaughter2Section == true"> Add another daughter <span>+</span></a>
        </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('DAUGHTER3') != '0' ? 'cardActive' : '' " *ngIf="hideDaughter2Section == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured9" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('DAUGHTER3', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('DAUGHTER3') != '0'" (click)="deleteSection('DAUGHTER3')"></ion-icon>
      </ion-card>




      <ion-card class="card" [ngClass]="getSumInsuredFor('FATHER') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/father.png"></ion-thumbnail>
          <div class="self">Father<sup>*</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured4" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('FATHER', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('FATHER') != '0' ? 'cardActive' : '' " (click)="deleteSection('FATHER')"></ion-icon>
      </ion-card>
      <ion-card class="card" [ngClass]="getSumInsuredFor('MOTHER') != '0' ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/mother.png"></ion-thumbnail>
          <div class="self">Mother<sup>*</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured5" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="updateMembersArray('MOTHER', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="getSumInsuredFor('MOTHER') != '0' ? 'cardActive' : ''" (click)="deleteSection('MOTHER')"></ion-icon>
      </ion-card>
    
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <div class="policyAmt" *ngIf="totalpremium > 0">
    <ul>
      <li [ngClass]="{'activePolicy': totalpremium > 0 && premium1Active == true}" (click)="listClick(totalpremium)">
        <h4>1 Year Policy</h4>
        <span class="currentPrice">₹ {{totalpremium}}</span>
      </li>
      <li [ngClass]="{'activePolicy': totalpremium2 > 0 && premium2Active == true}" (click)="listClick(totalpremium2)">
        <h4>2 Year Policy</h4>
        <!-- <span>₹ {{totalpremium2}}</span> -->

        <span class="currentPrice">₹ {{totalpremium2}}</span>
        <span class="oldPrice">₹ {{(totalpremium*2)}}</span>
        <span class="offerPrice">(5% off)</span>
      </li>
      <li [ngClass]="{'activePolicy': totalpremium3 > 0 && premium3Active == true}" (click)="listClick(totalpremium3)">
        <h4>3 Year Policy</h4>
        <!-- <span>₹ {{totalpremium3}}</span> -->

        <span class="currentPrice">₹ {{totalpremium3}}</span>
        <span class="oldPrice">₹ {{(totalpremium*3)}}</span>
        <span class="offerPrice">(7.5% off)</span>

      </li>
    </ul>
  </div>
  <div class="twoBtns" *ngIf="totalpremium > 0 && (premium1Active == true || premium2Active == true || premium3Active == true)">
    <div class="cardBt" (click)="premiumClick()">Premium Breakup</div>
    <div class="cardBt cardBtR" (click)="navigateToNextPage()" > Buy Policy </div>
  </div>

 <!-- <button (click)="navigateToNextPage()" ion-button class="commonBt" *ngIf="totalpremium > 0 && (premium1Active == true || premium2Active == true || premium3Active == true)">Proceed</button> -->
</ion-footer>
<div class="trans" [class.hide]="showTransBaground"></div>
<div class="premiumkPopup animated fadeInUp" [class.hide]="showPopup">
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <ion-grid>
    <ion-row class="head">
      <ion-col col-9>Premium Breakup</ion-col>
      
    </ion-row>
  </ion-grid>
  <div class="tabcontentsWrap" [ngSwitch]="premPet">
    <div *ngSwitchCase="'summary'">
      <div class="smlistDiv">
        <ion-grid class="sumeryList ">
            <ion-row class="popTlt">
              <ion-col col-6></ion-col>
              <ion-col col-3>SI</ion-col>
              <ion-col col-3 text-right>Premium</ion-col>
            </ion-row>
        </ion-grid>    
        <ion-grid class="sumeryList">
            <ion-row *ngFor="let memberpremium of membersPremiumList">
              <ion-col col-6>{{memberpremium.Relation}}</ion-col>
              <ion-col col-3>₹ {{memberpremium.SumInsured}}</ion-col>
              <ion-col col-3 text-right>₹ {{memberpremium.Premium}}</ion-col>
            </ion-row>
            <!-- <ion-row>
                <ion-col col-8>Base Premium</ion-col>
                <ion-col col-4 text-right>₹ {{selectedPremium.netPremium}}</ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col col-8>Total Premium</ion-col>
              <ion-col col-4 text-right>₹ {{nettotalpremium}}</ion-col> 
            </ion-row>
            <ion-row>
              <ion-col col-8>Long Term Discount</ion-col>
              <ion-col col-4 text-right>₹ {{discountedValue}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-8>GST</ion-col>
              <ion-col col-4 text-right>₹ {{selectedPremium.gstPremium}}</ion-col> 
            </ion-row>
            <ion-row>
              <ion-col col-8>Direct Discount</ion-col>
              <ion-col col-4 text-right>₹ {{directDiscount}}</ion-col> 
            </ion-row>
            <ion-row class="tlt">
              <ion-col col-8>Premium Amount with GST</ion-col>
              <ion-col col-4 text-right class="amnt">₹ {{selectedPremium.totalpremiumwithtax}}</ion-col>
            </ion-row>
            <ion-footer class="twoBtns">
                    <div class="cardBt" (click)="hidePopup()">Got It</div> 
                    <div class="cardBt cardBtR" (click)="navigateToNextPage()" >Buy Policy</div>
            </ion-footer>
          </ion-grid>
      </div>
    </div>
  </div>
</div>
<div class="trans"  [class.hide]="!buyPopup"></div>
<div class="commonPopup otpPopup" [class.hide]="!buyPopup">
    <ion-icon name="close" (click)="closeModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
    <div class="popupInner otpPopupContent " text-center>
      <h5>Basic Details</h5>
        <ion-list class="formList">
          <form>
            <ion-item>
              <ion-label floating>Proposer Name</ion-label>
              <ion-input #input type="text" char-only autocapitalize="words" value="" autocomplete="off" maxlength="50" name="sss" [(ngModel)]="NameOfEmailsmsProposer"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating>Email Id</ion-label>
                <ion-input #emailfocus type="email" maxlength="50" autocomplete="off" value="" name="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Mobile Number</ion-label> 
                <ion-input #mobilefocus type="tel" number-only name="sms" value="" autocomplete="off" maxlength="10" [(ngModel)]="mobile"></ion-input>
                </ion-item>  
              </form>                
          </ion-list>
          <div class="btwrap">
            <div class="col1">
              <button ion-button class="sendmailBt " (click)="sendEMailSMS();" block>SEND QUOTE</button>
            </div>
            <div class="col2">
              <button ion-button class="sendmailBt sendOrng" (click)="proceedMemberDetailsPage();" block>PROCEED</button>
            </div>
            <!-- <div class="col3">
              <button ion-button class="sendmailBt" (click)="onSaveAndEmail();" block style="align-items:center;">Verify proposal and make payment</button>
            </div> -->
    </div>
    <p [class.hide]="successLabel">Thank You for selecting. We have sent the quote to your phone number</p>
</div>
</div>

<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> We have successfully sent the e-proposal! You can find it in your inbox immediately. </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
  <div class="popupInner otpPopupContent " text-center>       
      
          <p> {{message}} </p>            
       
        <div class="btwrap">                
          <div class="col11">
            <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();">OK</button>
          </div>
  </div>        
</div>
</div>
<!-- <div class="qCardPopup policycardPopup animated fadeInUp" [class.hide]="bDetailsPop">
  <ion-icon name="close" (click)="bDetailsHide()" class="popClose ion-ios-close-outline"></ion-icon>
   <ion-grid>
    <ion-row class="head">
      <ion-col col-9>Basic Details</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="formList">
    <ion-item>
      <ion-label floating>Proposer Name</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email Id</ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Mobile</ion-label>
      <ion-input ></ion-input>
    </ion-item>
  </ion-list>
    <div class="twoBtns">
    <div class="cardBt">Send Quote</div>
    <div class="cardBt cardBtR"> Proceed </div>
  </div>
  <button ion-button class="commonBt">Verify Proposal & make payment</button>
</div> -->