page-view-profile {
    .imgBox{
        width:40px;
        height: 40px;
        display: inline-block;
        img{
            width:100%;
        }
    }
    .bannerImg{ 
       margin:-16px -16px 0 -16px;
       position: relative;
        img{
            width: 100%;
            vertical-align: top;
        }
        .profileBox{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
           
            .profileCont{
                width:42px;
                height: 40px;
                border-radius:50%;
                border:1px solid #fff; display: inline-block;
            }
            span{
                display: block;
                font-size:14px;
                line-height: 18px;
                color:#fff;
                padding-top: 12px;
                font-weight: normal;
            }
        }
    }
    .profileContent{
        padding:30px 10px 16px 10px;
        //padding: 16px 10px;
        .profRow{
            margin-bottom:20px;
        
            h6{
                color:#6f7072;
                font-size: 13px;
                line-height: 16px;
                margin-bottom: 3px;

            }
            span{
                color:#333333;
                font-size:14px;
                line-height: 18px;
                letter-spacing: 1.5px;

            }
        }
        .quoteBtn{
            //width: 90%;
            width: 100%;
            max-width: 208px;
            margin: 0 auto;
            padding-top: 3rem;
           
            @media only screen and (max-width: 320px) {
                padding-top: 2.5rem;
            }
            
            .button{    
                font-size: 1.4rem;
                background: none;
                border: 1px solid #e9573d;
                color: #e9573d;
                // .button-inner{
                //     justify-content: flex-start;
                // }
            }
            .arrowCrimson{
                background:url("../assets/imgs/crimsonArrow.png") 0 0 no-repeat;
            }
    
        }
    
    }
}
