<!--
  Generated template for the ViewProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>My Profile</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button>
</ion-header>
<ion-content padding>
  <div class="bannerImg">
     <img src="assets/imgs/viewProfileBanner.jpg" alt=""> 
     <div class="profileBox">
       <div class="imgBox"><img src="assets/imgs/profAddp.png" alt=""></div>
       
        <!-- <div class="profileCont"><img src="assets/imgs/profImg.png" alt=""></div>  -->
       <span>Hi {{imdName}}</span>

      </div>
     </div>
     <div class="profileContent">
        <div class="profRow"><h6>IMD Code</h6><span>{{imdCode}}</span></div>
        <div class="profRow"><h6>IMD Name</h6><span>{{imdName}}</span></div>
        <div class="profRow"><h6>Mobile number</h6><span>{{mobile}}</span></div>
        <div class="profRow"><h6>Email ID</h6><span>{{email}}</span></div>
        <div class="profRow"><h6>Branch address</h6><span>{{branchAddress}}</span></div>
        <div class="profRow"><h6>PAN Number</h6><span>{{panNumber}}</span></div>
        <div class="quoteBtn">
            <button ion-button icon-end (click)="changePassword();" class="commonBt">
            change password
             
            </button>
          </div>
     </div>

 
</ion-content>
