<!--
  Generated template for the PremiumlistviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
</ion-header>
<ion-content padding class="body-bg">
  <div class="whiteRow">
    <div class="tabsWrapper">
      <div class="tabsRow">
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="OneTime" (click)="getOneTimeCaculation();" class="segment-button segment-activated">
            One-Time
          </ion-segment-button>
          <ion-segment-button value="Monthly" (click)="getMonthlyCaculation();">
            Monthly
          </ion-segment-button>
          <ion-segment-button value="Quarterly" (click)="getQuarterlyCaculation();">
            Quarterly
          </ion-segment-button>
          <ion-segment-button value="HalfYearly" (click)="getHalfYearlyCaculation();">
            Half-Yearly
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="tabcontentsWrap" [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">1 Year <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeOneNew}}</span>
                  <!-- <span class="oldPrice">₹{{oneTimeOneOld}}</span>
                  <span class="offamnt">({{discountOneTimeOne}}% off)</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeTwoNew}}</span>
                  <span class="oldPrice">(₹{{ActualAmountoneTimeTwoNew}})</span>
                  <span class="offamnt">(5% off)</span>
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeThreeNew}}</span>
                  <span class="oldPrice">(₹{{ActualAmountoneTimeThreeNew}})</span>
                  <span class="offamnt">(10% off)</span>
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                 <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                 <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Monthly'" class="offercardList">       
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{monthlyTwoNew}}</span>
                  <!-- <span class="oldPrice">₹{{monthlyTwoOld}}</span>
                  <span class="offamnt">{{discountmonthlyTwo}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                 <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                 <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{monthlyThreeNew}}</span>
                  <!-- <span class="oldPrice">₹{{monthlyThreeOld}}</span>
                  <span class="offamnt">{{discountmonthlyThree}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                 <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                 <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Quarterly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{quarterlyTwoNew}}</span>
                  <!-- <span class="oldPrice">₹{{quarterlyTwoOld}}</span>
                  <span class="offamnt">{{discountquarterlyTwo}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{quarterlyThreeNew}}</span>
                  <!-- <span class="oldPrice">₹{{quarterlyThreeOld}}</span>
                  <span class="offamnt">{{discountquarterlyThree}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                 <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                 <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{halfyearlyTwoNew}}</span>
                  <!-- <span class="oldPrice">₹{{halfyearlyTwoOld}}</span>
                  <span class="offamnt">{{discounthalfyearlyTwo}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{halfyearlyThreeNew}}</span>
                  <!-- <span class="oldPrice">₹{{halfyearlyThreeOld}}</span>
                  <span class="offamnt">{{discounthalfyearlyThree}}% off</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <!-- <div class="cardBt" (click)="premiumClick();">Premium Breakup</div> -->
                <div class="cardBt cardBtR">Proceed</div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
<div class="trans" [class.hide]="showTransBaground"></div>
<div class="premiumkPopup animated fadeInUp" [class.hide]="showPopup">
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <ion-grid>
    <ion-row class="head">
      <ion-col col-9>Premium Breakup</ion-col>
      
    </ion-row>
  </ion-grid>
  <div class="premheadSec">
    <div class="user-Type">
      <ion-segment [(ngModel)]="premPet">
        <ion-segment-button value="summary" class="segment-button segment-activated">
          Summary
        </ion-segment-button>
        <ion-segment-button value="indivisual">
          Individual Breakup
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  <div class="tabcontentsWrap" [ngSwitch]="premPet">
    <div *ngSwitchCase="'summary'">
      <!--<ion-row class="dtbrdd">
        <ion-col col-12>Total premium for 2 members <strong>₹ 14,500</strong></ion-col>
      </ion-row>-->
      <ion-grid>
          <ion-row class="tltPrem">
            <ion-col col-12><h5>Members</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>Self</ion-col>
            <ion-col col-4 text-right>₹ 2514</ion-col>
          </ion-row>
         <!--  <ion-row>
            <ion-col col-8>Deductible Disc (Family)</ion-col>
            <ion-col col-4 text-right>5%</ion-col>
          </ion-row> -->
          <ion-row>
            <ion-col col-8>Spouse</ion-col>
            <ion-col col-4 text-right>₹ 2514</ion-col> 
          </ion-row>
          <ion-row class="tlt">
            <ion-col col-8>Total</ion-col>
            <ion-col col-4 text-right class="amnt">₹1514</ion-col>
          </ion-row>
         
        </ion-grid>
      <ion-grid>
        <ion-row class="tltPrem">
          <ion-col col-12><h5>Total Premium</h5>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Premium</ion-col>
          <ion-col col-4 text-right>₹ 2514</ion-col>
        </ion-row>
       <!--  <ion-row>
          <ion-col col-8>Deductible Disc (Family)</ion-col>
          <ion-col col-4 text-right>5%</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-8>Discount</ion-col>
          <ion-col col-4 text-right>0%</ion-col> 
        </ion-row>
        <ion-row class="tlt">
          <ion-col col-8>Total</ion-col>
          <ion-col col-4 text-right class="amnt">₹1514</ion-col>
        </ion-row>
        <!-- <ion-row>
          <ion-col col-8>Long Term Discount</ion-col>
          <ion-col col-4 text-right>₹ 1514</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Premium without Service Tax</ion-col>
          <ion-col col-4 text-right>₹ 1514</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Installment Loading</ion-col>
          <ion-col col-4 text-right>0%</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Premium with Loading</ion-col>
          <ion-col col-4 text-right>₹1514</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Total Installment</ion-col>
          <ion-col col-4 text-right>1</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Premium/EMI Amount </ion-col>
          <ion-col col-4 text-right>₹1514</ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col col-8>GST</ion-col>
          <ion-col col-4 text-right> ₹18</ion-col>
        </ion-row>
        <ion-row class="tlt">
          <ion-col col-8>Total Premium with GST</ion-col>
          <ion-col col-4 text-right class="amnt">₹5514</ion-col>
        </ion-row>
        <!--<ion-row class="dtbrdd">
          <ion-col col-12>Total premium for 2 members <strong>₹ 14,500</strong></ion-col>
        </ion-row>-->
        <ion-footer class="cardFooter popupFooterc">
                <div class="cardBt" (click)="premiumClick();">Total premium for 2 members <strong>₹ 14,500</strong></div> 
                <div class="cardBt cardBtR">Got It</div>
        </ion-footer>
        <!--<ion-row class="gotitBtn"> 
          <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
        </ion-row>-->
      </ion-grid>
    </div>
    <div *ngSwitchCase="'indivisual'">
      <ion-segment [(ngModel)]="familytab" class="premiumtsgtab">
        <ion-segment-button value="self" class="segment-button segment-activated">
          Self
        </ion-segment-button>
        <ion-segment-button value="spouse">
          Spouse
        </ion-segment-button>
        <ion-segment-button value="son">
          Son
        </ion-segment-button>
        <ion-segment-button value="daughter">
          Daughter
        </ion-segment-button>
      </ion-segment>
      <ion-grid>
        <ion-row class="tltPrem">
          
          <ion-col col-6 class="coverTitle"><h5>Covers</h5>
          </ion-col>
          <ion-col col-3 class="headBorder"><h3>Sum <br>Insured</h3>
          </ion-col>
          <ion-col col-3 class="headBorder"><h3 class="hPremium">Premium</h3>
          </ion-col>
        </ion-row>
        <ion-row class="tabc">
          <ion-col col-6>Primary cover(A)</ion-col>
          <ion-col col-3  class="fontNormal">₹50,000</ion-col>
          <ion-col col-3 text-right>₹2,514</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Accidental death</ion-col>
          <ion-col col-3 >₹20,00,000</ion-col>
          <ion-col col-3 text-right>₹1500</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Permanent partial disability</ion-col>
          <ion-col col-3 >₹20,00,000</ion-col>
          <ion-col col-3 text-right>₹500</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Permanent total disability</ion-col>
          <ion-col col-3 >₹10,00,000</ion-col>
          <ion-col col-3 text-right>₹514</ion-col>
        </ion-row>
        <ion-row class="tabc">
          <ion-col col-8>Additional cover(B)</ion-col>
          <ion-col col-4 text-right>₹1,514</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>Repatriation & funeral expenses included</ion-col>
          <ion-col col-4 text-right>₹1,514</ion-col>
        </ion-row>
        <!-- <ion-row class="tabc">
          <ion-col col-8>Taxes - (C)</ion-col>
          <ion-col col-4 text-right>₹580</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-8>GST</ion-col>
          <ion-col col-4 text-right>₹580</ion-col>
        </ion-row> -->
        <ion-row class="tlt tabc">
          <ion-col col-8>Total (A+B)</ion-col>
          <ion-col col-4 text-right class="amnt">₹5,514</ion-col>
        </ion-row>
        <ion-row class="gotitBtn">
          <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</div>
