page-t-buy-page-result {
  .tabsRow {
    ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }

      ion-segment-button.segment-button {
        display: inline-block;
        min-width: 100px;
        width: auto;
      }
    }
  }

  .supremToggle {
    .toggleBt {
      display: inline-block;
      vertical-align: top;
    }
    ion-label {
      display: inline-block;
      margin:4px 0 0 0;
      color:#6f7072;
      font-weight: bold;
    }
  }
  .whiteRow{
    .iconToggle{
    padding:10px 0 15px 0;
  }
  }

  .premiumkPopup{
    padding: 0 0 10px 0;
  }
  
}
