page-premiumcalci {
   
  .numeriStepper{
    display:inline-block;
    border-bottom: 1px solid #ccc;
    width: 70%;
    numeric-stepper{
      display: inline-block;
      width: 130px;
    }
    .text-input{
      display:inline-block;
      margin:0!important;
      font-size: 16px;
    }
  }
  ion-label{
    white-space: normal;
  }
  .whiteRow {
    padding: 0;
  }

  .totalPremium {
    font-size: 1.2rem;
    color: #6f7072;

    strong {
      color: #000;
    }
  }

  .premBreakup {
    float: right;
    color: #e9573d;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 28px;
  }

  .tabsWrapper {
    padding: 1rem;
    // border-top: 1px dashed #b7b7b8;
  }

  .segment {
    .segment-button {
      border-bottom-width: 3px;
      color: #6f7072;
      text-transform: capitalize;
      font-size: 1.4rem;
      border-left-width: 0;
      border-top-width: 0;
      border-right-width: 0;
      border-color: #eaeaea;


      &.segment-activated {
        color: #4d2a69;
        border-color: #4d2a69;
        background-color: #fff;
      }
    }
  }

  .qCardPopup {
    padding: 0;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);

    h5 {
      margin: 0;
      color: #6f7072;
      font-size: 1.4rem;
      font-weight: bold;
      padding: 15px;
      border: 1px solid #ccc;
    }

    .checkBox {
      padding: 0 1.5rem 1.5rem 1.5rem;
    }

    .getQuoteBt {
      background: #e9573d;
      width: 100%;
      padding: 15px 0;
      color: #fff;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 1.4rem;
      border-radius: 10px;
    }
  }

  .segment-ios .segment-button:last-of-type,
  .segment-ios .segment-button:first-of-type {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
    border-left-width: 0;
  }
}

.selfBox {
  padding-top: 2rem;

  h2 {
    font-size: 1.4rem;
    color: #6f7072;
    font-weight: bold;
    margin: 0;
    padding-bottom: 1.5rem;
  }
}

.stepperSec {
  h3 {
    font-size: 1.4rem;
    color: #6f7072;
    margin: 0;
    padding-bottom: 1.5rem;
    display: inline-block;
    span{
      &.chckboxImg{
        display: inline-block;
    vertical-align: middle;
    padding-right: 10px;

      }
    }
  }
  .checkBox{
    margin-top:10px;
  }

  .incrementBox {
    &.ibExpand{
      padding-left: 4rem;
    }
    &.bigText{
      .inputbox{
        width: 65%;
      }
    }
    a {
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #4d2a69;
      width: 20px;
      height: 20px;
      text-align: center;
      border-radius: 100%;
      line-height: 14px;
      color: #4d2a69;

      &.disabled {
        border: 1px solid #b0b0b0;
        color: #b0b0b0;
      }
    }

    .inputbox {
      display: inline-block;
      border-bottom: 1px solid #d4d4d4;
      width: 100%;
      padding: 0 1rem 0.5rem 1rem;

      span {
        display: inline-block;
        width: auto;
        width: 5%;
        padding-right: 1rem;
        position: relative;
        top:3px;
      }

      .item {
        display: inline-block;
        width: 87%;
        overflow: inherit;
        padding: 0;
        min-height: auto;

        .item-inner {
          border-bottom: none;
          padding-right: 0;

          .text-input {
            margin: 0;
          }
        }
      }
    }
  }
}

.addiCoverBox {
  border-top: 1px solid #b7b7b8;
  margin-top: 2rem;
  position: relative;
  padding-bottom: 5rem;
  .incrementBox {     
    .inputbox{
      display:flex; 
      &.mrg-tp{
        margin-top:15px;
        .list{
          margin:0;
        }
      }    
    }
    .coverAmt{
      position: absolute;
      top:95px;
      right:5px;
    }
    
  }
  h2 {
    margin: 0;
    padding: 2rem 0 1rem 0;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    color: #6f7072;
    display: inline-block;
    span{
      display: inline-block;
      vertical-align: middle;
      padding-top: 5px;
      &.chckboxImg{
        display: inline-block; 
    vertical-align: middle;
    padding-right: 10px;

      }
    }
  }

  .lisRow{
    margin:10px 0 ;
  }

  .addLink {
    position: absolute;
    right: 0;
    bottom: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: #6f7072;
    background: #fff;

    span {
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #4d2a69;
      width: 18px;
      height: 18px;
      text-align: center;
      border-radius: 100%;
      line-height: 13px;
      color: #4d2a69;
    }
  }

  .grid {
    padding: 0;

    [col-8] {
      padding: 0;
    }
  }

  .allowance {
    margin-bottom:5px;
    h5 {
      font-size: 1.4rem;
      color: #6f7072;
      padding-top: 2rem;
    }
    
  }

  .premiumAmt {
    display: inline-block;
    float: right;
    padding-top: 1.2rem;
    text-align: right;
    margin-top:30px;

    span {
      color: #6f7072;
      font-size: 12px;
      display: block;
    }

    strong {
      text-align: right;
      font-size: 12px;
    }

    .deleteIcon {
      display: block;
      text-align: right;
      font-size:22px;

      &:before {
        color: #d6d6d7;
      }
    }
  }
}

.disabilityBox {
  padding-left: 4rem;

  .incrementBox {
    display: inline-block;
    width: 70%;
    .numeriStepper{
      width: 100%;
    }
  }

  .coverAmt {
    float: right;
    display: inline-block;
    margin-top:4px;

    strong {
      display: block;
      font-size: 1.2rem;
    }

    span {
      display: block;
      font-size: 1.2rem;
      color: #6f7072;
    }
  }
}

.checkBox {
  margin: 0;

  .item {
    padding: 0;
    margin: 0;
    border: 0 !important;

    ion-label {
      color: #6f7072;
    }

    &.item-checkbox-checked {

      .checkbox {
        .checkbox-icon {
          background: #fff;
        }
      }

    }

    .item-inner {
      border: 0;
    }

    .checkbox {
      margin: 0 12px 0 0;

      .checkbox-icon {
        background: #fff;
        border: 0;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        border: 2px solid #f0f0f1;
      }

      .checkbox-inner {
        left: 6px;
    top: 1px;
    border-color: #ea624a;
    height: 11px;

      }
    }

    ion-label {
      font-size: 1.4rem;
    }
  }
  .genderSec {
    display: block;
    // padding-top: 1.5rem;

    .gSec {
      display: inline-block;
      padding-right: 1.5rem;

      .genderIcon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: block;
        background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;

        &.maleSec {
          background-position: 6px -1083px;
        }

        &.femaleSec {
          background-position: 6px -1201px;
        }

      }

      .gender {
        color: #c6c6c6;
        font-size: 1.4rem;
        text-align: center;
        display: block;
        padding-top: 1rem;
      }


      &.active {
        .genderIcon {
          background-color: #4d2a69;

          &.maleSec {
            background-position: 6px -1026px;
          }

          &.femaleSec {
            background-position: 7px -1137px;
          }
        }

        .gender {
          color: #4d2a69;
        }
      }
    }
  }
   .toggleBt{
        padding: 3px 2px !important;
    position: relative;
    width: 36px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    float: right;
    .toggle-icon{
        background:#d4d4d4;
        &:before{
            display: none;
        }
    }
    .toggle-inner{
        background:#bbbbbb;
        position: relative; 
        left:0;  
        top: -3px;
        width: 20px;
        height: 20px;
        box-shadow: none;
        -webkit-box-shadow:none;
    }
    &.toggle-checked{
        .toggle-icon{
        background:#d4d4d4;
        }
        .toggle-inner{
          background: #4d2a69;
            // background:#8cc152;
            -webkit-transform: translate3d(18px, 0, 0);
        transform: translate3d(16px, 0, 0);
        }
    }
}
.toggleAlign{

    display: inline-block;
   
    padding: 5px 2px !important;
    
    vertical-align: top;

}
.tRight{
  text-align: right;
}
.loginToggle{
  p{
    display: inline-block;
  }
}

}
.coverAmt {   
    float: right;
    display: inline-block;
    margin-top:6px;

    strong {
      display: block;
      font-size: 1.2rem;
    }

    span {
      display: block;
      font-size: 1.2rem;
      color: #6f7072;
    }
  }

  page-premiumlistview .gotitBtn{
    margin-bottom: 10px;
  }

  .addCoverScroll{
    overflow-y: scroll;
    height: 330px;
  }
  .bigGrid{
    .stepperSec {
      .incrementBox{
        .inputbox{
          width: 115%;
        }
      } 
    }
  }