<!--
  Generated template for the GenOtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>Forgot Password</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <!-- <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button> -->
</ion-header>

<ion-content class="background-image">
    <div class="bannerImg">
      <img src="assets/imgs/fgli_login_banner.jpg" alt="">
    </div>
   
      <!-- <div class="userType">
        <ion-segment class="loginType" color="light" [(ngModel)]="userType" (ionChange)="ontbChange($event)">
          <ion-segment-button value="Partners">
            Partner
          </ion-segment-button>
          <ion-segment-button value="Employees">
            Employee
          </ion-segment-button>
        </ion-segment>
      </div> -->
  
    <div class="inputSection formList">
      <h3 class="chngPwd">Enter OTP sent to registered <br> 
          Mobile no. {{firstThree}}****{{lastThree}}</h3>
          <h3 class="chngPwd1">Enter your OTP</h3>
          <ion-segment class="loginType">
              <ion-segment-button >
                <ion-input type="password"
                [(ngModel)]="otpOne" 
                placeholder="" 
                maxlength="1" 
                #passcode1
                (keyup)="onKeyUp($event,1)">
     </ion-input>              
    </ion-segment-button>
              <ion-segment-button >
                <ion-input type="password" 
                [(ngModel)]="otpTwo" 
                placeholder="" 
                maxlength="1" 
                #passcode2
                (keyup)="onKeyUp($event,2)">
     </ion-input>              </ion-segment-button>
              <ion-segment-button >
                <ion-input type="password" 
                [(ngModel)]="otpThree" 
                placeholder="" 
                maxlength="1" 
                #passcode3
                (keyup)="onKeyUp($event,3)">
     </ion-input>              </ion-segment-button>
              <ion-segment-button >
                <ion-input type="password" 
                [(ngModel)]="otpFour"
                placeholder="" 
                maxlength="1" 
                #passcode4
                (keyup)="onKeyUp($event,4)">
     </ion-input>              </ion-segment-button>
            </ion-segment>
      <!-- <div class="newPwd">
        <ion-item class="bgTrans">
          <ion-label floating id="loginType">New Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <div class="loginIcons">
          <ion-img class="bgTrans" [src]="'assets/imgs/showPasswd.png'" style="min-width:15px;"></ion-img>
        </div>
      </div> -->
      <!-- <div>
          <ion-item class="bgTrans">
            <ion-label floating id="loginType">Re-enter New Password</ion-label>
            <ion-input ></ion-input>
          </ion-item>
          <div class="loginIcons">
            <ion-img class="bgTrans" [src]="'assets/imgs/showPasswd.png'" style="min-width:15px;"></ion-img>
          </div>
      </div> -->
    </div>
    <div class="loginBtnPadding">
      <!-- <div class="loginToggle">
        <ion-toggle [(ngModel)]="keepSignedIn"  #toggleInput  class="toggleBt"></ion-toggle>
        <ion-label>Remember Me</ion-label>
      </div> -->
      <div class="loginBtn">
        <button ion-button  class="commonBt" (click)="verifyOtp();">
        verify otp
          <!-- <ion-icon class="arrowForward"></ion-icon> -->
        </button>
        <a href="#" class="resendOtp" (click) = "resendOTP();">Resend OTP</a>
      </div>
    </div>
    <!-- <div class="quoteBtn">
      <button ion-button icon-end (click)="quickquote()" class="commonBt">
        Skip to get a quick quote  
       <ion-icon class="arrowForward arrowCrimson"></ion-icon>
      </button>
    </div>
    <ion-img class="bgTrans logo" [src]="'assets/imgs/FGI_Logo.png'"></ion-img> -->
  
    <!-- <div class="trans" [class.hide]="AgentCodePopup"></div>
    <div class="commonPopup otpPopup agentdPopup" [class.hide]="AgentCodePopup">
        <ion-icon name="close" (click)="closeAgentCodePop();" class="popupClose ion-ios-close-outline"></ion-icon>
        <div class="popupInner otpPopupContent " text-center>
          <h5>Agent Details</h5>
            <ion-list class="formList">         
              <ion-item>
                <ion-label floating>Agent Code</ion-label>
                <ion-input #input type="text" autocapitalize="words" name="sss" [(ngModel)]="agentCode"></ion-input>
              </ion-item>                        
              </ion-list>
              <div class="btwrap">                
                <div class="col1">
                  <button ion-button class="sendmailBt" (click)="ProceedLogin();" block style="align-items:center;">SUBMIT</button>
                </div>
        </div>        
    </div>
  </div> -->
  
  
  
  </ion-content>
