page-gen-otp {
    .loginType{
        width: 55%;
        margin: 0 auto;
    }
    .chngPwd{
        font-size: 16px;
    line-height: 22px;
    color: #323232;
    text-align: center;
    /* margin-top: 30px; */
    margin: 30px 0 10px 0;
    
    }
    .chngPwd1{
        font-size: 22px;
    line-height: 26px;
    color: #979697;
    text-align: center;
    /* margin-top: 30px; */
    margin: 45px 0 10px 0;
    font-family: 'helvetica';
    }
  
    .background-image { 
        // background: url('../assets/imgs/fgli_bg.jpg') no-repeat 0 0 ; 
        // background-size: cover;
        background: #f5f7fa;
    }
    .bannerImg{        
        img{
            width: 100%;
            vertical-align: top;
        }
    }
    .loginImage{
        width: 100%;
        contain: none;
    }

    .bgTrans{
        background: rgba(0,0,0,0);

        #loginType{
            position: absolute;
            top: -12px;
        }
    }

    .logo{
        width: 100%;
        padding-top: 45px;
        padding-bottom: 25px;
        contain: none;
        @media only screen and (max-width: 320px){
            padding-top: 20px;
          }
        img{
            margin: 0 auto;
        }
    }

.userType{
    width:90%;
        max-width: 425px;
        margin: 0 auto;
        box-shadow: none!important;
        border-radius: 0;
        border-bottom:1px solid #c01b17;
    
        .loginType{
            border-radius:0;
        }
        .segment-button:first-child{
            border-top-left-radius:0;
            border-bottom-left-radius:0;
        }
        .segment-button:last-child{           
            border-top-right-radius:0;
            border-bottom-right-radius:0;
        }
        .segment-button{
            background:transparent;
            font-size: 1.5rem;
            border: none;
            color: #85868a;
            text-transform: uppercase;
        }
        .segment{
                .segment-activated{
                    background:transparent;
                    color:#c01b17;
                    border-bottom:2px solid #c01b17;
                }
        }
    }


    .inputSection{
        width: 90%;
        max-width: 425px;
        margin: 0 auto;
         .segment-button{
            margin-right: 10px;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #939393;
             .text-input{
                text-align: center;
                height: 25px;
                vertical-align: top;
                font-size: 18px;

            }
        }
        &.formList{
            .newPwd{
                .item-inner{
                    margin:0;
                }
            }
            .item-inner{
                margin:25px 0 0 0;
                @media only screen and (max-width: 320px) {
                    margin: 5px 0 0 0;
                }
                ion-label{
                    color: #a8acb3;
                }
            }
        }
        .item-md{
            padding-left: 0;
        }
        .item-md, .input-has-focus{
            .item-inner{
                border-bottom: none;
                box-shadow: inset 0 -1px 0 0 rgb(216, 219, 224) !important;
            }
        }
        
        div{
            position: relative;
            .loginIcons{
                position: absolute;
                right: 2%;
                bottom: 5px;
            }
        }
        ion-input{
            color: white;
            
        }
        .text-input{
            font-size: 1.4rem;
            margin: 13px 8px 13px 0;
            color: #656d78;
            letter-spacing:1px;
        }
             
    }
    .loginBtnPadding{
        width: 40%;
        max-width: 425px;
        margin: 0 auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        overflow: auto;
        margin-top: 20px;
        text-align: center;
        /* text-align: center; */
        @media only screen and (max-width: 320px) {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        button{
            width: 100%;
            box-shadow: none;
            border-radius: 0;
            ion-icon{
                position: absolute;
                right: 7%;
            }
            .button-inner{
                font-size: 1.4rem;
                //justify-content:flex-start;
            }
        }
        .label {
            font-size: 1.2rem;
            color: #656d78; 
        }
    }
    .loginToggle{
        float: left;
        height: 50px;
        padding: 5px 0;
        ion-toggle{
            float: left;
            padding:12px 0!important;
            margin-right:12px;
        }
        ion-label{
            color: color($colors, light);
            font-size: .8em;
        }
       
         .toggle.toggle-checked .toggle-inner{
            background:#8bc054; 
            }        
    }
    .loginBtn{
        //float: left;
        text-align: center;
        .resendOtp{
            display: block;
    padding-top: 15px;
    font-size: 13px;
    color: #868686;
        }
        button{           
            background: #e9573d;
            font-size:1.2rem; 
        }
        .button{
            height: 40px;
            /* border-radius: 5px; */
            width: 115px;
            text-transform: uppercase;
            padding: 10px;
            /* text-align: center; */
        }
    }
    .quoteBtn{
        width: 90%;
        max-width: 425px;
        margin: 0 auto;
        padding-top: 3rem;
        border-top: 1px dashed rgb(216, 219, 224);
        @media only screen and (max-width: 320px) {
            padding-top: 2.5rem;
        }
        
        .button{    
            font-size: 1.4rem;
            background: none;
            border: 1px solid #8e1230;
            color: #8e1230;
            .button-inner{
                //justify-content: flex-start;
            }
        }
        .arrowCrimson{
            background:url("../assets/imgs/crimsonArrow.png") 0 0 no-repeat;
        }

    }


    .text-input::-moz-placeholder {
  color: #de8483;
}

.text-input:-ms-input-placeholder {
  color: #de8483;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: #de8483;
 }

}
