<!--
  Generated template for the PremiumlistviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="personalAccBg">
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
</button>
</ion-header>
<ion-content padding class="body-bg">
  <div class="whiteRow">
    <div class="tabsWrapper">
      <div class="tabsRow">
        <!-- <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="OneTime" (click)="getOneTimeCaculation('OneTime');" class="segment-button segment-activated">
            One-Time
          </ion-segment-button>
          <ion-segment-button value="Monthly" (click)="getMonthlyCaculation('Monthly');">
            Monthly
          </ion-segment-button>
          <ion-segment-button value="Quarterly" (click)="getQuarterlyCaculation('Quarterly');">
            Quarterly
          </ion-segment-button>
          <ion-segment-button value="HalfYearly" (click)="getHalfYearlyCaculation('HalfYearly');">
            Half-Yearly
          </ion-segment-button>
        </ion-segment> -->
      </div>
      <div class="tabcontentsWrap" [ngSwitch]="pet">
        <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">1 Year <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeOneNew}}</span>
                  <!-- <span class="oldPrice">₹{{oneTimeOneOld}}</span>
                  <span class="offamnt">({{discountOneTimeOne}}% off)</span> -->
                  
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of membersInsured">{{mem.title}} </span>
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,1);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,1);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeTwoNew}}</span>
                  <span class="oldPrice">(₹{{ActualAmountoneTimeTwoNew}})</span>
                  <span class="offamnt">(5% off)</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of membersInsured">{{mem.title}} </span>
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,2);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,2);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{oneTimeThreeNew}}</span>
                  <span class="oldPrice">(₹{{ActualAmountoneTimeThreeNew}})</span>
                  <span class="offamnt">(10% off)</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of membersInsured">{{mem.title}} </span>
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,3);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,3);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Monthly'" class="offercardList">       
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{monthlyTwoNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{monthlyTwoOld}}</span>
                  <span class="offamnt">{{discountmonthlyTwo}}% off</span> -->
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,2);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,2);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{monthlyThreeNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{monthlyThreeOld}}</span>
                  <span class="offamnt">{{discountmonthlyThree}}% off</span> -->
                  </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,3);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,3);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'Quarterly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{quarterlyTwoNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{quarterlyTwoOld}}</span>
                  <span class="offamnt">{{discountquarterlyTwo}}% off</span> -->
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,2);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,2);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{quarterlyThreeNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{quarterlyThreeOld}}</span>
                  <span class="offamnt">{{discountquarterlyThree}}% off</span> -->
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,3);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,3);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
        <ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">2 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{halfyearlyTwoNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{halfyearlyTwoOld}}</span>
                  <span class="offamnt">{{discounthalfyearlyTwo}}% off</span> -->
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,2);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,2);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
          <ion-item>
            <ion-card class="offerCard">
              <ion-header>
                <div class="leftCol">3 Years <span> Policy </span></div>
                <span class="recomend"><img src="assets/imgs/star.png"></span>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{halfyearlyThreeNew}}</span>
                </p>
                <div class="mem-covers">
                  <span>Covers - </span> 
                  <span class="list-comma" *ngFor="let mem of memberlist">{{mem.name}} </span>
                  <!-- <span class="oldPrice">₹{{halfyearlyThreeOld}}</span>
                  <span class="offamnt">{{discounthalfyearlyThree}}% off</span> -->
                </div>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card,3);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card,3);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
<div class="trans"  [class.hide]="showPopup"></div>
<div class="premiumkPopup animated fadeInUp" [class.hide]="showPopup">
  <ion-icon name="close" (click)="closePopInfo();" class="popClose ion-ios-close-outline"></ion-icon>
  <ion-grid>
    <ion-row class="head">
      <ion-col col-9>Premium Breakup</ion-col>
    </ion-row>
  </ion-grid>
  <div class="premheadSec">
    <div class="user-Type">
      <ion-segment [(ngModel)]="premPet">
        <ion-segment-button value="summary" class="segment-button segment-activated">
          Summary
        </ion-segment-button>
        <ion-segment-button value="indivisual">
          Individual Breakup
        </ion-segment-button>
      </ion-segment>
    </div>
  </div>
  
  <div class="tabcontentsWrap" [ngSwitch]="premPet">
    <div *ngSwitchCase="'summary'">
      
      <ion-grid>
          <ion-row class="tltPrem">
            <ion-col col-12><h5>Members</h5>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let member of summaryArray">
             <ion-row class="premHide" [class.hide]="member.hide">
            <ion-col col-8 >{{member.title}}</ion-col>
            <ion-col col-4 text-right class="amnt">₹{{member.totalPremium}}</ion-col>
          </ion-row>
        </ion-row>
          <ion-row class="tlt">
            <ion-col col-8>Total</ion-col>
            <ion-col col-4 text-right class="amnt">₹{{totalPremiumCalculated}}</ion-col>
          </ion-row>
         
        </ion-grid>
      <ion-grid>
      
       
        <ion-row [class.hide]="isFamilyDiscount">
          <ion-col col-8>Family Discount ({{familyDiscountPercentage}}%)</ion-col>
          <ion-col col-4 text-right>{{familyDiscount}}</ion-col> 
        </ion-row>
        <ion-row [class.hide]="isEmployeeDiscount">
          <ion-col col-8>Direct Discount ({{employeeDiscountPercentage}})%</ion-col>
          <ion-col col-4 text-right>{{employeeDiscount}}</ion-col> 
        </ion-row>
        <ion-row>
          <ion-col col-8>Long Term Discount ({{longTermPercentageDiscount}})%</ion-col>
          <ion-col col-4 text-right>{{longTermDiscount}}</ion-col> 
        </ion-row>
        <ion-row>
          <ion-col col-8>Premium Without GST</ion-col>
          <ion-col col-4 text-right>{{premiumwithoutGST}}</ion-col> 
        </ion-row>
        <ion-row class="tlt">
          <ion-col col-8>Installment Loading</ion-col>
          <ion-col col-4 text-right class="amnt"> {{installmentLoadingPercentage}}%</ion-col>
        </ion-row>
       
        <ion-row class="tlt">
          <ion-col col-8>Premium with Loading</ion-col>
          <ion-col col-4 text-right class="amnt">₹{{premiumWithLoading}}</ion-col>
        </ion-row>
       

        <ion-row class="tlt">
          <ion-col col-8>Total Installment</ion-col>
          <ion-col col-4 text-right class="amnt">{{totalInstallment}}</ion-col>
        </ion-row>

        <ion-row class="tlt">
          <ion-col col-8>Premium/EMI Amount</ion-col>
          <ion-col col-4 text-right class="amnt">₹{{premiumEmiAmount}}</ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-8>GST (18%)</ion-col>
          <ion-col col-4 text-right>₹{{GstAmount}}</ion-col>
        </ion-row>
        <ion-row class="tlt">
          <ion-col col-8>Premium/EMI Amount with GST</ion-col>
          <ion-col col-4 text-right class="amnt">₹{{PremiumWithGST}}</ion-col>
        </ion-row>
        
        <ion-footer class="cardFooter popupFooterc">
                <div class="cardBt" (click)="premiumClick();">Total premium for {{memberCount}} <strong>₹ {{PremiumWithGST}}</strong></div> 
                <div class="cardBt cardBtR" (click)="closePopInfo()">Got It</div>
        </ion-footer>
       
      </ion-grid>
    </div>


    <div *ngSwitchCase="'indivisual'">
      <ion-segment [(ngModel)]="familytab" class="premiumtsgtab">
        <ion-segment-button *ngFor="let member of membersInsured let i = index;" value={{member.title}} class="segment-button segment-activated" (click)="clickTab(member.title,i)">
        {{member.title}}
      </ion-segment-button>
      </ion-segment>
      <ion-grid>
        <ion-row class="tltPrem">
          
          <ion-col col-6 class="coverTitle"><h5>Covers</h5>
          </ion-col>
          <ion-col col-3 class="headBorder"><h3>Sum <br>Insured</h3>
          </ion-col>
          <ion-col col-3 class="headBorder"><h3 class="hPremium">Premium</h3>
          </ion-col>
        </ion-row>
        <ion-row class="tabc">
          <ion-col col-6>Main covers(A)</ion-col>
          <ion-col col-3 text-right></ion-col>
          <ion-col col-3 text-right>₹{{totalMainCoverPremium}}</ion-col>
        </ion-row>
        <ion-row >
          <ion-col col-6>Accidental death</ion-col>
          <ion-col col-3 >₹{{accidentalDeath}}</ion-col>
          <ion-col col-3 text-right>₹{{accidentalDeathPremium}}</ion-col>
        </ion-row>
        <ion-row [class.hide]="selfpartialDis">
            <ion-col col-6>Permanent partial disability</ion-col>
            <ion-col col-3 >₹{{permanetpartialdisability}}</ion-col>
            <ion-col col-3 text-right>₹{{permanetpartialdisabilityPremium}}</ion-col>
          </ion-row>
          <ion-row [class.hide]="selftotalDis">
              <ion-col col-6>Permanent total disability</ion-col>
              <ion-col col-3 >₹{{permanettotaldisability}}</ion-col>
              <ion-col col-3 text-right>₹{{permanettotaldisabilityPremium}}</ion-col>
            </ion-row>
            <ion-row [class.hide]="selftempDis">
                <ion-col col-6>Temporary total disability</ion-col>
                <ion-col col-3 >₹{{temporarytotaldisability}}</ion-col>
                <ion-col col-3 text-right>₹{{temporarytotaldisabilityPremium}}</ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-6>Repatriation and funeral expenses</ion-col>
                <ion-col col-3 >₹{{repatriationfuneralexpenses}}</ion-col>
                <ion-col col-3 text-right>₹0</ion-col>
              </ion-row>

        <ion-row class="tabc">
          <ion-col col-6>Additional covers(B)</ion-col>
          <ion-col col-6 text-right>₹{{totalAdditionalCoverPremium}}</ion-col>
        </ion-row>
        <div *ngFor="let premium of selfPremiumArray">
          <ion-row [class.hide]="premium.hide">
          <ion-col col-6>{{premium.additionalCover}}</ion-col>
          <ion-col col-3 >₹{{premium.amount}}</ion-col>
          <ion-col col-3 text-right>₹{{premium.premium}}</ion-col>
        </ion-row>
        </div>
       
        <ion-row class="tlt tabc">
          <ion-col col-8>Total (A+B)</ion-col>
          <ion-col col-4 text-right class="amnt">₹{{NetTotalCovers}}</ion-col>
        </ion-row>
        <ion-row class="gotitBtn">
          <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
        </ion-row>
      </ion-grid>
    </div>
 
</div>
</div>




<div class="trans"  [class.hide]="buyPopup"></div>
<div class="commonPopup otpPopup" [class.hide]="buyPopup">
  <ion-icon name="close" (click)="closeModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
  <div class="popupInner otpPopupContent " text-center>
    <h5>Basic Details</h5>
      <ion-list class="formList">
        <form>
        <ion-item>
          <ion-label floating>Proposer Name</ion-label>
          <ion-input #input char-only autocapitalize="words" maxlength="50" name="sss" [(ngModel)]="NameOfEmailsmsProposer"></ion-input>
        </ion-item>
        <ion-item >
            <ion-label floating>Email Id</ion-label>
            <ion-input #emailFocus type="email" maxlength="50" name="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
              <ion-label floating>Mobile</ion-label> 
            <ion-input #mobileFocus type="tel" number-only name="sms" maxlength="10" [(ngModel)]="mobile"></ion-input>
            </ion-item>  
          </form>              
        </ion-list>
        <div class="btwrap">
          <div class="col1">
            <button ion-button class="sendmailBt " (click)="proceedMemberDetailsPage('');" block>SEND QUOTE</button>
          </div>
          <div class="col2">
            <button ion-button class="sendmailBt sendOrng" (click)="proceedMemberDetailsPage('goToNext');" block>PROCEED</button>
          </div>
          <!-- <div class="col3">
            <button ion-button class="sendmailBt" (click)="onSaveAndEmail();" block style="align-items:center;">Send E-Proposal</button>
          </div> -->
  </div>
  <p [class.hide]="successLabel">Thank You for selecting. We have sent the quote to your mobile number</p>
</div>
</div>

<!-- <div class="premiumkPopup" [class.hide]="showPopup">
<ion-grid>
<ion-row class="head">
<ion-col col-9>Premium Breakup</ion-col>
<ion-col col-3 text-right></ion-col>
</ion-row>

<ion-row>
<ion-col col-8 >Base Premium</ion-col>
<ion-col col-4 text-right>₹{{basePremium}}</ion-col>
</ion-row>
<ion-row>  
<ion-col col-8 >Deductible Disc ({{policyGroup}})</ion-col>
<ion-col col-4 text-right>{{deductableDiscount}}%</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Employee Discount</ion-col> 
<ion-col col-4 text-right>{{employeeDiscount}}%</ion-col>
</ion-row>

<ion-row>
<ion-col col-8 >Medical Loading</ion-col>
<ion-col col-4 text-right>{{medicalloading}}%</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Volunatary Deduction</ion-col>
<ion-col col-4 text-right>₹{{voluntarydeduction}}</ion-col>
</ion-row>
<ion-row class="tlt">
<ion-col col-8 >Term Premium</ion-col>
<ion-col col-4 text-right class="amnt">₹{{termPremium}}</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Long Term Discount</ion-col>
<ion-col col-4 text-right>₹{{longTermDiscount}}</ion-col>
</ion-row>
<ion-row>  
<ion-col col-8 >Premium without Service Tax</ion-col>
<ion-col col-4 text-right>₹{{premiumwithoutservTax}}</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Installment Loading</ion-col>
<ion-col col-4 text-right>{{installmentLoading}}%</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Premium with Loading</ion-col>
<ion-col col-4 text-right>₹{{premiumWithLoading}}</ion-col>
</ion-row>
<ion-row>  
<ion-col col-8 >Total Installment</ion-col>
<ion-col col-4 text-right>{{totalInstallment}}</ion-col>
</ion-row>
<ion-row>
<ion-col col-8 >Premium/EMI Amount </ion-col>
<ion-col col-4 text-right>₹{{premiumAmount}}</ion-col>
</ion-row>
<ion-row>
 <ion-col col-8 >GST</ion-col>
 <ion-col col-4 text-right> ₹{{serviceTax}}</ion-col>
</ion-row>
<ion-row class="tlt">
<ion-col col-8 >Premium/EMI Amount with Service Tax</ion-col>
<ion-col col-4 text-right class="amnt">₹{{premiumWithServiceTax}}</ion-col>
</ion-row>
<ion-row >
 <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
</ion-row>
</ion-grid>
</div> -->

<div class="trans" [class.hide]="voluntaryPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="voluntaryPopup">
    <ion-icon name="close" (click)="closeVoluntaryModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
    <div class="popupInner otpPopupContent " text-center>
      <h5>Basic Details</h5>
        <ion-list class="formList">         
          <ion-item>
            <ion-label floating>Amount</ion-label>
          <ion-select class="age-range" [(ngModel)]="amount" (ionChange)="onSelectChangeDeductable($event)"> 
              <ion-option *ngFor="let amount of amountList" value={{amount.amount}}>{{amount.amount}}</ion-option>            
          </ion-select>
          </ion-item>                             
          </ion-list>
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt" block style="align-items:center;" (click)="proceedFromVoluntaryDeductable();" block style="align-items:center;">PROCEED</button>
            </div>
    </div>        
</div>
</div>
<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
  <div class="popupInner otpPopupContent " text-center>       
      
          <p> Thank You for selecting. We have sent the proposal to your email address. </p>          
       
        <div class="btwrap">                
          <div class="col1">
            <button ion-button class="sendmailBt" block style="align-items:center;" (click)="OkButton();" block style="align-items:center;">OK</button>
          </div>
  </div>        
</div>
</div>
