page-buy-premiumlistview {
  .mem-covers{
    span{
      color: #4d2a69;
      font-size: 13px;
    }
    span.list-comma{
      color:#803cb6;
    }
  }
  .linkHover:hover {
    color: #23527c !important;
  }

  .tabsRow {
    ion-segment {
      display: block;
      white-space: nowrap;
      font-size: 0;
     // overflow: auto;
      border-left-width: 0;
      border-top-width: 0;
      border-right-width: 0;
      border-bottom:3px solid #eaeaea;
      height:4.2rem;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
      }

      ion-segment-button.segment-button {
        display: inline-block;
        width: 25%;
        text-transform: none;
        font-size: 13px;
        color: #6f7072;
        border-bottom-width: 3px;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        border-color: #eaeaea;

        &.segment-activated {
          background-color: transparent;
          color: #4d2a69;
          border-color: #4d2a69;
        }

        &:last-of-type,
        &:first-of-type {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
          margin-left: 0;
          border-left-width: 0;
        }
      }

    }


  }

  .tabsWrapper {
    .tabslinkRow {
      .segment .segment-button {
        font-size: 1.3rem;
        padding: 0;
        width: auto;
        height: auto;
        line-height: 30px;
      }

      .segment .segment-button.segment-activated {
        border-color: #f7edff;
      }
    }

    .offamt {
      font-size: 1.2rem;
      color: #6f7072;
      padding: 10px 0;
    }

    .offercardList {
      margin: 15px 0 0 0;
      padding: 0;

      ion-item {
        padding: 0;

        .item-inner {
          padding: 0;
          border-bottom: 0;
        }

        .label-md {
          padding: 0;
          margin: 0;
        }
      }

      .offerCard {
        margin: 0 0 10px 0;
        padding: 0;
        width: 99%;
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        background: #f7edff;

        .recomend {
          width: 21px;
          height: 21px;
          position: absolute;
          right: 8px;
          top: 8px;
          display: none;
        }

        .ion-ios-checkmark-outline {
          position: absolute;
          top: 41%;
          right: 1%;
          color: #ddd;
          font-size: 30px;
          z-index: 99;

          &:before {
            content: "\f3ff";
            border: 1px solid #ebc1b1;
            /* padding: 6px; */
            border-radius: 50%;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            background: #ccc;
          }
        }

        &.activeCard {
          position: relative;
          background: #8cc152;

          ion-header {
            background: #8cc152;
            color: #fff;
            border-bottom: 1px solid #a3cd75;
          }

          .ontimeCardInfo {
            background: #8cc152;
            color: #fff;
          }

          .oldPrice {
            color: #fff;
          }

          .newPrice {
            color: #fff;
          }

          .offamnt {
            color: #fff;
          }

          p {
            color: #fff;
          }

          .ion-ios-checkmark-outline {
            position: absolute;
            top: 41%;
            right: 1%;
            color: #8cc152;
            font-size: 30px;
            z-index: 99;

            &:before {
              content: "\f3ff";
              border: 1px solid #fff;
              /* padding: 6px; */
              border-radius: 50%;
              width: 25px;
              height: 25px;
              text-align: center;
              line-height: 25px;
              background: #fff;
            }
          }
        }

        ion-header {
          background: #f7edff;
          position: relative;
          overflow: hidden;
          color: #fff;
          font-size: 1.2rem;

          .leftCol {
            font-size: 18px;
            color: #4d2a69;
            text-align: left;
          }

          .rightCol {
            font-size: 13px;
            color: #4d2a69;
            text-decoration: underline;
            text-align: right;
          }

          span {
            font-size: 13px;
          }
        }

        .newPrice {
          font-size: 20px;
          color: #803cb6;
          display: inline-block;
        }

        .oldPrice {
          font-size: 14px;
          color: #323431;
          text-decoration: line-through;
        }

        .offamnt {
          font-size: 1.2rem;
          color: #f28057;
        }


        p {
          color: #6f7072;
          margin: 0;
          padding: 0;

          &.cardfrP {
            padding: 0 10px 0 0;
            margin: 0 10px 0 0;
          }
        }

        .Cardtooltips {
          display: inline-block;
          margin: 0 0 0 10px;
          vertical-align: bottom;

          img {
            width: auto;
          }
        }

        .ontimeCardInfo {
          background: #f7edff;
          padding: 12px;
          overflow: hidden;
        }
      }
    }

    .cardFooter {
      overflow: hidden;
      position: relative;
      border-top: 1px solid #b19cc2;

      .cardBt {
        text-transform: uppercase;
        font-size: 1.2rem;
        background: #f7edff;
        padding: 10px 7px;
        width: 50%;
        float: left;
        color: #4d2a69;
        text-align: center;

        &.cardBtR {
          background: #e9573d;
          color: #fff;
        }
      }

    }
  }

  .premheadSec {

    padding: 15px 15px 0 15px;


  }

  .user-Type {
    max-width: 425px;
    margin: 0 auto;
    box-shadow: none !important;



    .segment-button {
      background: transparent;
      font-size: 1.4rem;
      border: 0;
      border-radius: 4px;
      color: #bcbcbc;
      text-transform: none;
      opacity: 1;
      height: 4rem;
      line-height: 3.5rem;
      border: 1px solid #d8d8d8;

      &:first-of-type {
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
        margin-right: 0;
      }

      &:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
      }
    }

    .segment {
      .segment-activated {
        background: #4d2a69;
        color: #fff;
        border: 0;

      }
    }
  }

  .premiumkPopup .tlt {
    padding: 5px 10px;
  }

  .tltPrem {
    margin-top: 5px;
    margin-bottom: 7px;
    .headBorder{
      border-bottom: 1px solid #e9e9e9;
      position: relative;
      h3{
        &.hPremium{
              position: absolute;
              bottom: 5px;
        }
     
      }
    }
    .coverTitle{
      position: relative;
      h5{
        position: absolute;
        bottom: 5px;
      }
     
    }

    h5 {
      font-size: 15px;
      color: #000;
      margin: 0;
      font-weight: bold;
    }
    h3{
      color: 333333;
      font-size: 1.2rem;
      line-height: 1.4rem;
      margin: 0;
      padding: 0;
    }
  }

  .dtbrdd {
    // border-bottom: 1px dashed #d8d8d8;
    padding: 5px 10px;
  }

  .tabc {
    color: #000;
    font-weight: bold;
  }

  .premiumtsgtab {
    width: auto;
    margin: 0 15px;
    margin-top: 5px;  

    .segment-button {
      padding: 0;
      font-size: 14px;
      text-transform: none;
      color: #6f7072;
      border-bottom-width: 3px;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-color: #eaeaea;
      &.segment-activated {
        background-color: transparent;
        color: #4d2a69;
        border-color: #4d2a69;
      }

      &:last-of-type,
      &:first-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
        border-left-width: 0;
      }

    }
  }

  .gotitBtn {
    margin-top: 15px;
  }

}
.list-comma + .list-comma::before {
  content: ', ';
}
.premiumkPopup {
  max-height: 100%;
  overflow-y: auto;
  padding: 0;
}
 .popupFooterc {
      overflow: hidden;
      position: relative;
      border-top: 1px solid #b19cc2;
      margin-top: 10px;

      .cardBt {
        text-transform: uppercase;
        font-size: 1.2rem;
        line-height: 1.6rem;
        background: #f7edff;
        padding: 10px 7px;
        width: 50%;
        float: left;
        color: #4d2a69;
        text-align: center;

        &.cardBtR {
          background: #e9573d;
          color: #fff;
              padding: 18px 7px;
        }
      }

    }
    .fontNormal{
      font-weight: normal;
      color:#6f7072;
    }
    .premHide{
      padding:0 !important;
      width:100%;
      margin:0;
    }
  