page-tpquickquote-result {
    .tabsRow {
        ion-segment {
          display: block;
          white-space: nowrap;
          font-size: 0;
          overflow: auto;
    
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
          }
    
          ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
          }
        }
      }
    
      .supremToggle {
        .toggleBt {
          display: inline-block;
          vertical-align: top;
        }
        ion-label {
          display: inline-block;
          margin:4px 0 0 0;
          color:#6f7072;
          font-weight: bold;
        }
      }
      .whiteRow{
        .iconToggle{
        padding:10px 0 15px 0;
      }
      }
    
      .premiumkPopup{
        padding: 0 0 10px 0;
      }
      .cardFooter{
        overflow: hidden;
        position: relative;
        border-top: 1px solid #c11b17;
        
        .cardBt{
            text-transform: uppercase;
            font-size:1.2rem;
            background:#fbe4dc;
            padding:10px;
            width: 50%;
            float: left;
            color:#e9573d;
            text-align: center;
            &.cardBtR{
            background:#e9573d;
            color:#fff;
           }
        }
        
    }
      .tabsWrapper{
        .offerCard {
            .cardFooter {
                .qqcardLink {
                    width:100%;
                }
            }
        }
    }
    .tabsWrapper .offercardList .offerCard .newPrice {
      font-size: 17px;
  }
  .tabsWrapper .offercardList .offerCard ion-header .leftCol {
    text-align: left;
    font-size: 16px;
    color: #b7253a;
}
  .tabsWrapper .offercardList .offerCard ion-header .rightCol {
    text-align: right;
    font-size: 16px;
    color: #b7253a;
    text-decoration:none;
}
// .supremToggle{
//   text-align:center;
// }
}
//--page level
page-tpquickquote-result{
  .noYrsPolicy .tabsRow ion-segment ion-segment-button.segment-button{
   min-width: 33.33%; 
  }
}