<!--
  Generated template for the TpquickquoteResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1>
    <span>Future Advantage Top-up</span>Get a quick quote</h1>
  <!-- <ion-icon name="close" (click)="goToLoginPage();" class="headerClose ion-ios-close-outline"></ion-icon> -->
</ion-header>


<ion-content padding class="body-bg">
  <!-- <ion-row class="refnumber" text-right>Quote Number: 20242</ion-row> -->
  <div class="whiteRow">
    <div class="iconToggle">
      <ion-select [(ngModel)]="Installment" (ionChange)="installmentClicked(Installment)" class="age-range">
        <ion-option selected> One time </ion-option>
        <ion-option> Monthly </ion-option>
        <ion-option> Quarterly</ion-option>
        <ion-option> Half-Yearly</ion-option>
      </ion-select>
    </div>
    <div class="supremToggle">
      <ion-label class="sp1">Supreme</ion-label>
      <ion-toggle [(ngModel)]="keepSignedIn" #toggleInput class="toggleBt" (ionChange)="planChanged($event)"></ion-toggle>
      <ion-label class="sp2">Elite</ion-label>
    </div>
    <div class="tabsWrapper noYrsPolicy">
      <div class="tabsRow">
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="OneYears" *ngIf="oneTime" (click)="showSumInByYear(1);">
            1 Year Policy
          </ion-segment-button>
          <ion-segment-button value="TwoYears" (click)="showSumInByYear(2);">
            2 Year Policy
          </ion-segment-button>
          <ion-segment-button value="ThreeYears" (click)="showSumInByYear(3);">
            3 Year Policy
          </ion-segment-button>
        </ion-segment>
      </div>
      <ion-list class="offercardList">
        <ion-item>
          <ion-card *ngFor="let siAmt of sumInsuredListToShow" class="offerCard">
            <ion-header>
              <div class="leftCol">Sum Insured ₹ {{siAmt.Amt }}</div>
              <div class="rightCol">Deductible ₹ {{deductableData}}</div>
              <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
            </ion-header>
            <ion-card-content class="ontimeCardInfo">
              <p class="cardfrP">
                <span class="newPrice">₹ {{siAmt.PremiumAmount | addCommas}}</span>
                <span class="oldPrice" [class.hide]="showDiscountAmt">₹ {{siAmt.discountAmt| addCommas}}</span>
                <span class="offamnt" [class.hide]="showDiscountAmt">{{percent}}</span>
              </p>
            </ion-card-content>
            <ion-footer class="cardFooter">
              <div class="cardBt cardBtR qqcardLink" (click)="okayClicked();">OK,GOT IT</div>
              <!-- <div class="cardBt cardBtR" (click)="buyPopUpOpen();"> Buy Policy </div> -->
            </ion-footer>
          </ion-card>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>

<!-- 
<div class="premiumkPopup" [class.hide]="showPopup">
  <ion-grid>
    <ion-row class="head">
      <ion-col col-9>Premium Breakup</ion-col>
      <ion-col col-3 text-right></ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Base Premium</ion-col>
      <ion-col col-4 text-right>₹2000</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Deductible Disc ({{policyGroup}})</ion-col>
      <ion-col col-4 text-right>{{deductableDiscount}}%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Employee Discount</ion-col>
      <ion-col col-4 text-right>5%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Medical Loading</ion-col>
      <ion-col col-4 text-right>0%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Volunatary Deduction</ion-col>
      <ion-col col-4 text-right>₹200</ion-col>
    </ion-row>
    <ion-row class="tlt">
      <ion-col col-8>Term Premium</ion-col>
      <ion-col col-4 text-right class="amnt">₹2000</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Long Term Discount</ion-col>
      <ion-col col-4 text-right>₹300</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Premium without Service Tax</ion-col>
      <ion-col col-4 text-right>₹150</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Installment Loading</ion-col>
      <ion-col col-4 text-right>50%</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Premium with Loading</ion-col>
      <ion-col col-4 text-right>₹6500</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Total Installment</ion-col>
      <ion-col col-4 text-right>4500</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>Premium/EMI Amount </ion-col>
      <ion-col col-4 text-right>₹5000</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-8>GST</ion-col>
      <ion-col col-4 text-right> ₹150</ion-col>
    </ion-row>
    <ion-row class="tlt">
      <ion-col col-8>Premium/EMI Amount with Service Tax</ion-col>
      <ion-col col-4 text-right class="amnt">₹3000</ion-col>
    </ion-row>
    <ion-row>
      <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
    </ion-row>
  </ion-grid>
</div>

<div class="commonPopup otpPopup" [class.hide]="buyPopup">
  <ion-icon name="close" (click)="closeModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
  <div class="popupInner otpPopupContent " text-center>
    <h5>Basic Details</h5>
    <ion-list class="formList">
      <form>
        <ion-item>
          <ion-label floating>Proposer Name</ion-label>
          <ion-input #input type="text" autocapitalize="words" maxlength="50" name="sss" [(ngModel)]="NameOfEmailsmsProposer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email Id</ion-label>
          <ion-input #emailfocus type="email" maxlength="50" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Mobile</ion-label>
          <ion-input #mobilefocus type="tel" name="sms" maxlength="10" [(ngModel)]="mobile"></ion-input>
        </ion-item>
      </form>
    </ion-list>
    <div class="btwrap">
      <div class="col1">
        <button ion-button class="sendmailBt " (click)="sendEMailSMS();" block>SEND QUOTE</button>
      </div>
      <div class="col2">
        <button ion-button class="sendmailBt sendOrng" (click)="proceedMemberDetailsPage();" block>PROCEED</button>
      </div>
      <div class="col3">
        <button ion-button class="sendmailBt" (click)="onSaveAndEmail();" block style="align-items:center;">Send E-Proposal</button>
      </div>
    </div>
    <p [class.hide]="successLabel">Thank You for selecting. We have sent the quote to your phone number</p>
  </div>
</div>
 -->


<div class="trans" [class.hide]="showPopup"></div>
<div class="trans" [class.hide]="buyPopup"></div>