<!--
  Generated template for the TReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>Health Insurance</span>Buy Health Policy</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>
<ion-content padding class="body-bg ">
  <ion-row class="refnumber" text-right>Quote Number: 55421</ion-row>
  <div class="whiteRow healthDeclration policyReview">
    <div class="pros1">
      <ion-row>
        <h5>Review</h5>
        <a href="#" class="reviewEdit" hidden>Edit</a>
      </ion-row>
      <div class="tabslinkRow">
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="Policy" (click)="PolicyDetails();">
            Policy<br>Details
          </ion-segment-button>
          <ion-segment-button value="Contact" (click)="ContactDetails();">
            Contact<br>Details
          </ion-segment-button>
          <ion-segment-button value="Insured" (click)="InsuredDetails();">
            Insured<br>Details
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="tabcontentsWrap">
        <div class="policyDetails" [class.hide]="policyDetails">
          <ion-grid class="reviewgrids">
            <ion-row>
              <ion-col col-5 class="lft">Policy Type</ion-col>
              <ion-col col-7 class="rgt"> Jeevan Anant
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft">Policy Term</ion-col>
              <ion-col col-7 class="rgt">20 years</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft">Premium</ion-col>
              <ion-col col-7 class="rgt"><strong>5000 </strong><span class="sminfo">(5000 EMI payable for 20 years)</span></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft"><strong>Total Sum Insured</strong></ion-col>
              <ion-col col-7 class="rgt"><strong>500000</strong></ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft">Members Covered</ion-col>
              <ion-col col-7 class="rgt"><span class="oneline">Sheetal</span></ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="contactDetails" [class.hide]="contactDetails">
          <a href="#" class="revEdit revEditTop1" (click)="onEditContactDetails()">Edit</a>
          <ion-grid class="reviewgrids">
            <ion-row>
              <ion-col col-2 class="lft">Email</ion-col>
              <ion-col col-10 class="rgt">
                <ion-input type="email" maxlength="50" placeholder="Email"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft">Mobile Number</ion-col>
              <ion-col col-7 class="rgt">
                <ion-input type="tel" placeholder="Mobile" maxlength="10"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-5 class="lft">Current Address</ion-col>
              <ion-col col-7 class="rgt">
                <ion-input type="text" maxlength="150" placeholder="Address"></ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div> <button ion-button (click)="saveContactData();" [class.hide]="saveBtnHideShowContact">Save</button></div>
        </div>
        <div class="insuredDetails" [class.hide]="insuredDetails">
          <div class="tabrp">
            <div class="membersDiv">
              <h4 class="title"><span>Ms</span>Sheetal</h4>
              <ion-grid class="reviewgrids">
                <ion-row>
                  <ion-col col-5 class="lft">Gender</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="gender" id="genderText" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Date of Birth</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Date of Birth" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Smoking</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Smoking" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Height (in ft)</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Height(ft)" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Weight (in kgs)</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Weight(kgs)" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Occupation</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Occupation" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">PAN</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="PAN" maxLength="10"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Nominee</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Nominee"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Nominee Relation</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Nominee Relation"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div>
                <button ion-button (click)="saveInsuredDetails();">Save</button>
              </div>
              <ion-row class="border-dashed"></ion-row>
            </div>

            <div class="membersDiv">
              <h4 class="title"><span>Ms</span>Sheetal</h4>
              <ion-grid class="reviewgrids">
                <ion-row>
                  <ion-col col-5 class="lft">Gender</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="gender" id="genderText" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Date of Birth</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Date of Birth" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Smoking</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Smoking" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Height (in ft)</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Height(ft)" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Weight (in kgs)</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Weight(kgs)" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Occupation</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Occupation" disabled></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">PAN</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="PAN" maxLength="10"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Nominee</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Nominee"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-5 class="lft">Nominee Relation</ion-col>
                  <ion-col col-7 class="rgt">
                    <ion-input placeholder="Nominee Relation"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <div>
                <button ion-button (click)="saveInsuredDetails();">Save</button>
              </div>
              <ion-row class="border-dashed"></ion-row>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
