page-t-review {
.contactDetails {
    position: relative;
    margin-top: 25px;
  }

  .revEdit {
    color: #e9573d;
    text-decoration: none;
    text-transform: inherit;
    font-size: 0;
    background: url(../assets/imgs/edit.png) 0 0 no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: 100%;
  }

  .revEditTop {
    position: absolute;
    top: 15px;
    right: 0;
  }

  .revEditTop1 {
    position: absolute;
    top: -20px;
    right: 0;
  }

  .tabrp { 
    position: relative;
  }

  .healthDeclration {
    padding: 0;
    font-size: 1.4rem;
    color: #6f7072;

    h5 {
      font-size: 1.5rem;
      color: #6f7072;
      padding: 10px 0 0 0;
      margin: -7px 0 15px 0 !important;
      font-weight: bold;

    }

    h4 {
      font-size: 1.8rem;
      color: #333;
      padding: 15px 0 0 0;

      span {
        display: block;
        font-size: 1.2rem;
        color: #6f7072;
      }
    }

    .grid {
      padding: 0;
    }

    .col {
      padding: 0;
    }

    .pros1 {
      padding: 15px;
    }
  }

  .policyReview {
    position: relative;

    .reviewEdit {
      position: absolute;
      right: 15px;
      top: 15px;
      color: #e9573d;
      font-size: 1.2rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
