<!--
  Generated template for the PaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" (click)="onBackClick()"></button>
  <h1>
    <span>Health Insurance</span>Buy Health Policy</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>
<ion-content padding class="body-bg nomineePage ">
  <form>
    <ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
  <div class="whiteRow payMethod">
    <h5>Nominee Declaration for Proposer</h5>
    <div class="nomineePage">
        <div class="nomineeRow brd">
          <h4>{{proposerName}}</h4>
          <div class="acorContent">
            <!-- <div hidden>
          <h6>Select from your family :</h6>
          <ion-row class="sumInsuredSlide">
            <ion-segment>
              <ion-segment-button> </ion-segment-button>
            </ion-segment>
          </ion-row>
          <div class="addotherMRow">
                <a href='#' class="addOtherM">Add other members
                  <i class="icon ion-ios-plus-outline"></i>
                </a>
          </div>
            </div> -->
        <ion-list class="formList">
          <ion-item>
            <ion-label floating>Relation</ion-label>
            <ion-select class="select nomineeSelect" name="nomineeRelation" (ionChange)="setNomineeRelation();" [(ngModel)]="nomineeRelation">
              <!-- <div *ngFor="let item of rellationArray; let j = index"> -->
                    <ion-option *ngFor="let item of rellationArrayMembers">{{item.title}}</ion-option>
              <!-- </div> -->
            </ion-select>
            <!-- <ion-select class="age-range" [(ngModel)]="memberOccupation" name="memberOccupation" (focusout)="otherFocusOut()" (click)="onSelectChangeOther($event)" interface="action-sheet">              
               <ion-option *ngFor="let occupation of occupationList" value={{occupation.OccCode}}>{{occupation.OccTitle}}</ion-option>
               </ion-select> -->
          </ion-item>
          <ion-item>
            <ion-label floating>Enter Nominee Name</ion-label>
            <ion-input class="nomineeName" char-only autocapitalize="words" type="text"  name="nomineeName" [(ngModel)]="nomineeName"></ion-input>
          </ion-item>
            <ion-item>
                <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                <ion-icon (click)="DatePick($event,members,0);" item-end class="datetimeIcon"></ion-icon>
                <ion-input maxlength="10" type="tel" id="" name="nomineeDate" [(ngModel)]="nomineeDate" (keyup)="onDateChange($event,members,0);"></ion-input>

            </ion-item>
        </ion-list>
          <div class="minorApointe"  [class.hide]= "hideApt">
              <div class="nomineeRow">
          <h6>Select Your Apointee</h6>
                <!-- <div hidden>
            <ion-row class="sumInsuredSlide">
              <ion-segment>
                <ion-segment-button>Father</ion-segment-button>
                <ion-segment-button>Mother</ion-segment-button>
                <ion-segment-button>Daughter</ion-segment-button>
              </ion-segment>
            </ion-row>
            <div class="addotherMRow">
                    <a href='#' class="addOtherM">Add other members
                      <i class="icon ion-ios-plus-outline"></i>
                    </a>
          </div>
                </div> -->
                <ion-list class="formList">
            <ion-item>
              <ion-label floating>Enter Apointee Name</ion-label>
              <ion-input type="text" char-only autocapitalize="words" [(ngModel)]="appointeeName" name="appointeeName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Relation</ion-label>
              <ion-select class="select appointeeSelect" [(ngModel)]="appointeeRelation" name="appointeeRelation" >
                  <ion-option name="AptRelWithominee" *ngFor="let item of appointeeRelationArray; let i = index">{{item.title}}</ion-option>
                  <!-- <div *ngFor="let item of rellationArrayMembers; let j = index">
                        <ion-option  ngDefaultControl [value] = "item">{{item.title}}</ion-option>                      
                </div> -->
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>
      </div>
        </div>
    </div>
  </div>
  <!-- <div [class.hide]="forQuickQuote" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
</form>
</ion-content>

<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> We have successfully sent the e-proposal! You can find it in your inbox immediately. </p>          
         
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt" (click)="OkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>
<ion-footer>
  <button ion-button class="commonBt" (click)="proceedNext()">proceed</button>
</ion-footer>


