page-nominee-details {
  .whiteRow{
    margin: 0;
   border-radius: 4px 4px 0 0;
   }
   .saveBt{
       button{
        background: #fff;
        border-radius: 0 0 4px 4px;
       }
   } 
  .nomineePage{
    h4 {
      color: #e9573d;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding:20px 15px 0 15px;
      font-weight:bold;
      border-top:2px dashed #ccc;
      margin-left:-15px;
      margin-right:-15px;
      margin-top:15px!important;
           
    }&:first-child{
      border-top:0!important;
      margin-top:0!important;
    } 
    
  }

  .whiteRow {
    padding: 20px 15px;
  }


  h6 {
    color: #302f2f;
  }
  h5{
margin:0;
  }


  .addotherMRow {
    overflow: hidden;
    .addOtherM {
      color: #6f7072;
      margin: 15px 0 0 10px;
      line-height:2.5rem;
      i {
        float: right;
        font-size: 28px;
        margin-left: 10px;
      }
    }
    .formList .item-block:last-child .item-inner {
      border-bottom: 1px solid #dedede;
    }
  }

  .nomineeRow {
    padding: 10px 0 0 0;
    
  }

  .minorApointe {
    padding: 15px 0 0 0;
    .formList .item-block .item-inner{
      border-bottom: 1px solid #dedede;
    }
  }

  .datetimeIcon{
    background:url(../assets/imgs/sprite.png) right -762px no-repeat;
    width:30px;
    min-height:22px!important;
    margin:15px 0 0 0!important;
    z-index: 999999999999;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  //   .addOtherM{
  //     font-size:1.3rem; color:#fff; float:right; margin:15px -5px 12px 0; text-decoration: none;
  //     ion-icon{
  //       vertical-align: inherit;
  //       font-size: 2rem;
  //       margin: -4px 6px;
  //       float: right;
  //       width:23px;
  //       height:23px;
  //         background: url(../assets/imgs/sprite.png) 0 -645px no-repeat;
  //     }
  // }
}
