<!--
  Generated template for the LocationmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <button ion-button class="backBt" navPop></button>
    <h1><span>Health Insurance</span>Map</h1>
  <!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
            <i></i>
            <i></i>
            <i></i>
    </button>

</ion-header>


<ion-content padding>
  <div #map id="map"></div> 
</ion-content>
