<ion-header>
<!-- 	<button ion-button class="backBt" ></button> -->
	<h1 style="font-size: 16px;
    color: #fff;
    margin: 0;
    float: left;
    font-weight: bold;
    text-transform: none;">
		i.Insure
		<span>Anytime Insurance</span>
		<!-- <img src="assets/imgs/headLogo.png"> -->
	</h1>
	<button ion-button menuToggle end class="humburgerMenu">
	        <i></i>
	        <i></i>
	        <i></i>
      </button>
</ion-header>
<ion-content padding class="body-bg">
	 <ion-row class="quickCard loginLanding">
          <ion-card><ion-thumbnail (click)="redirectTo(1)" class="qcardIcon"> <img src="assets/imgs/new_policyIcon.png" alt=""><span>Buy new policy</span> </ion-thumbnail></ion-card>
		   <ion-card><ion-thumbnail (click)="redirectTo(2)"  class="qcardIcon"> <img src="assets/imgs/dashedboardIcon.png" alt=""><span>Dashboard</span> </ion-thumbnail></ion-card>
		   <ion-card><ion-thumbnail (click)="redirectTo(3)" class="qcardIcon marketingCol"> <img src="assets/imgs/market-icon.svg" alt=""><span>e-Training</span> </ion-thumbnail></ion-card>
		   <ion-card><ion-thumbnail (click)="redirectTo(4)" class="qcardIcon marketingCol"> <img src="assets/imgs/faqIcon.svg" alt=""><span>FAQs</span> </ion-thumbnail></ion-card>
		   <ion-card><ion-thumbnail (click)="redirectTo(5)" class="qcardIcon marketingCol"> <img src="assets/imgs/hosptList.svg" alt=""><span>Hospital List</span> </ion-thumbnail></ion-card>
		   <ion-card><ion-thumbnail (click)="redirectTo(6)" class="qcardIcon marketingCol"> <img src="assets/imgs/branchlist.svg" alt=""><span>Branch List</span> </ion-thumbnail></ion-card>
    </ion-row>
</ion-content>
