page-landing-screen {
	.background-image { 
        background:#c31b18 url('../assets/imgs/landing_bg.jpg') no-repeat center bottom ; 
    }

  .loginLanding {

    .qcardIcon {
    	margin:17% 0;
      img {
        display: inline-block;
        
      }
      text-align:center;
    }

    .marketingCol{
      img {
        display: inline-block;
        width: 47px;
      height: 45px;
      }
    }
    span {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 1.4rem;
      color: #333333;
    }
  }
}
