<!--Generated template for the PremiumlistviewPage page.
  
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.-->
  <ion-header class="personalAccBg">
      <button ion-button class="backBt" (click)="onBackClick();"></button>
    <h1>
      <span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
    <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
      <i></i>
      <i></i>
      <i></i>
    </button>
  </ion-header>
  <ion-content padding class="body-bg">
      <ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
      <div class="whiteRow">
      <h2 class="nomineeTitle">Nominee declaration</h2>
      <div class="tabsWrapper">
        <div class="tabsRow">
          <ion-segment [(ngModel)]="pet">
              <ion-segment-button *ngFor="let member of memberArray; let i  = index" value={{member.title}} disabled >
                {{member.title}}
                </ion-segment-button> 
          </ion-segment>
        </div>
        <div class="tabcontentsWrap" [ngSwitch]="pet">
          <div *ngSwitchCase="'Self'" class="selfBox">
            <div class="detailBoxNew">
              <ion-list class="formList">
                <ion-item>
                  <ion-label floating>Relation</ion-label>
                   <ion-select class="select nomineeSelect" name="selfnomineeRelation" (ionChange)="setNomineeRelation('Self');" [(ngModel)]="selfnomineeRelation">
              <!-- <div *ngFor="let item of rellationArray; let j = index"> -->
                    <ion-option *ngFor="let item of rellationArraySelf; let input = index">{{item}}</ion-option>
              <!-- </div> -->
            </ion-select>
                </ion-item>
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Name of the proposer</ion-label>
                    <ion-input type="text"  char-only maxlength="50" name="selfnomineeName" [(ngModel)]="selfnomineeName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>

                <ion-item class="datePc">                
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon (click)="DatePick($event,'Self','0');" item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="selfnomineeDate" [(ngModel)]="selfnomineeDate" (keyup)="onDateChange($event,'Self','0');"></ion-input>
                </ion-item>
             
                <!-- <ion-item>
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon (click)="DatePick($event,'Self','0');" item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="selfnomineeDate" [(ngModel)]="selfnomineeDate" (keyup)="onDateChange($event,'Self','0');"></ion-input>
                  
              </ion-item> -->
              </ion-list>

              <div class="minorApointe"  [class.hide]= "hideApt">
                <div class="nomineeRow">
            <h6>Select Your Apointee</h6>
                  <ion-list class="formList">
              <ion-item>
                <ion-label floating>Enter Apointee Name</ion-label>
                <ion-input type="text" autocapitalize="words" [(ngModel)]="selfappointeeName" name="selfappointeeName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Relation</ion-label>
                <ion-select class="select appointeeSelect" [(ngModel)]="selfappointeeRelation" name="selfappointeeRelation">
                    <!-- <ion-option [(ngModel)]= "members.AptRelWithominee" name="AptRelWithominee" *ngFor="let item of immediateMemberArray; let i = index">{{item.title}}</ion-option> -->
                    <div *ngFor="let item of appointeeArraySelf; let j = index">
                          <ion-option  ngDefaultControl [value] = "item">{{item}}</ion-option>                      
                  </div>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
              <!-- <div [class.hide]="forQuickQuote" class="saveBt"><button ion-button>
                  <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
                </button></div> -->
            </div>
          </div>



          <div *ngSwitchCase="'Spouse'" class="selfBox">
            <div class="detailBoxNew">
              <ion-list class="formList">
                <ion-item>
                  <ion-label floating>Relation</ion-label>
            <ion-select class="select nomineeSelect" name="spousenomineeRelation" (ionChange)="setNomineeRelation('Spouse');" [(ngModel)]="spousenomineeRelation">
              <!-- <div *ngFor="let item of rellationArray; let j = index"> -->
                    <ion-option *ngFor="let item of rellationArraySpouse">{{item}}</ion-option>
              <!-- </div> -->
            </ion-select>
                </ion-item>
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Name of the proposer</ion-label>
                    <ion-input type="text" char-only maxlength="50" name="spousenomineeName" [(ngModel)]="spousenomineeName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
                
                <ion-item class="datePc">   
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon (click)="DatePick($event,'Spouse','1');" item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="spousenomineeDate" [(ngModel)]="spousenomineeDate" (keyup)="onDateChange($event,'Spouse','1');"></ion-input>
  
              </ion-item>
              </ion-list>
              <div class="minorApointe"  [class.hide]= "hideAptSpouse">
                <div class="nomineeRow">
            <h6>Select Your Apointee</h6>
                  <ion-list class="formList">
              <ion-item>
                <ion-label floating>Enter Apointee Name</ion-label>
                <ion-input type="text" autocapitalize="words" [(ngModel)]="spouseappointeeName" name="spouseappointeeName"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Relation</ion-label>
                <ion-select class="select appointeeSelect" [(ngModel)]="spouseappointeeRelation" name="spouseappointeeRelation" >
                    <!-- <ion-option [(ngModel)]= "members.AptRelWithominee" name="AptRelWithominee" *ngFor="let item of immediateMemberArray; let i = index">{{item.title}}</ion-option> -->
                    <div *ngFor="let item of appointeeArraySpouse; let j = index">
                          <ion-option  ngDefaultControl [value] = "item">{{item}}</ion-option>                      
                  </div>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
        </div>
              <!-- <div [class.hide]="forQuickQuote" class="saveBt"><button ion-button>
                  <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
                </button></div> -->
            </div>
          </div>


          <div *ngSwitchCase="'Child1'" class="selfBox">
            <div class="detailBoxNew">
              <ion-list class="formList">
                <ion-item>
                  <ion-label floating>Relation</ion-label>
            <ion-select class="select nomineeSelect" name="sonnomineeRelation" (ionChange)="setNomineeRelation('Child1');" [(ngModel)]="sonnomineeRelation">
              <!-- <div *ngFor="let item of rellationArray; let j = index"> -->
                    <ion-option *ngFor="let item of rellationArraySon">{{item}}</ion-option>
              <!-- </div> -->
            </ion-select>
                </ion-item>
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Enter nominee name</ion-label>
                    <ion-input type="text" maxlength="50" name="sonnomineeName"  [(ngModel)]="sonnomineeName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
                
                <ion-item class="datePc">   
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon (click)="DatePick($event,'Child1','2');" item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="sonnomineeDate" [(ngModel)]="sonnomineeDate" (keyup)="onDateChange($event,'Child1','2');"></ion-input>
  
              </ion-item>

            </ion-list>
            <div class="minorApointe"  [class.hide]= "hideAptChild1">
              <div class="nomineeRow">
          <h6>Select Your Apointee</h6>
                <ion-list class="formList">
            <ion-item>
              <ion-label floating>Enter Apointee Name</ion-label>
              <ion-input type="text" autocapitalize="words" [(ngModel)]="sonappointeeName" name="sonappointeeName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Relation</ion-label>
              <ion-select class="select appointeeSelect" [(ngModel)]="sonappointeeRelation" name="sonappointeeRelation" >
                  <!-- <ion-option [(ngModel)]= "members.AptRelWithominee" name="AptRelWithominee" *ngFor="let item of immediateMemberArray; let i = index">{{item.title}}</ion-option> -->
                  <div *ngFor="let item of appointeeArraySon; let j = index">
                        <ion-option  ngDefaultControl [value] = "item">{{item}}</ion-option>                      
                </div>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>
            <!-- <div [class.hide]="forQuickQuote" class="saveBt"><button ion-button>
                <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
              </button></div> -->
          </div>
        </div>


          <div *ngSwitchCase="'Child2'" class="selfBox">
            <div class="detailBoxNew">
              <ion-list class="formList">
                <ion-item>
                  <ion-label floating>Relation</ion-label>
            <ion-select class="select nomineeSelect" name="daughternomineeRelation" (ionChange)="setNomineeRelation('Child2');" [(ngModel)]="daughternomineeRelation">
              <!-- <div *ngFor="let item of rellationArray; let j = index"> -->
                    <ion-option *ngFor="let item of rellationArrayDaughter">{{item}}</ion-option>
              <!-- </div> -->
            </ion-select>
                </ion-item>
                <div class="memberBlock">
                  <ion-item>
                    <ion-label floating>Name of the proposer</ion-label>
                    <ion-input type="text" char-only maxlength="50" name="daughternomineeName" [(ngModel)]="daughternomineeName" autocapitalize="words" value=""></ion-input>
                  </ion-item>
                </div>
                
                <ion-item class="datePc">   
                  <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                  <ion-icon (click)="DatePick($event,'Child2','3');" item-end class="datetimeIcon"></ion-icon>
                  <ion-input maxlength="10" type="tel" id="" name="daughternomineeDate" [(ngModel)]="daughternomineeDate" (keyup)="onDateChange($event,'Child2','3');"></ion-input>
  
              </ion-item>
            </ion-list>
            <div class="minorApointe"  [class.hide]= "hideAptChild2">
              <div class="nomineeRow">
          <h6>Select Your Apointee</h6>
                <ion-list class="formList">
            <ion-item>
              <ion-label floating>Enter Apointee Name</ion-label>
              <ion-input type="text" autocapitalize="words" [(ngModel)]="daughterappointeeName" name="daughterappointeeName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Relation</ion-label>
              <ion-select class="select appointeeSelect" [(ngModel)]="daughterappointeeRelation" name="daughterappointeeRelation" >
                  <!-- <ion-option [(ngModel)]= "members.AptRelWithominee" name="AptRelWithominee" *ngFor="let item of immediateMemberArray; let i = index">{{item.title}}</ion-option> -->
                  <div *ngFor="let item of appointeeArrayDaughter; let j = index">
                        <ion-option  ngDefaultControl [value] = "item">{{item}}</ion-option>                      
                </div>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>
      </div>
            <!-- <div [class.hide]="forQuickQuote" class="saveBt"><button ion-button>
                <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
              </button></div> -->
          </div>
        </div>




        </div>
      </div>
    </div>
  </ion-content>
  <ion-footer >
    <button ion-button class="commonBt" (click)="proceedNext()">proceed</button>
  </ion-footer> 