page-pa-nominee-details {
  
  .refNo{

    color: #fff
  }
  
  .whiteRow {
    padding: 1rem 0;
    margin: 2rem 0;
  }

  .nomineeTitle {
    font-size: 1.4rem;
    color:#6f7072;
    font-weight: bold;
    padding: 1rem;
    margin: 0;
  }

  .datetimeIcon {

    background: url(../assets/imgs/personal/dateIcon.png) no-repeat right 8px;
    margin: 0 !important;
  }

  .selfBox {
    padding-top: 0;

    h2 {
      margin-top: 1.5rem !important;
      padding-bottom: 0 !important;
    }
  }

  .totalPremium {
    font-size: 1.2rem;
    color: #6f7072;

    strong {
      color: #000;
    }
  }

  .premBreakup {
    float: right;
    color: #e9573d;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 28px;
  }

  .tabsWrapper {
    padding: 1rem;
    position: relative;
  }

  .segment {
    .segment-button {
      border-bottom-width: 3px;
      color: #6f7072;
      text-transform: capitalize;
      font-size: 1.4rem;
      border-left-width: 0;
      border-top-width: 0;
      border-right-width: 0;
      border-color: #eaeaea;
      white-space: inherit;
      padding: 0 5px;


      &.segment-activated {
        color: #320c50;
        border-color: #320c50;
        background-color: #fff;
      }
    }
  }


  .detailBoxNew {
    .formList {
      .memberBlock {
        float: none;
      }

      .input-wrapper {
        display: block;
      }

      .item-block {
        .item-inner {
          box-shadow: inset 0 -1px 0 0 #d8dbe0 !important;
        }
      }

      ion-item {
        .label {
          font-size: 1.4rem;
          color: #6f7072;
        }

        .select {
          background: url(../assets/imgs/vector/selectArrow.png) no-repeat right center;
        }
      }
    }

    .maleFemale {
      .toggle-inner {
        background-color: #4d2a69;
      }

      &.toggle-checked {
        .toggle-inner {
          background-color: #4d2a69;
        }
      }
    }

    .takeImg {
      .personalImg {
        display: inline-block;
        background: #adadad;
        width: 72px;
        height: 72px;
        border: 1px solid #e7e7e7;

        img {
          text-align: center;
          display: block;
          margin: 0 auto;
          transform: translateY(25%);
        }
      }

      ion-icon {
        font-size: 37px;
        margin-top: 2rem;
      }

      p {
        font-size: 11px;
        color: #6f7072;
        margin: 5px 0;
      }
    }

    .saveBt {
      width: 100%;
      border-top: 1px solid #eeeeee;
      position: absolute;
      background: #fff;
      left: 0;
      border-radius: 0 0 5px 5px;
      bottom: -37px;

      button {
        box-shadow: none;
      }

      .email {
        color: #320c50;
      }
    }
  }

  .genderSec {
    display: block;
    padding-top: 1.5rem;

    label {
      display: block;
      font-size: 1.4rem;
      color: #6f7072;
      padding-bottom: 1rem;
    }

    .gSec {
      display: inline-block;
      padding-right: 1.5rem;

      .genderIcon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: block;
        background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;

        &.maleSec {
          background-position: 6px -1083px;
        }

        &.femaleSec {
          background-position: 6px -1201px;
        }

      }

    }
  }

  .inputbox {
    display: inline-block;
    border-bottom: 1px solid #d4d4d4;
    width: 130px;
    padding: 0 1rem 0.5rem 1rem;

    span {
      display: inline-block;
      width: auto;
      width: 5%;
      padding-right: 1rem;
    }

    .item {
      display: inline-block;
      width: 87%;
      overflow: inherit;
      padding: 0;
      min-height: auto;

      .item-inner {
        border-bottom: none;
        padding-right: 0;

        .text-input {
          margin: 0;
        }
      }
    }
  }

  .datePc{
    .input-wrapper{
      position: relative;
    }
  }

}
