page-dashboard-listing {
	.chkbxPosition{
		float: right;
		width: 100px;
	}
	.sndLink{
		float: right;
	}
	.mailpolicyBtn {
		.dlhBtn{
			width:100%; 
			float: left;
		}
	}
	.dashboardMenu{
        background:#fff;
       margin:-15px -15px 15px -15px;
       .sumInsuredSlide {
           padding:9px 0 0 0;
           .segment-button{
               border:0;
               border-radius: none;
               color: #6f7072;
               font-size: 12px;
               margin-left: 9px;
             
              
               &.segment-activated{
				   border:0;
				   border-radius:0;
				background:#fff!important;
                color:#e9573d!important;
				border-bottom:2px solid #c11b17!important;
			}
           }
	   }
	   
	   
	}
	
	.dashboardlistOpen{
		background: #fff;
		border-radius: 8px;
        overflow: hidden;
		position: relative;
		margin-top:-21px;
		margin-bottom:20px;
		
		.policyUser{
			.nameRow{
				font-size: 14px;
				span{
					font-size:12px;
				}
			}
			.list{
				 margin: 0;
				 .label{
					margin: 12px 8px 8px 0;
				 }
			}
			
		}
		.policyDetails{
			padding: 12px 16px 0px 16px;
			// height:200px; 
			border-top: 1px solid #d4d4d4;
             border-bottom: 1px solid #d4d4d4;
			
			.premiumrWrap{
				position: relative;
				background: #f5f7fa;
				overflow: hidden;
				padding: 30px 10px 15px 10px;
				.preminAmt{
					position: absolute;
					left: 11px;
					top: 11px;
					color:#8cc152;
					font-size:13.5px;

				}
				.premaxAmt{
					position: absolute;
					right: 11px;
					top: 11px;
					color:#ccd1d9;
					font-size:13.5px;

				}
				.premiumRange{
					background: #ccd1d9;
					height: 4px;
					width:100%;
					border-radius: 9px;
					.prangeIndicate{
						height: 4px;
						background: #8cc152;
						border-radius: 9px;
					}
				}
			}
			.pdetailsWrap{
				margin-top: 17px;
			 ion-grid{
				 ion-row{
					[col-5]{
						color: #6f7072;
						font-size: 12px;
					}
					[col-7]{
						color: #333333;
						font-size: 13px;
						span{
							display: block;
							color:#e9573d;
							font-size: 14px;
							text-decoration: underline;
							padding-bottom: 10px;
							&:after{
								content:"";
								background: url('../assets/imgs/downloadDoc.png') no-repeat;
								width: 13px;
								height:12px;
								margin-left: 8px;
								display: inline-block;
							}
						}
					}
				 }
			 }
			}
		}
		.mailpolicyBtn{
			button{
				margin: 0;
				background: #e9573d;
				color: #fff;
				font-size: 14px;
			}
		}
	}

	.toggleBt .toggle-icon, .toggleBt.toggle-checked .toggle-icon{ height:10px; background: #4f5162;}
	.toggleBt .toggle-inner{top:-5px;}

	.dashboardList{
		margin-bottom: 5px;
		.list{
			margin:0;
			.contentBox{
				margin-bottom:1rem;	
			}
		}
		ion-item-sliding{
			border-radius:5px;
			.label{
				padding:0;
				margin:0;
			}
		}
		ion-item-options{
			border:0;
		}
		.item-block{
			padding:10px 10px 8px 10px;
			.item-inner{
				padding:0;
			}
		}
        .premcard{
            .row{
                .col{
                &:first-child{
                    padding-left:0;                    
                }
            }
                
            }
            
		}
		.slideclBtn{
			position: relative;
			color:#e9573d;
			font-size:14px;
			padding: 25px 30px 20px 35px;
			&.slidecallBtn{
				&:after{
					position: absolute; 
					width: 1px;
					height: 38px;
					color: #fff;
					content: "";
					background:#a54159;
					z-index: 999;
					right: 0;
				}

			}
			
			.slideCall{
				background:url("../assets/imgs/icon_call_white.png") no-repeat;
				width: 19px;
				height:25px;

			}
			.slideView{
				background:url("../assets/imgs/icon_view_white.png") no-repeat;
				width: 25px;
				height:25px;
				
			}
			
		}
		
	}
	.dashboardListTop{
		overflow: hidden;
		color:#fff;
		padding:8px 0 0 0;
		.liscol1{
			float: left;
			span{ float:left;  padding:0;}
			.toggleBt{ float:left; margin:0 5px}
			.label{ float: left; margin:0; padding:0;}
		}
		.liscol2{
			float: right;
			.dlistcol{ 
				float:left; 
				border-left:1px solid #646569; 
				padding:0 10px; 
				height:18px;
				&:first-child{
					border-left:0;
				}
				&:last-child{
					padding-right:0;
				}
				}
			.searchIcon{
				width:18px; height:18px; background:url(../assets/imgs/search_icon.png) 0 0 no-repeat;
				display:inline-block;
			}
			.downloadLink{
				width:18px; height:18px; background:url(../assets/imgs/download_icon.png) 0 0 no-repeat;
				display:inline-block;
			}
			.shopinList{
				position:relative;
				width:40px;
				span{     
					background: #e9573d;
					border-radius: 30px;
					color: #fff;
					padding: 2px 9px;
					font-size: 11px;
					font-weight: normal;
					display: inline-block;
				}
				.shopingIcon{
				width:18px; height:18px; background:url(../assets/imgs/shoping_icon.png) 0 0 no-repeat;
				display:inline-block;
				margin-left:10px;
				position:absolute;
				right:0;
				top:0;
	}
			}
		}
	}
	.postDate{
		width: 100%;
		overflow:hidden;
		text-align: center;
		padding:5px 0 10px 0;
		span{
			background: #4f5162;
			color:#ceced2;
			padding:5px 15px;
			display: inline-block;
			font-size:1.2rem;
			border-radius:30px;
		}
	}
    .nameRow{
        padding-bottom:8px;
        span{ 
            float: right; 
            font-size:1.3rem; 
            color:#6f7072; 
            padding:5px 0 0 0;
            }
    }
    .premcard{
    	padding:0;
    	h5{
    		font-size:1.2rem;
    		color:#8c8d8e;
    	}
    	p{
    		color:#333333;
    		font-size:1.4rem;
    	}
    }

.searchPopup{
	position: fixed;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	background:rgba(233,87,61,0.95);
	display: flex;
	    align-items: center;
	z-index:20;
	.searchBlock{
		position: relative;
		padding:20px;
		color:#fff;
		.item-block{
			background:transparent;
		}
		.searchBt{
			padding:10px 0;
			text-align: center;
			.commonBt{
				background: transparent;
				border:1px solid #f4ab9e;
				max-width:180px;
				color:#fef4f2;
    }
	

		.searchIcon{
			width:18px; height:18px; background:url(../assets/imgs/search_icon.png) 0 0 no-repeat;
				display:inline-block;
				position: absolute;
				right:25px;
				top:40px;
		}
	}
}
}

.dashbDatewrap{
	width:100%;
	height:100%;
	background: rgba(0,0,0,0.6);
	position: fixed;
	z-index: 20;
	.dashbDatepopup{
		background: #fff;
		width: 90%; 
		color:#000;
		font-size: 12px;
		position: absolute;
		top: 20%;
		left: 5%;
		padding: 0 16px 16px 16px;
		border-radius: 8px;
		.col1{
			width: 45%;
			float: left;

		}
		.col2{
			width: 45%;
			float: right;

		}
		.col6{
			width:45%;display: inline-block;
			float: left;
			&.colfr{
				float: right;
				button{
					background: #fff;
					color: #e9573d ;
					border:1px solid #e9573d;
				}
			}
			.sbmtBtn{
				margin-right: 10px;
			}
		}

	}
}

.noResultFound{
	color:#fff; 
	position:absolute; 
	padding:15px; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%);
	font-size: 17px;
	width:100%; 
	text-align:center;
}


}
