<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>Dashboard Listing</h1>
  <!-- <ion-icon name="close" class="headerClose ion-ios-close-outline"></ion-icon> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>
<ion-content padding class="body-bg">
  <div class="dashboardMenu">
    <ion-row class="sumInsuredSlide" >
      <ion-segment [(ngModel)]="policy_type" (ionChange)="onTypeChange($event)">
        <ion-segment-button value="policy_issued">Policies Issued </ion-segment-button>
        <ion-segment-button value="policy_incomplete">Incompete Policies </ion-segment-button>
        <!-- <ion-segment-button value="policy_rejected">Rejected Policies </ion-segment-button> -->
        <ion-segment-button value="quotes_generated">Quotes Generated </ion-segment-button>
        <ion-segment-button value="e_proposal">E-Proposal </ion-segment-button>
      </ion-segment>
    </ion-row>
  </div>
    <div class="dashboardListTop" >
    <div class="liscol1" *ngIf="policy_type == 'policy_issued'"><span>All</span>
      <ion-toggle [(ngModel)]="activeStatus" (ionChange)="lookActivePolicies();" #toggleInput class="toggleBt"></ion-toggle>
      <ion-label>Active</ion-label>
    </div>
     <div class="liscol2">
        <!-- <div class="dlistcol" *ngIf="policy_type == 'e_proposal'"><ion-icon name="send"></ion-icon></div>
      <div class="dlistcol"><i class="downloadLink"></i></div>
       <div class="dlistcol">
        <div class="shopinList" (click)="hideShowAddmember(1);"><span>{{filterCount}}</span><i class="shopingIcon"></i></div>
      </div> -->
      <div class="dlistcol"><i class="searchIcon" (click)="searchBlock = true"></i></div>
    </div>
  </div>

  <div class="plocy content" [ngSwitch]="policy_type" >

    <div class="dashboardList" *ngSwitchCase="'policy_issued'">
      <ion-list *ngFor="let policiesIssued of policiesIssuedArray; let i = index">
        <div class=" postDate" *ngIf="policiesIssued.createdOn != ''"><span>{{policiesIssued.createdOn.split(' ')[0]}}</span></div>
        <ion-item-sliding #item  class="contentBox">
          <ion-item>
            <div class="nameRow">{{policiesIssued.FirstName}}<span>{{policiesIssued.PolicyNo}}</span></div>
            <ion-grid class="premcard">
              <ion-row>
                <ion-col>
                  <h5>Mobile no.</h5>
                  <p>{{policiesIssued.MobileNo}}</p>
                </ion-col>
                <ion-col>
                  <h5>Transaction ID </h5>
                  <p>{{policiesIssued.TransactionId}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right">
            <button class="slideclBtn slidecallBtn" ion-button (click)="contactUser(policiesIssued.MobileNo)">
              <span class="slideCall"></span>
              Call</button>
            <button class="slideclBtn" ion-button  (click)="onViewButtonClick($event, policiesIssued, item)">
                <span class="slideView"></span>
                View Quote</button>
          </ion-item-options>
        </ion-item-sliding>
        
        <div class="dashboardlistOpen" *ngIf="!policiesIssued.isDisabled">
          <div class="policyDetails">
             <div class="premiumrWrap">
                <span class="preminAmt">`{{policiesIssued.Premium}}</span>
                <span class="premaxAmt">`1L</span>
                <div class="premiumRange">
                   <div class="prangeIndicate" style="width:50px"></div>
                </div>
             </div>
             <div class="pdetailsWrap">
                <ion-grid>
                   <ion-row>
                      <ion-col col-5>Sum insured</ion-col>
                      <ion-col col-7>{{policiesIssued.SumInsured}}</ion-col>
                   </ion-row>
                   <ion-row>
                      <ion-col col-5>Policy type</ion-col>
                      <ion-col col-7>{{policiesIssued.PolicyType == "HTF" ? "Family Floater" : "Individual"}}</ion-col>
                   </ion-row>
                   <ion-row>
                      <ion-col col-5>Premium</ion-col>
                      <ion-col col-7>{{policiesIssued.Premium}}</ion-col>
                   </ion-row>
                   <ion-row>
                      <ion-col col-5>Frequency</ion-col>
                      <ion-col col-7>{{policiesIssued.Frequency}}</ion-col>
                   </ion-row>
                   <ion-row>
                      <ion-col col-5>Term</ion-col>
                      <ion-col col-7>{{policiesIssued.Term}}</ion-col>
                   </ion-row>
                   <ion-row>
                      <ion-col col-5> Policy schedule</ion-col>
                      <ion-col col-7>
                        <span (click)="getPDF(policiesIssued);">Download PDF</span>
                         <!-- <span>Documents</span>
                         <span>Exclusion document</span>
                         <span>Rater document</span> -->
                      </ion-col>
                   </ion-row>
                </ion-grid>
             </div>
          </div>
          <div class="mailpolicyBtn">
            <button ion-button full class="commonBt dlhBtn" (click)="policiesIssued.isDisabled = true">CLOSE</button>
             <!-- <button ion-button full class="commonBt dlhBtn">EMAIL POLICY</button> -->
          </div>
        </div>

      </ion-list>

     <span *ngIf="totalPoliciesIssuedCount =='0'" class="noResultFound">No results found</span>

    </div>

    <div class="incomeplatePolicy dashboardList" *ngSwitchCase="'policy_incomplete'">
      <ion-list *ngFor = "let policies of policyInCompleteArray; let i = index"  >
        <div class=" postDate" *ngIf="policies.createdOn != ''"><span>{{policies.createdOn.split(' ')[0]}}</span></div>
        <ion-item-sliding #item  class="contentBox">
          <ion-item>
            <div class="nameRow">{{policies.FirstName}}<span>{{policies.referenceNo}}</span></div>
            <ion-grid class="premcard">
              <ion-row>
                <ion-col>
                  <h5> Transaction Id</h5>
                  <p>{{policies.TransactionId}}</p>
                </ion-col>
                <ion-col>
                  <h5> Premium </h5>
                  <p>₹ {{policies.Premium}}</p>
                </ion-col>
                <ion-col>
                  <h5> Term</h5>
                  <p>{{policies.Term}} yrs</p>
                </ion-col>
                <ion-col text-right>
                  <h5>STP </h5>
                  <p>{{policies.PolicyType}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right">
            <button class="slideclBtn slidecallBtn" ion-button (click)="contactUser(policies.MobileNo)">
              <span class="slideCall"></span>
              Call</button>
            <button class="slideclBtn" ion-button  (click)="onViewClick(i,$event)">
                <span class="slideView"></span>
                View Quote</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
      <span *ngIf="incompletePoliciesCount =='0'" class="noResultFound">No results found</span>
    </div>

    <div class="qGenerated dashboardList" *ngSwitchCase="'policy_rejected'">
      <!-- <div class="dashboardList"> -->
      <ion-list  *ngFor="let rejectedPolicy of rejectedPoliciesArray; let i = index">
        <div class=" postDate" *ngIf="rejectedPolicy.createdOn != ''"><span>{{rejectedPolicy.createdOn.split(' ')[0]}}</span></div>
        <ion-item-sliding #item class="contentBox">
          <ion-item>
            <div class="nameRow">{{rejectedPolicy.FirstName}}<span>{{rejectedPolicy.referenceNo}}</span></div>
            <ion-grid class="premcard">
              <ion-row>
                <ion-col>
                  <h5>Mobile no.</h5>
                  <p>{{rejectedPolicy.MobileNo}}</p>
                </ion-col>
                <ion-col>
                  <h5>Email ID </h5>
                  <p>{{rejectedPolicy.EmailAddr}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options side="right">
            <button class="slideclBtn slidecallBtn" ion-button (click)="contactUser(rejectedPolicy.MobileNo)">
              <span class="slideCall"></span>
              Call</button>
            <button class="slideclBtn" ion-button  (click)="onViewButtonClick($event, rejectedPolicy, item)">
                <span class="slideView"></span>
                View Quote</button>
          </ion-item-options>
        </ion-item-sliding>

        <div class="dashboardlistOpen"  *ngIf="!rejectedPolicy.isDisabled">
            <div class="policyDetails">
               <div class="premiumrWrap">
                  <span class="preminAmt">`{{rejectedPolicy.Premium}}</span>
                  <span class="premaxAmt">`1L</span>
                  <div class="premiumRange">
                     <div class="prangeIndicate" style="width:50px"></div>
                  </div>
               </div>
               <div class="pdetailsWrap">
                  <ion-grid>
                     <ion-row>
                        <ion-col col-5>Sum insured</ion-col>
                        <ion-col col-7>{{rejectedPolicy.SumInsured}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Policy type</ion-col>
                        <ion-col col-7>{{rejectedPolicy.PolicyType == "HTF" ? "Family Floater" : "Individual"}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Premium</ion-col>
                        <ion-col col-7>{{rejectedPolicy.Premium}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Frequency</ion-col>
                        <ion-col col-7>{{rejectedPolicy.Frequency}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Term</ion-col>
                        <ion-col col-7>{{rejectedPolicy.Term}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5> Downloads</ion-col>
                        <ion-col col-7>
                          <span>Download PDF</span>
                           <!-- <span>Documents</span>
                           <span>Exclusion document</span>
                           <span>Rater document</span> -->
                        </ion-col>
                     </ion-row>
                  </ion-grid>
               </div>
            </div>
            <div class="mailpolicyBtn">
               <button ion-button full class="commonBt dlhBtn" (click)="rejectedPolicy.isDisabled = true">CLOSE</button>
               <!-- <button ion-button full class="commonBt dlhBtn">EMAIL POLICY</button> -->
            </div>
          </div>

      </ion-list>

      <span *ngIf="rejectedPoliciesCount =='0'">No results found</span>
    </div>
          <!-- </div> -->

          <div class="qGenerated dashboardList" *ngSwitchCase="'quotes_generated'">
      <!-- <div class="dashboardList"> -->
      <ion-list *ngFor="let quotes of quotesGenerationArray;">
      <div class=" postDate" *ngIf="quotes.createdOn != ''"><span>{{quotes.createdOn.split(' ')[0]}}</span></div>
      <ion-item-sliding #item class="contentBox" >
      <ion-item>
      <div class="nameRow">{{quotes.FirstName}}<span>{{quotes.EmailAddr}}</span></div>
      <ion-grid class="premcard">
      <ion-row>
      <ion-col>
      <h5>Installment</h5>
      <p>{{quotes.Frequency}}</p>
      </ion-col>
      <ion-col>
      <h5> Premium </h5>
      <p>₹ {{quotes.Premium}}</p>
      </ion-col>
      <ion-col>
      <h5> Term</h5>
      <p>{{quotes.Term}} yrs</p>
      </ion-col>
      <ion-col text-right>
      <h5>STP </h5>
      <p>{{quotes.PolicyType}}</p>
      </ion-col>
      </ion-row>
      </ion-grid>
      </ion-item>
      <ion-item-options side="right">
      <button class="slideclBtn slidecallBtn" ion-button (click)="contactUser(quotes.MobileNo)">
      <span class="slideCall"></span>
      Call</button>
      <button class="slideclBtn" ion-button (click)="onViewButtonClick($event, quotes, item)">
      <span class="slideView"></span>
      View Quote</button>
      </ion-item-options>
      </ion-item-sliding>
          <div class="dashboardlistOpen" *ngIf="!quotes.isDisabled">
              <div class="policyDetails">
                 <div class="premiumrWrap">
                    <span class="preminAmt">`{{quotes.Premium}}</span>
                    <span class="premaxAmt">`1L</span>
                    <div class="premiumRange">
                       <div class="prangeIndicate" style="width:50px"></div>
                    </div>
                 </div>
                 <div class="pdetailsWrap">
                    <ion-grid>
                       <ion-row>
                          <ion-col col-5>Sum insured</ion-col>
                          <ion-col col-7>{{quotes.SumInsured}}</ion-col>
                       </ion-row>
                       <ion-row>
                          <ion-col col-5>Policy type</ion-col>
                          <ion-col col-7>{{quotes.PolicyType == "HTF" ? "Family Floater" : "Individual"}}</ion-col>
                       </ion-row>
                       <ion-row>
                          <ion-col col-5>Premium</ion-col>
                          <ion-col col-7>{{quotes.Premium}}</ion-col>
                       </ion-row>
                       <ion-row>
                          <ion-col col-5>Frequency</ion-col>
                          <ion-col col-7>{{quotes.Frequency}}</ion-col>
                       </ion-row>
                       <ion-row>
                          <ion-col col-5>Term</ion-col>
                          <ion-col col-7>{{quotes.Term}}</ion-col>
                       </ion-row>
                       <!-- <ion-row>
                          <ion-col col-5> Downloads</ion-col>
                          <ion-col col-7>
                            <span>Download PDF</span>
                             <span>Documents</span>
                             <span>Exclusion document</span>
                             <span>Rater document</span>
                          </ion-col>
                       </ion-row> -->
                    </ion-grid>
                 </div>
              </div>
              <div class="mailpolicyBtn">              
                 <button ion-button full class="commonBt dlhBtn" (click)="quotes.isDisabled = true">CLOSE</button>
                 <!-- <button ion-button half class="commonBt dlhBtn">EMAIL POLICY</button> -->
              </div>
            </div>

        </ion-list>

        <span *ngIf="totalQuoteGeneratedCount =='0'" class="noResultFound">No results found</span>
      <!-- </div> -->
    </div>

    <div class="dashboardList" *ngSwitchCase="'e_proposal'">
        <ion-list *ngFor="let eProposal of eProposalStatsArray; let i = index">
          <div class=" postDate" *ngIf="eProposal.createdOn != ''"><span>{{eProposal.createdOn.split(' ')[0]}}</span></div>
          <ion-item-sliding #item  class="contentBox">
            <ion-item>
              <div class="nameRow">{{eProposal.FirstName}}<span>{{eProposal.referenceNo}}</span></div>
              <ion-grid class="premcard">
                <ion-row>
                  <ion-col>
                    <h5>Mobile no.</h5>
                    <p>{{eProposal.MobileNo}}</p>
                  </ion-col>
                  <ion-col>
                    <h5>Email ID </h5>
                    <p>{{eProposal.EmailAddr}}</p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                      <h5>Status</h5>
                      <p>{{eProposal.TransactionStatus}}</p>
                    </ion-col>
                    <ion-col>                    
                            <!-- <ion-item >
                              <ion-label>Send Email</ion-label>
                              <ion-checkbox></ion-checkbox>
                            </ion-item>      <input type = "checkbox" />                   -->                          
                      <p class="chkbxPosition"><a href="#" class="sndLink" (click)="sendEmail(eProposal);">Send Email</a></p>
                    </ion-col>
                  </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="right">
              <button class="slideclBtn slidecallBtn" ion-button (click)="contactUser(eProposal.MobileNo)">
                <span class="slideCall"></span>
                Call</button>
              <button class="slideclBtn" ion-button  (click)="onViewButtonClick($event, eProposal, item)">
                  <span class="slideView"></span>
                  View Quote</button>
            </ion-item-options>
          </ion-item-sliding>
          
          <div class="dashboardlistOpen" *ngIf="!eProposal.isDisabled">
            <div class="policyDetails">
               <div class="premiumrWrap">
                  <span class="preminAmt">`{{eProposal.Premium}}</span>
                  <span class="premaxAmt">`1L</span>
                  <div class="premiumRange">
                     <div class="prangeIndicate" style="width:50px"></div>
                  </div>
               </div>
               <div class="pdetailsWrap">
                  <ion-grid>
                     <ion-row>
                        <ion-col col-5>Sum insured</ion-col>
                        <ion-col col-7>{{eProposal.SumInsured}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Policy type</ion-col>
                        <ion-col col-7>{{eProposal.PolicyType == "HTF" ? "Family Floater" : "Individual"}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Premium</ion-col>
                        <ion-col col-7>{{eProposal.Premium}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Frequency</ion-col>
                        <ion-col col-7>{{eProposal.Frequency}}</ion-col>
                     </ion-row>
                     <ion-row>
                        <ion-col col-5>Term</ion-col>
                        <ion-col col-7>{{eProposal.Term}}</ion-col>
                     </ion-row>
                     <ion-row [class.hide]="showRow">
                        <ion-col col-5> Downloads</ion-col>
                        <ion-col col-7>
                          <span (click)="getPDF(eProposal);">Download PDF</span>
                           <!-- <span>Documents</span>
                           <span>Exclusion document</span>
                           <span>Rater document</span> -->
                        </ion-col>
                     </ion-row>
                  </ion-grid>
               </div>
            </div>
            <div class="mailpolicyBtn">
              <button ion-button full class="commonBt dlhBtn" (click)="eProposal.isDisabled = true">CLOSE</button>
               <!-- <button ion-button full class="commonBt dlhBtn">EMAIL POLICY</button> -->
            </div>
          </div>
  
        </ion-list>
  
       <span *ngIf="totalPoliciesIssuedCount =='0'" class="noResultFound">No results found</span>
  
      </div>
    
  </div>

  <!-- <div [class.hide]="hideshowDiv"><span style="text-color: white">No results found.</span></div> -->

</ion-content>

<div class="searchPopup" *ngIf="searchBlock">
  <div class="searchBlock">
    <i class="searchIcon"></i>
    <ion-list class="formList">
      <ion-item>
        <ion-input type="text" placeholder="Search" [(ngModel)]="searchText"></ion-input>
      </ion-item>
    </ion-list>
    <p>You can search by policy number, name and mobile number</p>
    <div class="searchBt">
      <button ion-button class="commonBt" (click)="onSearchClick($event)">Search</button>
      <p (click)="searchBlock = false">Cancel</p>
    </div>
  </div>
</div>

<div class="dashbDatewrap" [class.hide]="dateRange">
  <div class="dashbDatepopup">
    <div class="col1">
      <ion-list class="formList">
        <ion-item>
            <ion-label floating>From</ion-label>
            <ion-icon (tap)="fromDatePick($event);" item-end class="datetimeIcon"></ion-icon>
            <ion-input maxlength="10" type="tel" max={{maxDate}} min={{minDate}} [(ngModel)]="fromDate" name="age"></ion-input>
            </ion-item>
          </ion-list>
    </div>
    <div class="col2">
        <ion-list class="formList">
            <ion-item>
                <ion-label floating>To</ion-label>
                <ion-icon (tap)="toDatePick($event);" item-end class="datetimeIcon"></ion-icon>
                <ion-input maxlength="10" type="tel" max={{maxDate}} min={{minDate}} [(ngModel)]="toDate" name="age"></ion-input>
            </ion-item>
        </ion-list>
    </div>
    <div class="col6"><button ion-button class="commonBt sbmtBtn" (click)= "onSubmitClick();">Submit</button></div>
    
    <div class="col6 colfr"><button ion-button class="commonBt" (click)="onCancelClick();">Cancel</button></div>
  </div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<!-- Policy Search by Type -->

<!-- <div class="addMemberPopup" [ngClass]="{'openPopup': isClassOneActive}"  >
  <div class="btRow">
      <div class="leftCol"> <button ion-button class="btn cancel" (click)="hideShowAddmember(2);">Cancel</button> </div>
      <div class="rightCol right"> <button ion-button class="btn cancel" (click)="hideShowAddmember(3);" >Done</button> </div>
  </div>
  <div class="addmScroll">
  <ion-list class="addmList">
      <ion-item *ngFor="let policyMode of policyModePopup" [class.hide]="member.showFamilyMemberOnScreen" >
          <ion-label>{{member.title}}</ion-label>
          <ion-checkbox  checked="{{member.memberSelectedOnAddmember}}" [disabled]="member.disableRemove" (click)="memberClicked($event,member);"></ion-checkbox>
      </ion-item>
  </ion-list>
  </div>
</div> -->