<!-- <div id="custom-overlay" [style.display]="splash"  class="background-image">
    <div class="flb">
      <div class="Aligner-item Aligner-item-top"></div>
      <img src="assets/imgs/homer-simpson.svg">
      <div class="Aligner-item Aligner-item-bottom"></div>
    </div>
  </div>
 -->
  <ion-content></ion-content>
