<!--
  Generated template for the QuickQuoteResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" (click)="onBackClick();"></button>
    <h1><span>Health Insurance</span>Buy Health Policy</h1>
  <!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
      <i></i>
      <i></i>
      <i></i>
  </button>
  </ion-header>
  
  <ion-content padding class="body-bg"> 
  <ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
    <!-- <div class="yourQt" [class.hide]="!insuredType">
      <h5> Sum Insured <span>- {{familySumInsured}}</span></h5> <button ion-button class="cutomiseBt" (click)="toggleCustomize()"  *ngIf="openEdit" >Make changes</button><button ion-button class="cutomiseBt"  *ngIf="!openEdit" (click)="toggleCustomize();">X</button>
  
       <div class="floaterQtblock"  *ngIf="!openEdit" >
        <div class="accordContent"> 
        <ion-row class="sumInsuredSlide">
              <ion-segment  [(ngModel)]="familyInsurence"> 
                  <ion-segment-button *ngFor="let amt of insurenceAmtToShow" value={{amt.sicode}} >{{amt.amtTitle}} </ion-segment-button>                 
          </ion-segment> 
        </ion-row>
      </div>
  
          <ion-row class="accordRow"  *ngFor="let member of tempMemberArray">
            <ion-thumbnail class="qcardIcon"><img src={{member.imgUrl}} class="selfImg"><span class="self">{{member.title}}</span></ion-thumbnail>         
              <ion-icon name="ios-trash-outline" class="deleteIcon" *ngIf="!member.disableRemove" (click)="removeMember(member, $event);"></ion-icon>
        </ion-row>
         <div class="addotherMRow">
            <a href='#' class="addOtherM" (click)="addMember();" ><i class="icon ion-ios-arrow-thin-left" ></i> Add other members </a>
        </div> 
  
          <ion-row  [class.hide]="!insuredType">
            <button ion-button class="generateQbt" (click)="generateQuote();">generate quote</button>
    </ion-row>
       </div>
    </div> -->
  <!-- <div class="yourQt" [class.hide]="insuredType">
    <h5> Your quote </h5> <button ion-button *ngIf="!show" class="cutomiseBt" (click)="customizeView();">Make changes</button><button ion-button *ngIf="show" class="cutomiseBt" (click)="customizeView();">X</button>
    <div *ngIf="show">
    <div class="yourQaccord">
      <mat-accordion>
      <mat-expansion-panel class="accordRow" (opened)="panelOpenState = true" (click)="toggleGroup(member)"
                  (closed)="panelOpenState = false" *ngFor = "let member of tempMemberArray">
          <mat-expansion-panel-header class="item-accordio">
            <mat-panel-title>
                  <ion-thumbnail class="qcardIcon"><img src={{member.imgUrl}}><span class="self">{{member.title}}</span></ion-thumbnail> <span class="amntRight">{{member.insuredAmtText}}<ion-icon name="ios-trash-outline" *ngIf="!member.disableRemove" (click)="removeMember(member, $event);" class="deleteIcon"></ion-icon></span>
            </mat-panel-title>
            <mat-panel-description>        
            </mat-panel-description>       
          </mat-expansion-panel-header>
      <div class="accordContent"> 
        <h6>Sum Insured </h6>
        <ion-row class="sumInsuredSlide">
          <ion-segment [(ngModel)]="slide" >                  
              <ion-segment-button  *ngFor="let amt of insurenceAmtToShow" (click) = "selectedMemberValue(amt);" value={{amt.sicode}}>{{amt.amtTitle}}</ion-segment-button>
          </ion-segment>
        </ion-row>
    </div>
  </mat-expansion-panel>
  </mat-accordion>
      
        <div class="addotherMRow">
            <a href='#' class="addOtherM" (click)="addMember();" ><i class="icon ion-ios-arrow-thin-left" ></i> Add other members </a>
    </div>
    <ion-row  [class.hide]="insuredType">
          <button ion-button class="generateQbt" (click)="generateQuote();">generate quote</button>
    </ion-row>
    </div>
  </div>
  </div> -->
  
  <div class="whiteRow" [class.hide]="insuredType" >
    <!-- <div class="iconToggle"><a href="#" (click)="showGraph(2);" *ngIf="graph" class="graphBt"></a>
      <a href="#" (click) = "showGraph(1);" *ngIf="!graph" class="graphBt2"></a></div> -->
      
  <div class="tabsWrapper">
  <div class="tabsRow"  [class.hide]="insuredType">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="OneTime" (click)="getPolicyTermOneTimeDisplayAmount();">
        One-Time
      </ion-segment-button>
      <ion-segment-button value="Monthly" (click)="getPolicyTermMonthlyDisplayAmount();">
        Monthly
      </ion-segment-button>
      <ion-segment-button value="Quarterly" (click)="getPolicyTermQuarterlyDisplayAmount();">
        Quarterly
      </ion-segment-button> 
      <ion-segment-button value="HalfYearly" (click)="getPolicyTermHalfyearlyDisplayAmount();">
        Half-Yearly
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- <div class="offamt">(10% off)</div> -->
  <div class="tabcontentsWrap" [ngSwitch]="pet" *ngIf="graph">
    <!-- <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
      <ion-item>
          <ion-card class="offerCard" [class.activeCard]="card.clickColorChange" (click)="selectSumInsured(card, $event)" *ngFor = "let card of oneTimecards?.reverse()">
          <ion-header>
            <div class="leftCol"><span> {{card.ptTitle}}</span> Year Policy</div>
            <div class="rightCol right" (click)="showCardDetailsPop($event, card);"> Premium Breakup</div>
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
  
              <p  class="cardfrP">
                  <span class="newPrice"> ₹{{card.discountAmount}} </span>               
                  <span class="oldPrice" [class.hide]="card.showOld" > ₹{{card.yearAmount}}</span>
                </p>
                <p [class.hide]="card.showOld">
                  <span class="saveTxt">You save:</span>
                   <span class="offamnt"> ₹{{card.saveAmount}} <span>({{card.totalDiscount}}% off)</span>
                 </span>
                  <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png"></i>
               </p>
              <p col-6><span class="newPrice">₹{{card.discountAmount}} </span>
                <span class="oldPrice">₹{{card.yearAmount}}</span>
              </p>
              <p col-6>You save: 
                <span class="offamnt">₹{{card.saveAmount}} ({{card.totalDiscount}})</span>
                 <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png" (click)="showCardDetailsPop($event, card);"></i></p>
          </ion-card-content>
            <i class="ion-ios-checkmark-outline" ></i>
        </ion-card>
        </ion-item>
      </ion-list> -->
      <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard"*ngFor = "let card of oneTimecards">
              <ion-header>
                  <div class="leftCol"><span> {{card.ptTitle}}</span> Year Policy</div>
                 <!-- <span class="recomend" [class.hide]="card.hideInstalmentIndiv"><img src="assets/imgs/star.png"></span> -->
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{card.discountAmount}}</span>
                  <span class="oldPrice" [class.hide]="card.showDiscountPerc">₹{{card.yearAmount}}</span>
                  <!-- <span class="offamnt">({{card.totalDiscount}}% off)</span> -->
                  <!--   -->
                   <span class="offamnt" [class.hide]="card.showDiscountPerc"> ({{card.totalDiscount}}% off)</span>
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Monthly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard" *ngFor = "let card of monthlyCards">
              <ion-header>
                  <div class="leftCol"><span> {{card.ptTitle}}</span> Year Policy</div>
                <!-- <span class="recomend" hidden><img src="assets/imgs/star.png"></span> -->
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{card.discountAmount}}</span>
                  <!-- <span> {{card.installmentTitle}}</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'Quarterly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard" *ngFor = "let card of quarterlyCards">
              <ion-header>
                  <div class="leftCol"><span> {{card.ptTitle}}</span> Year Policy</div>
               <!-- <span class="recomend" hidden><img src="assets/imgs/star.png"></span> -->
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{card.discountAmount}}</span>
                  <!-- <span> {{card.installmentTitle}}</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
      </ion-list>
      <ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
          <ion-item>
            <ion-card class="offerCard" *ngFor = "let card of halfyearlyCards">
              <ion-header>
                  <div class="leftCol"><span> {{card.ptTitle}}</span> Year Policy</div>
                <!-- <span class="recomend" hidden><img src="assets/imgs/star.png"></span> -->
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
                <p class="cardfrP">
                  <span class="newPrice">₹{{card.discountAmount}}</span>
                  <!-- <span> {{card.installmentTitle}}</span> -->
                </p>
              </ion-card-content>
              <ion-footer class="cardFooter">
                <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div>
                <div class="cardBt cardBtR" (click)="buyPopUpOpen(card);"> Buy Policy </div>
              </ion-footer>
            </ion-card>
          </ion-item>
      </ion-list>
      <!-- <ion-list *ngSwitchCase="'Monthly'" class="offercardList">
        <ion-item>      
          <ion-item>
            <ion-card class="offerCard" (click)="selectSumInsured(card)" [class.activeCard]="card.clickColorChange" *ngFor = "let card of monthlyCards?.reverse()" [class.hide]="card.view">
            <ion-header>
              <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
              <div class="rightCol right" (click)="showCardDetailsPop($event, card);"> Premium Breakup</div>
            </ion-header>           
            <ion-card-content class="ontimeCardInfo">
  
                <p  class="monthlyP">
                    <span class="newPrice"> ₹{{card.discountAmount}} </span>
                    <span  [class.hide]="card.hideInstalment" > {{card.installmentTitle}}</span>
                   
                    <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png"></i>
                  </p>
                
            </ion-card-content>
              <i class="ion-ios-checkmark-outline" ></i>
          </ion-card>
            </ion-item>
        </ion-item>    
      </ion-list>
    
        <ion-list *ngSwitchCase="'Quarterly'" class="offercardList"> 
        <ion-item>
          <h2>Quarterly</h2>
          <ion-item>
            <ion-card class="offerCard"  (click)="selectSumInsured(card)" [class.activeCard]="card.clickColorChange" *ngFor = "let card of quarterlyCards?.reverse()" [class.hide]="card.view">
            <ion-header>
              <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
              <div class="rightCol right" (click)="showCardDetailsPop($event, card);"> Premium Breakup</div>
            </ion-header>
            <ion-card-content class="ontimeCardInfo">
  
                <p  class="monthlyP">
                    <span class="newPrice"> ₹{{card.discountAmount}} </span>
                    <span  [class.hide]="card.hideInstalment" > {{card.installmentTitle}}</span>
                   
                    <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png"></i>
                  </p>
                  
               
            </ion-card-content>
              <i class="ion-ios-checkmark-outline"></i>
          </ion-card>
          </ion-item>
      </ion-item>    
    </ion-list>
  
        <ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
        <ion-item>      
          <h2>Half-Yearly</h2>
          <ion-item>
            <ion-card class="offerCard" (click)="selectSumInsured(card)" [class.activeCard]="card.clickColorChange" *ngFor = "let card of halfyearlyCards?.reverse()" [class.hide]="card.view">
              <ion-header>
                <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
                <div class="rightCol right" (click)="showCardDetailsPop($event, card);"> Premium Breakup</div>
              </ion-header>
              <ion-card-content class="ontimeCardInfo">
  
                    <p  class="monthlyP">
                        <span class="newPrice"> ₹{{card.discountAmount}} </span>
                        <span  [class.hide]="card.hideInstalment" > {{card.installmentTitle}}</span>                        
                        <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png" ></i>
                      </p>
  
              </ion-card-content>
              <i class="ion-ios-checkmark-outline"></i>
            </ion-card>
            </ion-item>
        </ion-item>    
      </ion-list> -->
  </div>
  <div class="btwrap">
 
    <!-- <button ion-button class="sendmailBt" (click)="voluntaryDeduction();" block>Voluntary Deduction</button> -->

 
</div>
      <!-- <div style="display: block" *ngIf="!graph">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [colors]="barChartColors"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
  
    </div>
   -->
  
  <div class="offerForm" [class.hide]="hideIndividualShare" >
      <ion-list class="fomrList" >
      <ion-item>
          <ion-label floating> Name of the proposer (Self)</ion-label>
      <ion-input type="text" [(ngModel)]="NameOfEmailProposerIndividual"></ion-input>
      </ion-item>
      </ion-list>
      <ion-list class="fomrList" >
      <ion-item *ngFor = "let emailList of sendEmailList">
          <ion-label floating>Emiail quote to</ion-label>
      <ion-input type="email" [(ngModel)]="emailList.value"></ion-input>
      </ion-item> 
      </ion-list>
      <a href='#' class="addOtherM" (click)="addEmailMember()" >Add participants <i class="icon ion-ios-plus-outline"></i></a>
      <div class="btwrap">
      <button ion-button class="sendmailBt" (click)="sendEmail()" block>Send email</button>
      </div>
  </div>
  <div class="offerForm" [class.hide]="hideIndividualShare">
      <ion-list class="fomrList" >
      <ion-item>
          <ion-label floating>Name of the proposer (Self)</ion-label>
      <ion-input type="text" [(ngModel)]="NameOfSMSProposerIndividual"></ion-input>
      </ion-item>
      </ion-list>
      <ion-list class="fomrList" >
      <ion-item *ngFor = "let sms of sendSMSList">
          <ion-label floating>SMS send to</ion-label>
      <ion-input type="tel" [(ngModel)]="sms.value"></ion-input>
      </ion-item> 
      </ion-list>
      <a href='#' class="addOtherM" (click)="addSmsMember();">Add participants <i class="icon ion-ios-plus-outline"></i></a>
      <div class="btwrap">
      <button ion-button class="sendmailBt" (click)="sendSms();" block>Send SMS</button>
      </div>
      </div>
  
  </div>
  </div>
  
  
  
  <div class="whiteRow" [class.hide]="!insuredType">
  <!-- 
      <ion-row>
          <ion-select class="age-range" [(ngModel)]="installTyp" >
            <ion-option *ngFor="let installment of installments" value={{installment.frequencyCode}}>{{installment.frequencyTitle}}</ion-option> 
          </ion-select>
    
      </ion-row>
     -->
     <div class="iconToggle">
       <ion-label class="query">Installment</ion-label>
        <ion-select class="age-range" [(ngModel)]="installTyp" (ionChange)="onSelectChange($event)" >
            <ion-option *ngFor="let installment of installments" value={{installment.FGCode}}>{{installment.frequencyTitle}}</ion-option> 
          </ion-select>
       <!-- <a href="#" (click)="toggleGraph(2)" *ngIf="!familyGraph" class="graphBt"></a>
       <a href="#" (click)="toggleGraph(1)" *ngIf="familyGraph" class="graphBt2"></a> -->
      </div>
    <div class="tabsWrapper">
    <div class="tabsRow"  [class.hide]="!insuredType">
      <ion-segment [(ngModel)]="petFamily">
        <ion-segment-button  value="OneYears" [class.hide]="hideOneYear" (click)="changeMemberInsuranceForService(1);">
          1 Year Policy
        </ion-segment-button> 
        <ion-segment-button value="TwoYears"  (click)="changeMemberInsuranceForService(2);">
          2 Years Policy
        </ion-segment-button>
        <ion-segment-button value="ThreeYears" (click)="changeMemberInsuranceForService(3);">
          3 Years Policy
        </ion-segment-button>
      </ion-segment>
    </div>
    
  <ion-list class="offercardList">
      <ion-item>
        <ion-card class="offerCard" *ngFor = "let card of threeYearFltCards">
          <ion-header>
            <div class="leftCol">Sum Insured ₹{{card.sumInsuredTitle}}</div>
           <!-- <span class="recomend" [class.hide] = "card.hideInstalment"><img src="assets/imgs/star.png"></span> -->
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
            <p class="cardfrP">
              <span class="newPrice">₹{{card.showPrice}}</span>
              <span class="oldPrice" [class.hide]= "zerodiscount">₹{{card.oldPrice}}</span>
              <span class="offamnt" [class.hide]= "zerodiscount">({{card.disPersec}}% off)</span>
            </p>
          </ion-card-content>
          <ion-footer class="cardFooter">
            <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div>
            <div class="cardBt cardBtR" (click)="buyPopUpOpen(card);"> Buy Policy </div>
          </ion-footer>
        </ion-card>
      </ion-item>
  </ion-list>
    <!-- <div class="offamt">{{yrDiscount}}</div>
    <div class="tabcontentsWrap" *ngIf="!familyGraph" [ngSwitch]="petFamily">
      <ion-list *ngSwitchCase="petFamily" class="offercardList">
        <ion-item>
          <ion-card class="offerCard" [class.activeCard]="card.clickColorChange" *ngFor = "let card of threeYearFltCards" (click)="selectSumInsured(card, $event)">
            <ion-header>
              <div class="leftCol"><span></span> Sum Insured ₹{{card.sumInsuredTitle}}</div>
              <div class="rightCol right" (click)="showCardDetailsPop($event, card);"> Premium Breakup</div>
            </ion-header>
            <ion-card-content class="ontimeCardInfo">
              <p  class="cardfrP">
                <span class="newPrice"> ₹{{card.showPrice}} </span> 
                <span  [class.hide]="card.hideInstalment" > {{card.Installment}}</span>              
                <span class="oldPrice" [class.hide]="!card.hideInstalment" > ₹{{card.oldPrice}}</span>
              </p>
              <p [class.hide]="!card.hideInstalment">
                <span class="saveTxt">You save:</span>
                 <span class="offamnt"> ₹{{card.disctAmt}} <span>({{card.disPersec}}% off)</span>
               </span>
                <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png" ></i>
             </p>            
              </ion-card-content>
            <i class="ion-ios-checkmark-outline"></i>
            </ion-card>
            </ion-item>
      </ion-list>
    
    </div> -->
      <!-- <div style="display: block" *ngIf="familyGraph">
          <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [colors]="barChartColors"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
    </div> -->
    </div>
    
    
  
    <div class="offerForm" [class.hide]="hideFamilyShare" >
        <ion-list class="fomrList" >
        <ion-item>
        <ion-label floating>Name of the proposer (self)</ion-label>
        <ion-input type="text" [(ngModel)]="NameOfEmailProposerIndividual"></ion-input>
        </ion-item>
        <ion-item *ngFor = "let emailList of sendEmailList">
        <ion-label floating> Email quote to</ion-label>
        <ion-input type="email" [(ngModel)]="emailList.value"></ion-input>
        </ion-item> 
        </ion-list>
        
        <a href='#' class="addOtherM" (click)="addEmailMember()" >Add participants <i class="icon ion-ios-plus-outline"></i></a>
       
        <div class="btwrap">
        <button ion-button class="sendmailBt" (click)="sendEmail()" block>Send email</button>
        </div>
        </div>
        <div class="offerForm" [class.hide]="hideFamilyShare">
        <ion-list class="fomrList" >
        <ion-item>
       <ion-label floating>Name of the proposer (Self)</ion-label>
        <ion-input type="text" [(ngModel)]="NameOfSMSProposerIndividual" ></ion-input>
        </ion-item>
        <ion-item *ngFor = "let sms of sendSMSList">
         <ion-label floating>SMS send to</ion-label>
        <ion-input type="tel" maxlength = "10" [(ngModel)]="sms.value"></ion-input>
        </ion-item> 
        </ion-list>
        <a href='#' class="addOtherM" (click)="addSmsMember();">Add participants <i class="icon ion-ios-plus-outline"></i></a>
        <div class="btwrap">
        <button ion-button class="sendmailBt" (click)="sendSms();" block>Send SMS</button>
        </div>
        </div>
    

        <!-- <div class="btwrap">
 
            <button ion-button class="sendmailBt" (click)="voluntaryDeduction();" block>Voluntary Deduction</button>
       
         
        </div>
     -->
  </div>
  
    
  
  </ion-content>
  
  <!-- <ion-footer  [class.hide]="hideProccedBtn">
      <div class="qcardTrans" [class.hide]="!disableProceedBt"></div>
      <ion-segment class="commonBt"  [disabled]="disableProceedBt"  [ngClass]="{'btgreyBg':disableProceedBt}"  (click)="proceedMemberDetailsPage();"> PROCEED TO BUY POLICY </ion-segment>
  </ion-footer> -->
  <div class="trans"  [class.hide]="!showPopup"></div>
  <div class="trans"  [class.hide]="!buyPopup"></div>
  <div class="commonPopup otpPopup" [class.hide]="!buyPopup">
      <ion-icon name="close" (click)="closeModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
      <div class="popupInner otpPopupContent " text-center>
        <h5>Basic Details</h5>
          <ion-list class="formList">
            <form>
            <ion-item>
              <ion-label floating>Proposer Name</ion-label>
              <ion-input #input type="text" autocapitalize="words" autocomplete="off" maxlength="50" name="sss" [(ngModel)]="NameOfEmailsmsProposer"></ion-input>
            </ion-item>
            <ion-item >
                <ion-label floating>Email Id</ion-label>
                <ion-input #emailfocus type="email" maxlength="50" autocomplete="off" name="email" [(ngModel)]="email"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Mobile</ion-label> 
                <ion-input #mobilefocus type="tel" number-only name="sms" autocomplete="off" maxlength="10" [(ngModel)]="mobile"></ion-input>
                </ion-item>  
              </form>              
            </ion-list>
            <div class="btwrap">
              <div class="col1">
                <button ion-button class="sendmailBt " (click)="sendEMailSMS();" block>SEND QUOTE</button>
              </div>
              <div class="col2">
                <button ion-button class="sendmailBt sendOrng" (click)="proceedMemberDetailsPage();" block>PROCEED</button>
              </div>
              <div class="col3">
                <button ion-button class="sendmailBt" (click)="onSaveAndEmail();" block style="align-items:center;">Verify proposal and make payment</button>
              </div>
      </div>
      <p [class.hide]="successLabel">Thank You for selecting. We have sent the quote to your phone number</p>
  </div>
</div>

  <div class="premiumkPopup" [class.hide]="!showPopup">
    <ion-grid>
    <ion-row class="head">
    <ion-col col-9>Premium Breakup</ion-col>
    <ion-col col-3 text-right></ion-col>
    </ion-row>
    
    <ion-row>
    <ion-col col-8 >Base Premium</ion-col>
    <ion-col col-4 text-right>₹{{basePremium}}</ion-col>
    </ion-row>
    <ion-row>  
    <ion-col col-8 >Deductible Disc ({{policyGroup}})</ion-col>
    <ion-col col-4 text-right>{{deductableDiscount}}%</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8 >Employee Discount</ion-col> 
    <ion-col col-4 text-right>{{employeeDiscount}}%</ion-col>
    </ion-row>
    
 <ion-row>
  <ion-col col-8 >Loading for BMI</ion-col>
  <ion-col col-4 text-right>{{medicalloading}}%</ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-8 >Loading for smoking</ion-col>
    <ion-col col-4 text-right>{{smokingloadSelf}}%</ion-col>
    </ion-row>
  <ion-row>
  <ion-col col-8 >Volunatary Deduction</ion-col>
  <ion-col col-4 text-right>{{voluntarydeduction}}</ion-col>
  </ion-row>
    <ion-row class="tlt">
    <ion-col col-8 >Term Premium</ion-col>
    <ion-col col-4 text-right class="amnt">₹{{termPremium}}</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8 >Long Term Discount</ion-col>
    <ion-col col-4 text-right>₹{{longTermDiscount}}</ion-col>
    </ion-row>
    <ion-row>  
    <ion-col col-8 >Premium without Service Tax</ion-col>
    <ion-col col-4 text-right>₹{{premiumwithoutservTax}}</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8 >Installment Loading</ion-col>
    <ion-col col-4 text-right>{{installmentLoading}}%</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8 >Premium with Loading</ion-col>
    <ion-col col-4 text-right>₹{{premiumWithLoading}}</ion-col>
    </ion-row>
    <ion-row>  
    <ion-col col-8 >Total Installment</ion-col>
    <ion-col col-4 text-right>{{totalInstallment}}</ion-col>
    </ion-row>
    <ion-row>
    <ion-col col-8 >Premium/EMI Amount </ion-col>
    <ion-col col-4 text-right>₹{{premiumAmount}}</ion-col>
    </ion-row>
    <ion-row>
     <ion-col col-8 >GST</ion-col>
     <ion-col col-4 text-right> ₹{{serviceTax}}</ion-col>
    </ion-row>
    <ion-row class="tlt">
    <ion-col col-8 >Premium/EMI Amount with Service Tax</ion-col>
    <ion-col col-4 text-right class="amnt">₹{{premiumWithServiceTax}}</ion-col>
    </ion-row>
    <ion-row >
     <button ion-button class="commonBt" (click)="closePopInfo();">Got It</button>
    </ion-row>
    </ion-grid>
    </div>

    <div class="trans" [class.hide]="voluntaryPopup"></div>
    <div class="commonPopup otpPopup agentdPopup" [class.hide]="voluntaryPopup">
        <ion-icon name="close" (click)="closeVoluntaryModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
        <div class="popupInner otpPopupContent " text-center>
          <h5>Basic Details</h5>
            <ion-list class="formList">         
              <ion-item>
                <ion-label floating>Amount</ion-label>
              <ion-select class="age-range" [(ngModel)]="amount" (ionChange)="onSelectChangeDeductable($event)"> 
                  <ion-option *ngFor="let amount of amountList" value={{amount.amount}}>{{amount.amount}}</ion-option>            
              </ion-select>
              </ion-item>                             
              </ion-list>
              <div class="btwrap">                
                <div class="col1">
                  <button ion-button class="sendmailBt" block style="align-items:center;" (click)="proceedFromVoluntaryDeductable();" block style="align-items:center;">PROCEED</button>
                </div>
        </div>        
    </div>
  </div>
<!-- Thank you pop up -->
  <div class="trans" [class.hide]="thankyouPopup"></div>
  <div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
      <div class="popupInner otpPopupContent " text-center>       
          
              <p> We have successfully sent the e-proposal! You can find it in your inbox immediately. </p>          
           
            <div class="btwrap">                
              <div class="col1">
                <button ion-button class="sendmailBt" (click)="OkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
              </div>
      </div>        
  </div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

    