page-buy-page-result {
    .agentdPopup{
        .btwrap{
            .col1{
                width: 48%;
                margin: 0 auto;
                float: none;
            }
        }
    }
   .tabsRow{
       ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;
    
        &::-webkit-scrollbar {
            width: 0;
            height: 0;
            display: none;
        }
    
        ion-segment-button.segment-button {
            display: inline-block;
            min-width: 100px;
            width: auto;
        }
    }
   } 

   .commonPopup{
       h5{
            font-size:1.6rem;
            color: #333333;
            margin:15px 0;
            text-align: left;
       }
       .popupClose{
        z-index: 99;
    color: #e9573e;
    font-size: 2rem;
    width: 35px;
    text-align: right;
    height: 20px;
    } 

    
   }
}

.btwrap{
    margin-top:15px;
   

    .sendmailBt{
        border:1px solid #e9573d!important;
        background:#FFF;
        color:#e9573d;
        box-shadow:none;
        padding:20px 0;
    }
    .sendOrng{
        background:#e9573d;
        color: #fff!important;
    }

}

 
.premiumkPopup{ 
    padding:0 0 15px 0;
    background: #fff;
    color: #6f7072;
    font-size: 1.4rem;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 14;
    width: 94%;
    margin: 10;
    max-width: 400px;
    transform: translate(-50%,-50%);
    ion-grid{
        padding:0;
    }
    ion-row{
        padding:0 10px;
    }
    .tlt{
        background:#fce6e2;
        padding:10px;
        color:#333333;
        margin:5px 0;
        .amnt{
            font-weight:bold;
        }
    }
    .head{
        padding:8px 10px;  
        margin:5px 0 ;       
        border-bottom:1px solid #ccc;
        .col{
        font-size:1.4rem;
        color:#6f7072;
        font-weight:bold;
        }        
    }
}

.refnumber{
	color:#fff;
	text-align:right;
	display:block;
	margin-bottom:10px;
	font-size:12px;
}

