<!--
  Generated template for the BuyProposerDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Health Insurance</span>Buy Health Policy</h1>
<!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button>
</ion-header> 
<ion-content padding class="body-bg ">
  <form>
    <ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
    <div class="whiteRow proposerDetails">
    <ion-row class="pros1">

    <div class="sumInsuredSlide" [class.hide]="insuredType">
    <ion-segment [(ngModel)]="pet" name="pet">
    <ion-segment-button *ngFor="let member of memberArray; let i  = index" value={{member.title}} disabled >
    {{member.title}}
    </ion-segment-button> 
    </ion-segment>
    
    </div>

    <!-- <div class = "tabs">
        <a class = "tab-item" *ngFor="let member of memberArray;" (click)="segmentClick(member.title,i)" >
           {{member.title}}
        </a>
     </div> -->

    <div *ngFor = "let member of memberArray" style="width:100%">

    <div [class.hide] = "!member.ProposerDetailsDivShow" style="width:100%">   
    
    <div class="proposerSegment" [class.hide]="selfDiv">
    <h5>Proposer Details</h5>   
   
    <!-- <ion-view view-title="Photo">  
        <p class="text-center" (click)="captureImage()">
            <span class="ion-image send-photo" ng-if="imageURI == undefined"></span>
            <img ng-if="imageURI != undefined" ng-src="{{imageURI}}"></img>
        </p>
        <button class="button-red button button-block" (click)="getPhoto()">
           Take Photo
        </button>          
    </ion-view> -->


    <ion-list class="formList">
      <!--Self Block-->
        <div class="memberBlock">
            <ion-item>
    <ion-label floating>Name of the proposer</ion-label>
    <ion-input type = "text" pattern="/^[a-zA-Z\s]*$/"   maxlength="50" [(ngModel)]="proposerName" name="proposerName" autocapitalize="words" #employeeIdInput (keyup.enter)="handleLogin('employeeIDField')"></ion-input>
    </ion-item>
          </div>
    </ion-list>
    <!-- <div class="male-female">
    <ion-label>Gender</ion-label>
    <ion-toggle toggle-text dText="Male" eText="Female" class="maleFemale" [(ngModel)]="customText" name="customText">
    </ion-toggle>
    </div> -->

    <div class="genderSec">
      <div class="gSec male" rel="male" (click)="genderClick('male');" [ngClass]="{'active': male}">
        <span class="genderIcon maleSec"></span>
        <span class="gender" >Male</span>
      </div>
      <div class="gSec female" rel="female" (click)="genderClick('female');" [ngClass]="{'active': female}">
        <span class="genderIcon femaleSec"></span>
        <span class="gender" >Female</span>
      </div>
    </div>

    <!-- <ion-list radio-group class="customGender"> 
      <ion-item class="femaleItm">
        <ion-label class="maleLbl">Male</ion-label>
        <ion-radio name="radioMale" checked [ngClass]="gender ? 'icon_heart_red' : 'icon_heart'" value="friends"></ion-radio>
      </ion-item>
      <ion-item>
        
      
          
          <ion-toggle class="maleFemale" [(ngModel)]="gender" (ionChange)="getGender();" name="toggleGen">
          </ion-toggle>
        
         
      </ion-item>
    
      <ion-item class="femaleItm">
        <ion-label class="femaleLbl">Female</ion-label>
        <ion-radio name="radioFemale" value="family"></ion-radio>
      </ion-item>
    </ion-list> -->
<!-- 
    <ion-list radio-group class="customGender">
      <ion-item>
        <ion-label class="maleLbl">Male</ion-label>
        <ion-radio checked value="friends" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="femaleLbl">Female</ion-label>
        <ion-radio value="family"></ion-radio>
      </ion-item>
    </ion-list> -->
    <ion-list class="formList">

    <ion-item>
        <ion-label floating>Date of Birth(dd-mm-yyyy)</ion-label>
        <!-- <ion-icon (click)="DatePick($event,member);" item-end class="datetimeIcon" disabled></ion-icon> -->
        <ion-input maxlength="10" type="tel" id="" name="SelfDob" [(ngModel)]="SelfDob" (keyup)="onDateChange($event, member);" disabled></ion-input>

    </ion-item>

    <ion-item>                  
    <ion-label>Marital status</ion-label>
    <!-- <ion-toggle [(ngModel)]="selfMaritalStatus" class="toggleBt" name="gender" disabled></ion-toggle> -->
    <ion-label>{{member.maritalStatus}}</ion-label>
    </ion-item>
    <ion-item>
    <ion-label floating>Current Address</ion-label>
    <ion-input type="text" name="address" maxlength="100" autocapitalize="words" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>Pincode</ion-label>
    <ion-input type="tel" number-only pattern="\d*" maxlength="6" name="pinCode" (focusout)="changePinCode();" [(ngModel)]="pinCode"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>State</ion-label>
    <ion-input type="text"  [disabled]="!isPinValid"  char-only [(ngModel)]="state" autocapitalize="words" name="state" ></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>City</ion-label>
    <ion-input type="text"  [disabled]="!isPinValid"  char-only name="city" autocapitalize="words" [(ngModel)]="city"></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>Email ID</ion-label>
    <ion-input type="email" [pattern]="emailPattern" [(ngModel)]="email" name="email" ></ion-input>
    </ion-item>
    <ion-item>
    <ion-label floating>Mobile Number</ion-label>
    <ion-input type="tel" number-only [(ngModel)]="mobile" maxlength="10" name="mobile"></ion-input>
    </ion-item>
    </ion-list>
    <ion-list class="formList">
    <ion-item>
    <ion-label floating>Select Occupation</ion-label>
    <ion-select class="age-range" [(ngModel)]="proposerOccupation" name="proposerOccupation" (click)="onSelectChangeSelf($event)" interface="action-sheet"> 
   <!--  <ion-option value="0">Occupation</ion-option> -->
    <ion-option *ngFor="let occupation of occupationList" value={{occupation.OccCode}}>{{occupation.OccTitle}}</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
    <ion-label floating>PAN Details</ion-label>
    <ion-input type="text" [(ngModel)]="pan" name="pan" maxlength="10" (keyup)="checkValidPan();" (focusout)="checkFocus();" (ngModelChange)="pan = $event.toLocaleUpperCase();"></ion-input>
    </ion-item>
    <div class="takeImg">
    <ion-thumbnail>
      <img *ngIf="thumbnail" src="{{thumbnail}}" (click) = "captureImage();" width="90" height="90" imageViewer>
    </ion-thumbnail>
    
    <ion-icon name="ios-camera" float-right (click)="captureImage()"></ion-icon>    
   
  </div>
  <ion-item class="addPhototitle"><p>Add Photo (Optional)</p></ion-item>
  
  
    <!-- popup image -->
    <!-- <div class="modal image-modal transparent"  [class.hide]="imagePOp"></div>   -->
    <!-- <div class="trans" (click)="closePop();"  [class.hide]="imagePOp"></div>
    <ion-thumbnail item-center [class.hide]="imagePOp">
      <img *ngIf="thumbnail" class="fullscreen-image" src="{{thumbnail}}" width="150" height="150" imageViewer>
    </ion-thumbnail> -->
    <!-- <button ion-button class="commonBt"  (click) = "cancel();">Cancel</button>  -->
    </ion-list>
  
    </div>
    <!-- <div [class.hide]="forQuickQuote" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
   </div>    
  </div>  
    <!--Other members block-->
    <ion-row class="formList" >
    <div class="spouseSegment" [class.hide]="hideShowDiv">
    <h5>{{memberTitle}} Details</h5>
    <ion-list class="formList"> 
    <ion-item>
    <ion-label floating>Name of {{memberTitle}}</ion-label>
    <ion-input type="text" char-only maxlength="50" [(ngModel)]="nameOfProposer" autocapitalize="words" name="nameOfProposer"></ion-input>
    </ion-item>
    <!-- <div class="male-female">
    <ion-label>Gender</ion-label>
    <ion-toggle toggle-text dText="Male" eText="Female" class="maleFemale" name="gender" [(ngModel)]="otherGender" name="customText">
    </ion-toggle>
    </div> -->
    <ion-item>
        <ion-label floating>Date of Birth</ion-label>
        <!-- <ion-icon (click)="DatePickOtherMember($event,member,i);" item-end class="datetimeIcon"></ion-icon> -->
        <ion-input maxlength="10" type="tel" (keyup)="onDateOtherChange($event,member);" [(ngModel)]="memberDOB" name="dob" disabled></ion-input>
      </ion-item>
    <ion-item class="brdBtm">
        <ion-label floating>Select Occupation</ion-label>
    <ion-select class="age-range" [(ngModel)]="memberOccupation" name="memberOccupation" (focusout)="otherFocusOut()" (click)="onSelectChangeOther($event)" interface="action-sheet"> 
   <!--  <ion-option value="0">Occupation</ion-option> -->
    <ion-option *ngFor="let occupation of occupationList" value={{occupation.OccCode}}>{{occupation.OccTitle}}</ion-option>
    </ion-select>
    </ion-item>
    </ion-list>
    </div>
    
    </ion-row>
    </ion-row>
    
    
    
    <!-- <ion-row>
    <div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>SAVE & EMAIL</button></div>
    </ion-row>  -->
    </div>
    </form>
    <!-- <div [class.hide]="forQuickQuote" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div>     -->
</ion-content>

<!-- Thank you pop up -->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> We have successfully sent the e-proposal! You can find it in your inbox immediately. </p>          
         
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt"  (click)="OkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

<ion-footer >
    <button ion-button class="commonBt" [ngClass]="{'btgreyBg':disableProceedBt}" [disabled]="disableProceedBt"  (click) = "continueButtonClick();" [class.hide]="!forQuickQuote">continue</button>
    <button ion-button class="commonBt" [ngClass]="{'btgreyBg':disableProceedBt}" [disabled]="disableProceedBt"  (click) = "proceedNomineeDetailsPage();" [class.hide]="forQuickQuote">proceed</button>
</ion-footer>
