// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'helvetica';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/HELVETIC.eot');
    src: url('../assets/fonts/HELVETIC.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/HELVETIC.woff') format('woff'),
    url('../assets/fonts/HELVETIC.ttf') format('truetype'),
    url('../assets/fonts/HELVETIC.svg#HELVETIC') format('svg');
}

@font-face {
  font-family: 'Rupee_Foradian_1';
  src: url("$font-path/Rupee_Foradian_1.eot");
  src: url("$font-path/Rupee_Foradian_1.eot") format("embedded-opentype"), 
  url("$font-path/Rupee_Foradian_1.woff2") format("woff2"), 
  url("$font-path/Rupee_Foradian_1.woff") format("woff"), 
  url("$font-path/Rupee_Foradian_1.ttf") format("truetype"), 
  url("$font-path/Rupee_Foradian_1.svg#Rupee_Foradian_1") format("svg"); 
}

.body-bg{
    background:#383a47;
}

ion-app.md [padding] .scroll-content {
    padding: 12px;
}
.slideMenu .header h2 span.profileLink{
    display: inline-block;
position: absolute;
right: 16px;
font-size: 14px;
line-height: 18p
}


.header{
	background:#8e1230;
	padding:10px 15px 3px 15px;
	&::after{
		display: none;
	}
	h1{
		font-size: 1.4rem;
		color:#fff;
		margin:0;
		float:left;
		text-transform: uppercase;
		span{
			color:#ffb7c8;
			font-size:1.2rem;
			text-transform: none;
			display:block;  
		}
	}

	.headerClose{
		color:#fff;
		position: absolute;
		right:15px; 
		top:10px;
	}

	.humburgerMenu{
		float:right;
		padding:0;
		padding:4px 0 0 0;
		font-size:3.3rem;
		box-shadow:none;
		width:28px;
		height:auto;
		span{
			display:initial;
		}
		i{
			display: block;
		    width: 100%;
		    height: 2px;
		    background: #fff;
		    width: 100%;
		    margin-bottom: 5px;
		    border-radius:0;
		}
	}
}


/* Left menu  css start */
.slideMenu{
	.content-md{
		background:transparent;
	}
	.menu-inner{
		background:transparent;
	}
	.item{
		background:transparent;
		padding:0;
		font-size:1.4rem;
	}
	.menu-inner{
		background:transparent;
	}
	.item-inner{
		padding:0 15px 0 5px ;
		line-height:2rem;
		border-bottom: 1px solid #9a2a45;
		background: transparent!important;
		
	}
	.mainActive {
		.label{
			margin:0;
		}
	}
	.item-icon{
			width: 35px;
			height:25px;
			//background: url(../assets/imgs/dashboard.svg) no-repeat 0 0;
			//background-position: 0 -84px;
			float: left;
			margin: 0 5px 0;
			
	}
	.health-icon{
			width: 21px;
			height:21px;
			background: url(../assets/imgs/healthinsurance_white-01.svg) repeat-x 0 0;
			//background-position: 0 -6px;
			float: left;
			margin: 0 5px 0;
	}
	 .dash-icon{background: url(../assets/imgs/dashboard.svg) no-repeat 0 0;background-size: 62% !important;}
	 .market-icon{background: url(../assets/imgs/market-icon.svg) no-repeat 0 0;background-size: 65% !important;}
	 .quick-icon{background: url(../assets/imgs/quickq.svg) no-repeat 0 0;}
	 .buy-icon{background: url(../assets/imgs/buyPolicy.svg) no-repeat 0 0;}
	 .port-icon{background: url(../assets/imgs/portPolicy.svg) no-repeat 0 0;}
	 .branch-icon{background: url(../assets/imgs/branchlist.svg) no-repeat 0 0;background-size: 75% !important;}
	 .hospital-icon{background: url(../assets/imgs/hosptList.svg) no-repeat 0 0;background-size: 75% !important;}
	 .faq-icon{background: url(../assets/imgs/faqIcon.svg) no-repeat 0 0;}
	 .log-icon{background: url(../assets/imgs/logOut.svg) no-repeat 0 0;background-size: 65% !important;}

	.header{
		background: url(../assets/imgs/menu-bg.png) repeat-x 0 0;
		box-shadow:none;
		padding:0;
		&:after{
			display:none;
		}

		.item-inner{
			padding:0 15px 0 5px;
			margin:0;
			border-top: 1px solid #8e2a42;
			border-bottom: 1px solid #9a2a45;
			color:#fff;
			line-height:2rem;
		}

		h2{
			font-size:1.7rem;
			color:#fff;
			text-transform: uppercase;
			margin:0;
			padding:10px 15px 10px 15px;
			overflow: hidden;

			span{
			font-size:1.2rem;
			display:block;
			text-transform: none;
			margin-bottom:4px;
			}
		}
		.item-icon{
			font-size: 2.2rem;
			position: absolute;
			right: 15px;
			width:inherit;
			background:none;
		}
	}

	.mainMenu{
	background:#8e1230;
	height:100%;
	ion-label{
		color:#fff;
	}
	.item-inner{
		border-bottom: 1px solid #9a2a45;
	}
	.item-icon{
		width: 35px;
		height:25px;
		// background: url(../assets/imgs/sprite-white.png) repeat-x 0 0;
		// background-position: 0 -84px;
		float: left;
		margin: 0 5px 0;
		background-size: 67% !important;
	}
	.dash-icon{background: url(../assets/imgs/icon1white.svg) no-repeat 0 0;}
	
	.market-icon{background: url(../assets/imgs/motorInsurance.svg) no-repeat 0 0;}
	.quick-icon{background: url(../assets/imgs/homeIns.svg) no-repeat 0 0;background-size: 55% !important;}
	.buy-icon{background: url(../assets/imgs/travelIns.svg) no-repeat 0 0;}
	.port-icon{background-position: 0 -433px;}
	.hospital-icon{background-position: 0 -523px;}
	.faq-icon{background-position: 0 -609px;}
	.log-icon{background-position: 0 -698px;}


	 }

	.healthSubmenu{
			-webkit-transition: all 2s ease-in-out;
			-moz-transition: all 2s ease-in-out;
			 transition: all 2s ease-in-out;

		    display: block;
		    background: #fff;
		    color: #000;
		    position: absolute;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height:100%;
		    z-index: 12;

		.item-inner{
			border-bottom: 1px solid #f0f0f1;
			background: transparent !important;
			ion-label{
				margin: 13px 8px 10px 0;
				color:#6f7072;
			}
		}
	}
}

/* Left menu  css end */


/* Action sheet common css start */
.action-sheet-wrapper{
	// height: 50% !important;
	// top:auto;
    // bottom: 0 !important; 
	.action-sheet-container{
		padding:0;
		.action-sheet-group{
			padding:0 20px;
			border-radius:0;
			margin:0;
		}
		.action-sheet-button{
			border-bottom:1px solid #e5e5e5;
			font-size:1.4rem;
			color:#6f7072;
			padding:0;
		}

		// .action-sheet-group:first-child{
		// 	    padding-top: 5rem;
		// }
		.action-sheet-group:last-child{
			padding-bottom: 0;
		}
		.button-inner{
			justify-content: left;
		}
	}
	// .action-sheet-group-cancel{
	// 	border-bottom:1px solid #d4d4d4;
	// 	position: absolute;
	// 	top:0;
	// 	left:0;
	// 	width:100%;		
	// 	.action-sheet-cancel{
	// 		color:#e9573d;
	// 		border:0;
	// 		text-transform: uppercase;
			
	// 	}
	// }
		.action-sheet-group-cancel{
		border-bottom:1px solid #d4d4d4;		
		width:100%;	
		margin-top:1rem;
		.action-sheet-cancel{
			color:#e9573d;
			border:0;
			text-transform: uppercase;
			
		}
	}
}
/* Action sheet common css end */


/* Date time action sheet common css start */
.picker-wrapper{
	.picker-toolbar{
		border-bottom:1px solid #e5e5e5;
		display: inline-block;
		.picker-toolbar-button{
			float:right;
			.picker-button{
				color:#e9573d;
			}
		}
		.picker-toolbar-cancel{	
			&.picker-toolbar-button{
				float:left;
				.picker-button{
					color:#e9573d;
				}
			}
		}
	}
	.picker-columns{
		.picker-col{
			padding: 0 25px;
			.picker-opt{
				color:#aeafb0;
				font-size:1.6rem;
				&.picker-opt-selected{
					font-size:1.8rem;
					color:#e9573d;

				}
			}
		}
	}	
}
.picker-ios{
	.picker-columns{
		.picker-col{
			padding: 0 25px;
			.picker-opt{
				color:#000;
				font-size:1.6rem;
				&.picker-opt-selected{
					font-size:1.8rem;
					color:#e9573d;

				}
			}
		}
	}
	.picker-above-highlight{
		border:0;
	}
	.picker-below-highlight{
		border:0;
	}
}
/* Date time action sheet common css start */


ion-footer{
	&:before{
		display: none;
	}
	.commonBt{
		box-shadow:none;
		padding:10px 10px;
		border-radius:0;
		height:55px;
	}
}

/* Common Orange button css start */
.arrowForward{
	width:15px;
	height:15px;
	position: absolute;
	right: 10px;
	font-size:3rem;
	background:url("../assets/imgs/arrow_forward.png") 0 0 no-repeat;
}
/* Common Orange button css start */

/* Common Orange button css start */
.commonBt{
	background: #e9573d;
	width: 100%;
	padding:22px 15px;
	color:#fff;
	position:relative;
	cursor:pointer;
	text-transform: uppercase;
	box-shadow:none;
	margin:0;
	border-radius:4px;
	.getFor{
		color:#ef9273;
		font-size:1.3rem;
		position:absolute;
		right:20px;
		top:36%;
		span{
			color:#fff;
			font-size:1.5rem;
			display: inline-block;margin-left: 5px;                
		}
	}
}
/* Common Orange button css end */

/* Common Popup css start */
.commonPopup{ 
	padding:0;
	background: #fff;
	color: #6f7072;
	font-size: 1.4rem;
	border-radius: 4px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 14;
	width: 94%;
	margin: 10;
	max-width: 400px;

	-webkit-transform: translate(-50%,-50%)!important;
	-moz-transform: translate(-50%,-50%)!important;
	transform: translate(-50%,-50%)!important;

	-moz-box-shadow: 0px 0px 5px #000;
	-webkit-box-shadow: 0px 0px 5px #000;
	box-shadow: 0px 0px 5px #000;
	.popupInner{
		padding:15px;
	}
	.popupClose{
		position:absolute;
		right:15px;
		top:15px;
	}

	.btwrap {
		padding: 10px;
		overflow: hidden;
		.col1{
			float:left;
			 width: 48%;
		}
		.col2{
			float: right;
			width: 48%;
		}
		}
}
/* Common Popup css end */

.familyfloaterSlider{
	background:#fff;
	border-radius:4px;
	padding:10px;
	margin:15px 0 4px 0; 
	h6{
		margin: 12px 0 2px 0;
		color: #a3a4a5;
		font-size: 1.4rem;
		font-weight: normal;
		ion-icon{
			margin: 0 3px;
			color: #c2c3c3;
		}
	}	
}

/*Slider css start */
.sumInsuredSlide{
	padding:5px 0 5px 0;
	overflow-x: auto;
	white-space:nowrap;
	width: 100%;
	.segment{
		width: inherit;
		display: table-cell;
		.segment-button{    
			min-width:50px;
			width:auto;
			border: 1px solid #ccc;
			color: #e9573d;
			font-size: 1.6rem;
			margin-right:5px;
			border-radius: 5px;
			height: 30px;
			padding:0 8px;
			line-height: 30px;
			display: inline-block;
			text-transform: none;
			&:first-child{
				margin-right:5px!important;
			}
			&.segment-activated{
				background:#e9573d;
				color:#fff;
				border:0;
			}
		}
	}
	.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated{
		background:#e9573d;
		color:#fff;
			border:1px solid #e9573d;
	}

	.segment-ios .segment-button:first-of-type{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius:4px;
		border-bottom-left-radius: 4px;
		margin-right:15px;;
	}
	.segment-ios .segment-button:not(:first-of-type){
		border-left-width:1px;
	}
}
/*Slider css end */

/*Add memeber button css start */
.addOtherM{
		font-size:1.3rem; color:#fff; float:right; margin:15px -5px 12px 0; text-decoration: none;
		ion-icon{
			vertical-align: inherit;
			font-size: 2rem;
			margin: -4px 6px;
			float: right;
			width:23px;
			height:23px;
				background: url(../assets/imgs/sprite-white.png) 0 -645px no-repeat;
		}
}
/*Add memeber button css end */

/*Notification button css start */
.notification{
	position: absolute;
    right: 70px;
    top: 17px;
    span{
    background: #e9573d;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left:-20px;
    top:-6px;
    padding:2px;
    width: 25px;
    height: 25px;
    font-size: 10px;
    vertical-align: bottom;
    line-height: 20px;
    }
}
/*Notification button css end */

/*Back button css start */
.backBt{
    color: #fff;
    float: left;
    margin:0;
    padding: 0;
    background: url(../assets/imgs/sprite-white.png) -7px -578px no-repeat;
    width: 23px;
    box-shadow: none;
}
/*Back button css end */

/*Form list css start */

.formList {
	padding:0;
	margin:0;
	width: 100%;
	.item-block {
		.item-inner{
			padding-right:0;
			  border-bottom: none;
                box-shadow: inset 0 -1px 0 0 rgb(216, 219, 224) !important;
		}
		&:last-child{
			  border-bottom: none; 
			  }
	}
	input, textarea, ion-datetime, ion-select{
	  color: #333333;
	  font-size:1.4rem;
	  width:100%;
	}
	ion-item {
	  padding: 0;
	  margin-bottom: 10px;
	  &:first-child{border-top:0!important; padding:0!important;}
	  	.label{
			margin:0;
			font-size:1.5rem;
			color: #8d8d8d;
		}
		.mbLabel{
			margin: 15px 2px 0 0;
    		font-size: 1.4rem;
		}
	  	.text-input {
	  		padding:15px 0 5px 0;
    		margin:0!important;
		}
		.textarea-input{
    		.text-input{
    			margin:0;
    			padding:20px 0 5px 0;
    		}
		}

		.select {
			padding:15px 0 3px 0;
			background: url(../assets/imgs/slect-arrow.png) right 17px no-repeat;
			border: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			.select-text{
	   			min-height:18px;
		}
			.select-icon {
			  display: none;
			}      
		  }
		.datetime{
			background:url(../assets/imgs/sprite.png) right -756px no-repeat;
			padding:10px 0 5px 0;
			margin:0;
			border:0;
		}		
		
	}
	
	.addOtherM {
	  color: #6f7072;
	  margin: 20px 5px;
	}
	.addOtherM i {
	  color: #8f1531;
	}
	.sendmailBt {
	  border: 1px solid #e9573d;
	  background: #FFF;
	  color: #e9573d;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  padding: 20px 0;
	}

	.item-input-has-focus .label[floating], .input-has-focus .label[floating], .item-input-has-value .label[floating], .input-has-value .label[floating]{
		    transform: translate3d(0, 10px, 0) scale(0.9);
	}
	.memberBlock {
		float: left;
		width: 100%;
		.memberTitle {
		  float: left;
		  width: 20%;
		  background:transparent;
		}
		.memberName {
		  float: right;
		  width: 78%;
		  background:transparent;
		  &:last-child{
			  border-bottom:0;
		  }
		}
	}	
}
/*Form list css end */

/*Date picker css start */
.datetime{
	background:url(../assets/imgs/sprite.png) right -756px no-repeat;
	padding:10px 0 5px 0;
	margin:0;
	width:100%;
	border-bottom:1px solid #eaeaea;
	overflow:hidden;
	position:relative;
}
.datetimeIcon{
	background:url(../assets/imgs/sprite.png) right -762px no-repeat;
	width:45px;
	 min-height:30px!important;
	// margin:15px 0 0 0!important;
}
.fakeWrap{
	position:relative;	
	.fakeInput{padding:20px 0 5px 0;margin:0;position:relative; width:100%; border-bottom: 1px solid #dedede; }
}

/*Date picker css end */

/*select dropdown css start */
.selectOption {
	position: relative;
	width: 100%;
	max-width: 400px;
	border: 0;
	padding: 15px 0 0 0;
	height: 30px;
	color: #333333;
	border-bottom: 1px solid #eaeaea;
	padding:10px 0 5px 0;
	background: url(../assets/imgs/slect-arrow.png) right 15px no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
		.select-icon {
				display: none;
		}
}
/*select dropdown css end */


/* User type button css start */
.userType{
        max-width: 425px;
        margin: 0 auto;
        box-shadow: none!important;
        border-radius: 0;
        border-bottom:1px solid #fff;
    
        .loginType{
            border-radius:0;
        }
        .segment-button:first-child{
            border-top-left-radius:0;
            border-bottom-left-radius:0;
        }
        .segment-button:last-child{           
            border-top-right-radius:0;
            border-bottom-right-radius:0;
        }
        .segment-button{
            background:transparent;
            font-size: 1.5rem;
            border: none;
            color: #767980;
            text-transform: uppercase;
            opacity:1;
			height: 4rem;
			line-height:4.5rem;
        }
        .segment{
				.segment-activated{
					background:transparent;
					color:#fff;
					border-bottom:2px solid #fff;
				}
		}
    }
/* User type button css start */


/* Male female custome toggle button css start */
.maleFemale{
	padding:5px 2px;
	position: relative;
	width:75px;
	height:28px;
	padding: 5px !important;
	margin:12px 0 0 0 !important;
	display:block;
	.toggle-icon{
		background: #f6654e;
		&:before{
			display: none;
		}
	}
	.toggle-inner{
		background: #8e1230 url(../assets/imgs/male-toggle.png) center 5px no-repeat;
		width: 32px;
		height: 32px;
		position: relative;	
		left:0;	  
		top: -2px;
		box-shadow: none;
		-webkit-box-shadow:none;
		z-index:9;
	}
	&.toggle-checked{
		.toggle-icon{
			background: #f6654e;
		}
		.toggle-inner{
			background: #8e1230 url(../assets/imgs/girlIcon.png) center 5px no-repeat;
			width: 32px;
			height: 32px;
			-webkit-transform: translate3d(48px, 0, 0);
    		transform: translate3d(48px, 0, 0);
		}
		.toggleText {
			left:12px;
		}
	}
	.toggleText {
		font-size: 1.1rem;
		position: absolute;
		top: 12px;
		right: -34px;
		color: #fff;
		opacity: 0.9;
		width: inherit;
	}
}
/* Male female toggle button css start */

/* small toggle button css start */
.toggleBt{
	padding:5px 2px!important;
	position: relative;
    width: 36px;
	height: 14px;
	display: block;
	.toggle-icon{
		background:#d4d4d4;
		&:before{
			display: none;
		}
	}
	.toggle-inner{
		background:#bbbbbb;
		position: relative;	
		left:0;	  
		top: -3px;
		width: 20px;
		height: 20px;
		box-shadow: none;
		-webkit-box-shadow:none;
	}
	&.toggle-checked{
		.toggle-icon{
		background:#d4d4d4;
		}
		.toggle-inner{
			background:#8cc152;
			-webkit-transform: translate3d(18px, 0, 0);
    		transform: translate3d(16px, 0, 0);
		}
	}
}
/* small toggle button css end */

.saveBt{
	width: 100%;
	border-top:1px solid #ccc;
	button{
		width: 100%;
		background: transparent;
		color:#6f7072;
		margin:0;
		padding:20px 0;
			&.activated{
			background: transparent;
		}
		
	}

	.email{
		font-size:2.9rem;
		color:#ed7661;
		margin:0 10px;
	}
}

.whiteBox{
	background:#fff;
	font-size:1.4rem;
	color:#6f7072;
	border-radius:4px;
	 @media screen and (min-width: $tab-only) {
	 	font-size:1.5rem;
	 }
	.mCol{
		padding:15px;
	}
	h5{
		font-size:1.5rem;
		color:#6f7072;
		padding:10px 0 0 0;
		margin:-7px 0 15px 0!important;
		font-weight:bold;
		@media screen and (min-width: $tab-only) {
	 		font-size:1.8rem;
	 	}
    }
}



.accordWrap {
    border-top:1px solid #d4d4d4;
    color:#333;
    .mat-expansion-panel-header{
        padding:0 15px;
    }
    .mat-expansion-panel-body{
        padding:20px;
        background: #fafafa;
    }
    .mat-accordion{
        .accordRow{
            border-bottom:1px solid #e5e5e6;
            &:last-child{
                border-bottom: 0;
            }
        }
        .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded{
            background: #f3f3f3;
        }

    }
    .mat-expansion-indicator::after{
        color:#e95a40;
    }
    .mat-expansion-panel-spacing{
        margin:0;
    }
}


.toast-ios .toast-wrapper{
  width:100%!important;
  left:0!important;
  right:0!important;
  border-radius:0!important;
  bottom:0!important;
  margin: auto;
  border-radius: 0.65rem;
  position: absolute;
  z-index: 10;
  display: block;
  max-width: 700px;
  background: #333333!important;
}

.toast-ios .toast-wrapper.toast-top {
  -webkit-transform: translate3d(0,  -100%,  0);
  transform: translate3d(0,  -100%,  0);
  top: 0;
}

.toast-ios .toast-wrapper.toast-bottom {
  -webkit-transform: translate3d(0,  100%,  0);
  transform: translate3d(0,  100%,  0);
  bottom: -10px!important;
}



/* Change Autocomplete styles in Chrome*/ 
@-webkit-keyframes autofill {
   to {
       color: #fff;
       background: transparent;
   }
}
input:-webkit-autofill {
   -webkit-animation-name: autofill;
   -webkit-animation-fill-mode: both;
}
/* Change Autocomplete styles in Chrome*/

/* place holder css */
.text-input::-moz-placeholder { color: #aaabac;}
.text-input:-ms-input-placeholder { color: #aaabac;}
.text-input::-webkit-input-placeholder { text-indent: 0; color: #aaabac; }
/* place holder css */

.splashScreen{
	position:absolute;
	background: #cc3b40; 
	//background:url(../assets/imgs/splash_bg.png);
	width:100%;
	height:100%;
	z-index:14;
	color:#fff;
	background-size:cover;
	img{
		width:100%;
	}
	.iInsureLogo{
		    position: absolute;
    left: 50%;
    top: 4%;
    width: 60%;
	max-width:300px;
	transform: translate(-50%);
	}
	.sheildLogo{
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%, -50%);
		width:68%;
		max-width:390px;
		@media screen and (max-width: $small) {
	 	width:62%;
	 }
	}
	.waveLine{
		position: absolute;
		bottom:11%;
		left:0;
		width: 100%;
	}
	.fgLogo{
		    position: absolute;
    bottom: 2%;
    left: 50%;
    width: 45%;
	max-width:200px;
	transform: translate(-50%);
	}
}

#canvas{
	width:100%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	max-width:570px;
	@media screen and (max-width: $small) {
	 	width:90%;
}
}

.qcardTrans{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 13;
  background-color: rgba(0, 0, 0, 0.5);
}

.btgreyBg{
	background:#666!important;
	opacity: 1!important;
	.getFor{
		color:#fff!important;
	}
}
.cardmWrap{
	position:relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.onlyDate{
	position: relative;
}
.onlyDatespan{
	position:absolute;
	right:0;
	top: 0;
}

.loadingText{
	background:#fff; 
	position:fixed; 
	width:100%; 
	height:100%;
	color:#fff;
	font-size:12px;
	font-family:arial;
	z-index: 13;
	display: none;
	
	span{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);
		width:100%;
		padding:20px;
		color:#000;
		text-align: center;
	}

	.bannerImg{        
        img{
            width: 100%;
            vertical-align: top;
        }
    }

	.bottomLogo{
		position: absolute;
		bottom:20px;
		width: 100%;
		text-align: center;
		img{
			width:auto;
		}
    }
}

.genderSec {
    display: block;
    float: left;
    margin: 20px 0 10px 0;

    .gSec {
      display: inline-block;
     // padding-right: 2.5rem;

      .genderIcon {
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: block;
        background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;

        &.maleSec {
          background-position: 6px -1083px;
        }

        &.femaleSec {
          background-position: 6px -1201px;
        }

      }

      .gender {
        color: #c6c6c6;
        font-size: 1.4rem;
        text-align: center;
        display: block;
        padding-top: 1rem;
      }


      &.active {
        .genderIcon {
          background-color: #e9573d;

          &.maleSec {
            background-position: 6px -1026px;
          }

          &.femaleSec {
            background-position: 7px -1137px;
          }
        }

        .gender {
          color: #e9573d;
        }
      }
    }
  }

  .pswdSuggest{
	margin-left:15px;
	}  
	.pswdSuggest p{
	 margin: 0;
		color: #8e1230;
		font-size: 12px;
		line-height: 15px;
	}

	.vwPro{
		span{
			display: inline-block;
			font-size: 14px;
		}
		button{
			float: right;
			padding: 7px 8px;
			font-size: 12px;
			display: inline-block;
		}
	}

	.marketcBenefit{
		width:107px;
		height:33px;
		background: #ffffff;
		border-radius: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 16px;
		padding: 5px 0;
		span{
			margin-right: 10px;
		}
		a{
			text-decoration: none;
		}
	}

	.textColor{
		color: #8e1230;
	}

	.col6{
		float: left;
		width:50%;
		&.viePro{
			float: right;
			text-align: right;
			.marketcBenefit{
				margin:0 0 10px 0;
				display:inline-block;
				width:100px;
				height:26px;
			}
		}
	}
	.welcome{
		span{
			font-size: 14px;
		}
	}