<ion-menu [content]="content" side='right' class="slideMenu background-image">
    <ion-header>
      <h2>
        <div class="welcome col6">
          <span>Welcome</span>
          <span>{{username}}</span>
        </div>
        <div class="col6 viePro">  <button class="profileLink marketcBenefit textColor" menuClose (click) ="viewProfile();">View Profile</button></div>
        
        
       </h2>
        <button ion-item class="mainActive" (click)="toggleMenu();" >
          <i class='health-icon'> </i>Health Insurance <ion-icon name="ios-arrow-down" *ngIf = "healthDownArrow"></ion-icon><ion-icon name="ios-arrow-up" *ngIf="healthUpArrow"></ion-icon>
        </button>
    </ion-header>
    <ion-content>
        <!-- <button menuClose ion-item *ngFor="let p of pages" [class.activeHighLight]="checkActive(p)" (click)="openPage(p)">
          {{p.title}}
        </button> -->       
        <div class="healthSubmenu" *ngIf="healthSubmenu">
            <button menuClose ion-item (click)="home();">
                <ion-icon class='dash-icon'> </ion-icon> Home
              </button>
          <button menuClose ion-item (click)="dashboard();">
            <ion-icon class='dash-icon'> </ion-icon> Dashboard
          </button>
          <button menuClose ion-item (click)="goTOmarketingCollaterals();">
            <ion-icon class='market-icon'> </ion-icon> e-Training
          </button>
          <button menuClose ion-item (click)="goTOquickQuote();">
             <!-- [class.hide]="showStatus" -->
            <ion-icon class='quick-icon'> </ion-icon> Quick quote
          </button>
          <button menuClose ion-item (click)="goTOBuyPolicy();">
            <ion-icon class='buy-icon'> </ion-icon> Buy policy
          </button>
          <button menuClose ion-item (click)="goToBranchLocator();">
            <ion-icon class='branch-icon'> </ion-icon> Branch Locator
          </button>
          <button menuClose ion-item (click)="goToHospitalList();">
            <ion-icon class='hospital-icon'> </ion-icon> Hospital list
          </button>
          <button menuClose ion-item (click)="goToFaq();">
            <ion-icon class='faq-icon'> </ion-icon> FAQs
          </button>         
          <button menuClose ion-item (click)="menuButton(logout);">
            <ion-icon class='log-icon'> </ion-icon> Logout
          </button>
        </div>
        <div class="mainMenu">
          <button menuClose ion-item>
            <ion-icon class='market-icon'> </ion-icon> Motor Insurance
          </button>
          <button menuClose ion-item>
            <ion-icon class='quick-icon'> </ion-icon> Home Insurance
          </button> 
          <button menuClose ion-item>
            <ion-icon class='buy-icon'> </ion-icon> Travel Insurance
          </button>
        </div>
    </ion-content>  
  </ion-menu>  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>