<!--
  Generated template for the OtpPasswdPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>Forgot Password</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <!-- <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button> -->
</ion-header>

<ion-content class="background-image">
  <div class="bannerImg">
    <img src="assets/imgs/fgli_login_banner.jpg" alt="">
  </div>
 
    <!-- <div class="userType">
      <ion-segment class="loginType" color="light" [(ngModel)]="userType" (ionChange)="ontbChange($event)">
        <ion-segment-button value="Partners">
          Partner
        </ion-segment-button>
        <ion-segment-button value="Employees">
          Employee
        </ion-segment-button>
      </ion-segment>
    </div> -->


    <div class="inputSection formList">
      <h3 class="chngPwd">Update Password</h3>
      <div class="newPwd">
        <ion-item class="bgTrans">
          <ion-label floating id="loginType">New Password (min 6 character)</ion-label>
          <ion-input type="{{passwordType}}" clearOnEdit="false" [(ngModel)]="newpassword" maxlength="24"  (keyup.enter)="handleLogin('passwordField')" value="" ></ion-input>
        </ion-item>
        <div class="loginIcons">
          <ion-img class="bgTrans" [src]="picToView" (click)="showpassword()" style="min-width:15px;"></ion-img>
        </div>
      </div>
      <div>
          <ion-item class="bgTrans">
            <ion-label floating id="loginType">Confirm Password (min 6 character)</ion-label>
            <ion-input type="{{reEnterPasswordType}}" clearOnEdit="false" [(ngModel)]="confirmpassword" maxlength="24"  (keyup.enter)="handleLogin('passwordField')" value="" ></ion-input>
          </ion-item>
          <div class="loginIcons">
            <ion-img class="bgTrans" [src]="reEnterPicToView" (click)="showReEnterpassword()" style="min-width:15px;"></ion-img>
          </div>
      </div>
    </div>
  <div class="loginBtnPadding">
    <!-- <div class="loginToggle">
      <ion-toggle [(ngModel)]="keepSignedIn"  #toggleInput  class="toggleBt"></ion-toggle>
      <ion-label>Remember Me</ion-label>
    </div> -->
    <div class="loginBtn">
      <button ion-button  class="commonBt" (click)="serviceCall();">
       ok
        <!-- <ion-icon class="arrowForward"></ion-icon> -->
      </button>
    </div>
  </div>

  <!-- <div class="pswdSuggest">
      <p>Password must contain below:</p>
      <p> (1) Minimum 8 characters.</p>
      <p> (2) Maximum 24 characters.</p>
      <p> (3) Must have 1 upper case, 1 lower case, 1 numeric & 1 special character</p>
  </div> -->
  <!-- <div class="quoteBtn">
    <button ion-button icon-end (click)="quickquote()" class="commonBt">
      Skip to get a quick quote  
     <ion-icon class="arrowForward arrowCrimson"></ion-icon>
    </button>
  </div>
  <ion-img class="bgTrans logo" [src]="'assets/imgs/FGI_Logo.png'"></ion-img> -->

  <!-- <div class="trans" [class.hide]="AgentCodePopup"></div>
  <div class="commonPopup otpPopup agentdPopup" [class.hide]="AgentCodePopup">
      <ion-icon name="close" (click)="closeAgentCodePop();" class="popupClose ion-ios-close-outline"></ion-icon>
      <div class="popupInner otpPopupContent " text-center>
        <h5>Agent Details</h5>
          <ion-list class="formList">         
            <ion-item>
              <ion-label floating>Agent Code</ion-label>
              <ion-input #input type="text" autocapitalize="words" name="sss" [(ngModel)]="agentCode"></ion-input>
            </ion-item>                        
            </ion-list>
            <div class="btwrap">                
              <div class="col1">
                <button ion-button class="sendmailBt" (click)="ProceedLogin();" block style="align-items:center;">SUBMIT</button>
              </div>
      </div>        
  </div>
</div> -->



</ion-content>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>