<!--
  Generated template for the QuickQuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" navPop></button>
    <h1><span>Health Insurance</span>Buy Health Policy</h1>
    <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
            <i></i>
            <i></i>
            <i></i>
    </button>
  </ion-header>
  <ion-content padding  class="heightDropdwn quickPage">
      
      <ion-row class="userType">
          <ion-segment class="loginType" color="light" [(ngModel)]="PolicyTypeSelected">
            <ion-segment-button value={{familyFloaterCode}} (click)="changePolicyType();" >
                Family Floater
            </ion-segment-button>
            <ion-segment-button value={{individualCode}} (click)="changePolicyType();">
                Individual
            </ion-segment-button>
          </ion-segment>
        </ion-row> 
        <ion-row class="disCount" *ngIf="individualDiscount">
          <!-- <span >%</span>
          <label>10% Family discount</label> -->
        </ion-row>
  
        <div class="familyfloaterSlider" *ngIf="!individualDiscount" >
          <h6>Select Sum Insured <ion-icon name="arrow-round-back"></ion-icon><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></h6>
          <ion-row class="sumInsuredSlide">
          <ion-segment [(ngModel)]="familySlide">
              <ion-segment-button *ngFor="let amt of familyInsurenceAmt" (click)="selectFamilyInsuredSum(amt);"  value={{amt.sicode}} >{{amt.amtTitle}} </ion-segment-button>
          </ion-segment>
          </ion-row>
       </div>
       <div class="cardmWrap"> 
          <ion-row class="quickCard">
                <ion-card *ngFor="let member of membersShow; let i = index;" [class.hide]="!member.showFamilyMemberOnScreen" (click)="fillData(member)">                
                  <ion-thumbnail class="qcardIcon" > <img src={{member.imgUrl}} [class.hide]="member.detailsSaved"  alt=""><!--  <ion-img src={{member.imgUrl}} [class.hide]="member.detailsSaved" ></ion-img> --></ion-thumbnail>
                  <div class="self" *ngIf="!member.detailsSaved">{{member.title}} <span *ngIf="member.showDependent">(Dependent)</span> </div>
                  <div class="cardView" *ngIf="member.detailsSaved"> 
                  <h5>{{member.title}}<span *ngIf="member.showDependent">(Dependent)</span></h5><p>{{member.insuredAmtText}}</p><p>{{member.ageText}}</p><p>{{member.HeightText}}</p><p>{{member.Weight}} Kg</p><p>{{member.smokingText}}</p><p>{{member.maritalStatus}}</p>           
                  <ion-icon [class.hide] = "hideForSelf"(click)="clearMemberDetails($event, member)" class="ion-ios-trash-outline deleteIcon" *ngIf="i!=0"></ion-icon>
                  <div class="cardTransdiv" (click)="editMemberDetails($event, member)"></div>
                  <!-- <ion-icon  class="ion-ios-trash-outline editIcon"></ion-icon> -->
                  <a href='#' class="addOtherS" *ngIf="member.showAddAnotherBtn"  (click)="addMemberClicked($event, member);"  style="z-index: 500;"><i class="icon ion-ios-plus-outline"></i> Add</a>
                  </div>                
                </ion-card>
          </ion-row>
              <a hidden href='#' class="addOtherM" (click)="hideShowAddmember(1);" >Add other members <i class="icon ion-ios-plus-outline"></i></a>
               <!-- <a href='#' id="addMember" class="addOtherM" (click)="hideShowAddmember(1);" >Add more members <ion-icon></ion-icon></a> -->
               <div class="qcardTrans" [class.hide]="hideDisableCards"></div>
              </div>
  <!--   <ion-fab right bottom class="buy-share">
      <button ion-fab mini (click)="newCustomer();"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top" class="ion-fab-list animated slideInRight">
        <button ><span class="shareText">About Products</span><ion-icon class="newCustomer"></ion-icon></button>
        <button ><span class="shareText">New cutomer</span><ion-icon class="abProduct"></ion-icon></button>
      </ion-fab-list>
    </ion-fab> -->
  
              
  </ion-content>
  <ion-footer>
      <div class="qcardTrans" [class.hide]="!disableProceedBt" id="btnTopMargin"></div>
      <ion-segment class="getQuoteBt" (click)="getBuyResultClicked()" [class.hide]="hideProceedButton"   [disabled]="disableProceedBt" [ngClass]="{'btgreyBg':disableProceedBt}"  > PROCEED TO BUY POLICY <span class="getFor">FOR: <span>{{membersInsured.length}}</span></span></ion-segment>
  </ion-footer>
  
  
  <!--popups -->      
          
                   <div class="trans"  [class.hide]="showTransBaground" ></div>
                    <div class="qCardPopup policycardPopup animated fadeInUp" *ngIf="hideMemberPopup"> 
                      <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
                    
                      <!-- <ion-thumbnail class="qcardIcon"> --><img src={{popupImg}}><!-- </ion-img></ion-thumbnail> -->
                      <div class="self">{{popupTitle}} </div>
  
                          <h6 *ngIf="individualDiscount">Sum Insured <ion-icon name="arrow-round-back"></ion-icon><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></h6>
                
                       <ion-row class="sumInsuredSlide" *ngIf="individualDiscount">
                          <ion-segment [(ngModel)]="slide" >
                              <ion-segment-button *ngFor="let amt of insurenceAmtToShow" (click)="selectedAmount(amt);" value={{amt.sicode}} >{{amt.amtTitle}} </ion-segment-button>
                          </ion-segment>
                       </ion-row>
                        <!-- <ion-row class="dob" (click)="DatePick();" >    
                        <ion-input type="text"  [(ngModel)]="memberAge" [min]="2018-01-10" placeholder="Date of Birth" disabled></ion-input>
                        </ion-row> -->
                       <ion-list class="formList">
                        <!-- <ion-item class="onlyDate">  
                          <ion-datetime [(ngModel)]="memberAge" displayFormat="MMM DD YYYY" n="Date of Birth" max={{maxDate}} min={{minDate}} class="datetime"></ion-datetime>
                          <ion-label floating>Date of Birth (DD-MM-YYYY)</ion-label><ion-input maxlength="10" type="tel"  [(ngModel)]="memberAge"  (keyup)="dobInput($event);" ></ion-input><ion-icon (click)="DatePick();"  item-end class="datetimeIcon"></ion-icon>
                        </ion-item> -->
                        <!-- <ion-item>
                          <ion-label floating>Date of Birth</ion-label>
                          <ion-icon (tap)="DatePick($event);" item-end class="datetimeIcon"></ion-icon>
                          <ion-input maxlength="10" type="tel" max={{maxDate}} min={{minDate}} [(ngModel)]="memberAge" name="age" (keyup)="dobInput($event);"></ion-input>
                          </ion-item> -->
                          <ion-item>
                            <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
                            <ion-icon (click)="DatePick($event);" item-end class="datetimeIcon"></ion-icon>
                            <ion-input maxlength="10" type="tel" id=""  name="memberDOB" [(ngModel)]="memberAge"  (keyup)="onOtherDateChange($event);"></ion-input>      
                          </ion-item> 
                         <ion-item >
                          <ion-label floating>Height (in ft)</ion-label>
                            <ion-select [(ngModel)]="personHt"  (click)="heightClick()" interface="action-sheet" float-left>
  <!--                               <ion-option value="0" selected > Height(ft)</ion-option>
   -->                              <ion-option value={{ht.val}} (click)="filledHeight(ht)"  *ngFor="let ht of heightArray" >{{ht.text}}</ion-option>
                            </ion-select>
                          </ion-item>
                          <ion-item>
                            <!-- <ion-select class="age-range" [(ngModel)]="personWt"   interface="action-sheet" float-right>
                              <ion-option value="0" selected>Weight(kg)</ion-option>
                              <ion-option value={{wt}}  *ngFor="let wt of weightArray">{{wt}} Kg</ion-option>
                            </ion-select> -->
                            <ion-label floating>Weight (in kgs)</ion-label>
                             <ion-input type="tel" maxlength="3" number-only [(ngModel)]="personWt" (keyup.enter)="handleKeyUp()"  ></ion-input>
                          </ion-item>
                          <ion-item *ngIf="hidePopupSmokerDiv">
                            <ion-label>Smoking</ion-label>
                          <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
                          </ion-item>
                          <ion-item *ngIf="hidePopupMarriedDiv">
                            <ion-label floating>Marital Status</ion-label>
                          <!-- <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle> -->
                          <ion-select [(ngModel)]="marriedStatus" (ionChange)="filledStatus(marriedStatus)"  interface="action-sheet" float-left>                            
                             <ion-option value={{status.value}}   *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
                          </ion-select>
                          </ion-item>

                          <!-- <ion-item>
                            <ion-label floating>Annual Income</ion-label>
                            <ion-select [(ngModel)]="AnnualIncome" (click)="memberAnnualIncome()" interface="action-sheet" float-left>
                            <ion-option value={{ai}} (click)="filledmemberAnnualIncome(ai)" *ngFor="let ai of annualIncomeArray" >{{ai}}</ion-option>
                            </ion-select>
                          </ion-item> -->
                       </ion-list>
  
  <!--    <ion-row class="dob" (click)="DatePick();" >
       <ion-datetime [(ngModel)]="memberAge" displayFormat="MMM DD YYYY" n="Date of Birth" max={{maxDate}} min={{minDate}}></ion-datetime>
      <ion-input type="text" class="datetime"  [(ngModel)]="memberAge" [min]="2018-01-10" placeholder="Date of Birth" disabled></ion-input>
                       </ion-row>
  
                    <ion-grid class="height-weight">
                      <ion-row>
                        <ion-col col-12>
        <ion-select class="age-range" [(ngModel)]="personHt"  interface="action-sheet">
          <ion-option value="0" selected >Height (ft)</ion-option>
                            <ion-option value={{ht.val}} (click)="filledHeight(ht)"  *ngFor="let ht of heightArray" >{{ht.text}}</ion-option>
                          </ion-select>
                        </ion-col>
                        <ion-col col-12>
        <ion-select class="age-range" [(ngModel)]="personWt"   interface="action-sheet">
          <ion-option value="0" selected>Weight (kg)</ion-option>
          <ion-option value={{wt}}  *ngFor="let wt of weightArray">{{wt}} kgs</ion-option>
                          </ion-select>
                          </ion-col>
                          </ion-row>
                          </ion-grid> -->
                    <!-- <ion-row class="smokingWrap" > -->
                      <!-- <ul class="smokingBt">
                      <li *ngIf="hidePopupSmokerDiv">
                          <ion-label>Smoking</ion-label>
                          <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
                          </li>
                      <li *ngIf="hidePopupMarriedDiv">
                          <div class="flRight">
                          <ion-label>Married</ion-label>
                          <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle>
                          </div>
                      </li>
                      </ul> -->
                      
                  <!-- </ion-row>                   -->
                      <ion-row class="saveBtns"  *ngIf="!addMember">
                          <div class="saveBt" (click)="saveMemberDetails(1,0);"><button ion-button>Save</button></div>
                      </ion-row> 
                      <ion-row class="saveBtns" *ngIf="addMember">
                        <div class="w50" (click)="saveMemberDetails(2,0);"><button ion-button >Save</button></div>
                        <div class="w50" (click)="saveMemberDetails(2,1);"><button ion-button>Save and Add</button></div>
                    </ion-row>                         
                   </div>
  
  
                   
              <!--popups -->
  
  <div class="addMemberPopup" [ngClass]="{'openPopup': isClassOneActive}"  >
          <div class="btRow">
              <div class="leftCol"> <button ion-button class="btn cancel" (click)="hideShowAddmember(2);">Cancel</button> </div>
              <div class="rightCol right"> <button ion-button class="btn cancel" (click)="hideShowAddmember(3);" >Done</button> </div>
          </div>
          <div class="addmScroll">
          <ion-list class="addmList">
              <ion-item *ngFor="let member of membersShownOnPopup" [class.hide]="member.showFamilyMemberOnScreen" >
                  <ion-label>{{member.title}}</ion-label>
                  <ion-checkbox  checked="{{member.memberSelectedOnAddmember}}" [disabled]="member.disableRemove" (click)="memberClicked($event,member);"></ion-checkbox>
              </ion-item>
          </ion-list>
          </div>
  </div>
  
  
  
  <div class="trans"  [class.hide]="!showTransBaground2"></div>
  <div class="trans2"  [class.hide]="!showTransBaground3"></div>