.action-sheet-title {
		color: #323232!important;
		text-align: left;
		text-align: start;
		font-size: 1.6rem;
		/* color: #757575; */  
		padding: 11px 0px 0px!important;
	}

.height-weight{
    padding:0;
    color:#6f7072;
    .age-range{
        color:#6f7072; 
    } 
}

.buy-share{
	z-index:12;
	.newCustomer{ width:40px; height:40px; background:#e9573d url(../assets/imgs/sprite-white.png) 5px -523px no-repeat; border-radius:50%;}
	.abProduct{ width:40px; height:40px; background:#e9573d url(../assets/imgs/sprite-white.png)  7px -468px no-repeat; border-radius:50%;}
	.shareText{ width:110px; font-size:1.2rem; text-align:right; display:inlin-block; float:left; margin:13px 10px; color:#fff;}
}
.ion-fab-list{ 
	width:200px; 
	left:-135px;
	margin:55px 0;
	overflow:hidden;
	button{
		background:transparent; 
		margin:3px 0;
	}
}

