page-disclaimer {
    .disclaimerWrap{
        background: #fff;
        border-radius: 5px;
        .disclaimContent{
            padding: 11px 16px;
            h2{
                color:#6f7072;
                font-size: 14px;
                font-weight: bold;

            }
            .disclaimInfo{
                max-height: 170px;
                overflow-y: auto;
                p{
                    color:#6f7072;
                font-size: 13px;
                line-height: 19px;
                margin: 0;

                }
                

            }
           .agreeCheckbox{
            margin-top: 16px;
            overflow: hidden;
                .col1{
                    width: 12%;
                    float:left;

                }
                .col2{
                    width:88%;
                    float:right;

                }
               .checkbox{
                   .checkbox-icon{
                    border-width: 1px;
                    border-style: solid;
                    border-color: #c21b17;
                    width: 18px;
                    height: 18px;
                    border-radius: 2px;
                    position: relative;
                    background-color: #fff;
                    -webkit-transition-duration: 280ms;
                    transition-duration: 280ms;
                    -webkit-transition-property: background;
                    transition-property: background;
                    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);                  
                   }
                   .checkbox-checked{
                    background-color: #fff;
                    .checkbox-inner{
                        border-color: #eb654d;
                        left: 5px;
                        top: 1px;                      
                        position: absolute;
                        width: 5px;
                        height: 10px;
                        border-width: 2px;
                        border-top-width: 0;
                        border-left-width: 0;
                        border-style: solid;                      
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                       
                    }

                   }
                  
               }
               .checkbox-checked{
                //     background: #fff;
                //    border-color: #c21b17;
                   
               }
               .item-cover{
                // background: red;
              }
               p{
                   margin: 0;
                   font-size: 12px;
                   line-height: 16px;
                   color:#000;
                   a{
                       color:#e9573d;
                       text-decoration: underline;
                   }
               }
           }
           .disclaimOptions{
               background:#fbe9e7;
               border-radius: 5px;
               margin-top: 5px;
               position: relative;
               overflow: hidden;
               padding: 11px 10px;
               .disclaimRadio{
             
                .radio{
                    .radio-icon{
                        border-color: #cc3f3c;
                        left: 0;
                        top: 0;
                        margin: 0;
                        border-radius: 50%;
                        position: relative;
                        display: block;
                        width: 16px;
                        height: 16px;
                        border-width: 2px;
                        border-style: solid;
                    }
                    .radio-inner{
                        left: 2px;
                        top: 2px;
                        border-radius: 50%;
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background-color: #8e1230;
                        -webkit-transform: scale3d(0, 0, 0);
                        transform: scale3d(0, 0, 0);
                        -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
                        transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
                        transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
                        transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
                    }
                    .radio-checked{
                        .radio-inner{
                            -webkit-transform: scale3d(1, 1, 1);
                            transform: scale3d(1, 1, 1);
                        }
                    }

                }
                
                   .label{
                       display: inline-block;
                       margin: 0;
                       margin-left: 15px;
                       color: #564f4f; 
                   }
               }
               .disclaimInform{
                background: url(../assets/imgs/disclaimInfo.png) no-repeat 0 0;
                width: 20px;
                height: 20px;
                display: inline-block;
                position: absolute;
                top: 9px;
                right: 11px;
                background-size: cover;
               
               }
               .dinfoContent{
                background: #fff;
                float: right;
                width: 84%;
                padding: 10px;
                border-radius: 5px;
                margin-top: 7px;
                position: relative;
               &:after{
                content: "";
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 10px solid #fff;
                position: absolute;
                right: 4px;
                top: -9px;
                   
               }

                p{
                    margin: 0;
                    color: #656d78;
                    font-size: 12px;
                    line-height: 16px;
                }
               }
           }
        } 
       
    } 
 .tncPopup{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
     .tncBlock{
        background: #fff;
        width: 90%;
        position: absolute;
        /* top: 50%; */
        margin: 0 auto;
        padding: 20px 0 20px 20px;
        h2{
            margin: 0;
            font-size:14px;
            color:#333;
        }
        .tncContent{
            max-height: 400px;
            overflow-y: auto;
            margin-top:16px;
            padding-right: 20px;
            p{
                margin: 0;
                font-size:12px;
                line-height: 16px;
                color: #656d78;
                text-align: justify;
            }
            
        }
        .tncBtn{
            text-align: center;
            margin-top: 20px;
            margin-right: 20px;
            .button{
                border-radius: 4px;
                height: 30px;
                font-size: 12px;
                color: #fff;
                background-color: #8e1230;
                margin: 0.4rem 0.2rem;
                padding: 0 20px;
            }
        }

     }
 }
}
