
<ion-header>
	<button ion-button class="backBt" (click)="onBackClick();"></button>
	<h1><span>Health Insurance</span>Confirm & Pay</h1>
	<!-- <ion-icon name="close" class="headerClose ion-ios-close-outline"></ion-icon> -->
	<button ion-button menuToggle end class="humburgerMenu">
	        <i></i>
	        <i></i>
	        <i></i>
      </button>
</ion-header> 


<ion-content padding  class="body-bg">
<div class="disclaimerWrap">
  <div class="disclaimContent">
    <h2>Disclaimer</h2>
    <div class="disclaimInfo">
      <p>You will now be re-directed to a third party site to make payment. Please acknowledge the disclaimer before proceeding further. You are about to access a third party site, the accuracy or completeness of the information, materials, services or the reliability of any service, advice, opinion, statement or other information displayed or distributed through it, Future Generali India Insurance Company Limited (“FGIICL”) does not warrant. You shall access this site solely for purposes of payment of your insurance premium amount and you understand and acknowledge that availing of any services offered on the site, sharing of information with third party or any reliance on any opinion, advice, statement, memorandum, or information made available by you on the site shall be at your sole risk.</p>
    </div>
    <div class="agreeCheckbox">       
              <ion-col class="col1">
                  <ion-checkbox checked></ion-checkbox>
              </ion-col>
              <ion-col class="col2">
                <p>I agree to the <a href="#">Terms & Conditions</a> of the plan, its features and benefits and I am paying through my Credit/Debit Card/Net Banking account</p>
              </ion-col>
    </div>
    <div class="disclaimWrap" radio-group (ionChange)="petChange($event)">
        <div class="disclaimOptions" [class.hide]="hideEmandateDiv">

            <div class="disclaimRadio" >
                <ion-radio disabled value="mPos"></ion-radio>
                <ion-label>Set up e-Mandate</ion-label>
              </div>
              <span class="disclaimInform"></span>
              <div class="dinfoContent">
                  <p>Ones you generate the mandate your
                      payment will be automatically debited 
                      from your 2nd EMI payment
                  </p>
                </div>
        </div>
        <div class="disclaimOptions">
            <div class="disclaimRadio">
                
                <ion-radio value="standingScreen"></ion-radio>
                <ion-label>Standing Instruction on Credit Card
                  </ion-label>
              </div>
              <span class="disclaimInform"></span>
              <div class="dinfoContent" style="display:none">
                <p>Once you generate the mandate, your payment will be automatically debited from your 2nd EMI payment.
                </p>
              </div>
        </div>
    </div> 
  </div>


</div>

</ion-content>
<ion-footer >
    <ion-segment class="commonBt" (click)="goToPaymentPage();">Proceed to Payment</ion-segment>
</ion-footer>
<div class="tncPopup">
  <div class="tncBlock">
    <h2>Terms & Conditions</h2>
    <div class="tncContent">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugiaipsum dolor sit amet, consectetur adipiscing elit. Curabitur ex nunc, commodo facilisis erat non, convallis porta libero. Vestibulum elementum eleifend arcu id sollicitudin. Quisque laoreet 
            nibh ut ex lobortis ornare. Sed erat erat, mollis sit amet ante at, fermentum aliquet erat. In aliquam nulla et enim feugia</p>
    </div>
    <div class="tncBtn"><button ion-button>OK</button></div>
    

  </div>
</div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>
