page-waitingperiods {
    .accordionWrapper {
        .vitalSpl{
          margin-top: 5px;
          h4{
             &.splBenefits2 {
            background: #c6c6c6!important;
            
          }
          }
        }
        .supSpl{
          margin-top: 5px;
          h4{
             &.splBenefits2 {
            background: #c6c6c6!important;
            
          }
            &.splBenefits3 {
            background: #e2a7bb!important;
            
          }
          }
        }
        .preSpl{
          margin-top: 5px;
          h4{
             &.splBenefits2 {
            background: #e2a7bb!important;
            
          }
            &.splBenefits4 {
            background: #d1c5d3!important;
            
          }
          
          }
        }
        h4 {
          background: #fbe9e7;
          border-radius: 5px;
          padding: 10px;
          display: flex;
          align-items: center;
          margin: 0 0 2px 0;
          position: relative;
          z-index: 2;
         
    
          &.active {
            -moz-box-shadow: 1px 1px 5px #bdbfbe;
            -webkit-box-shadow: 1px 1px 5px #bdbfbe;
            box-shadow: 1px 1px 5px #bdbfbe;
            background: #ffccbc;
    
            .plusMinut {
              width: 18px;
              height: 18px;
              background: url("../assets/imgs/ac-minus.png") 0 8px no-repeat;
            }
          }
          .acIcon {
            img {
              width: auto;
              max-width: inherit;
            }
          }
          .text {
            padding: 0 40px 0 10px;
            font-size: 1.4rem;
            color: #333333;
            width: 100%;
          }
          .plusMinut {
            width: 18px;
            height: 18px;
            background: url("../assets/imgs/ac-plus.png") 0 0 no-repeat;
          }
        }
        .accordContents {
          background: #eeeeee;
          padding: 20px 10px;
          margin: -3px 0 2px 0;
          position: relative;
          display: none;
          border-radius: 0 0 5px 5px;
    
          p {
            font-size: 1.4rem;
            color: #6f7072;
            margin: 0;
            padding: 0;
            line-height: 19px;
            margin: 0 0 15px 0;
            &.intro {
    
              width: 80%;
            }
          }
          .vitalPopup {
            position: absolute;
            right: 10px;
            top: 17px;
            width: 25px;
            height: 25px;
            background: url(../assets/imgs/popupLink.png) 9px 6px no-repeat;
          }
    
    
          .limitTable {
            background: #fff;
            width: 100%;
            border-radius: 5px;
            -moz-box-shadow: 1px 1px 5px #bdbfbe;
            -webkit-box-shadow: 1px 1px 5px #bdbfbe;
            box-shadow: 1px 1px 5px #bdbfbe;
            padding: 2px;
            border-left: 1px solid #e6e8e7;
            border-top: 1px solid #e6e8e7;
            h5 {
              font-size: 1.4rem;
              color: #8e1831;
            }
            p {
              font-size: 1.3rem;
              color: #818181;
              line-height: inherit;
              margin-bottom: 5px;
            }
    
            tr {
              &:first-child {
                td {
                  h5 {
                    margin: 0;
                  }
                  &:first-child {
                    text-transform: uppercase;
                  }
                }
              }
              td {
                border-bottom: 1px solid #e6e8e7;
                border-right: 1px solid #e6e8e7;
                padding: 10px;
                &:first-child {
                  p {
                    font-size: 1.3rem;
                    color: #333333;
                  }
                }
              }
            }
          }
        }
      }

      .benefitsBlock {
        background: #fff;
        margin: 10px 0;
        border-radius: 4px;
        padding: 10px;
        overflow-y: scroll;      
        .titleRow {
          margin-bottom: 20px;
          h2 {
            display: inline-block;
            font-size: 1.4rem;
            color: #333333;
            padding: 15px 0 0 0;
            margin: 0;
            span {
              display: inline-block;
              padding: 0 10px;
              color: #6f7072;
              font-size: 1.6rem;
              border-left: 1px solid #dbdbdb;
              &:first-child {
                padding-left: 0;
                border-left: 0;
              }
            }
          }
          .commonBt {
            float: right;
            width: 100px;
            padding: 5px;
            font-size: 1.4rem;
            text-transform: none;
          }
        }
      }
}
