<!--
  Generated template for the WaitingperiodsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <!-- <ion-navbar>
    <ion-title>waitingperiods</ion-title>
  </ion-navbar> -->
  <button ion-button class="backBt" navPop></button>
  <h1><span>Health Insurance</span>e-Training</h1>
  <button ion-button menuToggle end class="humburgerMenu">
      <i></i>
      <i></i>
      <i></i>
    </button>
</ion-header>


<ion-content padding class="body-bg">
<div class="benefitsBlock">  
  <div class="accordionWrapper">
      <!-- panel start-->
      <h4 class="acordHead">
          <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
          <span class="text">Initial waiting period</span> 
          <span class="plusMinut"></span>
        </h4>
        <div class="accordContents">
          <p>30 days for all illnesses (not applicable on renewal or for accidents) <br>Specific waiting periods.</p>        
        </div>
        <!-- panel end-->

          <!-- panel start-->
      <h4 class="acordHead">
          <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
          <span class="text">24 months waiting period</span> 
          <span class="plusMinut"></span>
        </h4>
        <div class="accordContents">
          <p>24 months waiting period for Internal Congenital Anomalies, Cataracts, Benign Prostatic Hypertrophy, Hernia of all types, Deviated Nasal Septum, Hypertrophied Turbinate, Hydrocele, all types of sinuses, Fistulae, hemorrhoids, fissure in ano, dysfunctional uterine bleeding, Fibromyoma, Endometriosis, Hysterectomy, all internal or external tumors /cysts/nodules/polyps of any kind including breast lumps with exception of malignant tumor or growth, Surgery for prolapsed inter vertebral disc unless arising from Accident, Surgery of varicose veins and varicose ulcers, any types of gastric or duodenal ulcers, stones in the urinary and biliary systems, Surgery on ears and tonsils.</p>        
        </div>
        <!-- panel end-->

         <!-- panel start-->
      <h4 class="acordHead">
          <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
          <span class="text">48 months waiting period</span> 
          <span class="plusMinut"></span>
        </h4>
        <div class="accordContents">
          <p>48 months for Rheumatoid Arthritis, Gout, joint replacement Surgery due to degenerative condition, age related Osteoarthritis and Osteoporosis unless such joint replacement Surgery Medically Necessary due to Injury.</p>        
        </div>
        <!-- panel end-->

         <!-- panel start-->
      <h4 class="acordHead">
          <!-- <span class="acIcon"><img src="assets/imgs/ac-hospita-icon.png"></span> -->
          <span class="text">Pre-existing diseases</span> 
          <span class="plusMinut"></span>
        </h4>
        <div class="accordContents">
          <p>Any Pre-existing diseases and conditions will have a waiting period of 24 months. This waiting period shall cease to apply if the Insured Person has maintained a health insurance policy with Us for a continuous period of full 24 months, without break from the date of the Insured Person’s first health insurance policy with Us.</p>        
        </div>
        <!-- panel end-->

  </div>

</div>

</ion-content>
