
    .tabsWrapper{
        .offerCard {
            .cardFooter {
                .qqcardLink {
                    width:100%;
                }
            }
        }
    }
    
    .qqPopup{
        .btwrap{
            .col1{
                float: none;
                margin:0 auto;
            }

        }
        
    }
    .floaterQtblock {
      padding: 10px 0 0 0;
      
      .accordRow {
        border: 1px solid #dedede;
        border-radius: 4px;
            overflow: hidden;
        margin: 4px 0;
        padding: 10px;
        box-shadow: none;
            white-space: nowrap;
        position: relative;
        .self {
               display: inline-block;
                margin: 10px 0 0 5px;
                color: #6f7072;
                font-size: 1.4rem;
          label {
            font-size: 1.2rem;
                }
            }
        .selfImg {
          float: left;
          width: 30px;
            }
        .deleteIcon {
          font-size: 2.3rem;
          color: #c8c9ca;
          position: absolute;
          right: 10px;
          top: 15px;
            }
        }
    }
    
    .yourQt {
        background: #fff;
      padding: 10px;
      border-radius: 3px;
      position: relative;
      h5 {
        margin: 0;
            font-size: 1.4rem;
        color: #6f7072;
        span {
          color: #8e1230;
            }
        }
      .cutomiseBt {
                -webkit-box-shadow: none;
                box-shadow: none;
                background: #fff;
                color: #e9573d;
                position: absolute;
        right: 0;
                top: 10px;
                font-size: 1.1rem;
                height: auto;
        }
    
      .yourQaccord {
        margin: 10px 0;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;
    
        .accordRow {
          border: 1px solid #dedede;
          border-radius: 4px;
                overflow: hidden;
          margin: 4px 0;
          box-shadow: none;
                white-space: nowrap;
            }
    
        .amntRight {
                    float: right;
          margin: 5px 0 0 0;
          color: #333333;
                    font-size: 1.4rem;
          .deleteIcon {
            color: #c8c8c9;
            margin: 0 0 0 10px;
            font-size: 1.8rem;
                }
            }
    
        .sumInsuredSlide {
          display: -webkit-box;
            }
        .mat-expansion-panel-header-title {
          display: inline-table;
          width: 100%;
        }
        .mat-expansion-indicator {
          display: none;
        }
        .segment-md {
          display: inline-table;
        }
            
        .item-accordio {
          margin: 0;
          padding: 10px;
          height: auto;
          .qcardIcon {
                    width: auto;
                    height: auto!important;
                    float: left;
                    min-height: auto;
                    min-width: auto;
            img {
              float: left;
              width: 30px;
            }
            .self {
                        display: inline-block;
                        margin: 10px 0 0 5px;
              color: #6f7072;
              font-size: 14px;
              span {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        .mat-expansion-panel-body {
          padding: 0;
            }
        .accordContent {
          padding: 10px;
          border-top: 1px solid #dedede;
          h6 {
                    font-size: 1.2rem; 
            color: #6f7072;
            margin: 0;
            padding: 0;
                }
            }
        }
      .generateQbt {
        background: #e9573d;
        color: #fff;
        margin: 8px auto 0 auto;
                width: 100%;
                max-width: 400px;
        padding: 10px 0;
        box-shadow: none;
            }
      .addotherMRow {
                overflow: hidden;
        .addOtherM {
          color: #6f7072;
          margin: 5px 10px;
          i {
                    float: left;
            color: #c11b17;
            font-size: 28px;
            margin: -5px 6px 0 0;
                }                 
                }
            }
    }
    
    .whiteRow {
         background: #fff;
      margin: 10px 0;
      border-radius: 4px;
      padding: 10px;
      .iconToggle {
          .query{
              float:left;
              margin:-5px 10px 0 0;
          }
        padding: 5px 0 15px 0;
                     position: relative;
                     overflow: hidden;
        .item-cover {
          width: auto;
          height: auto;
                     }
        .graphBt {
          width: 20px;
          height: 11px;
                     float: right;
                     background: url(../assets/imgs/eqIcon.png) 0 0 no-repeat;
                     display: inline-block;
                 }
        .age-range {
                        float: left;
          padding: 0 10px 0 0;
          color: #6f7072;
                     }
        .graphBt2 {
          width: 20px;
          height: 13px;
                     float: right;
                     background: url(../assets/imgs/eqIcon2.png) 0 0 no-repeat;
                     display: inline-block;
                 }
        .age-range {
                         display: table-cell;
                        width: 80px;
                        padding: 0;
                        margin: -5px 0;
                        font-size: 1.2rem;
                        height: 18px;
                        background: url(../assets/imgs/slect-arrow.png) right 6px no-repeat;
          background-size: 12px;
             }
    }
        }
    .tabsWrapper{
             .tabslinkRow{
                 .segment .segment-button{
                     font-size:1.3rem;
                    padding: 0;
                    width: auto;
          height: auto;
          line-height: 30px;
                 }
        .segment .segment-button.segment-activated {
                        border-color: #c11b17;
                 }
             }    
      .offamt {
        font-size: 1.2rem;
        color: #6f7072;
        padding: 10px 0;
             }
             .offercardList{
                 margin:15px 0 0 0;
                 padding:0;
                 ion-item{
                     padding:0;
                     .item-inner{
                         padding:0;
                     }
          .label-md {
            padding: 0;
            margin: 0;
                     }
                 }
    
        .offerCard {
          margin: 0 0 10px 0;
          padding: 0;
                 width: 99%;
                 overflow: hidden;
                 border-radius: 4px;
                 position: relative;
                 background:#fbe4dc;
                 .recomend{
                         width: 21px;
                         height: 21px;
                        position: absolute;
                        right: 8px;
                        top: 8px;
                 }
                 .ion-ios-checkmark-outline{
                    position: absolute;
                    top: 41%;
                    right: 1%;
                    color: #ddd;
                    font-size: 30px;
                    z-index: 99;
            &:before {
                        content: "\f3ff";
                        border: 1px solid #ebc1b1;
                        /* padding: 6px; */
                        border-radius: 50%;
                        width: 25px;
                        height: 25px;
                        text-align: center;
                        line-height: 25px;
                        background: #ccc;
                    }
             }
          &.activeCard {
                     position: relative;
            background: #8cc152;
            ion-header {
              background: #8cc152;
              color: #fff;
              border-bottom: 1px solid #a3cd75;
                     }
            .ontimeCardInfo {
              background: #8cc152;
              color: #fff;
                     }
            .oldPrice {
              color: #fff;
                     }
            .newPrice {
              color: #fff;
                     }
            .offamnt {
              color: #fff;
                     }
            p {
              color: #fff;
                     }
            .ion-ios-checkmark-outline {
                            position: absolute;
                            top: 41%;
                            right: 1%;
                            color: #8cc152;
                            font-size: 30px;
                            z-index: 99;
              &:before {
                                content: "\f3ff";
                                border: 1px solid #fff;
                                /* padding: 6px; */
                                border-radius: 50%;
                                width: 25px;
                                height: 25px;
                                text-align: center;
                                line-height: 25px;
                                background: #fff;
                            }
                     }
                 }
                     ion-header{
                         background:#fbe4dc;
                         position:relative;
                         overflow: hidden;
                         color:#fff;
                         font-size:1.2rem;
                         .leftCol{
                            font-size:18px;
                            color:#b7253a;
                            text-align:left;
                         }
                         .rightCol{
                            font-size:13px;
                            color:#000;
                            text-decoration: underline;
                            text-align:right;
                         }
                         span{
                             font-size: 14px;
                         }
                     }
                     .newPrice{
                         font-size:20px;
                         color:#6a1e04;
                         display:inline-block;
                     }
                     .oldPrice{
                         font-size:14px;
                         color:#323431 ;
                         text-decoration: line-through;
                     }
                     .offamnt{
                                font-size:1.2rem;
                                color:#f28057;
                     }
                    
    
                     p{
                         color:#6f7072;
                         margin:0;
                         padding:0;
                         &.cardfrP{
                            padding:0 10px 0 0;
                            margin:0 10px 0 0;
                         }
                     }
          .Cardtooltips {
                             display: inline-block;
            margin: 0 0 0 10px;
                            vertical-align: bottom;
            img {
              width: auto;
                         }
                     }
          .ontimeCardInfo {
            background: #fbe4dc;
            padding: 12px;
                     overflow: hidden;
                    }
                 }
      }
                 
                 .cardFooter{
                     overflow: hidden;
                     position: relative;
                     border-top: 1px solid #c11b17;
                     
                     .cardBt{
                         text-transform: uppercase;
                         font-size:1.2rem;
                         background:#fbe4dc;
                         padding:10px;
                         width: 50%;
                         float: left;
                         color:#e9573d;
                         text-align: center;
                         &.cardBtR{
                         background:#e9573d;
                         color:#fff;
                        }
                     }
                     
                 }
             }
            .graphTab{
                 height: 200px;
                 display: none;
             }
             
    
    
    
    .quickResult {
      .formList {
        ion-list {
          padding: 0 10px;
          margin: 0;
          border-top: 0;
            }
        }
      .addOtherM {
        color: #6f7072;
        margin: 20px 5px;
        ion-icon {
          color: #8f1531;
                width: 25px;
          height: 25px;
                 background: url(../assets/imgs/sprite.png) 0 -970px no-repeat;
            }
        }
    
      .tabsRow {
            ion-segment {
             display: block;
             white-space: nowrap;
             font-size: 0;
             overflow: auto;
         
             &::-webkit-scrollbar {
                 width: 0;
                 height: 0;
                 display: none;
             }
         
             ion-segment-button.segment-button {
                 display: inline-block;
                 min-width: 100px;
                 width: auto;
             }
         }
        } 
    }
    
    .offerForm {
      .list {
        padding: 0 10px;
        margin: 0;
        }
      ion-item {
        padding: 0;
        .text-input-md {
             margin: 6px 0;
            }
        }
      .addOtherM {
        color: #6f7072;
        margin: 20px 5px;
        .icon {
          color: #8f1531;
                width: 25px;
          height: 25px;
          font-size: 22px;
          float: right;
          margin: -4px 0 0 6px;
            }
        }
      .sendmailBt {
        border: 1px solid #e9573d;
        background: #FFF;
        color: #e9573d;
        box-shadow: none;
        padding: 20px 0;
        }
      .btwrap {
        padding: 10px;
        overflow: hidden;
        .col1{
            float:left;
             width: 48%;
        }
        .col2{
            float: right;
            width: 48%;
        }
        }
    
      input {
        color: #333333;
        }
    }
    
    
    
