﻿<!--
  Generated template for the QuickQuoteResultPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" navPop></button>
  <h1><span>Health Insurance</span>Get a quick quote</h1>
  <button ion-button menuToggle end class="humburgerMenu" [class.hide]="showButton">
      <i></i>
      <i></i>
      <i></i>
  </button>
  <!-- <ion-icon name="close" (click)="closeQuickQuote();" class="headerClose ion-ios-close-outline"></ion-icon> -->
</ion-header>

<ion-content padding class="body-bg quickResult"> 
  <div class="yourQt" *ngIf="floaterDiv" hidden>
     <h5> Sum Insured <span>- {{familySumInsured}}</span></h5> <button ion-button class="cutomiseBt" (click)="toggleCustomize()"  *ngIf="openEdit" >Make changes</button><button ion-button class="cutomiseBt"  *ngIf="!openEdit" (click)="toggleCustomize();">X</button>

     <div class="floaterQtblock"  *ngIf="!openEdit">
      <div class="accordContent"> 
      <ion-row class="sumInsuredSlide">
            <ion-segment  [(ngModel)]="familyInsurence"> 
                <ion-segment-button *ngFor="let amt of siAmountArray" value={{amt.sicode}} >{{amt.amtTitle}} </ion-segment-button>                 
        </ion-segment>
      </ion-row>
    </div>

        <ion-row class="accordRow"  *ngFor="let member of tempMemberArray">
          <ion-thumbnail class="qcardIcon"><img src={{member.imgUrl}} class="selfImg"><span class="self">{{member.title}}</span></ion-thumbnail>         
            <ion-icon name="ios-trash-outline" class="deleteIcon" *ngIf="!member.disableRemove" (click)="removeMember(member, $event);"></ion-icon>
      </ion-row>
       <div class="addotherMRow">
        <a href='#'(click)="addMember();" class="addOtherM" ><ion-icon ></ion-icon> Add other members </a>
      </div> 

        <ion-row  [class.hide]="!insuredType">
          <button ion-button class="generateQbt" (click)="generateQuote();">generate quote</button>
  </ion-row>
     </div>
  </div>
<div class="yourQt" *ngIf="individualDiv" hidden>
  <h5> Your quote </h5> <button ion-button *ngIf="!show" class="cutomiseBt" (click)="customizeView();">Make changes</button><button ion-button *ngIf="closeBtn" class="cutomiseBt" (click)="closeModal();">X</button>
  <div *ngIf="show">
  <div class="yourQaccord">
    <mat-accordion>
    <mat-expansion-panel class="accordRow" (opened)="panelOpenState = true" (click)="toggleGroup(member)"
                (closed)="panelOpenState = false" *ngFor = "let member of tempMemberArray">
        <mat-expansion-panel-header class="item-accordio">
          <mat-panel-title>
                <ion-thumbnail class="qcardIcon"><img src={{member.imgUrl}}><span class="self">{{member.title}}</span></ion-thumbnail> <span class="amntRight">{{member.insuredAmtText}}<ion-icon name="ios-trash-outline" *ngIf="!member.disableRemove" (click)="removeMember(member, $event);" class="deleteIcon"></ion-icon></span>
          </mat-panel-title>
          <mat-panel-description>        
          </mat-panel-description>       
        </mat-expansion-panel-header>
    <div class="accordContent"> 
      <h6>Sum insured </h6>
      <ion-row class="sumInsuredSlide">
        <ion-segment [(ngModel)]="slide" *ngFor="let amt of insurenceAmtToShow">                  
            <ion-segment-button   (click) = "selectedMemberValue(amt);" value={{amt.sicode}}>{{amt.amtTitle}}</ion-segment-button>
        </ion-segment>
      </ion-row>
  </div>
</mat-expansion-panel>
</mat-accordion>
    
      <div class="addotherMRow">
          <a href='#' class="addOtherM" (click)="addMember();" ><ion-icon></ion-icon> Add other members </a>
  </div>
  <ion-row  [class.hide]="insuredType">
        <button ion-button class="generateQbt" (click)="generateQuote();">generate quote</button>
  </ion-row>
  </div>
</div>
  <div class="tabslinkRow"  [class.hide]="!insuredType">
    <ion-segment [(ngModel)]="planType">
      <!-- 
      <ion-segment-button value="OneTime" *ngFor="" (click)="getPolicyTermOneTimeDisplayAmount();">
        Vital
      </ion-segment-button> -->
      <ion-segment-button value="vital" (click)="changePlan(1);">
        Vital
      </ion-segment-button>
      <ion-segment-button value="superior" (click)="changePlan(2);">
        Superior
      </ion-segment-button> 
      <ion-segment-button value="premier" (click)="changePlan(3);">
        Premier
      </ion-segment-button>
    </ion-segment>
  </div>
</div>

<div class="whiteRow" [class.hide]="insuredType" >
  <!-- <div class="iconToggle"><a href="#" (click)="showGraph();" [class.hide]="!graph"class="graphBt"></a><a href="#" [class.hide]="!card" (click) = "showCard();"class="graphBt2"></a></div> -->
  <!-- <div class="iconToggle"><a href="#" (click)="showGraph(2);" *ngIf="graph" class="graphBt"></a>
    <a href="#" (click) = "showGraph(1);" *ngIf="!graph" class="graphBt2"></a></div> -->
<div class="tabsWrapper">
<div class="tabslinkRow"  [class.hide]="insuredType">
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="OneTime" (click)="getPolicyTermOneTimeDisplayAmount();">
      One-Time
    </ion-segment-button>
    <ion-segment-button value="Monthly" (click)="getPolicyTermMonthlyDisplayAmount();">
      Monthly
    </ion-segment-button>
    <ion-segment-button value="Quarterly" (click)="getPolicyTermQuarterlyDisplayAmount();">
      Quarterly
    </ion-segment-button> 
    <ion-segment-button value="HalfYearly" (click)="getPolicyTermHalfyearlyDisplayAmount();">
      Half-Yearly
    </ion-segment-button>
  </ion-segment>
</div>
<!-- <div class="offamt">(10% off)</div> -->
<div class="offamt"><span>Premium show without GST</span></div>
<div class="tabcontentsWrap" [ngSwitch]="pet" *ngIf="graph">
  
  <!-- <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
    <ion-item>
        <ion-card class="offerCard" (click)="selectSumInsured(card, $event)" *ngFor = "let card of oneTimecards?.reverse()">
        <ion-header>
          <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
          <div class="rightCol right"> Premium Breakup</div>
        </ion-header>
        <ion-card-content class="ontimeCardInfo">
        

            <p  class="cardfrP">
              <span class="newPrice">{{card.discountAmount}} </span>
              <span class="oldPrice">{{card.yearAmount}}</span>
            </p>
            <p >You save: 
              <span class="offamnt">{{card.saveAmount}} ({{card.totalDiscount}})</span> 
              <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png"></i></p>
        </ion-card-content>
          <i class="ion-ios-checkmark-outline" [class.hide]="card.selected"></i>
      </ion-card>
    </ion-item>
  </ion-list> -->

  <ion-list *ngSwitchCase="'OneTime'" class="offercardList">
    <ion-item>
      <ion-card class="offerCard"*ngFor = "let card of oneTimecards">
        <ion-header>
            <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
            <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
        </ion-header>
        <ion-card-content class="ontimeCardInfo">
          <p class="cardfrP">
            <span class="newPrice">₹{{card.discountAmount}}</span>
            <span class="oldPrice" *ngIf="card.saveAmount != 0">₹{{card.yearAmount}}</span>
            <!-- <span class="offamnt">({{card.totalDiscount}}% off)</span> -->
            <!-- <span class="saveTxt" *ngIf="card.saveAmount != 0">You save:</span>
             <span class="offamnt" *ngIf="card.saveAmount != 0"> ₹{{card.saveAmount}}</span>  -->
             <span class="offamnt" *ngIf="card.saveAmount != 0"> ({{card.totalDiscount}} off)</span>
          </p>
        </ion-card-content>
        <ion-footer class="cardFooter">
          <!-- <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div> -->
          <div class="cardBt cardBtR qqcardLink" (click)="proceedQuickQuote();"> OK. GOT IT </div>
        </ion-footer>
      </ion-card>
    </ion-item>
</ion-list>

<ion-list *ngSwitchCase="'Monthly'" class="offercardList">
  <ion-item>
    <div *ngFor = "let card of monthlyCards" >
    <ion-card class="offerCard" *ngIf="card.saveAmount != 0">
      <ion-header >
          <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
        <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
      </ion-header>
      <ion-card-content class="ontimeCardInfo">
        <p class="cardfrP">
          <span class="newPrice">₹{{card.discountAmount}}</span>
          <span class="oldPrice"  [class.hide]="hideOpDisc">₹{{card.yearAmount}}</span>
          <!-- <span class="offamnt">({{card.totalDiscount}}% off)</span> -->
          <!-- <span class="saveTxt">You save:</span>
           <span class="offamnt"> ₹{{card.saveAmount}}</span>  -->
           <span class="offamnt"  [class.hide]="hideOpDisc"> ({{card.totalDiscount}} off)</span>
        </p>
      </ion-card-content>
      <ion-footer class="cardFooter">
        <!-- <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div> -->
        <div class="cardBt cardBtR qqcardLink" (click)="proceedQuickQuote();"> OK. GOT IT </div>
      </ion-footer>
    </ion-card>
  </div>
  </ion-item>
</ion-list>

<ion-list *ngSwitchCase="'Quarterly'" class="offercardList">
  <ion-item>
    <div *ngFor = "let card of quarterlyCards">
    <ion-card class="offerCard" *ngIf="card.saveAmount != 0">
      <ion-header>
          <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
        <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
      </ion-header>
      <ion-card-content class="ontimeCardInfo">
        <p class="cardfrP">
          <span class="newPrice">₹{{card.discountAmount}}</span>
          <span class="oldPrice"  [class.hide]="hideOpDisc">₹{{card.yearAmount}}</span>
          <!-- <span class="offamnt">({{card.totalDiscount}}% off)</span> -->
          <!-- <span class="saveTxt">You save:</span>
           <span class="offamnt"> ₹{{card.saveAmount}}</span>  -->
           <span class="offamnt"  [class.hide]="hideOpDisc"> ({{card.totalDiscount}} off)</span>
        </p>
      </ion-card-content>
      <ion-footer class="cardFooter">
        <!-- <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div> -->
        <div class="cardBt cardBtR qqcardLink" (click)="proceedQuickQuote();"> OK. GOT IT </div>
      </ion-footer>
    </ion-card>
  </div>
  </ion-item>
</ion-list>

<ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
  <ion-item>
    <div *ngFor = "let card of halfyearlyCards">
    <ion-card class="offerCard" *ngIf="card.saveAmount != 0">
      <ion-header>
          <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
        <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
      </ion-header>
      <ion-card-content class="ontimeCardInfo">
        <p class="cardfrP">
          <span class="newPrice">₹{{card.discountAmount}}</span>
          <span class="oldPrice" [class.hide]="hideOpDisc">₹{{card.yearAmount}}</span>
          <!-- <span class="offamnt">({{card.totalDiscount}}% off)</span> -->
          <!-- <span class="saveTxt">You save:</span>
           <span class="offamnt"> ₹{{card.saveAmount}}</span>  -->
           <span class="offamnt"  [class.hide]="hideOpDisc"> ({{card.totalDiscount}} off)</span>
        </p>
      </ion-card-content>
      <ion-footer class="cardFooter">
        <!-- <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div> -->
        <div class="cardBt qqcardLink cardBtR" (click)="proceedQuickQuote();"> OK. GOT IT </div>
      </ion-footer>
    </ion-card>
  </div>
  </ion-item>
</ion-list>


  <!-- <ion-list *ngSwitchCase="'Monthly'" class="offercardList">
    <ion-item>
      <h2>Monthly</h2>
      <ion-item>
          <ion-card class="offerCard" (click)="selectSumInsured(card)" *ngFor = "let card of monthlyCards?.reverse()" [class.hide]="card.view">
          <ion-header>
            <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
            <div class="rightCol right"> Premium Breakup</div>
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
              

              <p  class="cardfrP">
                <span class="newPrice">{{card.discountAmount}} </span>
                <span>{{card.installmentTitle}}</span>
              </p>         
              <p>{{card.installmentTitle}}
               <span class="offamnt"></span>loading  
               <span>{{card.installmentLoading}} %</span>
             </p>
          </ion-card-content>
            <i class="ion-ios-checkmark-outline" [class.hide]="card.selected"></i>
        </ion-card>
        </ion-item>
    </ion-item>    
  </ion-list> -->

    <!-- <ion-list *ngSwitchCase="'Quarterly'" class="offercardList"> 
    <ion-item>
      <h2>Quarterly</h2>
      <ion-item>
          <ion-card class="offerCard"  (click)="selectSumInsured(card)" *ngFor = "let card of quarterlyCards?.reverse()" [class.hide]="card.view">
          <ion-header>
            <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
            <div class="rightCol right"> Premium Breakup</div>
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
            

              <p  class="cardfrP">
                <span class="newPrice">{{card.discountAmount}} </span>
                <span>{{card.installmentTitle}}</span>
              </p>         
              <p>{{card.installmentTitle}} 
                <span class="offamnt"></span>loading  
                <span>{{card.installmentLoading}} %</span>
              </p>          
          </ion-card-content>
            <i class="ion-ios-checkmark-outline" [class.hide]="card.selected"></i>
        </ion-card>
        </ion-item>
    </ion-item>    
  </ion-list> -->

    <!-- <ion-list *ngSwitchCase="'HalfYearly'" class="offercardList">
    <ion-item>      
      <h2>Half-Yearly</h2>
      <ion-item>
          <ion-card class="offerCard" (click)="selectSumInsured(card)" *ngFor = "let card of halfyearlyCards?.reverse()" [class.hide]="card.view">
          <ion-header>
            <div class="leftCol"><span> {{card.ptTitle}}</span> Policy</div>
            <div class="rightCol right"> Premium Breakup</div>
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
            

              <p  class="cardfrP">
                <span class="newPrice">{{card.discountAmount}} </span>
                <span>{{card.installmentTitle}}</span>
              </p>         
              <p>{{card.installmentTitle}} 
                <span class="offamnt"></span>loading 
                 <span>{{card.installmentLoading}} %</span>
               </p>          
          </ion-card-content>
           <i class="ion-ios-checkmark-outline" [class.hide]="card.selected"></i>
        </ion-card>
        </ion-item>
    </ion-item>    
  </ion-list> -->
</div>
<!-- <div class="btwrap">
 
  <button ion-button class="sendmailBt btwrapQuick" (click)="voluntaryDeduction();" block>Voluntary Deduction</button>


</div> -->
    <!-- <div style="display: block" *ngIf="!graph">
    <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [colors]="barChartColors"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"></canvas>
  
</div> -->
<!--   <div class="formList" >
    <ion-list >
    <ion-item>
        <ion-input type="text" placeholder="Name of the proposer (Self)" [(ngModel)]="NameOfEmailProposerIndividual"></ion-input>
  </ion-item>
    </ion-list>
    <ion-list   >
        <ion-item *ngFor = "let emailList of sendEmailList">
            <ion-input type="text" [(ngModel)]="emailList.value" placeholder ="Email quote to"></ion-input>
  </ion-item>
  </ion-list>
    <a href='#' class="addOtherM" (click)="addEmailMember()" >Add participants <i class="icon ion-ios-plus-outline"></i></a>
  <div class="btwrap">
      <button ion-button class="sendmailBt" (click)="sendEmail()" block>Send email</button>
  </div>
</div>

  <div class="formList">
  <ion-list>
    <ion-item>
            <ion-input type="text" [(ngModel)]="NameOfSMSProposerIndividual"  placeholder="Name of the proposer (Self)"></ion-input>
  </ion-item>
        </ion-list>
          <ion-list>
              <ion-item *ngFor = "let sms of sendSMSList">
                  <ion-input type="text" [(ngModel)]="sms.value" placeholder="SMS send to"></ion-input>
  </ion-item>
  </ion-list>
    <a href='#' class="addOtherM" (click)="addSmsMember();">Add participants <ion-icon></ion-icon></a>
  <div class="btwrap">
      <button ion-button class="sendmailBt" (click)="sendSms();" block>Send SMS</button>
  </div>
</div>
 -->
</div>
</div>



<div class="whiteRow" [class.hide]="!insuredType">
<!-- 
    <ion-row>
        <ion-select class="age-range" [(ngModel)]="installTyp" >
          <ion-option *ngFor="let installment of installments" value={{installment.frequencyCode}}>{{installment.frequencyTitle}}</ion-option> 
        </ion-select>
  
    </ion-row>
   -->
   <div class="iconToggle">
      <ion-select class="age-range" [(ngModel)]="installTyp" (ionChange)="onSelectChange($event)"  interface="action-sheet" >
          <ion-option *ngFor="let installment of installments" value={{installment.frequencyCode}}>{{installment.frequencyTitle}}</ion-option> 
        </ion-select>
    <!--  <a href="#" (click)="toggleGraph(2)" *ngIf="!familyGraph" class="graphBt"></a>
     <a href="#" (click)="toggleGraph(1)" *ngIf="familyGraph" class="graphBt2"></a> -->
    </div>
  <div class="tabsWrapper">
  <div class="tabslinkRow"  [class.hide]="!insuredType">
    <ion-segment [(ngModel)]="petFamily">
      
      <ion-segment-button  value="OneYears" [class.hide]="hideOneYear" (click)="showSumInByYear(1);">
        1 Year Policy
      </ion-segment-button>
      <ion-segment-button value="TwoYears"  (click)="showSumInByYear(2);">
        2 Years Policy
      </ion-segment-button>
      <ion-segment-button value="ThreeYears" (click)="showSumInByYear(3);">
        3 Years Policy
      </ion-segment-button>
       
    </ion-segment>
    
  </div>
  <!-- <div class="offamt">{{yrDiscount}}<span>Premium show without GST</span></div> -->
  <div class="offamt"><span>Premium shown without GST</span></div>
  <div class="tabcontentsWrap" *ngIf="!familyGraph" [ngSwitch]="petFamily">
    <!-- <ion-list *ngSwitchCase="petFamily" class="offercardList">
      <ion-item>
        <ion-card class="offerCard" *ngFor = "let card of threeYearFltCards" (click)="selectSumInsured(card)" >
          <ion-header>
            <div class="leftCol"><span> {{card.siTitle}}</span> Sum Insured</div>
            <div class="rightCol right"> Premium Breakup</div>
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
            <p  class="cardfrP">
              <span class="newPrice"> ₹{{card.siCalculated}} </span>
              <span  [class.hide]="card.hideInstalment" > {{card.instalmentText}}</span>
              <span class="oldPrice" [class.hide]="card.showOld" > ₹{{card.oldPrice}}</span>
            </p>
            <p [class.hide]="card.showOld">
              <span class="saveTxt">You save:</span>
               <span class="offamnt"> ₹{{card.savedAmount}} <span>({{card.discountPerc}}% off)</span>
             </span>
              <i class="Cardtooltips"><img src="assets/imgs/tooltipsIcon.png"></i>
           </p>
            <p  [class.hide]="card.hideInstalment">{{card.loadingText}}</p>
            </ion-card-content>
          <i class="ion-ios-checkmark-outline" [class.hide]="card.selected" ></i>
          </ion-card>
          </ion-item>
    </ion-list> -->

    <ion-list class="offercardList">
      <ion-item>
        <ion-card class="offerCard" *ngFor = "let card of threeYearFltCards">
          <ion-header>        
            <div class="leftCol">Sum Insured {{card.siTitle}}</div>
            <!-- <span class="recomend"><img src="assets/imgs/star.png"></span> -->
          </ion-header>
          <ion-card-content class="ontimeCardInfo">
            <p class="cardfrP">
              <span class="newPrice"> ₹{{card.siCalculated}} </span>
              <span class="oldPrice" [class.hide]="hideOpDisc"> ₹{{card.oldPrice}}</span>
              <span class="offamnt" [class.hide]="hideOpDisc">({{card.discountPerc}}% off)</span>            
            </p>
            </ion-card-content>
          <ion-footer class="cardFooter">
            <!-- <div class="cardBt" (click)="showCardDetailsPop($event, card);">Premium Breakup</div> -->
            <div class="cardBt cardBtR qqcardLink" (click)="proceedQuickQuote();"> OK. GOT IT </div>
          </ion-footer>
          </ion-card>
          </ion-item>
    </ion-list>
  
  </div>
  <!-- <div class="btwrap">
 
    <button ion-button class="sendmailBt" (click)="voluntaryDeduction();" block>Voluntary Deduction</button>

 
</div> -->
    <!-- <div style="display: block" *ngIf="familyGraph">
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [colors]="barChartColors"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"></canvas>
  </div> -->
  </div>
  
  

  <!-- <div class="formList" [class.hide]="forQuickQuote">
    <ion-list >
    <ion-item>
        <ion-input type="text" [(ngModel)]="NameOfProposer"  placeholder="Name of the proposer (Self)"></ion-input>
    </ion-item>
    </ion-list>
    <ion-list   >
        <ion-item *ngFor = "let emailList of sendEmailList" >
            <ion-input type="text" placeholder="Email quote to" value={{emailList.value}}  aria-valuemax="balasubramaniayan12345@yahoo.com"></ion-input>
    </ion-item>
    </ion-list>
    <a href='#' class="addOtherM" (click)="addEmailMember()" >Add participants <ion-icon></ion-icon></a>
    <div class="btwrap">
      <button ion-button class="sendmailBt" (click)="sendEmail()" block>Send email</button>
    </div>
  </div>
  
  <div class="formList"  [class.hide]="forQuickQuote">
    <ion-list>
      <ion-item>
      <ion-input type="text" placeholder="mobile number" value="+91 8898982555" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="SMS quote to" ></ion-input>
    </ion-item>
    </ion-list>
    <a href='#' class="addOtherM" >Add participants <ion-icon></ion-icon></a>
    <div class="btwrap">
      <button ion-button class="sendmailBt" block>Send SMS</button>
    </div>
  </div>
   -->
  </div>

  

</ion-content>

<div class="trans" [class.hide]="voluntaryPopup"></div>
<div class="commonPopup otpPopup agentdPopup qqPopup" [class.hide]="voluntaryPopup">
    <ion-icon name="close" (click)="closeVoluntaryModalPop();" class="popupClose ion-ios-close-outline"></ion-icon>
    <div class="popupInner otpPopupContent" text-center>
      <h5>Basic Details</h5>
        <ion-list class="formList">         
          <ion-item>
            <ion-label floating>Amount</ion-label>
          <ion-select class="age-range" [(ngModel)]="amount" (ionChange)="onSelectChangeDeductable($event)"> 
              <ion-option *ngFor="let amount of amountList" value={{amount.amount}}>{{amount.amount}}</ion-option>            
          </ion-select>
          </ion-item>                             
          </ion-list>
          <div class="btwrap">                
            <div class="col1">
              <button ion-button class="sendmailBt" block style="align-items:center;" (click)="proceedFromVoluntaryDeductable();" block style="align-items:center;">PROCEED</button>
            </div>
    </div>        
</div>
</div>

<!-- <ion-footer >
    <ion-segment class="commonBt" (click)="proceedQuickQuote();" [class.hide]="!forQuickQuote" > proceed to buy policy </ion-segment>
</ion-footer> -->
