page-plans-limits {

  span.acIcon {
    display: inline-block;
    width: 37px;
}

  .planLimitTab {
    white-space: nowrap;
    overflow-x: scroll;
    display: -webkit-inline-box;
    .segment-button {
      width: auto;
      min-width: -webkit-fill-available;
      background: none;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #9c9da4;
      color: #fff;
      font-size: 1.4rem;
      text-transform: uppercase;
      text-overflow: inherit;
      opacity: 1;
      padding: 0 10px;
      &.segment-activated {
        color: #9c9da4;
        background: none;
        border-bottom: 4px solid #fff;
      }
    }
  }

  .benefitsBlock {
    background: #fff;
    margin: 10px 0;
    border-radius: 4px;
    padding: 10px;
    overflow-y: scroll;
    height: 90%;
    .titleRow {
      margin-bottom: 20px;
      h2 {
        display: inline-block;
        font-size: 1.4rem;
        color: #333333;
        padding: 15px 0 0 0;
        margin: 0;
        span {
          display: inline-block;
          padding: 0 10px;
          color: #6f7072;
          font-size: 1.6rem;
          border-left: 1px solid #dbdbdb;
          &:first-child {
            padding-left: 0;
            border-left: 0;
          }
        }
      }
      .commonBt {
        float: right;
        width: 100px;
        padding: 5px;
        font-size: 1.4rem;
        text-transform: none;
      }
    }
  }

  .accordionWrapper {
    .vitalSpl{
      margin-top: 5px;
      h4{
         &.splBenefits2 {
        background: #c6c6c6!important;
        
      }
      }
    }
    .supSpl{
      margin-top: 5px;
      h4{
         &.splBenefits2 {
        background: #c6c6c6!important;
        
      }
        &.splBenefits3 {
        background: #e2a7bb!important;
        
      }
      }
    }
    .preSpl{
      margin-top: 5px;
      h4{
         &.splBenefits2 {
        background: #e2a7bb!important;
        
      }
        &.splBenefits4 {
        background: #d1c5d3!important;
        
      }
      
      }
    }
    h4 {
      background: #fbe9e7;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      align-items: center;
      margin: 0 0 2px 0;
      position: relative;
      z-index: 2;
     

      &.active {
        -moz-box-shadow: 1px 1px 5px #bdbfbe;
        -webkit-box-shadow: 1px 1px 5px #bdbfbe;
        box-shadow: 1px 1px 5px #bdbfbe;
        background: #ffccbc;

        .plusMinut {
          width: 18px;
          height: 18px;
          background: url("../assets/imgs/ac-minus.png") 0 8px no-repeat;
        }
      }
      .acIcon {
        img {
          width: auto;
          max-width: inherit;
        }
      }
      .text {
        padding: 0 40px 0 10px;
        font-size: 1.4rem;
        color: #333333;
        width: 100%;
      }
      .plusMinut {
        width: 18px;
        height: 18px;
        background: url("../assets/imgs/ac-plus.png") 0 0 no-repeat;
      }
    }
    .accordContents {
      background: #eeeeee;
      padding: 20px 10px;
      margin: -3px 0 2px 0;
      position: relative;
      display: none;
      border-radius: 0 0 5px 5px;

      p {
        font-size: 1.4rem;
        color: #6f7072;
        margin: 0;
        padding: 0;
        line-height: 19px;
        margin: 0 0 15px 0;
        &.intro {

          width: 80%;
        }
      }
      .vitalPopup {
        position: absolute;
        right: 10px;
        top: 17px;
        width: 25px;
        height: 25px;
        background: url(../assets/imgs/popupLink.png) 9px 6px no-repeat;
      }


      .limitTable {
        background: #fff;
        width: 100%;
        border-radius: 5px;
        -moz-box-shadow: 1px 1px 5px #bdbfbe;
        -webkit-box-shadow: 1px 1px 5px #bdbfbe;
        box-shadow: 1px 1px 5px #bdbfbe;
        padding: 2px;
        border-left: 1px solid #e6e8e7;
        border-top: 1px solid #e6e8e7;
        h5 {
          font-size: 1.4rem;
          color: #8e1831;
        }
        p {
          font-size: 1.3rem;
          color: #818181;
          line-height: inherit;
          margin-bottom: 5px;
        }

        tr {
          &:first-child {
            td {
              h5 {
                margin: 0;
              }
              &:first-child {
                text-transform: uppercase;
              }
            }
          }
          td {
            border-bottom: 1px solid #e6e8e7;
            border-right: 1px solid #e6e8e7;
            padding: 10px;
            &:first-child {
              p {
                font-size: 1.3rem;
                color: #333333;
              }
            }
          }
        }
      }
    }
  }

  .noClick {
    pointer-events: none;
  }

  .popupContent {
    position: fixed;
    top: 30px;
    left: 0;
    z-index: 91;
    background: #ffffff;
    padding: 25px 12px 0 12px;
    border-radius: 6px;
    height: 92%;
    overflow-y: scroll;
    width: 94%;
    margin: 0 12px 0 12px;
    display: none;
    -webkit-backface-visibility: hidden;
    kface-visibility: hidden;
    box-sizing: border-box;

    .closeBtn {
      position: absolute;
      top: -15px;
      right: 10px;
      color: #fff;
      font-size: 40px;
      cursor: pointer;
      padding: 10px;
    }
    h2 {
      color: #333333;
      font-size: 1.6rem;
      margin: 0 0 22px 0;
    }
    .eventFilter {
      white-space: nowrap;
      overflow-x: scroll;
      display: -webkit-inline-box;
      .segment-button {
        width: auto;
        min-width: -webkit-fill-available;
        background: none;
        border-radius: 0;
        border: 0;
        border-bottom: 1px solid #c11b17;
        color: #6f7072;
        font-size: 1.2rem;
        line-height: 1.6rem;
        text-transform: uppercase;
        text-overflow: inherit;
        opacity: 1;
        padding: 0 15px;
        display: table-cell;
        vertical-align: middle;
        &.segment-activated {
          color: #c11b17;
          background: none;
          border-bottom: 4px solid #c11b17;
        }
      }
    }
    .cmtabContent {
      overflow-y: scroll;
      height: 80%;
      &.superiorTab {
        //   display: none;
      }
      &.premiereTab {
        // display: none;
      }
      p {
        margin: 0px 0 30px 0;
        color: #6f7072;
        font-size: 1.3rem;
      }
      .cmtabBlock {
        border-bottom: 1px solid #cccccc;
        margin: 20px 0 8px 0;

        h4 {
          color: #8e1831;
          font-size: 1.4rem;
          margin: 0 0 14px 0;
        }
        ol {
          padding: 0 0 0 15px;
          margin: 0;
          li {
            color: #6f7072;
            font-size: 1.3rem;
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .transPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    display: none;
  }
}
