page-quickquote-offline {
  // .backBt {
  //   display: none;
  // }
  .header {
    .humburgerMenu {
      background-color: #094c6d;
    }
  }
  .vectorBg {
    background: #094c6d;
    padding: 1rem 1.5rem;
  
    h1 {
      span {
        color: #548bae;
        font-size: 1.4rem;
      }
    }
  
    .headerClose {
      top: 17px;
    }
  
  }
  .policyAmt {
    background: #fff;
    display: block;

    ul {
      padding: 0;
      display: table;
      margin: 0;
      width:100%;

      li {
        list-style-type: none;
        display:table-cell;
        width: 32%;
        border-left: 1px solid #eaeaea;
        text-align: center;
        padding:8px 0;

        &:first-child {
          border-left: none;
        }

        h4 {
          font-size: 12px;
          color: #656d78;
          margin: 0;
        }

        .currentPrice{
          font-size: 1.6rem;
          color: #656d78;
          font-weight: bold;
          display: block;
          margin-bottom:3px;
        }
        .oldPrice{
          font-size: 1.2rem;
          color: #ced1d4;
          display:inline-block;
          text-decoration:line-through;
        }
        .offerPrice{
          font-size: 1.2rem;
          color: #ced1d4;
          display:inline-block;
        }

        &.activePolicy {
          background: #094c6d;
          h4,
          .currentPrice,
          .oldPrice,
          .offerPrice {
            color: #fff;
          }

        }
      }
    }
  }


  .maxYear {
    span {
      color: #fff;
      font-size: 12px;
      font-weight: normal;
      margin-right: 1rem;
      display: inline-block;
      margin-bottom: 0.3rem;
    }
  }

  .addChild {
    color: #656d78;
    font-size: 12px;
    text-decoration: none;
    padding-top: 1rem;
    display: block;
    width: 95px;
    padding-right: 23px;
    position: absolute;
    bottom:10px;

    span {
      font-size: 15px;
      text-decoration: none;
      display: inline-block;
      border: 1px solid #69bce6;
      width: 16px;
      height: 16px;
      text-align: center;
      border-radius: 100%;
      line-height: 11px;
      color: #69bce6;
      position: absolute;
      top: 17px;
      right:0;
    }
  }

  .qcardIcon {
    display: inline-block;
  }

  .datetimeIcon {
    background: url(../assets/imgs/personal/dateIcon.png) no-repeat right 8px;
    margin: 0 !important;
  }

  .cardmWrap {
    p {
      font-size: 14px;
      color: #fff;
      font-weight: normal;
      padding: 10px 0 15px;
      margin: 0;
    }
  }

  .quickCard {
    .rupeeOff{
      position: absolute;
      top: 84px;
      left: 10px;
      &.rFirst{
        top: 80px;
      }
    }
    ion-card {
      display: inline-block;

      .self {
        color: #656d78;
        position: relative;
        text-align: left;
        display: inline-block;
        top: 0;
        left: 5px;
        bottom: unset;
        right: unset;
        line-height: 17px;

        &:after {
          background: #cedbe2;
          right: unset;
          left: 0;
        }

        sup {
          top: -2px;
          left: 4px;
        }
      }
    }

    .formList {
      margin-left:10px;
      width:95%;
      ion-select {
        max-width: 100%;
      }

      .item-block {
        min-height: auto;

        .item-inner {
          box-shadow: none !important;
          border: 2px solid #f4f4f4;
          padding: 0.8rem 0.5rem;
        }
      }

      ion-item {
        margin: 2rem 0 0 0;

        .select {
          padding: 0;
          background: url(../assets/imgs/vector/selectArrow.png) no-repeat right center;
        }
      }
    }
    
    ion-icon {
      position: absolute;
      right: 5px;
      bottom: 13px;
      color: #42abe0;
      font-size: 20px;
    }
  }

    .cardActive {
    background: #e1eef4;
    .formList {
      .item-block {
        background: transparent !important;
        .item-inner {
          border: 2px solid #c8dfea;
        }
      }
    }
  }

  .qCardPopup {
    .formList {
      margin-bottom: 0;
    }
  }

  .sumInsuredSlide {
    margin-bottom: 4rem;

    .label {
      transition: unset;
      transform: unset;
      margin: 5px 8px 11px 0;
      color: #6f7072;
      font-size: 1.5rem;
    }

    .segment {
      .segment-button {
        color: #320c50;

        &:hover {
          &:not(.segment-activated) {
            background-color: #4d2a69;
            transition: 100ms all linear;
            color: #fff;
          }
        }
      }
    }
  }

  .formList {
    ion-item {
      .label {
        font-size: 1.4rem;
        color: #6f7072;
      }

      .select {
        background: url(../assets/imgs/personal/blueArrow.png) no-repeat right center;
      }
    }
  }

  .popClose {
    color: #6f7072;
    position: relative;
    top: -5px;
    font-size: 22px;
    opacity: 0.8;
    float: right;
    padding: 0;
  }

  .selfPopup {
    display: block;
    font-size: 1.4rem;
    color: #656d78;

    &:after {
      content: "";
      display: block;
      width: 23px;
      height: 2px;
      background: #ede9f4;
      position: relative;
      top: 5px;
    }
  }


  .cardView {
    background: #f0dffd;
    padding: 1.5rem;
    display: none;

    h5 {
      color: #656d78;
      font-size: 1.4rem;

      &:after {
        background: #d9c9f1;
      }
    }

    p {
      padding: 0 0 0.5rem 0;
      font-size: 1.2rem;
      color: #656d78;
    }

    .deleteIcon {
      color: #656d78;
    }
  }
}

.action-sheet-group-cancel,
.action-sheet-cancel {
  background: #f9f9f9 !important;
}

.vectorBg {
  background: #094c6d;
  padding: 1rem 1.5rem;

  h1 {
    span {
      color: #548bae;
      font-size: 1.4rem;
    }
  }

  .headerClose {
    top: 17px;
  }

}

.aiRow {
  margin-bottom: 5rem !important;
}

.twoBtns {
  width: 100%;
  background: #fff;
  display: flex;
  border-top: 1px solid #e9573d;

  .cardBt {
    font-size: 14px;
    color: #e9573d;
    text-transform: uppercase;
    display: inline-block;
    background: #fff;
    text-align: center;
    width: 50%;
    padding: 1.5rem 0;
    font-weight: normal;

    &.cardBtR {
      background: #e9573d;
      color: #fff;
    }
  }
}

.vectorGender {
  display: block;
  padding-top: 1.5rem;

  .gSec {
    display: inline-block;
    padding-right: 1.5rem;

    .genderIcon {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: block;
      background: url(../assets/imgs/sprite.png) no-repeat 0 0 #d4d4d4;

      &.maleSec {
        background-position: 6px -1083px;
      }

      &.femaleSec {
        background-position: 6px -1201px;
      }

    }

    .gender {
      color: #c6c6c6;
      font-size: 1.4rem;
      text-align: center;
      display: block;
      padding-top: 1rem;
    }


    &.active {
      .genderIcon {
        background-color: #4d2a69;

        &.maleSec {
          background-position: 6px -1026px;
        }

        &.femaleSec {
          background-position: 7px -1137px;
        }
      }

      .gender {
        color: #4d2a69;
      }
    }
  }
}
