<!--
  Generated template for the QuickqoutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="vectorBg">
  <button ion-button class="backBt" navPop></button>
  <h1><span>Health Insurance</span>Get a quick quote</h1>
  <button ion-button menuToggle end class="humburgerMenu" [class.hide]="showButton">
    <i></i>
    <i></i>
    <i></i>
</button>
  <!-- <ion-icon name="close" class="headerClose ion-ios-close-outline"></ion-icon> -->
</ion-header>
<ion-content padding class="body-bg">
  <div class="cardmWrap">
    <div class="maxYear">
      <span><sup>*</sup> Max adult age - 65yrs.</span>
      <span style="float:right; margin-right:0"><sup>**</sup> Max child age - 25yrs.</span>
    </div>
    <ion-row class="quickCard">

      <ion-card class="card" [ngClass]="selfinsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/self.png"></ion-thumbnail>
          <div class="self">Self<sup>*</sup></div>
          <span class="rupeeOff rFirst">₹ </span>
          <ion-list class="formList">
            <ion-item>                
              <ion-select [(ngModel)]="sInsured" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of selfsuminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('self', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="selfinsurance.suminsured > 0" (click)="deleteSection('self')"></ion-icon>
          <div class="cardView">
            <h5>Self </h5>
            <p>Male</p>
            <p>19-03-1988</p>
            <p>Accountant</p>
            <p>₹ 1 - 3 Lakh p.a</p>
            <ion-icon class="ion-ios-trash-outline deleteIcon"></ion-icon>
          </div>
      </ion-card>
      <ion-card class="card" [ngClass]="spouseinsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/spouse.png"></ion-thumbnail>
          <div class="self">Spouse<sup>*</sup></div>
          <span class="rupeeOff rFirst">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured1" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('spouse', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="spouseinsurance.suminsured > 0" (click)="deleteSection('spouse')"></ion-icon>
      </ion-card>


      
      <ion-card class="card" [ngClass]="soninsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured2" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('son', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="soninsurance.suminsured > 0" (click)="deleteSection('son')"></ion-icon>
          <a href="#" class="addChild" (click)="showSonSection()" *ngIf="soninsurance.suminsured > 0  && hideSonSection == true"> Add another son <span>+</span></a>
      </ion-card>
      <ion-card class="card" [ngClass]="son2insurance.suminsured > 0 ? 'cardActive' : '' " *ngIf="hideSonSection == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured6" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('son2', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="son2insurance.suminsured > 0" (click)="deleteSection('son2')"></ion-icon>
          <a href="#" class="addChild" (click)="showSonSection()" *ngIf="son2insurance.suminsured > 0  && hideSon2Section == true"> Add another son <span>+</span></a>
        </ion-card>
      <ion-card class="card" [ngClass]="son3insurance.suminsured > 0 ? 'cardActive' : '' " *ngIf="hideSon2Section == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/son.png"></ion-thumbnail>
          <div class="self">Son<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured8" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('son3', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="son3insurance.suminsured > 0" (click)="deleteSection('son3')"></ion-icon>
      </ion-card>
      <ion-card class="card" [ngClass]="daughterinsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured3" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('daughter', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="daughterinsurance.suminsured > 0" (click)="deleteSection('daughter')"></ion-icon>
          <a href="#" class="addChild" (click)="showDaughterSection()" *ngIf="daughterinsurance.suminsured > 0 && hideDaughterSection == true"> Add another daughter <span>+</span></a>
      </ion-card>
      <ion-card class="card" [ngClass]="daughter2insurance.suminsured > 0 ? 'cardActive' : '' " *ngIf="hideDaughterSection == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured7" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('daughter2', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="daughter2insurance.suminsured > 0" (click)="deleteSection('daughter2')"></ion-icon>
          <a href="#" class="addChild" (click)="showDaughterSection()" *ngIf="daughter2insurance.suminsured > 0 && hideDaughter2Section == true"> Add another daughter <span>+</span></a>
        </ion-card>
      <ion-card class="card" [ngClass]="daughter3insurance.suminsured > 0 ? 'cardActive' : '' " *ngIf="hideDaughter2Section == false">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/daughter.png"></ion-thumbnail>
          <div class="self">Daughter<sup>**</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured9" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('daughter3', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="daughter3insurance.suminsured > 0" (click)="deleteSection('daughter3')"></ion-icon>
      </ion-card>




      <ion-card class="card" [ngClass]="fatherinsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/father.png"></ion-thumbnail>
          <div class="self">Father<sup>*</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured4" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('father', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="fatherinsurance.suminsured > 0" (click)="deleteSection('father')"></ion-icon>
      </ion-card>
      <ion-card class="card" [ngClass]="motherinsurance.suminsured > 0 ? 'cardActive' : '' ">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/vector/mother.png"></ion-thumbnail>
          <div class="self">Mother<sup>*</sup><span> (Dependent)</span></div>
          <span class="rupeeOff">₹ </span>
          <ion-list class="formList">
            <ion-item>
              <ion-select [(ngModel)]="sInsured5" interface="action-sheet" placeholder="Sum Insured" float-left>
                <ion-option *ngFor="let suminsuredamount of suminsuredList; let i = index" value="{{suminsuredamount.suminsured}}" (ionSelect)="calculatePremium('mother', suminsuredamount, i)">{{suminsuredamount.suminsured}}</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
          <ion-icon class="ion-ios-trash-outline deleteIcon" *ngIf="motherinsurance.suminsured > 0" (click)="deleteSection('mother')"></ion-icon>
      </ion-card>
    
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <div class="policyAmt" *ngIf="totalpremium > 0">
    <ul>
      <li [ngClass]="{'activePolicy': totalpremium > 0 && premium1Active == true}" (click)="listClick(totalpremium)">
        <h4>1 Year Policy</h4>
        <span class="currentPrice">₹ {{totalpremium}}</span>
      </li>
      <li [ngClass]="{'activePolicy': totalpremium2 > 0 && premium2Active == true}" (click)="listClick(totalpremium2)">
        <h4>2 Year Policy</h4>
        <!-- <span>₹ {{totalpremium2}}</span> -->

        <span class="currentPrice">₹ {{totalpremium2}}</span>
        <span class="oldPrice">₹ {{premium2}}</span>
        <span class="offerPrice">(5% off)</span>
      </li>
      <li [ngClass]="{'activePolicy': totalpremium3 > 0 && premium3Active == true}" (click)="listClick(totalpremium3)">
        <h4>3 Year Policy</h4>
        <!-- <span>₹ {{totalpremium3}}</span> -->

        <span class="currentPrice">₹ {{totalpremium3}}</span>
        <span class="oldPrice">₹ {{premium3}}</span>
        <span class="offerPrice">(7.5% off)</span>

      </li>
    </ul>
  </div>
 <button (click)="navigateToNextPage()" ion-button class="commonBt" *ngIf="totalpremium > 0 && (premium1Active == true || premium2Active == true || premium3Active == true)">OK. GOT IT</button>
</ion-footer>