page-t-medicaldeclaration {


  .radioBt {
    .radio {
      .radio-icon {
        left: 0;
        top: 0;
        margin: 0;
        border-radius: 50%;
        position: relative;
        display: block;
        width: 16px;
        height: 16px;
        border-width: 2px;
        border-style: solid;
        border-color: #787878;
      }
      .radio-checked {
         border-color: #8e1230;
        .radio-inner {
          left: 2px;
          top: 2px;
          border-radius: 50%;
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: #8e1230;
          border-width: inherit;
          border-top-width: inherit;
          border-left-width: inherit;

        }
      }
    }
  }


  .whiteRow {
    margin: 0;
    border-radius: 4px 4px 0 0;
  }

  .saveBt {
    button {
      background: #fff;
      border-radius: 0 0 4px 4px;
    }
  }

  .namText {
    margin-bottom: 20px;
  }

  .nameRow {
    background: #ffccbc;
    padding: 10px 10px 8px 10px;
    border-radius: 5px;
    margin-bottom: 3px;

    .label {
      display: inline-block;
      margin: 0;
    }
  }

  .healthDeclration {
    .agreeCheckbox {
      margin-top: 10px;

      .checkbox {
        vertical-align: bottom;
      }

      p {
        margin: 0 0 0 2px;
        display: inline-block;
      }
    }

    .grid {
      padding: 0;
    }

    .col {
      padding: 0;
    }

    .pros1 {
      padding: 15px;
    }
  }

  .maccordContent {
    padding: 10px 15px;
    background: #eeeeee;
    margin: -7px 0 6px 0;

    .row {
      margin: 10px 0;
    }

    .fillDetail {
      border-bottom: 1px solid #ccc;
      padding: 0;
      margin: 0 0 15px 0;

      .text-input {
        padding: 15px 0 5px 0;
        margin: 0 !important;
      }
    }
  }

  .healthAccordList {
    margin: 15px 0 0 0;
    padding: 0;
    width: 100%;

    ion-item {
      background: #fbe9e7;
      margin: 0 0 5px 0;
      border-radius: 4px;
      padding: 0 8px;
      border: 0 !important;
    }

    .item-checkbox {
      background: #ffccbc url("../assets/imgs/plus.png") 95% 50% no-repeat;
    }

    .item-checkbox-checked {
      background: #ffccbc url("../assets/imgs/minus.png") 95% 50% no-repeat;
    }

    .item-block {
      .item-inner {
        border-bottom: 0;
      }
    }

    .checkbox .checkbox-icon {
      height: 23px;
      width: 25px;
      border: 1px solid #fff;
      border-radius: 2px;

    }

    .checkbox .checkbox-checked {
      border-color: #fff;
      background-color: #fff;

    }

    .checkbox .checkbox-checked .checkbox-inner {
      left: 7px;
      top: 1px;
      position: absolute;
      width: 8px;
      height: 15px;
      border-color: #e9583f;
    }

    ion-label {
      font-size: 1.4rem;
      color: #333333;

      @media screen and (min-width: $tab-only) {
        font-size: 1.8rem;
      }
    }

    .item.item-md .checkbox {
      margin: 9px 15px 9px 4px;
    }
  }
}
