<!--
  Generated template for the TMedicaldeclarationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" (click)="onBackClick();"></button>
  <h1><span>Health Insurance</span>Buy Health Policy</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>
<ion-content padding class="body-bg">
  <ion-row class="refnumber" text-right>Quote Number: 521132</ion-row>
  <div class="whiteBox healthDeclration">
    <ion-row class="mCol">
      <h5>Medical declaration</h5>
      <ion-grid>
        <ion-row class="namText">
          <ion-col col-12>Do you and/or your family member(s) being insured have at present or in the past had any Health complaints or Mental Diseases or deformity or have had any accident/injury, or were taking treatment or were hospitalized for any illness, injury, or have undergone any Surgery in the past or are going for any planned surgery at present/recent Future/currently not in Good Health?</ion-col>
        </ion-row>
        <ion-row class="nameRow" radio-group>
          <ion-col col-8>ABC DEF</ion-col>
          <ion-col col-2 text-right class="radioBt">
            <ion-radio value="Yes"></ion-radio>
            <ion-label>Yes</ion-label>
          </ion-col>
          <ion-col col-2 text-right class="radioBt">
            <ion-radio value="No" checked></ion-radio>
            <ion-label>No</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="nameRow" radio-group>
          <ion-col col-8>ABC DEF</ion-col>
          <ion-col col-2 text-right class="radioBt">
            <ion-radio value="Yes"></ion-radio>
            <ion-label>Yes</ion-label>
          </ion-col>
          <ion-col col-2 text-right class="radioBt">
            <ion-radio value="No" checked></ion-radio>
            <ion-label>No</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>
     <div class="saveBt" (click)="onSaveAndEmail();"><button ion-button>
      <ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal
    </button></div>
  </div>
 
</ion-content>
<ion-footer>
  <ion-segment class="commonBt" (click)="proceedReviewPage();"> proceed </ion-segment>
</ion-footer>
<!-- Thank you pop up start-->
<div class="trans" [class.hide]="thankyouPopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="thankyouPopup">
  <div class="popupInner otpPopupContent" text-center>
    <p> Thank You for selecting. We have sent the proposal to your email address. </p>
    <div class="btwrap">
      <div class="col1">
        <button ion-button class="sendmailBt" block style="align-items:center;" (click)="OkButton();" block style="align-items:center;">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- Thank you pop up end-->
