page-t-proposer-details {
  .btwrap {
    .sendmailBt {max-width:150px; margin:0 auto;}
  }

  .whiteRow {
    margin: 0;
    border-radius: 4px 4px 0 0;
  }

  .saveBt {
    button {
      background: #fff;
      border-radius: 0 0 4px 4px;
    }
  }

  // code for save and email btn
  .takeImg {
    float: left;
    width: 100%;
    margin: 20px 0;

    ion-thumbnail {
      float: left;
    }

    ion-icon {
      font-size: 4rem;
      margin-top: 6%;
    }
  }

  .proposerDetails {
    padding: 0;
    font-size: 1.4rem;
    color: #333333;

    h5 {
      font-size: 1.5rem;
      color: #6f7072;
      padding: 10px 0 0 0;
      margin: 0;
      font-weight: bold;

    }

    .pros1 {
      padding: 15px;
    }

    .pros2 {
      padding: 15px;
    }

    .age-range {
      border: 0;
      font-size: 1.4rem;
      color: #333333;
      margin: 13px 0 0 0;
    }

    .saveBt {
      width: 100%;
      border-top: 1px solid #ccc;

      button {
        width: 100%;
        background: transparent;
        color: #6f7072;
        margin: 0;
        padding: 20px 0;
      }
    }

    .spouseSegment {
      width: 100%;
    }

    .proposerSegment {
      width: 100%;
    }

    .sumInsuredSlide {
      margin-bottom: 5px;
      .segment {
        .segment-button {
          border-radius: 0;
          background: transparent;
          border-radius: 0;
          margin: 0 8px;
          border: 0;
          border-bottom: 1px solid #ccc;
          color: #6f7072;
          &.segment-activated {
            color: #e9573d;
            border-bottom: 2px solid #e9573d;
          }

        }
      }
    }

    .formList {
      margin: 0 0 20px 0;

      ion-item {
        margin: 0;
      }

      .datetimeIcon {
        z-index: 99;

      }
    }


  }

  .image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
  }

  .transparent {
    background: transparent !important;
  }

  .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
  }

  .brdBtm {
    border-bottom: 1px solid #ccc;
  }

  .inputList {
    width: 100%;

    .item-md.item-block .item-inner {
      padding: 0;
    }

    input {
      color: #6f7072;
      margin: 15px 0 0 0;
      font-weight: normal;
      font-size: 1.4rem;
    }

    .item-md {
      padding: 0;
    }

  }

  .male-female {
    display: inline-block;
  }

  .coresToggle {
    padding: 0;
    margin: 0;
    color: #6f7072
  }

  .coresToggle .col {
    padding: 0;
    margin: 0;
  }

  .coresToggle .corespondToggle {
    padding: 5px 2px;
    float: right
  }

  .email {
    font-size: 2.9rem;
    color: #ed7661;
    margin: 0 10px;
  }

  .toggleText {
    font-size: 1rem;
    position: absolute;
    top: 10px;
    width: 100%;
  }

  .inactiveTab {
    color: #6f7072 !important;
    border-bottom: 1px solid #ccc !important;
    opacity: 0.7 !important;
  }

  .activeTab {
    color: #e9573d !important;
    border-bottom: 2px solid #e9573d !important;
  }
}
