<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="background-image">
  <div class="bannerImg">
    <img src="assets/imgs/fgli_login_banner.jpg" alt="">
  </div>
 
  <div class="userType" hidden>
    <ion-segment class="loginType" color="light" [(ngModel)]="userType" (ionChange)="ontbChange($event)">
      <ion-segment-button value="Partners">
        Partner
      </ion-segment-button>
      <ion-segment-button value="Employees">
        Employee
      </ion-segment-button>
    </ion-segment>
  </div>

  <div class="inputSection formList">
    <div>
      <ion-item class="bgTrans">
        <ion-label floating id="loginType">Username</ion-label>
        <ion-input [(ngModel)]="employeeID" value='60001464' #employeeIdInput (keyup.enter)="handleLogin('employeeIDField')"></ion-input>
      </ion-item>
      <div class="loginIcons">
        <ion-img class="bgTrans" [src]="'assets/imgs/user_icon-01.svg'" style="min-width:15px;"></ion-img>
      </div>
    </div>
    <div>
      <ion-item class="bgTrans">
        <ion-label floating>Password</ion-label>
        <ion-input type="{{passwordType}}" maxlength="24" clearOnEdit="false" [(ngModel)]="password" #passwordInput (keyup.enter)="handleLogin('passwordField')" value="uatuser@123" ></ion-input>
      </ion-item>
      <div class="loginIcons">
        <ion-img class="bgTrans" (click)="showpassword()" [src]="picToView"></ion-img>
      </div>
    </div>
  </div>
  <a href="#" class="fgtPw" (click)="goToGenOtpPage();">Forgot Password?</a>
  <div class="loginBtnPadding">
    <div class="loginToggle">
      <ion-toggle [(ngModel)]="keepSignedIn"  #toggleInput  class="toggleBt"></ion-toggle>
      <ion-label>Remember Me</ion-label>
    </div>
    <div class="loginBtn">
      <button ion-button icon-end (click)="loginBtn()" class="commonBt">
        log in
        <ion-icon class="arrowForward"></ion-icon>
      </button>
    </div>
  </div>
  <div class="quoteBtn">
    <button ion-button icon-end (click)="quickquote()" class="commonBt">
      Skip to get a quick quote
     <ion-icon class="arrowForward arrowCrimson"></ion-icon>
    </button>
  </div>
  <ion-img class="bgTrans logo" [src]="'assets/imgs/FGI_Logo.png'"></ion-img>

  <div class="trans" [class.hide]="AgentCodePopup"></div>
  <div class="commonPopup otpPopup agentdPopup" [class.hide]="AgentCodePopup">
      <ion-icon name="close" (click)="closeAgentCodePop();" class="popupClose ion-ios-close-outline"></ion-icon>
      <div class="popupInner otpPopupContent " text-center>
        <h5>Agent Details</h5>
          <ion-list class="formList">         
            <ion-item>
              <ion-label floating>Agent Code</ion-label>
              <ion-input #input type="text" autocapitalize="words" name="sss" [(ngModel)]="agentCode"></ion-input>
            </ion-item>                        
            </ion-list>
            <div class="btwrap">                
              <div class="col1">
                <button ion-button class="sendmailBt" (click)="ProceedLogin();" block style="align-items:center;">SUBMIT</button>
              </div>
      </div>        
  </div>
</div>



</ion-content>

<div class="trans" [class.hide]="forceUpdatePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="forceUpdatePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> You are using a previous app version. To continue using, update the app. </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="okButton();" style="padding: 15px 30px; margin:0 auto">Update</button>
            </div>
    </div>        
</div>
</div>