<ion-header>
  	<button ion-button class="backBt" navPop></button>
  <!-- <h1 [class.hide]="divHideShow"><span>Get a quick quote</span></h1>
  <h1 [class.hide]="!divHideShow"><span>Buy Policy</span></h1> -->
  <h1 ><span>Choose Product Category</span></h1>
  <!-- <a href="#"><img src="assets/imgs/personal/logo.png" alt="FGLI"></a> -->

  <button ion-button menuToggle end class="humburgerMenu" [class.hide]="showButton">
      <i></i>
      <i></i>
      <i></i>
  </button>
</ion-header>
<ion-content padding class="body-bg">
  <ion-row class="quickCard loginLanding">
    <ion-card (click)="goToProductListing();">
      <ion-thumbnail class="qcardIcon"> <img src="assets/imgs/personal/healthInsuIcon.png" alt="">
        <h5>Health </h5>
        <span>Insurance</span>
        <a href="#">Proceed
					   <ion-icon class="arrowForward arrowCrimson icon icon-ios" role="img"></ion-icon>
				</a>
      </ion-thumbnail>
    </ion-card>
    <ion-card (click)="goToPersonalAccdient();">
      <ion-thumbnail class="qcardIcon"> <img src="assets/imgs/personal/persAccIcon.png" alt="">
        <h5>Personal </h5>
        <span>Accident</span>
        <a href="#">Proceed
					   <ion-icon class="arrowForward arrowCrimson icon icon-ios" role="img"></ion-icon>
				</a>
      </ion-thumbnail>
    </ion-card>
    <!-- <ion-card>
      <ion-thumbnail class="qcardIcon"> <img src="assets/imgs/personal/travelInsIcon.png" alt="">
        <h5>Travel </h5>
        <span>Insurance</span>
        <a href="#">Proceed
					   <ion-icon class="arrowForward arrowCrimson icon icon-ios" role="img"></ion-icon>
				</a>
      </ion-thumbnail>
    </ion-card>
    <ion-card>
      <ion-thumbnail class="qcardIcon"> <img src="assets/imgs/personal/homeInsIocn.png" alt="">
        <h5>Home </h5>
        <span>Insurance</span>
        <a href="#">Proceed
					   <ion-icon class="arrowForward arrowCrimson icon icon-ios" role="img"></ion-icon>
				</a>
      </ion-thumbnail>
    </ion-card>
    <ion-card>
      <ion-thumbnail class="qcardIcon"> <img src="assets/imgs/personal/carInsIcon.png" alt="">
        <h5>Car </h5>
        <span>Insurance</span>
        <a href="#">Proceed
					   <ion-icon class="arrowForward arrowCrimson icon icon-ios" role="img"></ion-icon>
				</a>
      </ion-thumbnail>
    </ion-card> -->
  </ion-row>
</ion-content>

<ion-footer hidden>
  <ion-toolbar >
    <ion-title>Some informitive text will come here...Lorem Ipsum is simply dummy text of the printing and typesetting industry.</ion-title>
  </ion-toolbar>
</ion-footer>
