page-product-landing {
  .header {
    a {
      float: right;
    }

    h1 {
      span {
        font-size: 11px;
        color: #fff;
        margin: 0;
        float: left;
        text-transform: uppercase;
        line-height: 26px;
        font-weight: normal;
        letter-spacing: 1px;
      }
    }
  }

  .background-image {
    background: #c31b18 url('../assets/imgs/landing_bg.jpg') no-repeat center bottom;
  }

  .loginLanding {
    .qcardIcon {
      text-align: center;

      img {
        display: block;

      }

      h5 {
        text-align: left;
        color: #6f7072;
        font-size: 1.4rem;
      }

      span {
        display: block;
        text-align: left;
        font-size: 10px;
        color: #6f7072;
        padding: 0;
        position: relative;

        &:after {
          content: "";
          display: block;
          width: 24px;
          height: 2px;
          background: #d7d8d9;
          position: absolute;
          top: 13px;
        }
      }

      a {
        position: absolute;
        bottom: 15px;
        font-size: 12px;
        color: #6f7072;
        text-decoration: none;
        right: 20px;

        .arrowForward {
          background: url(../assets/imgs/personal/orangeArrow.png) no-repeat 2px 8px;
          position: relative;
          left: 2px;
          right: unset;
        }
      }
    }

    .marketingCol {
      img {
        display: inline-block;
        width: 47px;
        height: 45px;
      }
    }

    span {
      display: block;
      text-align: center;
      padding: 10px 0;
      font-size: 1.4rem;
      color: #333333;
    }
  }

  .quickCard {
    ion-card {
      border-radius: 0;
      width: 48%;
      margin: 1%;
      position: relative;
    }
  }

  ion-footer {
    .toolbar-background-ios {
      background: none;
    }

    .toolbar-background,
    .toolbar-background-ios {
      background: #383a47;
      border-width: 0;
    }

    .toolbar-title {
      text-align: center;
      font-size: 1.1rem;
      font-weight: 100;
      color: #fff;
      pointer-events: auto;
      text-overflow: unset;
      overflow: inherit;
      white-space: inherit;
    }

    .toolbar {
      ion-title {
        position: static;
        padding: 1rem;
      }
    }

  }
}

.footer-ios .toolbar-ios:first-child .toolbar-background-ios {
  border-width: 0;
}
