
<ion-header class="vectorBg">
    <button ion-button class="backBt" (click)="onBackClick()"></button>
  <!-- <button ion-button class="backBt" navPop></button> -->
  <h1>
        <span>Health Insurance</span>Buy Future Vector Care Policy</h1>
        <button ion-button menuToggle end class="humburgerMenu">
            <i></i>
            <i></i>
            <i></i>
    </button>
</ion-header>
<ion-content class="body-bg">
  <ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>
  <div class="whiteRow healthDeclration policyReview">
  <div class="pros1">
  <div class="reviewEdit">
  <h5>Review</h5> 
  <!-- <a href="#" class="reviewEdit">Edit</a> -->
  </div>
  
  <div class="tabslinkRow">
  <ion-segment [(ngModel)]="pet">  
    <ion-segment-button value="Policy" (click) = "PolicyDetails();" [disabled]="!disabledClick">
      Policy<br>Details
    </ion-segment-button>
    <ion-segment-button value="Contact" (click) = "ContactDetails();">
      Contact<br>Details
    </ion-segment-button>
    <ion-segment-button value="Insured" (click) = "InsuredDetails();" [disabled]="!disabledClick">
      Insured<br>Details
    </ion-segment-button>
  </ion-segment>
  </div>
  <div class="tabcontentsWrap" [ngSwitch]="pet" >
    <div class="policyDetails contentBox" *ngSwitchCase="'Policy'" [class.hide]="policyDetails">
      <ion-grid class="reviewgrids">
        <ion-row>
          <ion-col col-5 class="lft">Policy Type</ion-col>
          <ion-col col-7 class="rgt"><span>Individual</span>
          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-5 class="lft">Policy Term</ion-col>
          <ion-col col-7 class="rgt"><span>{{policyTerm}} years</span>
          
          </ion-col>
        </ion-row>  
      
        <ion-row class="premiumRow">
          <ion-col col-5 class="lft">Premium</ion-col>
          <ion-col col-7 class="rgt"><div class=" viewCover">
            <span class="cnt">₹ {{ premium}}</span>
            <!-- <span>({{installment}} EMI payable for {{policyTerm}} years)</span> -->
            <!-- <p (click)="popupShow();" >View Cover Details</p> -->
          </div>
          
          </ion-col>
        </ion-row>
        <ion-row class="sumIns">
          <ion-col col-5 class="lft">Total Sum Insured</ion-col>
          <ion-col col-7 class="rgt"><span>₹ {{ totalSI}}</span>
          
          </ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col col-5 class="lft">Members Covered</ion-col>
          <ion-col col-7 class="rgt">
            <div class="reviewCon">
              <div class="rvblk" *ngFor="let mem of memberlist">
                <span class="rvcol1">{{mem.name}}</span>
                <span class="rvcol2">₹ {{mem.sumInsured}}</span>
            </div>
            </div>
          
          </ion-col>
        </ion-row>
       
      </ion-grid>
     
    </div>
    <div class="contactDetails" *ngSwitchCase="'Contact'" [class.hide]="!contactDetails">
        <a href="#" class="revEdit revEditTop1" style="float: right"(click)="onEditContactDetails()">Edit</a>
      <ion-grid class="reviewgrids">
        <ion-row>
          <ion-col col-12 class="lft">Email Id</ion-col>
          <ion-col col-12 class="rgt"><ion-input type="email" maxlength="100" placeholder="Email" [(ngModel)] = "memberArray[0].email" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}"></ion-input>
          
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="lft">Mobile Number</ion-col>
          <ion-col col-12 class="rgt darkcl"><ion-input type="tel" placeholder="Mobile" number-only maxlength="10" [(ngModel)] = "memberArray[0].mobile" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}"></ion-input></ion-col>                  
        </ion-row>
       
        <ion-row>
          <ion-col col-12 class="lft">Contact Address</ion-col>
          <ion-col col-12 class="rgt">
              <ion-textarea  maxlength="200" [(ngModel)] = "memberArray[0].address" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}" placeholder="Address"></ion-textarea> 
            <!-- <ion-input type="text" maxlength="150" [(ngModel)] = "memberArray[0].address" [disabled]="isDisabledContact" [ngClass]="{'editBrd': editBrd}" placeholder="Address" placeholder="Address" ></ion-input> -->
          
          </ion-col>
        </ion-row>
       
      </ion-grid>
      <div class="reviewSave"> <button ion-button (click)= "saveContactData();" [class.hide] = "saveBtnHideShowContact">Save</button></div>
    </div>
    <div class="insuredDetails" *ngSwitchCase="'Insured'" [class.hide]="!insuredDetails">
      <div class="insureWrap" *ngFor = "let member of memberArray; let j = index">
          <div class="proName" *ngIf="member.SumInsured != ''">
              <h4 class="title"><span >{{member.titleProposer}}</span>{{member.proposerName}}</h4>
                  
            <ion-grid class="reviewgrids">
                <ion-row>
                    <ion-col col-4 class="lft">Gender</ion-col>
                    <!--<ion-col col-7 class="rgt">{{member.genderText}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="gender" id="genderText" [(ngModel)]="member.genderText" disabled></ion-input>
                  
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="lft">Date of Birth</ion-col>
                    <!--<ion-col col-7 class="rgt">{{member.age}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="Date of Birth" [(ngModel)] = "member.age" disabled></ion-input>
                  
                  </ion-col>
                </ion-row>
               
                <ion-row>
                    <ion-col col-4 class="lft">Occupation</ion-col>
                    <!--<ion-col col-7 class="rgt">{{member.occupation}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="Occupation" [(ngModel)] = "member.occupation" disabled="{{member.isDisabled}}"></ion-input>
                  
                  </ion-col>
                </ion-row>
        
                <ion-row [class.hide]= "!member.ProposerDetailsDivShow">
                    <ion-col col-4 class="lft" >PAN</ion-col>
                    <!--<ion-col col-7 class="rgt" >{{member.pan}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="PAN" maxLength = "10" [(ngModel)] = "member.pan" (ngModelChange)="member.pan = $event.toLocaleUpperCase();" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
                  
                  </ion-col>
                </ion-row>        
                <ion-row>
                    <ion-col col-4 class="lft">Nominee</ion-col>
                    <!--<ion-col col-7 class="rgt">{{member.nominee}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="Nominee" [(ngModel)] = "member.nominee" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
                  
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4 class="lft">Nominee Relation</ion-col>
                    <!--<ion-col col-7 class="rgt">{{member.NomineeRelation}}</ion-col>-->
                    <ion-col col-8 class="rgt"> <ion-input placeholder="Nominee Relation"  [(ngModel)] = "member.NomineeRelation" [disabled]="isDisabledInsured" [ngClass]="{'editBrd': member.editBrd}"></ion-input>
                  
                  </ion-col>
                </ion-row>
               
              </ion-grid>              
      </div>
    </div>
  </div>
  
 
  </div>
  <!-- <div [class.hide]="hidebutton" (click)="onSaveAndEmail();" class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Send E-Proposal</button></div> -->
  <!-- <ion-row>
  <div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>SAVE & EMAIL</button></div>
  </ion-row>  -->
  </div>
  </div>
</ion-content>
<ion-footer >
  <button ion-button class="commonBt" [class.hide]="!hidebutton" (click)="proceedNextTab();">Next</button>
  <button ion-button class="commonBt" [class.hide]="hidebutton" (click)="proceedVerifyPage();">Proceed</button>
</ion-footer>
<div class="tncPopup" [class.hide]="hideMe">  
  
  <div class="tncBlock">
      <a class="closeBtn" (click)="closePop();"><img src="assets/imgs/closePurple.png" alt=""></a>
    <h2>View Cover Details</h2>
    <span class="borderBottom"></span>
    <div class="tabslinkRow">
      <ion-segment class="policyPop" [(ngModel)]="pet1">  
        <ion-segment-button value="Self">
          Self
        </ion-segment-button>
        <ion-segment-button value="Spouse">
         Spouse
        </ion-segment-button>
       
      </ion-segment>
      </div>
      <div class="tabcontentsWrap" [ngSwitch]="pet1">
        <div class="policyDetails contentBox" *ngSwitchCase="'Self'">
          <div class="policyPopBox"> 
            <h2>Main Covers</h2>
              <ion-grid class="reviewgrids">
                  <ion-row>
                    <ion-col col-6 class="lft">Accidental death</ion-col>
                    <ion-col col-6 class="rgt"><span>₹ 30,00,000</span>
                    
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 class="lft">Permanent total disability</ion-col>
                    <ion-col col-6 class="rgt"><span>₹ 30,00,000</span>
                    
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-6 class="lft">Permanent total disability</ion-col>
                      <ion-col col-6 class="rgt"><span>₹ 30,00,000</span>
                      
                      </ion-col>
                    </ion-row>
                 
                  
                 
                </ion-grid>
          </div>
          
          <div class="policyPopBox"> 
            <h2>Additional covers</h2>
              <ion-grid class="reviewgrids">
                  <ion-row>
                    <ion-col col-12 class="lft">Repatriation &amp; funeral expenses(included)</ion-col>
                    <!-- <ion-col col-6 class="rgt"><span>₹ 30,00,000</span> -->
                    
                    <!-- </ion-col> -->
                  </ion-row>
                  <ion-row>
                    <ion-col col-6 class="lft">Adaptaton allowance</ion-col>
                    <ion-col col-6 class="rgt"><span>₹ 50,000</span>
                    
                    </ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-6 class="lft">Accidental hospitalisation</ion-col>
                      <ion-col col-6 class="rgt"><span>₹ 50,000</span>
                      
                      </ion-col>
                    </ion-row>
                 
                  
                 
                </ion-grid>
          </div>
            
         
        </div>
        <div class="policyDetails contentBox" *ngSwitchCase="'Spouse'">
            <div class="policyPopBox"> 
              <h2>Main Covers</h2>
                <ion-grid class="reviewgrids">
                    <ion-row>
                      <ion-col col-6 class="lft">Accidental death</ion-col>
                      <ion-col col-6 class="rgt"><span>₹ 30,00,000</span>
                      
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-6 class="lft">Permanent total disability</ion-col>
                      <ion-col col-6 class="rgt"><span>₹ 20,00,000</span>
                      
                      </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 class="lft">Temporary total disability</ion-col>
                        <ion-col col-6 class="rgt"><span>₹ 10,00,000</span>
                        
                        </ion-col>
                      </ion-row>
                   
                    
                   
                  </ion-grid>
            </div>
            
            <div class="policyPopBox"> 
                <h2>Additional covers</h2>
                  <ion-grid class="reviewgrids">
                      <ion-row>
                        <ion-col col-12 class="lft">Repatriation &amp; funeral expenses(included)</ion-col>
                        <!-- <ion-col col-6 class="rgt"><span>₹ 30,00,000</span> -->
                        
                        <!-- </ion-col> -->
                      </ion-row>
                      <ion-row>
                        <ion-col col-6 class="lft">Adaptaton allowance</ion-col>
                        <ion-col col-6 class="rgt"><span>₹ 50,000</span>
                        
                        </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col col-6 class="lft">Accidental hospitalisation</ion-col>
                          <ion-col col-6 class="rgt"><span>₹ 50,000</span>
                          
                          </ion-col>
                        </ion-row>
                     
                      
                     
                    </ion-grid>
              </div>
              
           
          </div>
        </div>
    

  </div>
</div>

