page-review {
    .contactDetails{
        position: relative;
        margin-top:25px;
    }
    .revEdit{
        color:#094c6d;
        text-decoration: none;
        text-transform:inherit;
            font-size: 0;
            background: url(../assets/imgs/edit.png) 0 0 no-repeat;
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: 100%;
    }
    .revEditTop{
        position:absolute;
        top:15px;
        right:0;
    }
    .revEditTop1{
        position:absolute;
        top:-20px;
        right:0;
    }
    .tabrp{
        position: relative;
    }

.rvblk{
    .rvcol1{
        float: left;
        width:40%;
    }
    .rvcol2{
        float: right;
        width:60%;
        text-align:right;
    }
}
    .reviewSave{
        .button{
            background:#094c6d;
            span{
                color:#fff;
            }
        }
       
    }
    .header {
        .humburgerMenu {
          background-color: #094c6d;
        }
      }
      .vectorBg {
        background: #094c6d;
        padding: 1rem 1.5rem;
      
        h1 {
          span {
            color: #548bae;
            font-size: 1.4rem;
          }
        }
      
        .headerClose {
          top: 17px;
        }
      
      }

      .reviewgrids {
        padding:0;
        .premiumRow {
          margin: 0 0 5px 0;
        }
      }
    
      .reviewgrids {
        .sumIns {
          .lft {
            color: #000;
            opacity: 1;
            font-size: 1.4rem;
          }
    
        }
      }
    // .reviewgrids {
    //     .premiumRow{
    //         margin: 0 0 5px 0;
    //     }
    // }


    // .revEdit{
    //     color:#e9573d;
    //     text-decoration: none;
    //     text-transform:inherit;
    //         font-size: 0;
    //         background: url(../assets/imgs/edit.png) 0 0 no-repeat;
    //         display: inline-block;
    //         width: 16px;
    //         height: 16px;
    //         background-size: 100%;
    // }
    // .revEditTop{
    //     position:absolute;
    //     top:15px;
    //     right:0;
    // }
    .revEditTop1{
        float: right;
        margin:5px;
        color:#094c6d;
    }
   
    // .reviewgrids {
    //     .sumIns{
    //         .lft{
    //             color: #000;
    //             opacity: 1;
    //             font-size: 1.4rem;
    //         }
           
    //     }
    // }  

    .policyPopBox{
        margin: 0 -5px;  
    }
   .borderBottom{
       width: 25px;
   height: 2px;
   background: #ccc;
   display: block;
   /* padding-top: 5px; */
   margin-top: 4px;
   margin-left: 3px;
   }
   .policyPopBox{
       border-bottom: 1px solid #ccc;
       padding-bottom: 12px;
       margin-bottom: 20px;
       &:last-child{
           border-bottom:0;
           margin-bottom: 0;
       }
       h2{
         font-size: 14px;
         color: #6f7072;
         padding-left:5px;
       }
   }
   .tabslinkRow  .policyPop .segment-button{
       text-align:center;
       height: 24px;

   }
   .tncPopup{
       .row .lft {
           font-size: 1.4rem;
           color: #6f7072;
           opacity: 0.8;
           line-height: 16px;
       }
       .rgt{
           text-align: right;
       }
       .reviewgrids .row {
           margin: 0 0 5px 0;
       }
       .closeBtn {
           position: absolute;
           top: -20px;
           right: 10px;
           color: #fff;
           font-size: 40px;
           cursor: pointer;
           padding: 10px;
         }
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 0;
       background: rgba(0, 0, 0, 0.5);
       z-index: 20;
       display: flex;
       align-items: center;
       justify-content: center;
       // display: none;
        .tncBlock{
           background: #fff;
           width: 90%;
           position: absolute;
           /* top: 50%; */
           margin: 0 auto;
           padding: 10px;
           border-radius: 5px;
           h2{
               margin: 0;
               font-size:14px;
               color:#333;
               font-weight: bold;
           }
           .tncContent{
               max-height: 400px;
               overflow-y: auto;
               margin-top:16px;
               padding-right: 20px;
               p{
                   margin: 0;
                   font-size:12px;
                   line-height: 16px;
                   color: #656d78;
                   text-align: justify;
               }
               
           }
           .tncBtn{
               text-align: center;
               margin-top: 20px;
               margin-right: 20px;
               .button{
                   border-radius: 4px;
                   height: 30px;
                   font-size: 12px;
                   color: #fff;
                   background-color: #8e1230;
                   margin: 0.4rem 0.2rem;
                   padding: 0 20px;
               }
           }
   
        }
    }
   .contentBox{
       padding-top: 15px;
       .grid{
           padding: 0;
       }

   }
   .insureWrap{
       padding-top: 15px;
       border-bottom: 1px dashed #b7b7b8;
       &:last-child{
           border-bottom: 0;    }
   }
   .insuredDetails{
       &:first-child{
           .proName{
               padding: 0;  
           }
       }
       .proName{
           h4{
                margin-top:0;
           }
           
           padding: 25px 5px 0px 10px;
           span{
             font-size:1.2rem;
             color: #6f7072;
           }
           p{
               color: #333333;
               font-size: 1.8rem;
               margin:3px 0 10px 0;
           }

       }
   }
   .contactDetails{
       span{
           color: #333333;
           font-size: 1.4rem;

       }
   }
   .tabslinkRow {
       margin: 12px 0 0 0;
   }
   .viewCover{
       .cnt{
           font-weight: bold;
           font-size: 1.4rem;
           color: #333333;
       }
      span{
          display: block;
          color: #6f7072;
          font-size: 1.2rem;
      }
       p{
           color:#6e2da1;
           font-size:1.2rem;
           margin:0;
           padding-top: 5px;

       }
   }
   .reviewCon{
      span{
          display: block;
          margin-bottom: 8px;
      }
   }
   .whiteRow {
       padding: 0;
   }
  .pros1{
       padding: 10px;
   }
   .ion-ios-mail-outline:before{
       color: #094c6d;
   }
   .refnumber{
       margin: 10px;
   }
   .tabslinkRow ion-segment .segment-button.segment-activated{
       color: #094c6d;
       border-bottom: 3px solid #094c6d;
   }
   .whiteRow{
       margin: 10px;
   }
   
.reviewEdit{
   h5{
       margin: 0;
       color: #6f7072;
       font-size: 1.4rem;
       line-height: 1.8rem;
       padding-left: 6px;
       display: inline-block;
       font-weight: bold;
       padding:0;
       
   }
   a{
       display: inline-block;
       color: #094c6d;
       text-decoration: none;
       text-transform: uppercase;
       float: right;
   }
}

.reviewgrids{ 
    .row{
        margin:0 0 15px 0;
        color:#6f7072;
        .lft{
            font-size:1.2rem;
            color:#6f7072;
            opacity:0.8;
        }
        .rgt{
            font-size:1.4rem;
            color:#333;
            textarea{
                height: 80px;
            }
            .revEdit{
                float: right;
                text-transform: inherit;
                font-size: 0;
                background: url(../assets/imgs/edit.png) 0 0 no-repeat;
                display: inline-block;
                width: 16px;
                height: 16px;
                background-size: 100%;
            }
            .input{
                float:left;
                width: 100%;
            }
            .editBrd{
                border-bottom:1px solid #ccc;
            }
            .text-input{
                margin:0;
                width: 100%;
                &[disabled]{
                    opacity:0.8;
                }
                
            }
        }
        .sminfo{
            font-size:1.2rem;
             color:#6f7072;
             display: block;
        }
        strong{
            font-size:1.4rem;
        }
    }
    .oneline{
        display: block;
        padding:5px;
    }
}
}
