<!--
  Generated template for the TbuyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>Buy Top-up Policy</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>
<ion-content padding class="quickPage">
  <!-- <div class="cardmWrap">
    <ion-row class="quickCard">
      <ion-card (click)="fillData();">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/selfIcon.png"> </ion-thumbnail>
        <div class="self">Self</div>
        <div class="cardView" [class.hide]="detailsSaved">
          <h5>Self </h5>
          <p>Male</p>
          <p>19-03-1988</p>
          <p>Accountant</p>
          <p>₹ 1 - 3 Lakh p.a</p>
          <ion-icon class="ion-ios-trash-outline deleteIcon"></ion-icon>
        </div>
      </ion-card>
      <ion-card class="card" (click)="fillData();">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/spouseIcon.png"></ion-thumbnail>
        <div class="self">Spouse</div>
      </ion-card>
      <ion-card class="card">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/son.png"></ion-thumbnail>
        <div class="self">Son<span>(Dependent)</span></div>
      </ion-card>
      <ion-card class="card">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/daughter.png"></ion-thumbnail>
        <div class="self">Daughter<span>(Dependent)</span></div>
      </ion-card>
      <ion-card class="card">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/father.png"></ion-thumbnail>
        <div class="self">Father</div>
      </ion-card>
      <ion-card class="card">
        <ion-thumbnail class="qcardIcon"> <img alt="" src="assets/imgs/topup/mother.png"></ion-thumbnail>
        <div class="self">Mother</div>
      </ion-card>
    </ion-row>
    <div class="qcardTrans" [class.hide]="hideDisableCards"></div>
  </div> -->

  <div class="cardmWrap"> 
    <ion-row class="quickCard">
          <ion-card *ngFor="let member of membersShow; let i = index;" [class.hide]="!member.showFamilyMemberOnScreen" (click)="fillData(member)">                
            <ion-thumbnail class="qcardIcon" > <img src={{member.imgUrl}} [class.hide]="member.detailsSaved"  alt=""><!--  <ion-img src={{member.imgUrl}} [class.hide]="member.detailsSaved" ></ion-img> --></ion-thumbnail>
            <div class="self" *ngIf="!member.detailsSaved">{{member.title}} <span *ngIf="member.showDependent">(Dependent)</span> </div>
            <div class="cardView" *ngIf="member.detailsSaved"> 
            <h5>{{member.title}}<span *ngIf="member.showDependent">(Dependent)</span></h5><p>{{member.insuredAmtText}}</p><p>{{member.ageText}}</p><p>{{member.HeightText}}</p><p>{{member.Weight}} Kg</p><p>{{member.smokingText}}</p><p>{{member.maritalStatus}}</p>           
            <ion-icon [class.hide] = "hideForSelf"(click)="clearMemberDetails($event, member)" class="ion-ios-trash-outline deleteIcon" *ngIf="i!=0"></ion-icon>
            <div class="cardTransdiv" (click)="editMemberDetails($event, member)"></div>
            <!-- <ion-icon  class="ion-ios-trash-outline editIcon"></ion-icon> -->
            <a href='#' class="addOtherS" *ngIf="member.showAddAnotherBtn"  (click)="addMemberClicked($event, member);"  style="z-index: 500;"><i class="icon ion-ios-plus-outline"></i> Add</a>
            </div>                
          </ion-card>
    </ion-row>
        <a hidden href='#' class="addOtherM" (click)="hideShowAddmember(1);" >Add other members <i class="icon ion-ios-plus-outline"></i></a>
         <!-- <a href='#' id="addMember" class="addOtherM" (click)="hideShowAddmember(1);" >Add more members <ion-icon></ion-icon></a> -->
         <div class="qcardTrans" [class.hide]="hideDisableCards"></div>
        </div>
</ion-content>
<!-- <ion-footer>
  <div class="qcardTrans" [class.hide]="!disableProceedBt"></div>
  <ion-segment class="getQuoteBt" (click)="getBuyResultClicked()" [class.hide]="hideProceedButton" [disabled]="disableProceedBt" [ngClass]="{'btgreyBg':disableProceedBt}"> PROCEED TO BUY POLICY <span class="getFor">FOR: <span>3</span></span></ion-segment>
</ion-footer> -->
<ion-footer>
  <div class="qcardTrans" [class.hide]="!disableProceedBt" id="btnTopMargin"></div>
  <ion-segment class="getQuoteBt" (click)="getBuyResultClicked()" [class.hide]="hideProceedButton"   [disabled]="disableProceedBt" [ngClass]="{'btgreyBg':disableProceedBt}"  > PROCEED TO BUY POLICY <span class="getFor">FOR: <span>{{membersInsured.length}}</span></span></ion-segment>
</ion-footer>
<!-- <div class="trans" [class.hide]="showTransBaground"></div>
<div class="qCardPopup policycardPopup animated fadeInUp" [class.hide]="hideMemberPopup">
  <ion-icon name="close" (click)="fillData();" class="popClose ion-ios-close-outline"></ion-icon>
  <img src="assets/imgs/topup/mother.png">
  <div class="selfPopup">Self</div>
  <ion-list class="formList">
    <ion-item>
      <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
      <ion-icon (click)="DatePick($event);" item-end class="datetimeIcon"></ion-icon>
      <ion-input maxlength="10" type="tel" id="" name="memberDOB" [(ngModel)]="memberAge" (keyup)="onOtherDateChange($event);"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Height (ft)</ion-label>
      <ion-select [(ngModel)]="height" interface="action-sheet" float-left>
        <ion-option value="0">20</ion-option>
        <ion-option value="1">50</ion-option>
        <ion-option value="2">60</ion-option>
        <ion-option value="3">45</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Weight (kg)</ion-label>
      <ion-select [(ngModel)]="weight" interface="action-sheet" float-left>
        <ion-option value="0">60</ion-option>
        <ion-option value="1">80</ion-option>
        <ion-option value="2">90</ion-option>
        <ion-option value="3">110</ion-option>
      </ion-select>
    </ion-item>
    <ion-item >
      <ion-label>Smoking</ion-label>
      <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label floating>Martial Status</ion-label>
      <ion-select [(ngModel)]="Mstatus" interface="action-sheet" float-left>
        <ion-option value="0">Single</ion-option>
        <ion-option value="1">Married</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-row class="saveBtns" *ngIf="!addMember">
    <div class="saveBt" (click)="saveMemberDetails(1,0);"><button ion-button>Save</button></div>
  </ion-row>
  <ion-row class="saveBtns" *ngIf="addMember">
    <div class="w50" (click)="saveMemberDetails(2,0);"><button ion-button>Save</button></div>
    <div class="w50" (click)="saveMemberDetails(2,1);"><button ion-button>Save and Add</button></div>
  </ion-row>
</div> -->


<div class="trans"  [class.hide]="showTransBaground" ></div>
<div class="qCardPopup policycardPopup animated fadeInUp" *ngIf="hideMemberPopup"> 
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>

  <!-- <ion-thumbnail class="qcardIcon"> --><img src={{popupImg}}><!-- </ion-img></ion-thumbnail> -->
  <div class="self">{{popupTitle}} </div>

      <h6 *ngIf="individualDiscount">Sum Insured <ion-icon name="arrow-round-back"></ion-icon><ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon></h6>

   <ion-row class="sumInsuredSlide" *ngIf="individualDiscount">
      <ion-segment [(ngModel)]="slide" >
          <ion-segment-button *ngFor="let amt of insurenceAmtToShow" (click)="selectedAmount(amt);" value={{amt.sicode}} >{{amt.amtTitle}} </ion-segment-button>
      </ion-segment>
   </ion-row>
    <!-- <ion-row class="dob" (click)="DatePick();" >    
    <ion-input type="text"  [(ngModel)]="memberAge" [min]="2018-01-10" placeholder="Date of Birth" disabled></ion-input>
    </ion-row> -->
   <ion-list class="formList">
    <!-- <ion-item class="onlyDate">  
      <ion-datetime [(ngModel)]="memberAge" displayFormat="MMM DD YYYY" n="Date of Birth" max={{maxDate}} min={{minDate}} class="datetime"></ion-datetime>
      <ion-label floating>Date of Birth (DD-MM-YYYY)</ion-label><ion-input maxlength="10" type="tel"  [(ngModel)]="memberAge"  (keyup)="dobInput($event);" ></ion-input><ion-icon (click)="DatePick();"  item-end class="datetimeIcon"></ion-icon>
    </ion-item> -->
    <!-- <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-icon (tap)="DatePick($event);" item-end class="datetimeIcon"></ion-icon>
      <ion-input maxlength="10" type="tel" max={{maxDate}} min={{minDate}} [(ngModel)]="memberAge" name="age" (keyup)="dobInput($event);"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label floating>Date of Birth(DD-MM-YYYY)</ion-label>
        <ion-icon (click)="DatePick($event);" item-end class="datetimeIcon"></ion-icon>
        <ion-input maxlength="10" type="tel" id=""  name="memberDOB" [(ngModel)]="memberAge"  (keyup)="onOtherDateChange($event);"></ion-input>      
      </ion-item> 
     <ion-item >
      <ion-label floating>Height (in ft)</ion-label>
        <ion-select [(ngModel)]="personHt"  (click)="heightClick()" interface="action-sheet" float-left>
<!--                               <ion-option value="0" selected > Height(ft)</ion-option>
-->                              <ion-option value={{ht.val}} (click)="filledHeight(ht)"  *ngFor="let ht of heightArray" >{{ht.text}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <!-- <ion-select class="age-range" [(ngModel)]="personWt"   interface="action-sheet" float-right>
          <ion-option value="0" selected>Weight(kg)</ion-option>
          <ion-option value={{wt}}  *ngFor="let wt of weightArray">{{wt}} Kg</ion-option>
        </ion-select> -->
        <ion-label floating>Weight (in kgs)</ion-label>
         <ion-input type="tel" maxlength="3" number-only [(ngModel)]="personWt" (keyup.enter)="handleKeyUp()"  ></ion-input>
      </ion-item>
      <ion-item *ngIf="hidePopupSmokerDiv">
        <ion-label>Smoking</ion-label>
      <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="hidePopupMarriedDiv">
        <ion-label floating>Marital Status</ion-label>
      <!-- <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle> -->
      <ion-select [(ngModel)]="marriedStatus" (ionChange)="filledStatus(marriedStatus)"  interface="action-sheet" float-left>                            
         <ion-option value={{status.value}}   *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
      </ion-select>
      </ion-item>

      <!-- <ion-item>
        <ion-label floating>Annual Income</ion-label>
        <ion-select [(ngModel)]="AnnualIncome" (click)="memberAnnualIncome()" interface="action-sheet" float-left>
        <ion-option value={{ai}} (click)="filledmemberAnnualIncome(ai)" *ngFor="let ai of annualIncomeArray" >{{ai}}</ion-option>
        </ion-select>
      </ion-item> -->
   </ion-list>

<!--    <ion-row class="dob" (click)="DatePick();" >
<ion-datetime [(ngModel)]="memberAge" displayFormat="MMM DD YYYY" n="Date of Birth" max={{maxDate}} min={{minDate}}></ion-datetime>
<ion-input type="text" class="datetime"  [(ngModel)]="memberAge" [min]="2018-01-10" placeholder="Date of Birth" disabled></ion-input>
   </ion-row>

<ion-grid class="height-weight">
  <ion-row>
    <ion-col col-12>
<ion-select class="age-range" [(ngModel)]="personHt"  interface="action-sheet">
<ion-option value="0" selected >Height (ft)</ion-option>
        <ion-option value={{ht.val}} (click)="filledHeight(ht)"  *ngFor="let ht of heightArray" >{{ht.text}}</ion-option>
      </ion-select>
    </ion-col>
    <ion-col col-12>
<ion-select class="age-range" [(ngModel)]="personWt"   interface="action-sheet">
<ion-option value="0" selected>Weight (kg)</ion-option>
<ion-option value={{wt}}  *ngFor="let wt of weightArray">{{wt}} kgs</ion-option>
      </ion-select>
      </ion-col>
      </ion-row>
      </ion-grid> -->
<!-- <ion-row class="smokingWrap" > -->
  <!-- <ul class="smokingBt">
  <li *ngIf="hidePopupSmokerDiv">
      <ion-label>Smoking</ion-label>
      <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
      </li>
  <li *ngIf="hidePopupMarriedDiv">
      <div class="flRight">
      <ion-label>Married</ion-label>
      <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle>
      </div>
  </li>
  </ul> -->
  
<!-- </ion-row>                   -->
  <ion-row class="saveBtns"  *ngIf="!addMember">
      <div class="saveBt" (click)="saveMemberDetails(1,0);"><button ion-button>Save</button></div>
  </ion-row> 
  <ion-row class="saveBtns" *ngIf="addMember">
    <div class="w50" (click)="saveMemberDetails(2,0);"><button ion-button >Save</button></div>
    <div class="w50" (click)="saveMemberDetails(2,1);"><button ion-button>Save and Add</button></div>
</ion-row>                         
</div>
