<!--
  Generated template for the HospitalLocatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <button ion-button class="backBt" navPop></button>
    <h1 [class.hide]="divShow"><span>i.Insure</span>HOSPITAL LOCATOR</h1>
    <h1 [class.hide]="!divShow"><span>i.Insure</span>Branch LOCATOR</h1>
  <!--   <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
    <button ion-button menuToggle end class="humburgerMenu">
            <i></i>
            <i></i>
            <i></i>
    </button>

</ion-header>


<ion-content padding class="body-bg">
<div class="hosptlLocator" [class.hide]="divShow">
  <div class="hsptlsHead">
   <h2>Search Preferred Hospital Network</h2>
   <img src="assets/imgs/hospital_locator.png" alt="">
   <p>You can search by either State, City, Hospital or all three!</p>
  </div>
  <div class="hsptlsContent">
      <ion-list class="formList">
          <ion-item>
              <ion-label floating >State</ion-label>
              <ion-select class="age-range" (ionChange)="changeState();" [(ngModel)]="state"> 
                  <ion-option *ngFor="let state of stateList" value={{state.iID}}>{{state.sName}}</ion-option>            
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>City</ion-label>
              <ion-select class="age-range" [(ngModel)]="city"> 
                  <ion-option *ngFor="let city of cityList" value={{city.iID}}>{{city.sName}}</ion-option>
            
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>Search hospitals by name</ion-label>
              <ion-input class="age-range search-hosptl" [(ngModel)]="hospitalName" maxlength = "50"> 
             <!--  <ion-option value="0">Occupation</ion-option> -->
            
              </ion-input>
          </ion-item>
      </ion-list>
     
    <div class="loginBtnPadding">
      <!-- <div class="loginToggle">
        <ion-toggle [(ngModel)]="keepSignedIn"  #toggleInput  class="toggleBt"></ion-toggle>
        <ion-label>Remember search</ion-label>
      </div> -->
      <div class="loginBtn">
        <button ion-button   class="commonBt" (click)="goToSearchResultPage();">
          Search
          
        </button>
      </div>
    </div>
  </div>
</div>

<div class="hosptlLocator" [class.hide]="!divShow">
  <div class="hsptlsHead">
   <h2>Search Preferred Branch Network</h2>
   <img src="assets/imgs/branchlist.png" alt="">
   <p>You can search by either State, City, Branch or all three!</p>
  </div>
  <div class="hsptlsContent">
      <ion-list class="formList">
          <ion-item>
              <ion-label floating >State</ion-label>
              <ion-select class="age-range" (ionChange)="changeState();" [(ngModel)]="state"> 
                  <ion-option *ngFor="let state of stateList" value={{state.iID}}>{{state.sName}}</ion-option>            
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-label floating>City</ion-label>
              <ion-select class="age-range" [(ngModel)]="city"> 
                  <ion-option *ngFor="let city of cityList" value={{city.iID}}>{{city.sName}}</ion-option>
            
              </ion-select>
          </ion-item>
          <!-- <ion-item>
              <ion-label floating>Search branch by name</ion-label>
              <ion-input class="age-range search-hosptl" [(ngModel)]="hospitalName" maxlength = "50"> 
          
            
              </ion-input>
          </ion-item> -->
      </ion-list>
     
    <div class="loginBtnPadding">
      <!-- <div class="loginToggle">
        <ion-toggle [(ngModel)]="keepSignedIn"  #toggleInput  class="toggleBt"></ion-toggle>
        <ion-label>Remember search</ion-label>
      </div> -->
      <div class="loginBtn">
        <button ion-button   class="commonBt" (click)="goToSearchResultPage();">
          Search
          
        </button>
      </div>
    </div>
  </div>
</div>
</ion-content>
