page-hospital-locator {
    .hosptlLocator{
        background: #fff;
    border-radius: 5px;
    padding: 16px;
        .hsptlsHead{
            text-align: center;
           h2{
               color:#6f7072;
               font-size: 1.6rem;
               text-align: left;
              margin-bottom: 10px; 
           }
           p{
            color:#6f7072;
            font-size: 1.4rem;
            margin: 10px 16px 0 16px;
           }
        }
        .hsptlsContent{
            .formList{
                ion-item{
                    .search-hosptl {
                        padding: 5px 0 3px 0;
                        background: url(../assets/imgs/search-orange.png) right 10px no-repeat;
                        border: 0;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        appearance: none;
                    }
                }
            }  
            .loginBtnPadding{
                width: 100%;
                max-width: 425px;
                margin: 0 auto;
                padding-top: 0rem;
                padding-bottom: 0rem;
                overflow: auto;
                @media only screen and (max-width: 320px) {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                }
                .loginToggle {
                    float: left;
                    height: 50px;
                    padding: 0px 0 8px 0;
                    ion-toggle {
                        float: left;
                        padding: 12px 0 !important;
                        margin-right: 12px;
                    }
                }
               
                button{
                    width: 100%;
                    box-shadow: none;
                    border-radius: 0;
                   text-align: center;
                    border-radius: 5px;
                    padding: 16px;
                    height: inherit;
                    margin: 10px 0 0 0;
                    font-size: 1.4rem;
                    &.commonBt{
                        span{
                              display: inline-block;
                              text-align: center;
                        }
                    }
                    ion-icon{
                        position: absolute;
                        right: 7%;
                    }
                    .button-inner{
                        font-size: 1.4rem;
                        justify-content:flex-start;
                    }
                }
                .label {
                    font-size: 1.2rem;
                    color: #656d78; 
                }
            }
        }
    }

}
