<!--
  Generated template for the MarketingColateralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <h1><span>Health Insurance</span>Marketing collaterals</h1>
  <!-- <div class="notification"><span>100</span><img src="assets/imgs/alarm.png"> </div> -->
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header>


<ion-content padding class="body-bg">

<div class="marketcWrap">
  <div class="marketcContent">
    <span class="viewPr">View features of Health Total by</span>
    <div class="marketcBenefit" (click)="goToProductBenefits();"><span><img src="assets/imgs/benefitscm-icon.png" alt=""></span><a href="#">BENEFITS</a></div>
    <div class="marketcBenefit" (click)="goToPlanLimits();"><span><img src="assets/imgs/planscm-icon.png" alt=""></span><a href="#">PLANS</a></div>     
  </div>
  
</div>

</ion-content>
