page-marketing-colateral {

	.marketcWrap{
         display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;
        .marketcContent{
            text-align: center;
            .viewPr{
                color:#ffffff;
                font-size: 1.4rem;
                font-weight: normal;
                margin-bottom: 5px;
            }
            .marketcBenefit{
                width:231px;
                height:33px;
                background: #ffffff;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 16px;
                padding: 5px 0;
                span{
                    margin-right: 10px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
       
        }

}
