page-vectorpaymentsuccess {
    .sucessImg{
        text-align:center;
        margin-top:15px;
    }
  .nLIst {
    margin-bottom: 20px;
    padding-left: 30px;

    li {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  .header {
    .humburgerMenu {
      background-color: #094c6d;
    }
  }

  .chequeSuccess {
    h6 {
      font-size: 1.3rem;
     margin:10px 0 10px 0;
    }

    .refNum {
      font-size: 1.6rem;
      color: #6f7072;
      font-weight: bold;
      display: inline-block;

    }
  }

  .paymentSuccess {
    text-align: center;
    color: #6f7072;
    font-size: 1.3rem;
    padding: 5px 0;

    p {
      font-size: 1.4rem;
      color: #6f7072;
      line-height: 18px;
    }

    h5 {
      width: 85%;
      text-align: center;
      margin: 0 auto 15px auto !important;

      span {
        display: block;
        font-size: 1.3rem;
        color: #6f7072;
      }

      p{
        font-size: 1.8rem;
    color: #6f7072;
    line-height: 22px;
      }
    }

    .pinkBg {
      background: #fdeeeb;
      padding: 15px;

      .nTlt {
        color: #333;
        font-size: 15px;
        text-align: left;
      }

      p {
        font-size: 1.4rem;
        padding: 0;
        margin: 0;
        line-height: 20px;
        text-align: left;

        span {
          color: #333333;
        }
      }
    }

    .successBt {
      margin: 0 auto;
      width: 80%;

      p {
        margin: 0;
        padding: 15px 0;
        border-bottom: 1px dashed #e2e2e3;
        font-size: 1.3rem;

        span {
          color: #333333;
        }

        &:last-child {
          border: 0;
        }
      }
    }

    .printBT {
      padding: 10px;
      text-align: center;

      .button-default {
        background: transparent;
        color: #f6654e;
        border: 1px solid #e9573d;
        box-shadow: none;
        width: 90%;
        max-width: 300px;
        margin: 0 auto;
        padding: 20px;
      }
    }

  }

  .transactionGrid {
    padding: 0 10px;

    p {
      span {
        color: #333;
      }
    }
  }

  .transGrid {
    overflow: hidden;
    border-radius: 22px;

    ion-col {
      padding: 15px;
      text-align: left;
      font-size: 1.4rem;
      color: #333333;
    }

    ion-col:nth-child(odd) {
      background: #fbdfd9;
      border-bottom: 1px solid #fdeeeb;
      color: #6f7072;
    }

    ion-col:nth-child(even) {
      background: #fdeeeb;
    }

  }

  .saveBt {
    border: 0;

    button {
      box-shadow: none;
      color: #6f7072;
    }
  }

}
