<!--
  Generated template for the PaymentSuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="vectorBg">
  <!--  <button ion-button class="backBt" ></button> -->
  <h1><span>Health Insurance</span>Buy Future Vector Care Policy</h1>
  <!--  <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
   <button ion-button menuToggle end class="humburgerMenu">
           <i></i>
           <i></i>
           <i></i>
   </button>
 </ion-header> 
 <ion-content padding class="body-bg ">
 
 <div class="whiteRow paymentSuccess">
 
 <div class="chequeSuccess" [class.hide]="chequeSuccess">
    <div class="sucessImg"><img src="assets/imgs/success.png"></div>
 <h5>  
   <p>Your cheque has been collected by our Agent.</p>
   <!-- <span>You have successfully generated your health insurance policy.</span> -->
 </h5>
 <div> 
   <h6>Quote Number {{ReferenceNo}}<span class="refNum"></span></h6>
   <h6>Transaction ID  <span>{{transactionChequeID}}</span></h6>
   <!-- <p>Cheque of amount <span>{{chequeAmount}}</span> to be deposited at the branch within <span>2 days.</span> Failure to do that or bounced cheque will lead to immediate policy lapse.</p> -->
 </div>
 <div class="pinkBg">
    <h2 class="nTlt">Note to Agent:</h2>
    <p>Please ensure that the cheque received is submitted at your nearest branch along with the following details mentioned at the back of the cheque within 24 hours</p>
    <ul class="nLIst">
      <li>Proposer Name</li>
      <li>Proposal/Quote Number</li>
      <li>Transaction ID</li>
    </ul>
    <p>The policy will be issued once the cheque has been receipted at branch</p>
  </div>
 <ion-row class="successBt">
   <p>Acknowledgement of the cheque has been sent via email and SMS to <span>{{email}}</span> and <span>{{mobile}} respectively</span>.</p>
   <!-- <p>If you don’t get an email or SMS from us within 1 hour then, write to us at <span>fgcare@futuregenerali.in</span></p> -->
 </ion-row>
 <!-- 
 <ion-row class="printBT">
   <button ion-button (click)= "showPDF();">DOWNLOAD PDF</button>
 </ion-row>  -->
 
 </div>
 
 <div class="chequeSuccess" [class.hide]="paymentLinkSuccess">
   <h5>
     <img src="assets/imgs/cong_img.jpg">
     <span>You have successfully generated your Future Vector Care policy payment link.</span>
   </h5>
   <div class="pinkBg"> 
     <h6>Quote Number {{ReferenceNo}}<span class="refNum"></span></h6>
     <!-- <p>Cheque of amount <span></span> to be deposited at the branch within <span>2 days.</span> Failure to do that or bounced cheque will lead to immediate policy lapse.</p> -->
   </div>
   <ion-row class="successBt">
     <p>We have emailed your policy details payment link to <span>{{email}}</span> and an SMS on <span>{{mobile}}</span>.</p>
     <p>If you don’t get an email or SMS from us within 1 hour then, write to us at <span>fgcare@futuregenerali.in</span></p>
   </ion-row>
   <!-- 
   <ion-row class="printBT">
     <button ion-button (click)= "showPDF();">DOWNLOAD PDF</button>
   </ion-row>  -->
   
   </div>
 
 
 <div class="onlineSuccess" [class.hide]="olSuccess">
   <h5>
     <img src="assets/imgs/cong_img.jpg">
     <span>You have successfully generated Future Vector Care policy.</span>
   </h5>
   <div class="transactionGrid"> 
     <p>Your payment of <span>₹ {{ transactionAmount}}</span> was successful.</p>   
   <ion-grid class="transGrid">
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction ID</ion-col>
       <ion-col col-6 class="gRight">{{transactionID}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Policy Number</ion-col>
       <ion-col col-6 class="gRight">{{policyNumber}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Bank Transaction ID</ion-col>
       <ion-col col-6 class="gRight">{{bankTransactionID}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Date</ion-col>
       <ion-col col-6 class="gRight">{{transactionDate}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Amount</ion-col>
       <ion-col col-6 class="gRight">₹ {{ transactionAmount}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Quote Number</ion-col>
       <ion-col col-6 class="gRight">{{ReferenceNo}}</ion-col>
     </ion-row>
   </ion-grid>
   </div>
   <ion-row class="successBt">
     <p>We have sent your policy details to <span>{{email}}</span> and a SMS to <span>{{mobile}}</span> confirming.</p>
     <p>If you do not get an email or SMS from us within 1 hour, write to us at <span>fgcare@futuregenerali.in</span></p>
   </ion-row>
   <!-- <ion-row class="printBT">
     <button ion-button (click)= "showPDF();">DOWNLOAD PDF</button>
   </ion-row>  -->
 </div>
 
 
 
 <div class="onlineFail" [class.hide]="olFail">
   <h5>
     <img src="assets/imgs/payment_fail.jpg">
   </h5>
   <div class="transactionGrid"> 
     <p>Your payment for <span>₹ {{ transactionAmount}}</span> has failed.</p>   
   <ion-grid class="transGrid">
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction ID</ion-col>
       <ion-col col-6 class="gRight">{{transactionID}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Date</ion-col>
       <ion-col col-6 class="gRight">{{transactionDate}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Amount</ion-col>
       <ion-col col-6 class="gRight">{{transactionAmount}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Quote Number</ion-col>
       <ion-col col-6 class="gRight">{{ReferenceNo}}</ion-col>
     </ion-row>
   </ion-grid>
   </div>
   <!-- <ion-row class="successBt">
     <p>Your transaction has been failed. Kindly click on the payment method and try again</p>
     <p>If money has been dedcuted from your bank account then, please contact your banks customer service.</p>
   </ion-row>
   <ion-row class="printBT">
     <button ion-button>Retry</button>
   </ion-row> 
   <ion-row>
   <div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Email payment link</button></div>
 </ion-row>  -->
 </div>
 
 <div class="onlineFail" [class.hide]="pendingGetPaymentDetails">
   <h5>
     <img src="assets/imgs/payment_fail.jpg">
   </h5>
   <div class="transactionGrid"> 
     <p>Your payment for <span>₹ {{ transactionAmount}}</span> was successful but policy generation is pending.</p>   
   <ion-grid class="transGrid">
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction ID</ion-col>
       <ion-col col-6 class="gRight">{{transactionID}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Date</ion-col>
       <ion-col col-6 class="gRight">{{transactionDate}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Transaction Amount</ion-col>
       <ion-col col-6 class="gRight">{{transactionAmount}}</ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-6 class="gLeft">Quote Number</ion-col>
       <ion-col col-6 class="gRight">{{ReferenceNo}}</ion-col>
     </ion-row>
   </ion-grid>
   </div>
   <!-- <ion-row class="successBt">
     <p>Your transaction has been failed. Kindly click on the payment method and try again</p>
     <p>If money has been dedcuted from your bank account then, please contact your banks customer service.</p>
   </ion-row>
   <ion-row class="printBT">
     <button ion-button>Retry</button>
   </ion-row>  -->
   <!-- <ion-row>
   <div class="saveBt"><button ion-button><ion-icon name="ios-mail-outline" class="email"></ion-icon>Email payment link</button></div>
 </ion-row>  -->
 </div>
 
 
 
 
 
 </div>
 </ion-content>

 <div class="trans" *ngIf="serviceResponsePopup"></div>
 <div class="commonPopup otpPopup agentdPopup" *ngIf="serviceResponsePopup">      
     <div class="popupInner otpPopupContent " text-center>       
         
             <p> {{message}} </p>          
          
           <div class="btwrap">                
             <div class="col11">
               <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
             </div>
     </div>        
 </div>
 </div>
 
 <div class="trans" *ngIf="pdfpopupClose"></div>
 <div class="commonPopup otpPopup agentdPopup" *ngIf="pdfpopupClose">      
     <div class="popupInner otpPopupContent " text-center>       
         
             <p> We have successfully sent the pdf of policy details! You can find it in your inbox immediately. </p>          
          
           <div class="btwrap">                
             <div class="col11">
               <button ion-button class="sendmailBt" (click)="OkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
             </div>
     </div>        
 </div>
 </div>
 
 <!-- online payment -->
 <!-- <ion-footer *ngIf="showFooter">
  <div class="cardBt" (click)="createPDF()"> Fetch PDF </div> 
</ion-footer> -->
<ion-footer *ngIf="showFooter">
  <button ion-button class="commonBt" (click)="createPDF()"> Fetch PDF </button>
</ion-footer>
<!-- cheque mode -->
 <!-- <ion-footer [class.hide]="!showFooter">
     <button ion-button class="commonBt" (click)="navigateToNextPage()"> Go To Home </button>
 </ion-footer> -->