page-knowledgebase {
  .knowledgeVideo{
    ion-grid{
      ion-row{
        border-bottom: 1px solid #ccc;
      }
      .videoContent{
        h2{
          font-size: 13px; 
          line-height: 16px;
          margin-bottom: 0;
          color: #323232;
          padding-bottom: 8px;
        }
        p{
          margin: 0;
          color:#b2b2b2;
        }
      }
    }
  }
  .selfBox {
    padding: 1rem 0;
    .shTlt{
      ion-col{
        font-size: 10px;
        padding: 0;
        text-align: right;
        &.t1{
          text-align: left;
        }
      }
    }
  }

  .loginToggle {
    padding: 5px 0;

    ion-toggle {
      padding: 12px 0 !important;
      margin-right: 12px;
      display: inline-block;
    }

    ion-label {
      color: #333;
      font-size: .8em;
      display: inline-block;
    }

    .toggleBt .toggle-inner,
    .toggle.toggle-checked .toggle-inner {
      background: #f19273;
    }
  } 

  .qCardPopup {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .formList {
      margin: 0;

      ion-item {
        .label {
          color: #6f7072;
          font-size: 1.4rem;
        }
      }

      .item-block {
        .item-inner {
          box-shadow: inset 0 -1px 0 0 #eaeaea !important;
        }
      }

      .orText {
        min-height: auto;
        position: relative;
        top: 10px;

        .item-inner {
          box-shadow: none !important;
        }

        .label {
          text-align: center;
          width: 100%;
          font-size: 14px;
        }
      }
    }

    h5 {
      margin: 0;
      color: #333333;
      font-size: 1.4rem;
      font-weight: normal;      
      margin-bottom: 0.5rem;
      line-height: 21px;
    }

    &.videoPop {
      .popClose {
        opacity: 1;
        color: #fff;
      }
    }
  }

  .marketcWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;

    .marketcContent {
      text-align: center;
      margin: 4rem 0 4rem;

      .viewPr {
        color: #333333;
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 5px;
      }

      .marketcBenefit {
        width: 231px;
        height: 33px;
        background: #ffffff;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        padding: 5px 0;
        box-shadow: 0 4px 4px #dedede;
        border: 1px solid #dedede;

        span {
          margin-right: 10px;
        }

        a {
          text-decoration: none;
        }
      }
    }

  }

  ion-segment {
    .segment-button {
      color: #6f7072;

      &.segment-activated {
        border-color: #c11b17;
        opacity: 1;
        border-bottom-width: 3px;
        color: #c21b17;
      }
    }
  }

  .formList {

    ion-item {
      background-color: transparent;

      .label {
        color: #656d78;
        font-size: 1.4rem;
        font-weight: normal;
      }

      .select {
        .select-text {
          color: #333333;
          font-size: 1.4rem;
          font-weight: normal;
        }
      }
    }

    .item-block {
      .item-inner {
        box-shadow: inset 0 -1px 0 0 #595a65 !important;
      }
    }
  }

  .item-input-has-focus .label[stacked],
  .input-has-focus .label[stacked],
  .item-input-has-focus .label[floating],
  .input-has-focus .label[floating] {
    color: #fff;
  }
}

.collateralBox {
  .itemBox {
    display: flex;
    position: relative;
    padding-bottom: 5px;

    &:after {
      content: "";
      width: 90%;
      display: block;
      height: 1px;
      background-color: #e1e1e1;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    ion-item {
      padding-left: 0;
      width: 80%;

      .item-inner {
        border-bottom: none;

        ion-label {
          font-size: 1.2rem;
          color: #333;
        }
      }

      .checkbox {
        margin: 0 1rem 0 0;

        .checkbox-icon {
          width: 22px;
          height: 22px;
          border-color: #e2e2e3;
          border-radius: 0;
        }

        .checkbox-checked {
          background-color: #fff;

          .checkbox-inner {
            border-color: #e9573d;
            left: 6px;
            top: 1px;
            position: absolute;
            width: 6px;
            height: 12px;
          }
        }
      }
    }

    .shareDownLink {
      display: flex;
      width: 37%;
      position: relative;
      top: 10px;
      right: -10px;

      a {
        padding: 0 1.5rem;
      }

      .shareIcon {
        position: relative;

        &:after {
          content: "";
          display: inline-block;
          width: 1px;
          background-color: #e1e1e1;
          height: 22px;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

.knowledgeVideo {
  position: relative;
  margin-top: 1rem;

  .list {
    margin: 0;

    .item-block {

      &:first-child,
      &:last-child {
        border-bottom: none;
        border-top: none;
      }
    }
  }

  ion-item {
    padding-left: 0;
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    min-height: auto;

    &:after {
      content: "";
      width: 78%;
      height: 1px;
      background-color: #e1e1e1;
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    ion-thumbnail {
      min-width: auto;
      min-height: auto;
      margin: 0 !important;
      display: inline-block;
      vertical-align: top;

      ion-img,
      img {
        width: auto;
        height: auto;
      }
    }

    .item-inner {
      display: inline-block;
      vertical-align: top;
      border-bottom: 0 !important;

      .input-wrapper {
        .label {
          margin: 0;

          // .videoContent {
          //   display: inline-block;
          //   padding-left: 1.2rem;
          //   padding-top: 0;

          //   h2 {
          //     font-weight: normal;
          //     color: #333333;
          //     padding: 0 0 5px 0;
          //   }

          //   p {
          //     font-weight: normal;
          //     color: #b2b2b2;
          //     font-size: 1.2rem;
          //   }
          // }

          .videoIcon {
            position: absolute;
            right: 0;
            top: 8px;
          }
        }
      }
    }
  }
}

.knowledgeBaseWrap{
  padding-top: 0;
  .formList{
    margin-top: -10px;
  }
}