<!--
  Generated template for the MarketingColateralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" navPop></button>
  <h1><span>i.Insure</span>e-Training</h1>
  <button ion-button menuToggle end class="humburgerMenu">
    <i></i>
    <i></i>
    <i></i>
  </button>
</ion-header> 
<ion-content padding class="body-bg knowledgeBaseWrap">
  <!-- <ion-list class="formList">
    <ion-item>
      <ion-label floating>Health Total</ion-label>
      <ion-select [(ngModel)]="Mstatus" interface="action-sheet" float-left>
        <ion-option value="0">Health Total1</ion-option>
        <ion-option value="1">Health Total2</ion-option>
      </ion-select>
    </ion-item>
  </ion-list> -->
  <div class="whiteRow">
  
   
    <div class="tabsWrapper">
        <ion-list class="formList">
        <ion-item>
            <ion-label floating>Choose Product</ion-label>
            <ion-select class="age-range" [(ngModel)]="product" (ionChange)="changeProduct();" > 
                <ion-option *ngFor="let product of productList" aria-placeholder="Select" value={{product.id}}>{{product.productname}}</ion-option>          
            </ion-select>
        </ion-item>
        </ion-list>
      <div class="tabsRow">
        <ion-segment [(ngModel)]="pet">
          <ion-segment-button value="Features" class="segment-button segment-activated">
            Features
          </ion-segment-button>
          <ion-segment-button value="Collaterals">
            Collaterals
          </ion-segment-button>
          <ion-segment-button value="Videos">
            Videos
          </ion-segment-button>
        </ion-segment>
      </div>
      <div class="tabcontentsWrap" [ngSwitch]="pet">
        <div *ngSwitchCase="'Features'" class="selfBox" >
          <div class="marketcWrap" [class.hide]="showDiv">
            <div class="marketcContent">
              <span class="viewPr">View product features by</span>
              <div class="marketcBenefit" (click)="goToProductBenefits();"><span><img src="assets/imgs/benefitscm-icon.png" alt=""></span><a href="#">BENEFITS</a></div>
              <div class="marketcBenefit" (click)="goToPlanLimits();"><span><img src="assets/imgs/planscm-icon.png" alt=""></span><a href="#">PLANS</a></div>
              <div class="marketcBenefit" (click)="goToWaitingPeriods();"><span><img src="assets/imgs/hourglass.png" alt=""></span><a href="#">WAITING PERIOD</a></div>             
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'Collaterals'" class="selfBox">
            <ion-grid class="shTlt">
                <ion-row>
                  <ion-col col-8 class="t1">
                    
                  </ion-col>
                  <ion-col col-2>
                    Share
                  </ion-col>
                  <ion-col col-2>
                   Download
                  </ion-col>                  
                </ion-row>
                </ion-grid>
          <div class="collateralBox">
            <div class="itemBox" *ngFor="let collateral of collateralsData">
              <ion-item>
                <ion-label>{{collateral.CollateralTitle}}</ion-label>
                <!-- <ion-checkbox [(ngModel)]="totalHealth1" (click)="perClick(2);"></ion-checkbox> -->
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon" (click)="shareClick(collateral);"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon" (click)="downloadPdf(collateral.CollateralUrl);"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div>
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Policy Wordings</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth2" (click)="perClick(3);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Proposal Form</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth3" (click)="perClick(4);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Brochure</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth4" (click)="perClick(5);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Brochure</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth5" (click)="perClick(6);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Brochure</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth6" (click)="perClick(7);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
            <!-- <div class="itemBox">
              <ion-item>
                <ion-label>Health Total Brochure</ion-label>
                <ion-checkbox [(ngModel)]="totalHealth7" (click)="perClick(8);"></ion-checkbox>
              </ion-item>
              <div class="shareDownLink">
                <a href="#" class="shareIcon"><img src="assets/imgs/shareIcon.png" alt=""></a>
                <a href="#" class="downloadIcon"><img src="assets/imgs/downloadBlack.png" alt=""></a>
              </div>
            </div> -->
          </div>
        </div>
        <div *ngSwitchCase="'Videos'" class="selfBox">
          <div class="knowledgeVideo">
              <ion-grid *ngFor="let video of videos">
                <ion-row>
                    <ion-col col-3>
                        <ion-thumbnail item-start>
                            <img [src]="video.ThumbnailImgUrl" alt="">
                          </ion-thumbnail>
                    </ion-col >
                    <ion-col col-7>
                        <div class="videoContent">
                            <h2>{{video.VideoTitle}}</h2>
                            <!-- <p>lorem ipsum lorem ipsum</p> -->
                          </div>
                    </ion-col>
                    <ion-col col-2 align="right">
                        <a href="#" class="videoIcon" (click)="videoClick(video.VideoUrl);"><img src="assets/imgs/videoPlayerIcons.svg" alt=""></a>
                    </ion-col>
                  </ion-row>
              </ion-grid>
           
            </div>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</ion-content>
<div class="trans" [class.hide]="showPopup"></div>
<div class="qCardPopup policycardPopup animated fadeInUp" [class.hide]="showPopup">
  <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <h5>Enter Details for sharing PDF</h5>
  <ion-list class="formList">
    <ion-item>
      <ion-label floating>Email ID</ion-label>
      <ion-input type="email" maxlength="50" autocomplete="off" name="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item class="orText">
      <ion-label>- OR -</ion-label>
    </ion-item>
    <ion-item>
      <ion-label floating>Mobile Number</ion-label>
      <ion-input type="tel" name="sms" autocomplete="off" maxlength="10" [(ngModel)]="mobile"></ion-input>
    </ion-item>
  </ion-list>
  <!-- <div class="loginToggle">
    <ion-label>SMS</ion-label>
    <ion-toggle [(ngModel)]="keepSignedIn" #toggleInput class="toggleBt"></ion-toggle>
    <ion-label>Whatsapp</ion-label>
  </div> -->
  <button ion-button class="commonBt" (click)="shareButton();">share now</button>
</div>
<div class="trans" [class.hide]="VideoshowTransBaground"></div>
<div class="qCardPopup policycardPopup animated fadeInUp videoPop" [class.hide]="videoShowPopup">
  <ion-icon name="close" (click)="videoHidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
  <div class="videoPopup">
      <iframe width="100%" height="315" [src]="videoLink ? videoLink : null" (load)="videoLink ? handleIFrameLoadEvent() : null" frameborder="0" allowfullscreen></iframe>
    <!-- <iframe width="100%" height="315" [src]="domSanitizer.bypassSecurityTrustResourceUrl(videoLink)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <!-- <video controls="controls" preload="metadata" width="100%" height="315" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer"><source src="" type="video/mp4"/></video> -->
  </div>
  <!-- https://www.youtube.com/embed/03p6a7rvqJQ -->
</div>
<div width="100%" height="315" [class.hide] = "blankDiv"></div>

<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>

