<!--
  Generated template for the QuickQuotePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <button ion-button class="backBt" navPop></button>
    <h1>
        <span>Health Insurance</span>Get a quick quote</h1>
        <button ion-button menuToggle end class="humburgerMenu" [class.hide]="showButton">
                <i></i>
                <i></i>
                <i></i>
            </button>
    <!-- <ion-icon name="close" (click)="goToLoginPage();" class="headerClose ion-ios-close-outline"></ion-icon> -->
</ion-header>
<ion-content padding class="quickPage">
    <ion-row class="userType">
        <ion-segment class="loginType" color="light" [(ngModel)]="PolicyTypeSelected">
            <ion-segment-button value={{familyFloaterCode}} (click)="changePolicyType();">
                Family Floater
            </ion-segment-button>
            <ion-segment-button value={{individualCode}} (click)="changePolicyType();">
                Individual
            </ion-segment-button>
        </ion-segment>
    </ion-row>
    <!-- <ion-row class="disCount" *ngIf="individualDiscount">
              <span >%</span>
              <label>10% Family discount</label>
            </ion-row> -->

    <div class="familyfloaterSlider" *ngIf="!individualDiscount">
        <h6>Sum insured
            <ion-icon name="arrow-round-back"></ion-icon>
            <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
        </h6>
        <ion-row class="sumInsuredSlide">
            <ion-segment [(ngModel)]="familySlide">
                <ion-segment-button *ngFor="let amt of familyInsurenceAmt" (click)="selectFamilyInsuredSum(amt);" value={{amt.sicode}}>{{amt.amtTitle}} </ion-segment-button>
            </ion-segment>
        </ion-row>
    </div>
    <div class="cardmWrap">
        <ion-row class="quickCard">
            <!--               <ion-card>                
                      <ion-thumbnail class="qcardIcon"><ion-img src="assets/imgs/self.png"></ion-img></ion-thumbnail>
                      <div class="self">Self </div>
                      <div class="cardView" ngif="hide"> 
                      <h5>Self </h5><p>5Lakh</p><p>20-25s Years</p><p>No Smoking</p><p>Married</p>             
                      <ion-icon  class="ion-ios-trash-outline deleteIcon"></ion-icon>
                      </div>                
                    </ion-card>
      
                    <ion-card>                
                      <ion-thumbnail class="qcardIcon"><ion-img src="assets/imgs/self.png"></ion-img></ion-thumbnail>
                      <div class="self">Self </div>                               
                    </ion-card>
        -->
            <ion-card *ngFor="let member of membersShow  let i = index;" [class.hide]="!member.showFamilyMemberOnScreen" (click)="fillData(member)">
                <ion-thumbnail class="qcardIcon">
                    <img src={{member.imgUrl}} [class.hide]="member.detailsSaved" alt="">
                    <!--  <ion-img src={{member.imgUrl}} [class.hide]="member.detailsSaved" ></ion-img> --></ion-thumbnail>
                <div class="self" *ngIf="!member.detailsSaved">{{member.title}}
                    <span *ngIf="member.showDependent">(Dependent)</span>
                </div>
                <div class="cardView" *ngIf="member.detailsSaved">
                    <h5>{{member.title}}
                        <span *ngIf="member.showDependent">(Dependent)</span>
                    </h5>
                    <p> {{member.insuredAmtText}}</p>
                    <p> {{member.ageText}}</p>
                    <p> {{member.smokingText}}</p>
                    <p>{{member.maritalStatus}}</p>
                    <ion-icon [class.hide] = "hideForSelf" (click)="clearMemberDetails($event, member)" class="ion-ios-trash-outline deleteIcon" *ngIf="i!=0"></ion-icon>
                    <div class="cardTransdiv" (click)="editMemberDetails($event, member)"></div>
                    <a href='#' class="addOtherS" *ngIf="member.showAddAnotherBtn" (click)="addMemberClicked($event, member)"> Add</a>
                </div>
            </ion-card>


        </ion-row>
        <!-- <a href='#' id="addMember" class="addOtherM" (click)="hideShowAddmember(1);">Add other members
            <ion-icon></ion-icon>
        </a> -->
        <div class="qcardTrans" [class.hide]="hideDisableCards"></div>
    </div>


</ion-content>

<ion-footer>
    <div class="qcardTrans" [class.hide]="hideDisableCards"></div>
    <button ion-button class="commonBt" class="commonBt getQuoteBt" [class.hide]="hideProceedButton" (click)="getQuoteClicked()"
        [disabled]="disableProceedBt" [ngClass]="{'btgreyBg':disableProceedBt}">GET QUOTE
        <span class="getFor">For
            <span>{{membersInsured.length}}</span>
        </span>
    </button>
</ion-footer>


<!--popups -->
<div class="trans" [class.hide]="showTransBaground"></div>
<div class="qCardPopup policycardPopup animated fadeInUp" *ngIf="hideMemberPopup">
    <!-- <div class="qCardPopup animated fadeInUp" *ngIf="showMemberPopup" *ngIf="hideMemberPopup">  -->
    <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
    <!-- <ion-thumbnail class="qcardIcon"> -->
    <img src={{popupImg}}>
    <!-- </ion-img></ion-thumbnail> -->
    <div class="self">{{popupTitle}} </div>

    <h6 *ngIf="showInsurenceDiv">Sum insured
        <ion-icon name="arrow-round-back"></ion-icon>
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
    </h6>

    <ion-row class="sumInsuredSlide" *ngIf="showInsurenceDiv">
        <ion-segment [(ngModel)]="slide">
            <ion-segment-button *ngFor="let amt of insurenceAmtToShow" value={{amt.sicode}}>{{amt.amtTitle}} </ion-segment-button>
        </ion-segment>
    </ion-row>
    <h5>Age range</h5>
    <ion-row>
        <ion-select class="age-range" [(ngModel)]="memberAge" interface="action-sheet">
            <ion-option value="0">Select Age</ion-option>
            <ion-option *ngFor="let age of apiAgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
        </ion-select>
    </ion-row>
    <h5 *ngIf="hidePopupMarriedDiv">Marital Status</h5>
    <ion-row *ngIf="hidePopupMarriedDiv">
            <ion-select class="age-range" [(ngModel)]="marriedStatus" interface="action-sheet">
                <ion-option value="0">Marital Status</ion-option>
                <ion-option *ngFor="let status of marriedStatusArray" (ionChange)="filledStatus(memberMarried)" value={{status.value}}>{{status.value}}</ion-option>
            </ion-select>
        </ion-row>
    <!-- <ion-row>       
        <ion-select class="age-range" [(ngModel)]="marriedStatus"  interface="action-sheet" float-left>                            
                <ion-option value="0">Select Marital status</ion-option>
            <ion-option value={{status.value}} (ionChange)="filledStatus(memberMarried)"  *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
         </ion-select>
    </ion-row> -->
    <ion-row class="smokingWrap">
        <ul class="smokingBt">
            <li *ngIf="hidePopupSmokerDiv">
                <ion-label>Smoking</ion-label>
               
                <ion-toggle [(ngModel)]="memberSmokes" class="toggleBt"></ion-toggle>
            </li>
            <!-- <li *ngIf="hidePopupMarriedDiv">
                <div class="flRight">
                    <ion-label>Married</ion-label>
                    <ion-toggle [(ngModel)]="memberMarried" class="toggleBt"></ion-toggle>
                </div>
            </li> -->
        </ul>
    </ion-row>    

    <!-- <ion-item *ngIf="hidePopupMarriedDiv">
        <ion-label floating>Marital Status</ion-label>
      <ion-select [(ngModel)]="marriedStatus"  interface="action-sheet" float-left>                            
         <ion-option value={{status.value}} (ionChange)="filledStatus(memberMarried)"  *ngFor="let status of marriedStatusArray" >{{status.value}}</ion-option>
      </ion-select>
      </ion-item> -->
    <ion-row class="saveBtns">
        <div class="saveBt" (click)="saveMemberDetails(1,0);">
            <button ion-button>Save</button>
        </div>
    </ion-row>
</div>




<div class="qCardPopup  animated fadeInUp sonPopup" *ngIf="showChildPopup" style="min-height:280px;">
    <ion-icon name="close" (click)="hidePopup()" class="popClose ion-ios-close-outline"></ion-icon>
    <!-- <ion-thumbnail class="qcardIcon"> -->
    <img src={{popupImg}}>
    <!-- <ion-img src="assets/imgs/son.png"> -->
    <!-- </ion-img></ion-thumbnail> -->
    <div class="self">{{popupTitle}} </div>

    <h6 *ngIf="showInsurenceDiv">Sum insured
        <ion-icon name="arrow-round-back"></ion-icon>
        <ion-icon ios="ios-arrow-round-forward" md="md-arrow-round-forward"></ion-icon>
    </h6>

    <ion-row class="sumInsuredSlide" *ngIf="showInsurenceDiv">
        <ion-segment [(ngModel)]="slide">
            <ion-segment-button *ngFor="let amt of insurenceAmtToShow" value={{amt.sicode}}>{{amt.amtTitle}} </ion-segment-button>
        </ion-segment>
    </ion-row>
    <h5>Age range</h5>
    <ion-row>
        <ion-select class="age-range" [(ngModel)]="childsAge" interface="action-sheet">
            <ion-option value="0">Select Age</ion-option>
            <ion-option *ngFor="let age of childAgeGroup" value={{age.ageCode}}>{{age.title}} years</ion-option>
        </ion-select>
    </ion-row>

    <ion-row class="saveBtns">
        <div class="w50" (click)="saveMemberDetails(2,0);">
            <button ion-button>Save</button>
        </div>
        <div class="w50" (click)="saveMemberDetails(2,1);">
            <button ion-button>Save and Add</button>
        </div>
    </ion-row>
</div>
<!--popups -->


<div class="addMemberPopup" [ngClass]="{'openPopup': isClassOneActive}">
    <div class="btRow">
        <div class="leftCol">
            <button ion-button class="btn cancel" (click)="hideShowAddmember(2);">Cancel</button>
        </div>
        <div class="rightCol right">
            <button ion-button class="btn cancel" (click)="hideShowAddmember(3);">Done</button>
        </div>
    </div>
    <div class="addmScroll">
        <ion-list class="addmList">
            <ion-item *ngFor="let member of membersShownOnPopup" [class.hide]="member.showFamilyMemberOnScreen">
                <ion-label>{{member.title}}</ion-label>
                <ion-checkbox checked="{{member.memberSelectedOnAddmember}}" [disabled]="member.disableRemove" (click)="memberClicked($event,member);"></ion-checkbox>
            </ion-item>
            <!--    <ion-item *ngFor="let member of membersShownOnPopup">
                      <ion-label>{{member.title}}</ion-label>
                      <ion-checkbox checked="{{member.showFamilyMemberOnScreen}}" [disabled]="member.disableRemove" (click)="memberClicked($event,member);"></ion-checkbox>
                  </ion-item> -->
        </ion-list>
    </div>
</div>


<div class="trans" [class.hide]="!showTransBaground2"></div>