.rupee {
  font-family: 'Rupee_Foradian_1';
  font-size: 2.4rem;
  color: #686d7a;
}

.quickPage {
  background: #383a47;
  .sumInsuredSlide {
  }
}


.disCount {
  color: #fff;
  font-size: 1.2rem;
  padding: 15px 0;
  label {
    margin: 5px 0 0 5px;
    display: inline-block;
  }
  span {
    width: 25px;
    height: 24px;
    border-radius: 50%;
    background: #e8563c;
    color: #fff;
    padding: 3px 5px;
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    vertical-align: middle;
    position: relative;
    &:after {
      left: 5px;
      bottom: -17px;
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../assets/imgs/til.png) 0 0 no-repeat;
    }
  }
}

.quickCard {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (max-width: $tab-only) {
    margin-left: -6px;
    margin-right: -6px;
  }

  ion-card {
    position: relative;
    display: inline-block;
    padding: 15px;
    list-style: none;
    background: #fff;
    width: 46%;
    height: 160px;
    margin: 2%;
    border-radius: 5px;
    vertical-align: top;
    img {
      width: auto
    }
    .self {
      display: block;
      color: #6f7072;
      font-size: 1.4rem;
      position: relative;
      margin-top: 5px;
      font-weight: bold;
      position:absolute;
      right:15px;
      bottom:20px;
      text-align:right;
      span {
        font-size: 1.2rem;
        display: block;
        font-weight: normal;
      }
      &:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 22px;
        background: #edd0c8;
        bottom: -6px;
        right: 0;
      }
    }
  }
  ion-img {
    width: auto;
    contain: content;
    background: transparent;
    margin: 0 0 8px 0;
  }
}


.policycardPopup {
  .datetime {
    margin: 10px 0;
  }
}

.sonPopup{
  .saveBtns{
    border-top:1px solid #ccc;
  }
}
.qCardPopup {
  // min-height:100%;
  // position: fixed;
  // left: 2%;
  // top:0%;
  // width: 96%;
  // z-index: 14;
  // background: #fff;
  // padding: 15px;
  // border-radius: 5px;
  // overflow: hidden;
  // box-shadow: 5px 10px #843e3c;
  // -moz-box-shadow: 1px 2px 4px #843e3c;
  // -webkit-box-shadow: 1px 2px 4px #843e3c;
  // box-shadow: 1px 2px 4px #843e3c;
  // -webkit-transition: all 0.5s ease-out;
  // -moz-transition: all 0.5s ease-out;
  // transition: all 0.5s ease-out;

  
  height:auto;
 position: fixed;
 left: 2%;
 top:15%;
 width: 96%;
 z-index: 14;
 background: #fff;
 padding: 15px;
 border-radius: 5px;
 overflow: hidden;
 box-shadow: 5px 10px #843e3c;
 -moz-box-shadow: 1px 2px 4px #843e3c;
 -webkit-box-shadow: 1px 2px 4px #843e3c;
 box-shadow: 1px 2px 4px #843e3c;
 -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out;

  @media screen and (max-width: $mob-med) {
    top:15px;
  }
  .formList{
    margin-bottom:40px;
  }

  h6 {
    margin: 20px 0 3px 0;
    color: #a3a4a5;
    font-size: 1.4rem;
    font-weight: normal;
    ion-icon {
      margin: 0 3px;
      color: #c2c3c3;
    }
  }
  h5 {
    margin: 15px 0 -5px 0;
    color: #a3a4a5;
    font-size: 1.4rem;
    font-weight: normal;
    ion-icon {
      margin: 0 3px;
      color: #c2c3c3;
    }
  }

  .qcardIcon {
    background: transparent;
  }

  .self {
    display: block;
    color: #6f7072;
    font-size: 1.4rem;
    position: relative;
    font-weight: bold;
    margin-top: 4px;
    span {
      display: block;
      font-size: 1rem;
    }
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 25px;
      background: #ccc;
      bottom: -4px;
      left: 0;
    }
  }
  .formList {
    ion-item {
        .age-range{
        padding:15px 0 5px 0;
        margin:0;
        }
      .datetime{
        padding:0;
        margin:0;
      }
      .text-input{
        padding:15px 0 5px 0;
      }      
    }
    .item-input-has-focus .label[floating], .input-has-focus .label[floating], .item-input-has-value .label[floating], .input-has-value .label[floating]{
            transform: translate3d(0, 12px, 0) scale(0.8);
      }
  }

  .smokingWrap{
    margin:25px 0 50px 0;
  }
}

.getQuoteBt {
  background: #e9573d;
  width: 100%;
  padding: 20px;
  color: #fff;
  position: relative;
  cursor: pointer;
  .getFor {
    color: #ef9273;
    font-size: 1.3rem;
    position: absolute;
    right: 20px;
    top: 36%;

    span {
      color: #fff;
      font-size: 1.5rem;
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.addmScroll {
  overflow-y: auto;
  max-height: 250px;
}

.popClose {
  color: #6f7072;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  padding: 15px 20px;
  font-size: 2.2rem;
  opacity: 0.8;
}

.ion-ios-close {
  font-size: 3rem;
}

.age-range {
  position: relative;
  width: 100%;
  max-width: 100%;
  border: 0;
  padding: 10px 0 5px 0;
  color: #333333;
  border-bottom: 1px solid #eaeaea;
  background: url(../assets/imgs/slect-arrow.png) right 15px no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .select-icon {
    display: none;
  }
}

.height-weight {
  .col {
    padding: 0;
  }
  .age-range {
    width: 80%;
  }
}

.smokingWrap {
  margin: 10px 0;
}

.smokingBt {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  li {
    float: left;
    width: 50%;
    padding: 7px 0;
    .label {
      margin: 2px 10px 0 0;
    }
    ion-label {
      float: left;
      color: #6f7072;
    }
  }

  .flRight {
    float: right
  }

  .toggle-md .toggle-icon {
    background: #d4d4d4;
  }
  .toggle-md.toggle-checked .toggle-icon {
    background: #d4d4d4;
  }
  .toggle-md.toggle-checked .toggle-inner {
    background: #8cc152;
  }

  .toggle-ios.toggle-checked .toggle-icon {
    background: #8cc152;
  }
  .toggle-md .toggle-inner {
    background: #bbbbbb;
  }
}

.saveBtns {
  position: absolute;
  bottom: 0;
  width: 100%;
   margin-left: -15px;
   margin-right: -15px;
 // z-index: 9999;
 // margin-left: 7px;
 // margin-right: 7px;
  button {
    background: transparent;
    color: #000;
    color: #e9573d;
    width: 100%;
    box-shadow: none;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  .w50 {
    width: 50%;
    float: left;
    border-left: 1px solid #ccc;
  }
  .saveBt {
    width: 100%;
  }
}

.sunPopup {
  .smokingWrap {
    display: none
  }
  .age-range {
    margin-bottom: 62px;
  }
}

.cardView {
  position: absolute;
  left: 0;
  top: 0;
  background: #fdd1c4;
  padding: 10px;
  width: 100%;
  height: 100%;
  color: #fff;
  h5 {
    color: #6f7072;
    font-size: 1.4rem;
    position: relative;
    margin: 0 0 10px 0;
    font-weight:bold;

    span {
      font-size: 1rem;
      display: block;
    }
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 25px;
      background: #ccc;
      bottom: -4px;
      left: 0;
    }
  }
  p {
    font-size: 1.2rem;
    color: #7c7c7c;
  }
  .deleteIcon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 2.5rem;
    z-index:11;
  }
  .editIcon {
    position: absolute;
    right: 15px;
    bottom: 65px;
    font-size: 2.5rem;
  }
  .addOtherS {
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

.addMemberPopup {
  position: fixed;
  width: 100%;
  height: 0;
  max-height: 300px;
  left: 0;
  bottom: 0;
  z-index: 14;
  background: #fff;
  border-top: 1px solid #ccc;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  .btRow {
    border-bottom: 1px solid #d4d4d4;
    padding: 5px 15px;
    overflow: hidden;
  }
  .addmList {
    padding: 0 15px;
    margin: 0;
    ion-item {
      &:first-child {
        border-top: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
      font-size: 14px;
      color:#6f7072;
      padding:0;
      display:inherit;
      border-bottom:1px solid #d4d4d4;
    }
    .item .checkbox {
      float: right;
      padding: 0;
      margin: 12px 0 0 0;
    }
    .list .item-block .item-inner {
      float: left;
      border-bottom: 0;
    }
    .item-checkbox-checked {
      // color: #8cc152;
      font-size: 1.4rem;
    }
  }
  .list .item-block .item-inner {
    border-bottom: 0;
  }
  .checkbox .checkbox-checked {
    border: transparent;
  }
  .checkbox .checkbox-checked .checkbox-inner {
    width: 10px;
    top: 0;
    height: 20px;
    border-color: #8cc152;
  }
  .checkbox .checkbox-icon {
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
  }
}

.openPopup {
  height: 100%;
}

.btn {
  background: transparent;
  padding: 0;
  margin: 0;
  color: #e9573d;
  box-shadow: none;
  font-size: 1.4rem;
}

.leftCol {
  width: 50%;
  float: left
}

.rightCol {
  width: 50%;
  float: right
}

.right {
  text-align: right;
}

.trans,
.trans2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 13;
  background-color: rgba(0, 0, 0, 0.5);
}

.trans2 {
  z-index: 11;
}


.cardTransdiv{
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0,0,0, 0);
}