

page-health-policy-review{

    .formList{
            ion-item {
                    .label[stacked]{
                         margin:15px 0 0 0!important;
                         font-size:1.4rem;
                     }
                     .text-input{
                         padding:10px 0 5px 0;
                     }
                     .selectOption{
                        padding:10px 0 5px 0;
                     }
                     .maleFemale{
                        margin:0!important;
                     }
             }
         }

    .contactDetails{
        margin:10px 0 0 0;
        .formList{
            ion-item {
                margin-bottom: 0;
                    .label[stacked]{
                         margin:15px 0 0 0!important;
                         font-size:1.4rem;
                     }
                     .text-input{
                         padding:20px 0 5px 0;
                     }
             }
             
         }
    }
    .insuredDetails{
        padding:25px 0 0 0;
        
         .smokingBlk{
            margin:10px 0 5px 0 !important;
            padding:0;
            .label{
                color:#6f7072;
                margin:0;
            }
            .item-inner{
                border-bottom:0;
            }
         }
         .border-dashed{
             margin:25px -15px;
         }
    }


    .healthPolicyReview{
        background: #fff;
        padding:15px;
        border-radius:3px;
        position:relative;
        h5{
           font-size:1.5rem;
            color:#6f7072;
            padding:0;
            margin:0;
            font-weight:bold;
        }
        .tabslinkRow{
            margin:20px 0;
        }
        .cutomiseBt{
                -webkit-box-shadow: none;
                box-shadow: none;
                background: #fff;
                color: #e9573d;
                position: absolute;
                right:0;
                top: 10px;
                font-size: 1.1rem;
                height: auto;
        }

        .yourQaccord{
            margin:10px 0;
            -webkit-transition: all 0.5s ease-out;
            -moz-transition: all 0.5s ease-out;
            transition: all 0.5s ease-out;

            .mat-content{
                display:block;
            }

            .accordRow{
                border:1px solid #dedede;
                border-radius:4px;
                overflow: hidden;
                margin:4px 0;
                box-shadow:none;
                white-space: nowrap;
            }

            .amntRight{
                    float: right;
                    margin:5px 0 0 0;
                    color:#333333;
                    font-size: 1.4rem;
                .deleteIcon{
                    color:#c8c8c9;
                    margin:0 0 0 10px;
                    font-size:1.8rem;
                }
            }

            .sumInsuredSlide { display: -webkit-box;}
            .mat-expansion-panel-header-title{ display: inline-table;  width: 100%;}            
            .mat-expansion-indicator{ display: none;}
            .segment-md{
                display:inline-table;
            }
            
            .item-accordio{
                margin:0;
                padding:10px;
                height:auto;
                .qcardIcon{
                    width: auto;
                    height: auto!important;
                    float: left;
                    min-height: auto;
                    min-width: auto;
                    img{float:left; width:30px;}
                    .self{
                        display: inline-block;
                        margin: 10px 0 0 5px;
                        color:#6f7072;
                        font-size:14px;
                        span{
                            font-size: 1.2rem;
                        }
                    }
                }
                
            }
            .mat-expansion-panel-body{
                padding:0;
            }
            .accordContent{
                padding:10px;
                 border-top:1px solid #dedede;               
                h6{
                    font-size: 1.2rem; 
                    color:#6f7072;
                    margin:0;
                    padding:0;
                }
            }
        }
         .generateQbt{
                background:#e9573d;
                color:#fff;
                margin:8px auto 0 auto;
                width: 100%;
                max-width: 400px;
                padding:10px 0;
                box-shadow:none;
            }
            .addotherMRow{
                overflow: hidden;
                .addOtherM{                     
                color:#6f7072; 
                margin:5px 10px;
                    i{
                        float: left;
                        color:#c11b17;
                    }                 
                }
            }

            .premAmt{
            color:#6f7072;
            font-size:1.4rem;
            margin:20px 0;
            span{
                display:block;
                margin-bottom:3px;
            }
            strong{
                color:#000;
            }
            }
    }

    .policyTerm{
        padding:20px 0 0 0;
        h6{
            color:#6f7072;
            font-size:1.4rem;
            margin:30px 0 5px 0;
        }
        .sumInsuredSlide{
            .segment-button{
                font-size:1.4rem;
                text-transform:none;
            }
        }
    }

}
