<!--
  G\nerated template for the HealthPolicyReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <button ion-button class="backBt" ></button>
  <h1><span>Health Insurance</span>Buy Health Policy</h1>
  <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div>
  <button ion-button menuToggle end class="humburgerMenu">
          <i></i>
          <i></i>
          <i></i>
  </button>
</ion-header> 
<ion-content padding class="body-bg ">
<ion-row class="refnumber" text-right>Quote Number: Q1236509</ion-row>
<div class="whiteRow healthPolicyReview ">
<div class="pros1">
<ion-row>
<h5>Review</h5>
</ion-row>

<div class="tabslinkRow">
  <ion-segment >
    <ion-segment-button value="OneTime">
      Policy<br>details
    </ion-segment-button>
    <ion-segment-button value="Monthly" >
      Contact<br>details
    </ion-segment-button>
    <ion-segment-button value="Quarterly" >
      Insured<br>details
    </ion-segment-button>
  </ion-segment>
</div>

  <div class="userType">
    <ion-segment class="loginType" color="light" [(ngModel)]="userType">
      <ion-segment-button value="Employees">
        Family Floater
      </ion-segment-button>
      <ion-segment-button value="Partners">
        Individual
      </ion-segment-button>
    </ion-segment>
  </div>

<div class="tabcontentsWrap">

   <div class="policyDetails">
    <p class="premAmt"><span>Premium</span><strong>`1,785</strong> (Monthly EMI payablefor 2 years)</p>
      <div class="yourQaccord">
        <mat-accordion>
              <mat-expansion-panel class="accordRow">
                  <mat-expansion-panel-header class="item-accordio">
                    <mat-panel-title>
                      <ion-thumbnail class="qcardIcon"><img src="assets/imgs/self.png"><span class="self">Balkrishna (Proposer)</span></ion-thumbnail> <span class="amntRight">5L</span>
                    </mat-panel-title>
                    <mat-panel-description>        
                    </mat-panel-description>       
                  </mat-expansion-panel-header>
              <div class="accordContent"> 
                <h6>Sum insured </h6>
                <ion-row class="sumInsuredSlide">
                  <ion-segment>                  
                      <ion-segment-button>3L</ion-segment-button>                
                      <ion-segment-button>5L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>11L</ion-segment-button>
                      <ion-segment-button>9L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                  </ion-segment>
                </ion-row>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
              <mat-expansion-panel class="accordRow">
                  <mat-expansion-panel-header class="item-accordio">
                    <mat-panel-title>
                      <ion-thumbnail class="qcardIcon"><img src="assets/imgs/self.png"><span class="self">Anushka B.</span></ion-thumbnail> <span class="amntRight">5L</span>
                    </mat-panel-title>
                    <mat-panel-description>        
                    </mat-panel-description>       
                  </mat-expansion-panel-header>
              <div class="accordContent"> 
                <h6>Sum insured </h6>
                <ion-row class="sumInsuredSlide">
                  <ion-segment>                  
                      <ion-segment-button>3L</ion-segment-button>                
                      <ion-segment-button>5L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>11L</ion-segment-button>
                      <ion-segment-button>9L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                  </ion-segment>
                </ion-row>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
              <mat-expansion-panel class="accordRow">
                  <mat-expansion-panel-header class="item-accordio">
                    <mat-panel-title>
                      <ion-thumbnail class="qcardIcon"><img src="assets/imgs/self.png"><span class="self">Tushar B. (Dependent)</span></ion-thumbnail> <span class="amntRight">5L</span>
                    </mat-panel-title>
                    <mat-panel-description>        
                    </mat-panel-description>       
                  </mat-expansion-panel-header>
              <div class="accordContent"> 
                <h6>Sum insured </h6>
                <ion-row class="sumInsuredSlide">
                  <ion-segment>                  
                     <ion-segment-button>3L</ion-segment-button>                
                      <ion-segment-button>5L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>11L</ion-segment-button>
                      <ion-segment-button>9L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                  </ion-segment>
                </ion-row>
            </div>
          </mat-expansion-panel>
      </mat-accordion>
       <mat-accordion>
              <mat-expansion-panel class="accordRow">
                  <mat-expansion-panel-header class="item-accordio">
                    <mat-panel-title>
                      <ion-thumbnail class="qcardIcon"><img src="assets/imgs/self.png"><span class="self">Shweta B. (Dependent)</span></ion-thumbnail> <span class="amntRight">5L</span>
                    </mat-panel-title>
                    <mat-panel-description>        
                    </mat-panel-description>       
                  </mat-expansion-panel-header>
              <div class="accordContent"> 
                <h6>Sum insured </h6>
                <ion-row class="sumInsuredSlide">
                  <ion-segment>                  
                     <ion-segment-button>3L</ion-segment-button>                
                      <ion-segment-button>5L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>11L</ion-segment-button>
                      <ion-segment-button>9L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
                      <ion-segment-button>10L</ion-segment-button>
            </ion-segment>
          </ion-row>
      </div>
    </mat-expansion-panel>
    </mat-accordion>
    </div>
    <div class="addotherMRow">
    <a href='#' class="addOtherM" ><i class="icon ion-ios-arrow-thin-left"></i> Add other members </a>
    </div>

    <div class="policyTerm">
  <h6>Policy term</h6>
   <ion-row class="sumInsuredSlide">
            <ion-segment>                  
                <ion-segment-button>3 years</ion-segment-button>
                <ion-segment-button>2 years</ion-segment-button>
                <ion-segment-button>1 year</ion-segment-button>
            </ion-segment>
   </ion-row>

   <h6>Voluntary deductible</h6>
   <ion-row class="sumInsuredSlide">
            <ion-segment>                  
                <ion-segment-button>`10,000</ion-segment-button>
                <ion-segment-button>`25,000</ion-segment-button>
                <ion-segment-button>`50,000</ion-segment-button>
            </ion-segment>
   </ion-row>
</div>
  </div>


 <div class="contactDetails">  
    <ion-list class="formList">
      <ion-item>
        <ion-input type="text" value="abc12345#5HP@gmail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>+91</ion-label><ion-input type="text" value="9892 9601 90"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea class="textarea-input"  value="Room no. 1, Souson co-op Society, Salfi compound, Hallav pul, Kurla(West), Mumbai - 400 018."></ion-textarea>
      </ion-item>
    </ion-list>
  </div>


    <div class="insuredDetails">  
      <ion-list class="formList ">
        <ion-item>
          <ion-label floating>Proposer</ion-label><ion-input type="text" value="Balkrishna Gangadhar Kulkarni"></ion-input>
        </ion-item>
        <ion-item col-5 float-left class="smokingBlk"><ion-label>Smoking</ion-label><ion-toggle class="toggleBt"></ion-toggle></ion-item>
         <ion-item col-5 float-right class="smokingBlk"><ion-toggle toggle-text dText="Male" eText="Female" class="maleFemale"></ion-toggle></ion-item>
        <ion-item>
           <ion-label floating>Date of birth</ion-label><ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" class="datepikerInput" ></ion-datetime>
        </ion-item>
        <ion-item col-5 float-left>
           <ion-label floating>Height (ft)</ion-label><ion-input type="text" value="5’ 4”"></ion-input>        
        </ion-item>
        <ion-item col-5 float-right>
           <ion-label floating>Weight (kg)</ion-label><ion-input type="text" value="5’ 4”"></ion-input>        
        </ion-item>
        <ion-item>
          <ion-label floating>Occupation</ion-label>
          <ion-select class="selectOption" >
            <ion-option value="p" selected="true">Professional</ion-option>
            <ion-option value="b">Bussiness man</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>PAN details</ion-label><ion-input type="text" value="ACWPW0356A"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Aadhaar details</ion-label><ion-input type="text" value="1234 1234 1234"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Nominee</ion-label><ion-input type="text" value="Sushilkumar Balkrishna Kulkarni"></ion-input>
        </ion-item>
      </ion-list>

      <ion-row class="border-dashed"></ion-row>

      <ion-list class="formList ">
        <ion-item>
          <ion-label floating>Spouse</ion-label><ion-input type="text" value="Apeksha Gangadhar Kulkarni"></ion-input>
        </ion-item>
        <ion-item col-5 float-left class="smokingBlk"><ion-label>Smoking</ion-label><ion-toggle class="toggleBt" toggle-ios-height></ion-toggle></ion-item>
         <ion-item col-5 float-right class="smokingBlk"><ion-toggle toggle-text dText="Male" eText="Female" class="maleFemale"></ion-toggle></ion-item>
        <ion-item>
           <ion-label floating>Date of birth</ion-label><ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" class="datepikerInput" ></ion-datetime>
        </ion-item>
        <ion-item col-5 float-left>
           <ion-label floating>Height (ft)</ion-label><ion-input type="text" value="5’ 4”"></ion-input>        
        </ion-item>
        <ion-item col-5 float-right>
           <ion-label floating>Weight (kg)</ion-label><ion-input type="text" value="5’ 4”"></ion-input>        
        </ion-item>
        <ion-item>
          <ion-label floating>Occupation</ion-label>
          <ion-select class="selectOption" >
            <ion-option value="p" selected="true">Professional</ion-option>
            <ion-option value="b">Bussiness man</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Nominee</ion-label><ion-input type="text" value="Sushilkumar Balkrishna Kulkarni"></ion-input>
        </ion-item>
      </ion-list>
  </div>




</div>
</div> 
</div>
</ion-content>
<ion-footer >
    <button ion-button class="commonBt">proceed</button>
</ion-footer>