page-pa-payment-method {
    .takeImg{
        float:left;
        width: 100%;
        margin:20px 0;
        ion-thumbnail{
            float:left;
        }
        ion-icon{
            font-size: 4rem;
            margin-top: 6%;
        }
    }
    
    .payMethod{
        padding:0 0 5px 0;
        font-size:1.4rem;
        color:#6f7072;
        .formList{
            .list{
            margin:0;
            }
            ion-item {
            margin:0 0 5px 0;
            border-bottom: 1px solid #dedede;
            .text-input{
            padding:20px 0 5px 0;
            }
            .label{
            margin:15px 2px 0 0;
            }
            }
            .item-inner{
            border-bottom: 0;
            } 
            } 
        h5{
            font-size: 1.5rem;
            font-weight: bold;
            background: #8e1230;
            padding: 15px;
            color: #fff;
            margin: 0;

        }
        .mat-expansion-panel  {
            box-shadow: none;
        }      

        .accordWrap {
            p{color:#6f7072;}
        }
        
        .grid{
            padding:0;
        }
        .col{
            padding:0;
        }
            .pros1{
                padding:15px;
             }

             .fakeWrap{
                 margin:10px 0 15px 0;                 
                 .cameraPic{
                     position: absolute;
                     right: 0;
                     top:15px;
                      width: 33px;
                    height:23px;
                    background: url('../assets/imgs/sprite.png') no-repeat 0  -890px;
                 }
                  .text-input{
                      padding:20px 0 0 0;
                      margin:0 0 5px 0;
                  }
             }
             .photoDelete{
                 position: relative;                
                 margin:0 0 25px 0;
                 span{
                     color:#6f7072;
                     font-size: 1.2rem;
                 }
                 .icon{
                     color:#808183;
                     font-size: 2.2rem;
                 }
             }

             .vrfRow{
                .text-right{
                    color:#000;
                    font-weight:bold;
                }
             }
    }



    .offerForm .list-md{
        padding:0;
    }

    .accordWrap {
        .mat-expansion-panel-body{
        padding:20px;
        background: #fff;
        }
    }
    
}



