<!--
  Generated template for the PaymentMethodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-header class="personalAccBg">
   
    <button ion-button class="backBt" navPop></button>
<h1><span>Personal Accident</span>BUY ACCIDENT SURAKSHA POLICY</h1>
<!-- <div class="notification"><span>100</span><img src="assets/imgs/notification.png"> </div> -->
<button ion-button menuToggle end class="humburgerMenu">
        <i></i>
        <i></i>
        <i></i>
</button>
</ion-header> 

<ion-content padding class="body-bg ">

<ion-row class="refnumber" text-right>Quote Number: {{ReferenceNo}}</ion-row>

<div class="whiteRow payMethod">
<h5>Select Payment Method</h5>

<div class="accordWrap">
<mat-accordion> 
<mat-expansion-panel class="accordRow" (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
  <mat-expansion-panel-header class="item-accordio">
    <mat-panel-title>
      Online Payment
    </mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>       
  </mat-expansion-panel-header>
  <div class="accordContent"> 
    <ion-row>
      <button class="commonBt" (click)="openBrowser();" ion-button>Pay Online</button>
      </ion-row>
  </div>
</mat-expansion-panel>

  <mat-expansion-panel class="accordRow" (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
  <mat-expansion-panel-header class="item-accordio">
    <mat-panel-title>
      Payment Link
    </mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>       
  </mat-expansion-panel-header>
  <div class="accordContent">      
    <ion-list class="formList">
      <!-- <ion-item>
        <ion-input type="email" placeholder="balkrishna.kulkarni@gmail.com"></ion-input>
      </ion-item> -->
      <form>
      <ion-item >
          <ion-label floating>Email Id</ion-label>
          <ion-input #emailfocus type="email" name="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      <ion-item>
       <ion-label>+91</ion-label><ion-input #mobilefocus type="tel" name="sms" maxlength="10" [(ngModel)]="mobile"></ion-input>
      </ion-item>
    </form>
    </ion-list>          
   <p>A payment gateway link will be sent to the above mentioned email ID and mobile number. Customer has to do payment within 5 days. After 5 days the link will expire.</p>
   <ion-row>
   <button class="commonBt" (click)="sendPaymentLink();" ion-button>SEND LINK</button>
   </ion-row>
  </div>
</mat-expansion-panel>

  <!-- <mat-expansion-panel class="accordRow" (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
  <mat-expansion-panel-header class="item-accordio">
    <mat-panel-title>
     mPOS
    </mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>       
  </mat-expansion-panel-header>
  <div class="accordContent"> 
    ABC123
  </div>
</mat-expansion-panel> -->


   <mat-expansion-panel class="accordRow" (opened)="panelOpenState = true"  (closed)="panelOpenState = false">
  <mat-expansion-panel-header class="item-accordio">
    <mat-panel-title>
    Cheque
    </mat-panel-title>
    <mat-panel-description>        
    </mat-panel-description>       
  </mat-expansion-panel-header>
  <div class="accordContent"> 
    <ion-grid>
<ion-row class="vrfRow">
  <ion-col col-7>
  Total amount to be paid                 
  </ion-col>
  <ion-col col-5 text-right>
    ₹{{chequeAmount}}
  </ion-col>
</ion-row>
</ion-grid>
     <div class="formList" >
    <ion-list >
      <ion-item>
              <ion-input type="tel" number-only [(ngModel)]="chequeNumber" maxLength="6" placeholder="Cheque Number"></ion-input>
          </ion-item>
          <ion-item > 
              <ion-label floating>Cheque Date</ion-label>
              <ion-icon (click)="DatePick();" item-end class="datetimeIcon"></ion-icon> 
              <ion-input type="text" [(ngModel)]="chequeDate" disabled></ion-input> 
          </ion-item>
          <ion-item>
              <ion-input  [(ngModel)]="bankName" (keyup)="onCountryTextChange($event)" placeholder="Bank" (ionFocus)="countryFocus = true" type="text" value=""></ion-input>     
          </ion-item>
            <div class="filterList" *ngIf="countryFocus">
                <ion-label *ngFor="let bank of bank_list" (click)="onBankSelection(bank)">{{bank.BankName}}</ion-label>
            </div>
          <ion-item>
        <ion-label floating>Issuer Name</ion-label>
        <ion-input type="text"  maxlength="50" autocapitalize="words" [(ngModel)]="issuerName"></ion-input>
      </ion-item> 
      <!-- <ion-item>
          <div class="takeImg">
              <ion-thumbnail>
                <img *ngIf="thumbnail" src="{{thumbnail}}" (click) = "captureImage();" width="90" height="90" imageViewer>
              </ion-thumbnail>
              <ion-icon name="ios-camera" float-right (click)="captureImage()"></ion-icon>    
            </div>
      </ion-item>   -->
      <ion-row>
          <button class="commonBt" ion-button (click)="submitCheque();" >CONFIRM</button>
          </ion-row>    
    </ion-list> 
    <!-- <div class="photoCheque" (click)="captureImage();">      
       <ion-icon class="cameraPic" ></ion-icon> <ion-input type="text" placeholder="Photo of Cheque" disabled></ion-input>
    </div> -->

   
    <!-- <div class="photoDelete" [class.hide]="imageCaptured">
       <span> Cheque image captured </span><ion-icon name="ios-trash" float-right (click)="deleteImg();"></ion-icon>
    </div> -->
    </div>
  
   
  </div>
</mat-expansion-panel>

</mat-accordion>
</div>
</div>


</ion-content>


<div class="trans" [class.hide]="serviceResponsePopup"></div>
<div class="commonPopup otpPopup agentdPopup" [class.hide]="serviceResponsePopup">      
    <div class="popupInner otpPopupContent " text-center>       
        
            <p> {{message}} </p>          
         
          <div class="btwrap">                
            <div class="col11">
              <button ion-button class="sendmailBt" (click)="serviceResponseOkButton();" style="padding: 15px 30px; margin:0 auto">OK</button>
            </div>
    </div>        
</div>
</div>
<!--<ion-footer >
  <button ion-button class="commonBt">proceed</button>
</ion-footer>-->
